
<general-header actions="{
    primary: [
        {
            label: 'Back Office Report',
            html_element: 'ordertoinvoice'
        },
        {
            label: 'Save',
            special: 'true',
            method: 'save_master_changes()',
            extern: true,
            main: true,
            ConditionalType: 'ng-disabled',
            Conditional: 'formValues.status.name == \'Cancelled\''
        },
        {
        	type: 'customActionButton',
            html_element: 'customActionButton'
        }
    ],
   secondary: [{
        label: 'Main Page',
        active: 'true'
    }, {
        label: 'Documents',
        type: 'goto',
        url: 'documents/:entity_id'
    }, {
        label: 'Audit Log',
        type: 'goto',
        url: 'audit-log/:entity_id'
    }, {
        label: 'Email Log',
        type: 'goto',
        url: 'email-log/:entity_id'
    }, {
        label: 'Configure UI',
        type: 'goto',
        url: 'structure'
    } ],
}"></general-header>

	<entity-edit-form structure='' specific-controller="Controller_Invoice as CM" app="'invoices'" screen="'invoice'"></entity-edit-form>
<general-header class="footer-general-header" actions="{
    primary: [
        {
            label: 'Back Office Report',
            html_element: 'ordertoinvoice'
        },
        {
            label: 'Save',
            special: 'true',
            method: 'save_master_changes()',
            extern: true,
            main: true,
            ConditionalType: 'ng-disabled',
            Conditional: 'formValues.status.name == \'Cancelled\''
        },
        {
        	type: 'customActionButton',
            html_element: 'customActionButton'
        }
    ],
   secondary: [],
}" color="'white'"></general-header>
