<general-header actions="{
    primary: [],
    secondary: [{
        label: 'Main Page',
        type: 'goto',
        url: 'v2/invoices/edit/:entity_id'
    }, {
        label: 'Documents',
        type: 'goto',
        url: 'documents/:entity_id'
    }, {
        label: 'Audit Log',
        type: 'goto',
        url: 'audit-log/:entity_id'
    }, {
        label: 'Email Log',
        active: 'true'
    }, {
        label: 'Configure UI',
        type: 'goto',
        url: 'structure'
    }],
    icons: [
            {class: 'fa fa-save', action: 'save_layout'},
            {class: 'fa fa-trash', action: 'delete_layout'}
    ]
}"></general-header>

<span ng-controller="Controller_Configurable_List_Control as CLC">
    <clc-table-list
        id="'masters_emaillogslist'"
        app="'masters'"
        screen="'emaillogslist'"
        controls="'[pager, info]'"
        filters='[{ColumnName: "TransactionTypeId", Value: 5}, {ColumnName: "TransactionIds", Value: CLC.entity_id}]'>
    </clc-table-list>
    <span ng-if="clc_loaded" ng-init="filterEmailLog()"></span>
</span>
