<div class="row" ng-if="$ctrl.bestTcoData" ng-hide="$ctrl.visible_sections.indexOf('best_tco') < 0"; ng-init="$ctrl.compare = false">
    <div class="portlet light">
        <div class="portlet-title ">
            <div class="tools ">
                <a href="javascript:; " class="{{$ctrl.bestTcoDefaultView.id == 1 ? 'collapse' : 'expand'}} " data-original-title=" " title=" "></a>
            </div>
            <div class="caption ">
                <span class="caption-subject pull-left ">
                    Best Offer
                </span>
            </div>
        </div>
        <div class="portlet-body {{$ctrl.bestTcoDefaultView.id != 1 ? 'portlet-collapsed' : ''}}">

            <div class="row best_tco_actions">
                <div class="col-xs-12">
                    <div class="pull-right ">
                        <div class="input-group ">
                            <a class="btn btn-default btn-outline  orange pull-right "  ng-click="$ctrl.setAsCurrentSelection($ctrl.requirements, 'table') ">
                                Set as current selection
                            </a>
                        </div>
                    </div>
                    <div class="pull-right" >
                        <span ng-init="$ctrl.includeAverageSurveyorChargeChecbox = $ctrl.includeAverageSurveyorCharge"></span> 
                        <label class="mt-checkbox" ng-if="$ctrl.includeAverageSurveyorCharge">
                            <b>
                                Include Surveyor Cost &nbsp;&nbsp;&nbsp;
                            </b>
                            <input type="checkbox" checked="$ctrl.includeAverageSurveyorCharge" ng-model="$ctrl.includeAverageSurveyorChargeChecbox"/>
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="portlet light">
                    <div class="portlet-title ">
                        <div class="tools ">
                            <a href="javascript:; " class="collapse " data-original-title=" " title=" "></a>
                        </div>
                        <div class="caption ">
                            <span class="caption-subject pull-left ">
                                Best Total Offer Value
                            </span>
                        </div>
                        <div class="pull-right " ng-if="$ctrl.bestTcoData.bestTotalTCO.length>0">
                            <a ng-click="$ctrl.viewSupplierCardBlade({sellerCounterparty:svalue.seller},null,svalue.products)" class="font-dark">
                                <b>
                                    <i class="fa fa-clone"></i>
                                </b>
                            </a>
                            <label class="mt-checkbox mt-checkbox-outline" ng-if="$ctrl.bestTcoData.bestTotalTCO.length>0">
                                <input type="checkbox" ng-checked="$ctrl.isSelectedBestTotalTco()" ng-click="$ctrl.selectBestTotalTco()"/>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <span ng-if="$ctrl.bestTcoData.bestTotalTCO.length == 0" style="font-weight: bold; margin-left: 1px;">All the request products do not have the offer</span>
                    <div class="portlet-body tcos" ng-if="$ctrl.bestTcoData.bestTotalTCO.length>0">
                        <div class="row">
                            <div class="col-sm-10">

                                <div class="row" ng-repeat="(reqK, reqV) in $ctrl.bestTotalTCOUniqueRequestsList">
                                    <div class="col-sm-10 no-padding">
                                        <span ng-repeat="(key, value) in $ctrl.bestTcoData.bestTotalTCO" ng-show="value.requestIdForGrouping == reqV">
                                            <span ng-repeat="(key2, product) in value.products">
                                            <div class="col-sm-4 mb" ng-init="value.tco = value.tco " data-drag="{{ $ctrl.canDrag(value) }}" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"  jqyoui-draggable="{  placeholder: 'keep',  onStart:'$ctrl.startCallback(value, $index)', onStop:'$ctrl.stopCallback'}" ng-model="value"   >
                                                <div class="small-card bg-grey-steel blue-border">
                                                    <p>
                                                        <b>
                                                            TCO:
                                                        </b>

                                                          {{( (!product.amount) ? (0 | number : $ctrl.numberPrecision.amountPrecision) : (product.amount | number : $ctrl.numberPrecision.amountPrecision))}}
                                                    </p>
                                                    <p>
                                                        Seller: {{ value.seller.name }}

                                                    </p>
                                                    <p>
                                                        Physical supplier:
                                                        <span ng-if="value.physicalSupplier">
                                                            {{ value.physicalSupplier.name }}
                                                        </span>
                                                        <span ng-if="!value.physicalSupplier">
                                                            -
                                                        </span>
                                                    </p>
                                                    <p>
                                                        Vessel:
                                                        <span ng-if="value.vessel">
                                                            {{ value.vessel.name }}
                                                        </span>
                                                        <span ng-if="!value.vessel">
                                                            -
                                                        </span>
                                                    </p>
                                                    <p>
                                                        <b>
                                                            Request ID :
                                                        </b>
                                                        <span ng-repeat="(prodKey, prodVal) in value.products | unique:'request.id'">
                                                            {{ prodVal.request.id }},
                                                        </span>
                                                    </p>
                                                    <span>
                                                        {{ product.product.name }} : {{( (!product.maxQuantity) ? (0 | number : $ctrl.numberPrecision.quantityPrecision) : (product.maxQuantity  | number : $ctrl.numberPrecision.quantityPrecision))}} {{ product.uom.name }} - {{( (!product.price) ? (0 | number : $ctrl.numberPrecision.pricePrecision) : (product.price | number : $ctrl.numberPrecision.pricePrecision))}} {{ product.currency.code ?  product.currency.code : product.currency.name }}
                                                        <br/>
                                                    </span>
                                                    <div class="location-name">
                                                        <span class="bg-green-soft font-white text-center" ng-if="value.packageId">
                                                            &nbsp;P&nbsp;
                                                        </span>
                                                        <b>
                                                            {{ value.location.name }}
                                                        </b>
                                                    </div>

                                                </div>
                                            </div>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="col-sm-2 mb">
                                        <div class="small-card bg-grey-steel">
                                            <b class="totals grey-text">
                                                REQ {{ reqV }}
                                            </b>
                                            <h5>
                                                <b>
                                                    Vessel:
                                                </b>
                                                {{ $ctrl.getVesselByRequestId(reqV)["name"] }}
                                            </h5>
                                            <h4>
                                                <b>
                                                    Total:
                                                </b>
                                                {{( (!$ctrl.getTotalBestTCOForRequest(reqV)) ? (0 | number : $ctrl.numberPrecision.amountPrecision) : ($ctrl.getTotalBestTCOForRequest(reqV) | number : $ctrl.numberPrecision.amountPrecision))}}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-2 ">
                                <div class="small-card bg-grey-steel text-center">
                                    <h4>
                                        <b class="totals">
                                            Grand Total
                                        </b>

                                        <span>
                                             {{( (!$ctrl.calculateBestTotalTCOGrandTotal()) ? (0 | number : $ctrl.numberPrecision.amountPrecision) : ($ctrl.calculateBestTotalTCOGrandTotal() | number : $ctrl.numberPrecision.amountPrecision))}} {{ value.currency.code ?  value.currency.code : value.currency.name }}
                                        </span>

                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="$ctrl.bestTcoData.bestPackages.length> 0 && $ctrl.packagesConfigurationEnabled">
                <div class="portlet light">
                    <div class="portlet-title ">
                        <div class="tools ">
                            <a  class="expand" ng-click="$ctrl.packagesExpanded ? $ctrl.packagesExpanded = false : $ctrl.packagesExpanded = true"></a>
                        </div>
                        <div class="caption ">
                            <span class="caption-subject pull-left ">
                                Best Packages
                            </span>
                        </div>
                    </div>
                    <div class="portlet-body tcos">
                        <div class="row">
                        	<div class="col-sm-9">
                        		<div class="row">
		                            <div class="col-sm-4 mb" ng-repeat="(key, value) in $ctrl.bestTcoData.bestPackages">
		                                <div data-drag="{{ $ctrl.canDrag(value) }}" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"  jqyoui-draggable="{  placeholder: 'keep', onStart:'$ctrl.startCallback(value, $index)', onStop:'$ctrl.stopCallback'}" ng-model="value">
		                                    <div class="small-card bg-grey-steel green-border mb"   >
		                                        <p>
		                                            <b>
		                                                TCO:
		                                            </b>
		                                            {{ value.tco | number:3 }}
		                                        </p>
		                                        <p>
		                                            Seller: {{ value.seller.name }}
		                                            <span ng-if="value.physicalSupplier">
		                                                , {{ value.physicalSupplier.name }}
		                                            </span>
		                                        </p>
		                                        <p>
		                                            <b>
		                                                Request ID :
		                                            </b>
		                                            <span ng-repeat="(key,val) in $ctrl.getPackageRequestIds(value.packageId)">
		                                                {{ val }},
		                                            </span>
		                                        </p>
		                                        <span  ng-repeat="(skey, svalue) in value.products">
		                                            {{ svalue.product.name }}: {{ svalue.maxQuantity | number:2 }}{{ svalue.uom.name }} - {{ svalue.price | number:3 }} {{ svalue.currency.code ?  svalue.currency.code : svalue.currency.name }}

		                                            <br/>
		                                        </span>
		                                        <div class="location-name">
		                                            <b>
		                                                {{ value.location.name }}
		                                            </b>
		                                            <a ng-click="$ctrl.viewSupplierCardBlade({sellerCounterparty:svalue.seller},null,svalue.products)" class="font-dark">
		                                                <b>
		                                                    <i class="fa fa-clone"></i>
		                                                </b>
		                                            </a>
		                                            <label class="mt-checkbox mt-checkbox-outline">
		                                                <input type="checkbox" ng-checked="$ctrl.tcoHasPackageRequirements(value)" ng-click="$ctrl.hasPackageRequirement(value) ? $ctrl.removePackageRequirements(value, null, null) : $ctrl.createTcoSellerRequirementsForProductPackage(value)"/>
		                                                <span></span>
		                                            </label>
		                                        </div>
		                                    </div>
		                                </div>
		                                <div class="row packagesMini" ng-show="$ctrl.packagesExpanded">
		                                    <div class="col-sm-4 mb" ng-repeat="(skey, svalue) in value.products">
		                                        <div class="small-card bg-grey-steel grey-border">
		                                            <p>
		                                                <b>
		                                                    TCO:
		                                                </b>
		                                                {{ svalue.amount | number:3 }}
		                                            </p>
		                                            <span  >
		                                                {{ svalue.product.name }}
		                                                <br/>
		                                                {{ svalue.maxQuantity | number:2 }}{{ svalue.uom.name }} - {{ svalue.price | number:3 }} {{ svalue.currency.code ?  svalue.currency.code : svalue.currency.name }}
		                                            </span>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
                        		</div>
                        	</div>
                        	<div class="col-sm-3">
                        		<div class="small-card bg-grey-steel text-center">
                                    <h4>
                                        <b class="totals">
                                            Grand Total
                                        </b>
                                        <p>

                                            {{$ctrl.diffProducts()}}
                                            <span>
                                                {{  $ctrl.bestPackagesGrandTotal | number:3 }} {{ value.currency.code ?  value.currency.code : value.currency.name }}
                                            </span>
                                        </p>
                                    </h4>
                                </div>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="$ctrl.bestTcoData.bestIndividuals.length> 0" ng-init="$ctrl.diffProducts()">
                <div class="portlet light">
                    <div class="portlet-title ">
                        <div class="tools ">
                            <a href="javascript:; " class="collapse " data-original-title=" " title=" "></a>
                        </div>
                        <div class="caption ">
                            <span class="caption-subject pull-left ">
                                Best individual
                            </span>
                        </div>
                    </div>
                    <div class="portlet-body tcos">
                        <div class="row">
                            <div class="col-md-10" ng-repeat="(key, value) in $ctrl.bestTcoData.bestIndividuals">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-4 mb" ng-repeat="(skey, svalue) in value.bestTCO track by $index"  data-drag="{{ $ctrl.canDrag(svalue) }}" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"  jqyoui-draggable="{  placeholder: 'keep', onStart:'$ctrl.startCallback(svalue, $index)',onStop:'$ctrl.stopCallback'}" ng-init="svalue.tco = svalue.amount" ng-model="svalue"   >
                                                <div class="small-card bg-grey-steel orange-border">

                                                    <div class="pull-right">
                                                        <b>
                                                            {{ svalue.location.name }}
                                                        </b>
                                                        <a ng-click="$ctrl.viewSupplierCardBlade({sellerCounterparty:svalue.seller},null,svalue.products)" class="font-dark">
                                                            <b>
                                                                <i class="fa fa-clone"></i>
                                                            </b>
                                                        </a>
                                                        <label class="mt-checkbox mt-checkbox-outline">
                                                            <input type="checkbox" ng-checked="$ctrl.hasTcoSellerProductRequirements(svalue.requestOfferId)" ng-click="$ctrl.createTcoSellerRequirementsForProduct(svalue.requestOfferId)"/>
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <p>
                                                        <b ng-if="svalue.isEnergyContent">
                                                            TCO:
                                                        </b>
                                                        <b ng-if="!svalue.isEnergyContent">
                                                            Best Offer:
                                                        </b>
                                                          {{( (!svalue.amount) ? (0 | number : $ctrl.numberPrecision.amountPrecision) : (svalue.amount | number : $ctrl.numberPrecision.amountPrecision))}}
                                                    </p>


                                                    <p>
                                                        Seller: {{ svalue.seller.name }}

                                                    </p>
                                                    <p>
                                                        Physical supplier:
                                                        <span ng-if="svalue.physicalSupplier">
                                                            {{ svalue.physicalSupplier.name }}
                                                        </span>
                                                        <span ng-if="!svalue.physicalSupplier">
                                                            -
                                                        </span>
                                                    </p>
                                                    <p>
                                                        Vessel:
                                                        <span ng-if="svalue.vessel">
                                                            {{ svalue.vessel.name }}
                                                        </span>
                                                        <span ng-if="!svalue.vessel">
                                                            -
                                                        </span>
                                                    </p>
                                                    <p>
                                                        <b>
                                                            Request ID:
                                                        </b>
                                                        {{ value.request.id }}
                                                    </p>
                                                    <span>

                                                        {{ svalue.product.name }}:  {{( (!svalue.maxQuantity) ? (0 | number : $ctrl.numberPrecision.quantityPrecision) : (svalue.maxQuantity | number : $ctrl.numberPrecision.quantityPrecision))}} {{ svalue.uom.name }} - {{( (!svalue.price) ? (0 | number : $ctrl.numberPrecision.pricePrecision) : (svalue.price | number : $ctrl.numberPrecision.pricePrecision))}} {{ svalue.currency.code ?  svalue.currency.code : svalue.currency.name }}
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2 mb">
                                        <div class="small-card bg-grey-steel">
                                            <b class="totals grey-text">
                                                {{ value.request.name }}
                                            </b>
                                            <h5>
                                                <b>
                                                    Vessel:
                                                </b>
                                                {{ value.request.vessel.name }}
                                            </h5>
                                            <h4>
                                                <b>
                                                    Total:
                                                </b>
                                                {{( (!value.request.amount) ? (0 | number : $ctrl.numberPrecision.amountPrecision) : (value.request.amount | number : $ctrl.numberPrecision.amountPrecision))}}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="small-card bg-grey-steel text-center">
                                    <h4>
                                        <b class="totals">
                                            Grand Total
                                        </b>
                                        <p>

                                            {{$ctrl.diffProducts()}}
                                            <span ng-if="$ctrl.includeAverageSurveyorChargeChecbox == true" ng-init="$ctrl.diffProducts()">
                                                 {{( (!($ctrl.bestTcoData.bestIndividuals.grandTotal  + $ctrl.bestTcoData.bestIndividuals.surveyorCost)) ? (0 | number : $ctrl.numberPrecision.amountPrecision) : ($ctrl.bestTcoData.bestIndividuals.grandTotal  + $ctrl.bestTcoData.bestIndividuals.surveyorCost | number : $ctrl.numberPrecision.amountPrecision))}} {{ value.currency.code ?  value.currency.code : value.currency.name }}
                                            </span>
                                            <span ng-if="$ctrl.includeAverageSurveyorChargeChecbox == false" ng-init="$ctrl.diffProducts()">
                                                     {{( (!$ctrl.bestTcoData.bestIndividuals.grandTotal) ? (0 | number : $ctrl.numberPrecision.amountPrecision) : ($ctrl.bestTcoData.bestIndividuals.grandTotal | number : $ctrl.numberPrecision.amountPrecision))}} {{ value.currency.code ?  value.currency.code : value.currency.name }}
                                            </span>
                                        </p>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
