<div data-ng-include="'components/group-of-requests-menu/views/group-of-requests-menu-component.html'" ng-controller="GroupOfRequestsMenuController"></div>
<div class="row">
    <div class="portlet light stretch-vertical" ng-hide="$ctrl.visible_sections.indexOf('general_information') < 0" style="padding: 10px;">
        <div class="portlet-title">
            <div class="tools">
                <a   class="collapse" data-original-title="" title=""></a>
            </div>
            <div class="caption">
                <span class="caption-subject">
                    GENERAL INFORMATION
                </span>
            </div>

        </div>
        <div class="portlet-body row st-general-information-form" style="padding-top: 0;">
            <div class="col-lg-6">
                <form class="form-inline">
                    <div class="row">

                        <div ng-if="$ctrl.generalInfoFields.Request.visible">
                            <div class="form-group col-md-6">
                                <label class="control-label">
                                    {{ $ctrl.generalInfoFields.Request.caption | translate }}
                                <span style=" color: orange;position: absolute;font-size: 9px;margin-left: 2px;"> * </span>&nbsp;
                                </label>
                                <div class="input-group">
                                    <input name="request" id="id_Request" class="typeahead form-control"/>


                                    <span ng-controller="Controller_Master as CM" class="input-group-addon" data-toggle="modal" ng-click="triggerModal('general', 'procurement_rfqrequestslist', $ctrl.generalInfoFields.Request.caption | translate, 'request','','')">
                                        <i class="fa fa-search"></i>
                                    </span>

                                </div>
                            </div>
                            <div class="form-group col-md-6 label-list">
                                <span ng-repeat="request in $ctrl.selectedRequests track by $index" ng-if="!request.isDeleted" class="tag label label-info" style="display:inline-block">
                                    <b>{{ request.name }}</b>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="clearfix "></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="portlet light stretch-vertical" ng-hide="$ctrl.visible_sections.indexOf('negotiation_panel') < 0" style="padding: 10px;">
        <div class="portlet-title" style="margin-bottom: 5px;">
            <div class="tools">
                <a   class="collapse" data-original-title="" title=""></a>
            </div>
            <div class="caption">
                <span class="caption-subject pull-left">
                    Negotiation panel
                </span>
            </div>

            <div class="pull-right">
                <form class="form-inline">
                    <div class="form-group">
                        <b>
                            Quote By
                        </b>
                        <div class="input-group" style="width: 225px;">
                            <input
                                ng-model="$ctrl.quoteByDateFrom"
                                new-date-picker
                                picker-type="dynamic"
                                id="quoteByDateFrom"
                                name="quoteByDateFrom"
                                class="form-control date-mask new-date-picker"
                                ng-change="$ctrl.saveComments($ctrl.internalComments, $ctrl.externalComments)">
                        </div>

                        <div class="input-group" style="width: 205px;" ng-if="$ctrl.isQuoteByEndDateValidated">
                            <input
                                ng-model="$ctrl.quoteByDate"
                                new-date-picker
                                picker-type="datetime"
                                id="quoteByDate"
                                name="quoteByDate"
                                class="form-control date-mask new-date-picker"
                                ng-change="$ctrl.saveComments($ctrl.internalComments, $ctrl.externalComments)">
                        </div>
                        <div class="input-group">
                            &nbsp;Timezone:
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ $ctrl.quoteByTimezone.name }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right st-dropdown-timezone">
                                <li ng-repeat="timeZone in $ctrl.lists.TimeZone">
                                    <a ng-click="$ctrl.setQuoteByTimezone(timeZone.id, timeZone.name); $ctrl.saveComments($ctrl.internalComments, $ctrl.externalComments)">
                                        {{ timeZone.name }}
                                    </a>
                                </li>
                            </ul>  
                        </div> 
                        <div class="input-group">
                            &nbsp;Currency:
                            <a class="btn dropdown-toggle default " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-class="{'disabled' : $ctrl.isCurrencyDisabled()}">
                                {{ $ctrl.quoteByCurrency.name }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right st-dropdown-currency">
                                <li ng-repeat="currencyItem in $ctrl.lists.Currency">
                                    <a ng-click="$ctrl.setQuoteByCurrency(currencyItem.id, currencyItem.name); $ctrl.saveComments($ctrl.internalComments, $ctrl.externalComments)">
                                        {{ currencyItem.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="portlet-body" style="padding-top: 0;">
            <div class="row">
                <div class="col-sm-12 legend">
                    <div class="pull-left">
                        <b>
                            Display
                        </b>
                        <span ng-if="$ctrl.noOfCounterpartiesToDisplay" ng-init="$ctrl.setDefaultNoOfSellers()"></span>
                        <select name="" id="" ng-model="$ctrl.displayNoOfSellers" ng-options="item as item.name for item in $ctrl.listsCache.ItemsToDisplay track by item.id"></select>
                        <b>
                            entries
                        </b>
                    </div>
                    <div class="pull-right">
                        <span class="font-grey-salsa pull-left" style=" margin-right: 20px;">
                            <i class="fa fa-bell" style="font-size: 28px;line-height: 38px;"></i>
                        </span>
                        <span class="search-negotiation pull-left" ng-init="$ctrl.searchTermNegotiationTable = null">
                            <input type="text" placeholder="Search" ng-model="$ctrl.searchTermNegotiationTable" class="form-control" ng-change="$ctrl.performSellersSearchInTable($ctrl.searchTermNegotiationTable)"/>
                            <i class="fa fa-search font-blue-dark"></i>
                        </span>
                        <span class="negotiation-blade-actions" ng-click="$ctrl.openGeneralWidgetBlade( 'generalRfq')">
                            <span class="bg-blue-dark font-white">
                                RFQs
                            </span>
                        </span>
                       <span ng-if="$ctrl.commentsDefaultView.id == 1" class="negotiation-blade-actions" ng-click="$ctrl.openGeneralWidgetBlade( 'comments')">
                            <i class="fa fa-comments font-blue-dark"></i>
                        </span>
                        <span class="negotiation-blade-actions" ng-click="$ctrl.openGeneralWidgetBlade( 'linkUnlink')">
                            <i class="fa fa-link font-blue-dark"></i>
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="legend-expanded col-sm-12" ng-show="expandLegend">
                    <div class="pull-right">
                        <span>
                            <em>
                                Seller
                            </em>
                            <i class="fa fa-user font-green-jungle"></i>
                        </span>
                        |
                        <span>
                            <em>
                                Broker
                            </em>
                            <i class="fa fa-user font-blue"></i>
                        </span>
                        |
                        <span>
                            <em>
                                Physical Supplier
                            </em>
                            <i class="fa fa-user font-yellow-lemon"></i>
                        </span>
                        |
                        <span>
                            <em>
                                Contact
                            </em>
                            <i class="fa fa-users"></i>
                        </span>
                        |
                        <span>
                            <em>
                                Requote
                            </em>
                            <i class="fa fa-refresh"></i>
                        </span>
                        |
                        <span style="text-align: center;">
                            <em>
                                Seller Rating
                            </em>
                            <i class="fa fa-star bg-dark font-white" style="padding: 3px 7px;border-radius: 9999px;font-size: 11px;line-height: 11px;"></i>
                        </span>
                        |
                        <span>
                            <em>
                                RFQ sent
                            </em>
                            <span class="rfq-sent">
                                <i class="fa fa-envelope"></i>
                                <i class="fa fa-check" style="margin-left"></i>
                            </span>
                        </span>
                        |
                        <span>
                            <em>
                                RFQ not Sent
                            </em>
                            <i class="fa fa-envelope"></i>
                        </span>
                        |
                        <span>
                            <em>
                                Supplier Card
                            </em>
                            <i class="fa fa-clone"></i>
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="tab-content">
                <div id="offers" role="tabpanel" class="tab-pane active st-group-of-requests-table-container" data-ng-include=" 'pages/group-of-requests/views/gor-offers-table.html'"></div>
                <div id="analytics" role="tabpanel" class="tab-pane">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>
                                <b>
                                    Price Development Graph
                                </b>
                            </h5>
                            <hr/>
                            <form class="form-horizontal st-negotiation-form">
                                <div class="row">
                                    <div class="form-group-sm col-md-6">
                                        <label class="control-label col-md-3">
                                            Req. Id
                                        </label>
                                        <div class="col-md-9">
                                            <select class="form-control">
                                                <option>
                                                    All
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group-sm col-md-6">
                                        <label class="control-label col-md-3">
                                            Port
                                        </label>
                                        <div class="col-md-9">
                                            <select class="form-control">
                                                <option>
                                                    LISBOA
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group-sm col-md-6">
                                        <label class="control-label col-md-3">
                                            Product Type
                                        </label>
                                        <div class="col-md-9">
                                            <select class="form-control">
                                                <option>
                                                    FUEL HS
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group-sm col-md-6">
                                        <label class="control-label col-md-3">
                                            Product
                                        </label>
                                        <div class="col-md-9">
                                            <select class="form-control">
                                                <option>
                                                    RMG 380 3.5%
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group-sm col-md-5">
                                        <label class="control-label col-md-5">
                                            Price Type:
                                        </label>
                                        <input type="checkbox"/>
                                        <label class="control-label">
                                            High
                                        </label>
                                        <input type="checkbox"/>
                                        <label class="control-label">
                                            Low
                                        </label>
                                        <input type="checkbox" checked="checked"/>
                                        <label class="control-label">
                                            Mean
                                        </label>
                                    </div>
                                    <div class="form-group-sm col-md-5">
                                        <label class="control-label">
                                            Market Price:
                                        </label>
                                        <input type="checkbox" checked="checked"/>
                                        <label class="control-label">
                                            Bunkerware
                                        </label>
                                        <input type="checkbox"/>
                                        <label class="control-label">
                                            Cargo
                                        </label>
                                    </div>
                                    <div class="form-group-sm text-right col-md-2">
                                        <div class="col-md-12">
                                            <button class="btn btn-xs grey-mint">
                                                Filter
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <img src="img/graph.png"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <h5>
                                <b>
                                    Trade Total Amount
                                </b>
                            </h5>
                            <hr/>
                            <img src="img/graph2.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include=" 'pages/group-of-requests/views/my-selection.html'"></div>
<!-- Comments by commentsDefaultView -->

<price-graph-component requests="$ctrl.selectedRequests"></price-graph-component>

<div class="row" ng-if="$ctrl.commentsDefaultView.id != 1">
    <div class="portlet light">
        <div class="portlet-title ">
            <div class="tools ">
                <a href="javascript:; " class="expand " data-original-title=" " title=" "></a>
            </div>
            <div class="caption ">
                <span class="caption-subject pull-left ">
                    Comments
                </span>
            </div>
        </div>
        <div class="portlet-body portlet-collapsed">
            <span data-ng-include="'components/blade/templates/gor-comments-widget.html'"></span>
        </div>
    </div>
</div>


<div ng-include=" 'pages/group-of-requests/views/best-tco.html'"></div>
<div ng-include=" 'pages/group-of-requests/views/compare.html'"></div>
<div ng-include=" 'pages/group-of-requests/views/notes.html'"></div>
<comments-dialog class="modal fade in" id="comments" aria-hidden="true" data-width="33%" args="{ internalComments: $ctrl.internalComments, externalComments: $ctrl.externalComments}" on-save-comments="$ctrl.saveComments(internalComments, externalComments)"></comments-dialog>
<div class="bladeEntity" id="confirmOffer" style="overflow: auto;">
    <confirm-offers-dialog id="confirm" aria-hidden="true" data-width="90%" args="{needSupplierVerif: $ctrl.needSupplierQuote}" confirmation-product-offers=$ctrl.confirmationProductOffers></confirm-offers-dialog>
</div>
<div class="bladeEntity" id="offerDetails">
    <offer-details-dialog id="offer_details" aria-hidden="true" args="{product: $ctrl.offerDetailsProduct, offer: $ctrl.offerDetails}" on-offer-saved="$ctrl.updateOffer(offer, product)" data-width="90%"></offer-details-dialog>
</div>
<last-offer-prices-dialog class="modal fade in" id="prices" aria-hidden="true" args="{product: $ctrl.latestOfferProduct, seller: $ctrl.latestOfferSeller}" data-width="45%"></last-offer-prices-dialog>
<lookup-dialog class="modal fade in lookup-dialog" id="lookup" aria-hidden="true" data-width="90%" lookup-type="$ctrl.lookupType" on-request-select="$ctrl.selectRequest(request)" on-product-select="$ctrl.selectQuotedProduct(product)"></lookup-dialog>
<sellers-dialog class="modal fade in sellers-dialog" id="sellers" aria-hidden="true" data-width="90%" trigger="$ctrl.supplierPlace" seller-types="$ctrl.sellerTypeIds" on-seller-select="$ctrl.onSellerSelect(sellerId)" on-supplier-select="$ctrl.onSupplierSelect(seller)" on-broker-select="$ctrl.onBrokerSelect(seller)"></sellers-dialog>

<suppliers-dialog class="modal fade in suppliers-dialog" id="suppliers" aria-hidden="true" data-width="90%" seller-types="['1']" on-supplier-select="$ctrl.onSupplierSelect(sellerId)"></suppliers-dialog>
<delink-dialog class="modal fade in" id="delink" aria-hidden="true" args="$ctrl.delinkIds" on-delink="$ctrl.delinkRequests(requestIds)"></delink-dialog>

<div class="row">
    <div class="st-main-content-menu">
        <div class="pull-right">
            <form class="form-inline">
                <div class="form-group">
                    <a ng-show="$ctrl.sendNoQuoteButtonText" class="btn btn-default" ng-click="$ctrl.sendNoQuote()" ng-disabled="$ctrl.checkIfCanSendNoQuote()" ng-class="{'disabled' : $ctrl.buttonsDisabled}">
                        {{$ctrl.sendNoQuoteButtonText}}
                    </a>
                <a class="btn btn-default" ng-click="$ctrl.sendRequote()"  ng-class="{'disabled' : $ctrl.buttonsDisabled || $ctrl.requirementsHasNoRfqId()}">
            Send Requote
                </a>
                    <a class="btn btn-default" ng-click="$ctrl.sendRFQ()" ng-class="{ 'disabled' : !$ctrl.canSendRFQ() || $ctrl.buttonsDisabled}">
                        Send RFQ
                    </a>
                    <a class="btn orange btn-outline" ng-click="$ctrl.setConfirmationOffers()" ng-class="{ 'disabled' : !$ctrl.hasAction($ctrl.SCREEN_ACTIONS.CONFIRM)||!$ctrl.requirementsAreCorrectForConfirm() || $ctrl.buttonsDisabled}">
                        Confirm
                    </a>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="bladeEntity" id="groupOfRequestBlade" ng-controller="Controller_Master as CM">
    <div class="blade-entity-content">
        <a class="closeBlade pull-right font-white" ng-click="closeBlade()">
            <i class="fa fa-close"></i>
        </a>
        <span ng-include="$ctrl.bladeTemplateUrl"></span>
    </div>
</div>

<div class="confirmBladeClose fade bs-modal hide" tabindex="-1" style="z-index: 99999; transform: translateY(50%);" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Please confirm</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to close? You may have unsaved data
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default confirmBladeCloseNo" data-dismiss="modal" >No</button>
        <button ng-controller="Controller_Master as CM" type="button" class="btn btn-default  btn-outline orange confirmBladeCloseYes" ng-click="confirmCloseBlade()" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<div class="confirmEnergyBladeClose fade bs-modal hide" tabindex="-1" style="z-index: 99999; transform: translateY(50%);" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Please confirm</h4>
      </div>
      <div class="modal-body">
         Do you want to save the changes and continue?
      </div>
      <div class="modal-footer">
        <button ng-controller="Controller_Master as CM" type="button" class="btn btn-default confirmBladeCloseYes" ng-click="confirmCloseBlade()" data-dismiss="modal">Close</button>
        <button ng-controller="Controller_Master as CM" type="button" class="btn btn-default btn-outline orange confirmBladeSaveYes" ng-click="confirmSaveBlade()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="confirmNavigateBlade fade bs-modal hide" tabindex="-1" style="z-index: 99999; transform: translateY(50%);" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Please confirm</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to exit? You may have unsaved data
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default confirmBladeCloseNo" data-dismiss="modal" >No</button>
        <button type="button" class="btn btn-default  btn-outline orange confirmBladeCloseYes" ng-click="$ctrl.confirmNavigateBlade()" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<style>
    group-of-requests b, group-of-requests strong {
        font-family: sans-serif;
        font-weight: 800;
    }
</style>
