<div class="row">
    <div class="portlet light">
        <div class="portlet-title ">
            <div class="tools ">
                <a   class="collapse" data-original-title="" title=""></a>
            </div>
            <div class="caption ">
                <span class="caption-subject pull-left ">
                    Notes
                </span>
            </div>
        </div>
        <div class="portlet-body" ng-controller="Controller_Master as CM">
            <div>
               <div ui-grid="gridOptions.generalNotes" id="grid_generalNotes" class="dataGrid">
                    <div class="clearfix"></div>
                </div>
            <span ng-init="initGridDropdowns('generalNotes')"></span>
            <span ng-if="$ctrl.notes">
                <span ng-init="setScope($ctrl.notes)"></span>
            </span>
            </div>
        </div>
    </div>
</div>