$basePath:"/assets";
$layoutPath: $basePath + "/layout";


$fontFamily:'Inter UI',sans-serif;
$fontSize:13px;
$textColor:#252529;
$textSecondaryColor:#65656a;
$breadcrumbTextColor:white;
$breadcrumbBackgroundColor: #364150;
$borderRadius:2px;
$transitionDuration:.2s;
