<div class="row">
    <div class="st-main-content-menu tabbable-line">

        <ul class="nav nav-tabs pull-left">
                <li ng-class="{open : false}">
                    <a href="#/new-order" ui-sref="default.new-order" ui-sref-active="text-muted">Order</a>
                </li>
                <li ng-class="{open : false}">
                    <a href="#/documents" ui-sref="default.documents" ui-sref-active="text-muted">Documents</a>
                </li>
                <li ng-class="{open : false}">
                    <a href="#/email-log" ui-sref="default.email-log" ui-sref-active="text-muted">Email Log</a>
                </li>
                <li ng-class="{open : false}">
                    <a href="#/audit-log" ui-sref="default.audit-log" ui-sref-active="text-muted">Audit Log</a>
                </li>
                <li class="open" ng-class="{open : state.is(STATE.ORDER_TRANSACTION_KPI)}">
                    <a href="#/order-transaction-kpi" ui-sref="default.order-transaction-kpi" ui-sref-active="text-muted">Transaction KPI</a>
                </li>
                <li ng-class="{open : false}">
                    <a href="#/rate-supplier" ui-sref="default.rate-supplier" ui-sref-active="text-muted">Rate Supplier</a>
                </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="portlet light">
            <div class="portlet-body">
                <h4 class="font-blue-madison"><b>ORDER SUMMARY - VESSEL - VESSEL MARINA - ORDER IDO025045</b></h4>
                <hr>
                <form class="form-horizontal st-new-order-form">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="col-md-6"><b>IMO Number:</b></label>
                            <span class="col-md-6">9410727</span>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-6"><b>Service Code:</b></label>
                            <span class="col-md-6">CIMEX</span>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-6"><b>Buyer:</b></label>
                            <span class="col-md-6">CIMEX</span>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-6"><b>Order Status:</b></label>
                            <span class="col-md-6">CIMEX</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="col-md-6"><b>Seller:</b></label>
                            <span class="col-md-6">Chemoil</span>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-6"><b>Trader:</b></label>
                            <span class="col-md-6">Johnny</span>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-6"><b>Agent:</b></label>
                            <span class="col-md-6">Johnny</span>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-6"><b>Trans. Limit Status:</b></label>
                            <span class="col-md-6"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="col-md-6"><b>Port:</b></label>
                            <span class="col-md-6">Lisbon</span>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-6"><b>ETA:</b></label>
                            <span class="col-md-6">12/05/2016 - 03:12</span>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-6"><b>Order Date:</b></label>
                            <span class="col-md-6">12/05/2016 - 03:12</span>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-6"><b></b></label>
                            <span class="col-md-6"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="col-md-6"><b>Carrier:</b></label>
                            <span class="col-md-6">Carrier B</span>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-6"><b>Payment Comp.:</b></label>
                            <span class="col-md-6">Carrier B</span>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-6"><b>Pricing Event Date:</b></label>
                            <span class="col-md-6">12/05/2016 - 03:12</span>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-6"><b></b></label>
                            <span class="col-md-6"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="col-md-6"><b>Product 1:</b></label>
                            <div class="col-md-6 form-group-sm">
                                <select class="select form-control">
                                <option>IFO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-6"><b>Quantity:</b></label>
                            <span class="col-md-6">750 MT</span>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-6"><b>Order Price:</b></label>
                            <span class="col-md-6">352,000</span>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-6"><b>Phy. Supp.:</b></label>
                            <span class="col-md-6">Peninsula</span>
                        </div>
                    </div>

                </form>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="portlet light">
            <div class="portlet-body">
                <form class="form-inline">
                    <div class="row">
                        <h4 class="font-blue-madison col-md-6"><b>ORDER SUMMARY</b></h4>
                        <div class="col-md-6 form-inline text-right">
                            <button type="button" class="btn grey dropdown-toggle" data-toggle="dropdown">
                                USD
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#">USD</a></li>
                                <li><a href="#">EUR</a></li>
                                <li><a href="#">GBP</a></li>
                            </ul>
                        </div>
                    </div>
                </form>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <p class="col-md-5">Total Order Amount</p>
                        <p class="col-md-7 text-right font-blue-steel">$400,000.00</p>
                    </div>
                    <div class="col-md-12">
                        <p class="col-md-5">Total Cost</p>
                        <p class="col-md-7 text-right font-blue-steel">$30,000.00</p>
                    </div>
                    <div class="col-md-12">
                        <p class="col-md-5">Grand Total</p>
                        <p class="col-md-7 text-right font-blue-steel">$430,000.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-body">
                <h4 class="font-blue-madison"><b>NEGOTIATION</b></h4>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h5><b>Price Development Graph</b></h5>
                        <hr>
                        <form class="form-horizontal st-negotiation-form">
                            <div class="row">
                                <div class="form-group-sm col-md-6">
                                    <label class="control-label col-md-3">Req. Id</label>
                                    <div class="col-md-9">
                                        <select class="form-control">
                                            <option>All</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group-sm col-md-6">
                                    <label class="control-label col-md-3">Port</label>
                                    <div class="col-md-9">
                                        <select class="form-control">
                                            <option>LISBOA</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group-sm col-md-6">
                                    <label class="control-label col-md-3">Product Type</label>
                                    <div class="col-md-9">
                                        <select class="form-control">
                                            <option>FUEL HS</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group-sm col-md-6">
                                    <label class="control-label col-md-3">Product</label>
                                    <div class="col-md-9">
                                        <select class="form-control">
                                            <option>RMG 380 3.5%</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group-sm col-md-5">
                                    <label class="control-label col-md-5">Price Type:</label>
                                    <input type="checkbox"/>
                                    <label class="control-label">High</label>
                                    <input type="checkbox"/>
                                    <label class="control-label">Low</label>
                                    <input type="checkbox" checked="checked" />
                                    <label class="control-label">Mean</label>
                                </div>

                                <div class="form-group-sm col-md-5">
                                    <label class="control-label">Market Price:</label>
                                    <input type="checkbox" checked="checked" />
                                    <label class="control-label">Bunkerware</label>
                                    <input type="checkbox"/>
                                    <label class="control-label">Cargo</label>
                                </div>

                                <div class="form-group-sm text-right col-md-2">
                                    <div class="col-md-12">
                                        <button class="btn btn-xs grey-mint">Filter</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <img src="img/graph.png"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h5><b>Trade Total Amount</b></h5>
                        <hr>
                        <img src="img/graph2.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-body">
                <h4 class="font-blue-madison"><b>QUALITY</b></h4>
                <hr>
                <b>IFO</b> - <a>Lab 00752</a>
                <table class="table table-hover table-bordered"
                        id="quality_table">
                    <thead>
                        <tr>
                            <th id="generatedThId202"></th>
                            <th id="generatedThId203">Parameter</th>
                            <th id="generatedThId204">Spec</th>
                            <th id="generatedThId205">Labs</th>
                            <th id="generatedThId206">BDN</th>
                            <th id="generatedThId207">Passed/Failed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox"/>
                            </td>
                            <td><a>Sulphur</a></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <i class="fa fa-2x fa-check-circle"></i> Passed
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox"/>
                            </td>
                            <td><a>Ash</a></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <i class="fa fa-2x fa-check-circle"></i> Passed
                            </td>
                        </tr>
                        <tr class="bg-pale-pink">
                            <td>
                                <input type="checkbox"/>
                            </td>
                            <td><a>Water</a></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <i class="fa fa-2x fa-times-circle text-danger"></i> Failed
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox"/>
                            </td>
                            <td><a>Density</a></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <i class="fa fa-2x fa-check-circle"></i> Passed
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox"/>
                            </td>
                            <td><a>...</a></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <i class="fa fa-2x fa-times-circle text-danger"></i> Failed
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-body">
                <h4 class="font-blue-madison"><b>QUANTITY</b></h4>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <b>IFO</b> - <a>Del 00752</a>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th id="generatedThId208">Order Quantity</th>
                                    <th id="generatedThId209">450MT</th>
                                </tr>
                                <tr>
                                    <th id="generatedThId210">BDN Quantity</th>
                                    <th id="generatedThId211">449MT</th>
                                </tr>
                                <tr>
                                    <th id="generatedThId212">Diff.</th>
                                    <th id="generatedThId213">1MT</th>
                                </tr>
                                <tr>
                                    <th id="generatedThId214">Recon Status</th>
                                    <th id="generatedThId215"><label class="label bg-font-porraceous-green">Matched</label></th>
                                </tr>
                            </thead>

                        </table>
                    </div>

                    <div class="col-md-6">
                            <b>IFO</b> - <a>Del 00752</a>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th id="generatedThId216">Order Quantity</th>
                                        <th id="generatedThId217">450MT</th>
                                    </tr>
                                    <tr>
                                        <th id="generatedThId218">BDN Quantity</th>
                                        <th id="generatedThId219">449MT</th>
                                    </tr>
                                    <tr>
                                        <th id="generatedThId220">Diff.</th>
                                        <th id="generatedThId221">1MT</th>
                                    </tr>
                                    <tr>
                                        <th id="generatedThId222">Recon Status</th>
                                        <th id="generatedThId223"><label class="label bg-font-porraceous-green">Matched</label></th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>