<div class="blade-column-title main text-uppercase" ng-init="$ctrl.dataLoaded = true">
	Energy Calculation
</div>
<div class="portlet light">
	<div class="portlet-title">
	    <span class="caption-subject pull-left">
	       Energy Calculation - {{$ctrl.energyCalculationBladeData.product.name}}
	    </span>
		<a class="btn btn-default orange pull-right" ng-click="$ctrl.updateEnergySpecValuesByProduct()">Save</a>
    </div>
	<div class="row">
		<div class="col-sm-12">
	        <div ng-repeat="location in $ctrl.energyCalculationBladeData.data track by $index">
				<div class="portlet-title">
				    <span class="caption-subject pull-left">
						{{location.location.name}}
				    </span>
			    </div>        	
				<div class="clearfix"></div>
				<div class="custom-hardcoded-table ng-scope" style="max-height: 500px;">
				    <table class="table-body energyCalculationBlade" width="100%">
				        <thead>
				            <tr>
				            	<td width="50px" class="padding bold">Counterparty</td>
				            	<td width="50px" class="padding bold">Physical Supplier</td>
				            	<td style="max-width: 60px" class="padding bold">Price</td>
				            	<td style="max-width: 60px" class="padding bold">Viscosity</td>
				            	<td style="max-width: 60px" class="padding bold">Sulphur</td>
				            	<td style="max-width: 60px" class="padding bold">Density</td>
				            	<td style="max-width: 60px" class="padding bold">Ash</td>
				            	<td style="max-width: 60px" class="padding bold">Water</td>
				            	<td width="50px" class="padding bold">CCAI</td>
				            	<td width="50px" class="padding bold">Net Spec<br>Energy Offered</td>
				            	<td width="50px" class="padding bold">Net Spec Energy<br>Dlvd (6 month avg.)</td>
				            	<td width="50px" class="padding bold">$ Diff based on<br> Specific Energy</td>
				            	<td width="50px" class="padding bold">Price Difference</td>
				            	<td width="50px" class="padding bold">Total Computed<br>Price</td>
				            </tr>
				        </thead>
				        <tbody>
				            <tr ng-repeat="counterparty in location.counterparties" ng-class="{'border-green-jungle': counterparty.isMinPrice}">
				            	<td><input class="form-control" tooltip data-original-title="{{counterparty.seller.displayName ? counterparty.seller.displayName : counterparty.seller.name}}" readonly ng-model="counterparty.seller.name"></td><!--  Counterparty -->
				            	<td><input class="form-control" tooltip data-original-title="{{counterparty.physicalSupplier.displayName ? counterparty.physicalSupplier.displayName : counterparty.physicalSupplier.name}}" readonly ng-model="counterparty.physicalSupplier.name"></td><!--  Physical Supplier -->
				            	<td width="50px">
				            		<input ng-class="{'border-red' : (!location.allowZeroPricing && (counterparty.price <= 0) && counterparty.price )}" format="number:{{$ctrl.pricePrecision}}" class="form-control" type="text" ng-model="counterparty.price" ng-change="$ctrl.priceChanged()"></td><!--  Price -->
				            	<td width="50px">
				            		<input class="form-control" 
				            		type="text" 
				            		format="number:{{$ctrl.quantityPrecision}}"
				            		ng-class="{'bg-red-pink' : $ctrl.checkIfIsOffspec(counterparty.energyParameterValues.viscosity.specValue, counterparty.minMaxSpecs.viscosity)}" 
				            		ng-model="counterparty.energyParameterValues.viscosity.specValue"></td><!--  Viscosity -->
				            	<td width="50px">
				            		<input class="form-control" 
				            		type="text" 
				            		format="number:{{$ctrl.quantityPrecision}}"
				            		ng-class="{'bg-red-pink' : $ctrl.checkIfIsOffspec(counterparty.energyParameterValues.sulphur.specValue, counterparty.minMaxSpecs.sulphur)}" 
				            		ng-model="counterparty.energyParameterValues.sulphur.specValue"></td><!--  Sulphur -->
				            	<td width="50px">
				            		<input class="form-control" 
				            		type="text" 
				            		format="number:{{$ctrl.quantityPrecision}}"
				            		ng-class="{'bg-red-pink' : $ctrl.checkIfIsOffspec(counterparty.energyParameterValues.density.specValue, counterparty.minMaxSpecs.density)}" 
				            		ng-model="counterparty.energyParameterValues.density.specValue"></td><!--  Density -->
				            	<td width="50px">
				            		<input class="form-control" 
				            		type="text" 
				            		format="number:{{$ctrl.quantityPrecision}}"
				            		ng-class="{'bg-red-pink' : $ctrl.checkIfIsOffspec(counterparty.energyParameterValues.ash.specValue, counterparty.minMaxSpecs.ash)}" 
				            		ng-model="counterparty.energyParameterValues.ash.specValue"></td><!--  Ash -->
				            	<td width="50px">
				            		<input class="form-control" 
				            		type="text" 
				            		format="number:{{$ctrl.quantityPrecision}}"
				            		ng-class="{'bg-red-pink' : $ctrl.checkIfIsOffspec(counterparty.energyParameterValues.water.specValue, counterparty.minMaxSpecs.water)}" 
				            		ng-model="counterparty.energyParameterValues.water.specValue"></td><!--  Water -->
				            	<td>
				            		<input class="form-control" format="number:{{$ctrl.quantityPrecision}}" ng-model="counterparty.energyParameterValues.ccai" readonly>
				            	</td><!--  CCAI -->
				            	<td>
				            		<input class="form-control" format="number:{{$ctrl.quantityPrecision}}" ng-model="counterparty.energyParameterValues.specificEnergy" readonly>
				            	</td><!--  Net Spec<br>Energy Offered -->
				            	<td>
				            		<input class="form-control" format="number:{{$ctrl.quantityPrecision}}" ng-model="counterparty.energyParameterValues.specificEnergy6Months" readonly>
				            	</td><!--  Net Spec Energy<br>Dlvd (6 month avg.) -->
				            	<td>
				            		<input class="form-control" format="number:{{$ctrl.quantityPrecision}}" ng-model="counterparty.energyParameterValues.diffBasedOnSpecificEnergy" readonly>
				            	</td><!--  $ Diff based on<br> Specific Energy -->
				            	<td>
				            		<input class="form-control" format="number:{{$ctrl.quantityPrecision}}" ng-model="counterparty.energyParameterValues.priceGap" readonly>
				            	</td><!--  Price Difference -->
				            	<td>
				            		<input class="form-control"  format="number:{{$ctrl.pricePrecision}}" ng-model="counterparty.energyParameterValues.totalComputedPrice" readonly>
				            	</td><!--  Total Computed<br>Price -->
				            </tr>		            
				        </tbody>
				    </table>
				</div>			
	       		<hr>
	        </div>
		</div>
		<!-- {{$ctrl.energyCalculationBladeData}} -->

	</div>
</div>