<div class="blade-column-title main text-uppercase">
	RFQs
</div>

<div class="portlet light" ng-controller="ViewRfqController as $cntrl" ng-init="$cntrl.groupId = $ctrl.groupId || 1; $ctrl.dataLoaded = true;">

    <div class="pull-right">
        <form class="form-inline">
            <div class="form-group">
                <a class="btn btn-default" ng-click="$cntrl.amend()" ng-class="{'disabled' : $cntrl.buttonsDisabled || $cntrl.requirements.length === 0 || !$cntrl.canAmendRFQ()}">
                    Send Amended RFQ
                </a>
                <a class="btn orange btn-outline" ng-click="$cntrl.revoke()" ng-class="{'disabled' : $cntrl.buttonsDisabled || $cntrl.requirements.length === 0 || !$cntrl.canRevokeRFQ()}">
                    Revoke RFQ
                </a>
            </div>
        </form>
    </div>

	<div class="row">
	    <div class="portlet light stretch-vertical min-60vh">
	        <div class="portlet-title">
	            <h4 class="caption-subject pull-left"><b>{{$cntrl.ui.rfqTable.title}}</b></h4>
	        </div>
	        <div class="portlet-body" style="overflow: auto;">
	            <table class="table table-striped table-hover table-bordered"
	                    id="view_rfq_table">
	                <thead>
	                    <tr>

	                        <th id="generatedThId63"></th>
	                        <th id="generatedThId64">RFQ ID</th>
	                        <th id="generatedThId65">Request ID</th>
	                        <th id="generatedThId66">Status</th>
	                        <th id="generatedThId67">RFQ Date</th>
	                        <th style="min-width: 60px;" id="generatedThId68">Quote By Date</th>
	                        <th id="generatedThId69">Seller</th>
	                        <th id="generatedThId70">Port</th>
	                        <th id="generatedThId71">Product</th>
	                        <th id="generatedThId72">Min Qty</th>
	                        <th id="generatedThId73">Max Qty</th>
	                        <th id="generatedThId74">Product Status</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr ng-repeat="rfq in $cntrl.rfqs track by $index">
	                        <td class="centered">
	                            <label class="mt-checkbox mt-checkbox-outline">
	                                <input type="checkbox" ng-change="$cntrl.toggleSelection($index, rfq)" ng-model="$cntrl.checkboxes[$index]"/>
	                                <span></span>
	                            </label>
	                        </td>
	                        <td><a ng-click="$cntrl.previewRFQ(rfq)">{{rfq.rfqName}}</a></td>
	                        <td>
	                        	<a ui-sref="default.edit-request({requestId: rfq.requestId})" >{{rfq.requestName}}</a>
	                        </td>
	                        <td>
	                            <label controller="Controller_Master as CM" 
	                        	style="display: block; width: 100%; background: {{CM.getColorCodeFromLabels(rfq.rfqStatus)}}" class="label label-sm">{{rfq.rfqStatus.displayName}}</label>
	                        </td>
	                        <td>{{rfq.rfqDate | utcToLocal | stDateFormat}}</td>
	                        <td>{{rfq.quoteByDate | stDateFormat}}</td>
	                        <td>{{rfq.sellerName | decodeReadOnly}}</td>
	                        <td>{{rfq.locationName | decodeReadOnly}}</td>
	                        <td>{{rfq.productName | decodeReadOnly}}</td>
	                        <td>{{rfq.minQuantity | number: $cntrl.numberPrecision.quantityPrecision}}</td>
	                        <td>{{rfq.maxQuantity | number: $cntrl.numberPrecision.quantityPrecision}}</td>
	                        <td>
	                            <label controller="Controller_Master as CM" style="display: block; width: 100%; background: {{CM.getColorCodeFromLabels(rfq.rfqStatus)}}" class="label label-sm">{{rfq.productStatus.displayName}}</label>
	                        </td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>
	<div class="row">
	    <div class="st-main-content-menu bottom-menu">
	        <div class="pull-right">
	            <a class="btn btn-default"
	                ng-click="$cntrl.amend()"
	                ng-class="{'disabled': $cntrl.buttonsDisabled || $cntrl.requirements.length === 0 || !$cntrl.canAmendRFQ()}">
	            Send Amended RFQ</a>
	            <a class="btn orange btn-outline" ng-click="$cntrl.revoke()" ng-class="{'disabled': $cntrl.buttonsDisabled || $cntrl.requirements.length === 0 || !$cntrl.canRevokeRFQ()}">Revoke RFQ</a>
	        </div>
	        <div class="clearfix"></div>
	    </div>
	</div>


</div>
