<div class="months_history">
	
    <div class="row">
        <div class="col-xs-4 pull-right text-right">
            <a type="submit" class="btn btn-default orange" ng-click="$ctrl.calculate6MHistoryAverage()">
                <span>Fill</span>
            </a>
        </div>
    </div>
    <hr>
    <div style="max-width: 100%; margin-bottom: 30px;" class="col-sm-12">
	    <div class="row custom-hardcoded-table">
	        <table id="params_history_table" class="table-body" width="100%">
	            <thead>
	                <tr>
	                    <th style="max-width: 20px" width="20px" class="padding">Select</th>
	                    <th style="max-width: 50px" width="50px" class="padding">Order</th>
	                    <th style="max-width: 50px" width="50px" class="padding">Order Date</th>
	                    <th style="max-width: 50px" width="50px" class="padding">Lab Result ID</th>
	                    <th style="max-width: 50px" width="50px" class="padding">Lab Date</th>
	                    <th style="max-width: 50px" width="50px" class="padding">Net MJ/KG</th>
	                    <th style="max-width: 2px" width="10px" class=""></th> <!-- scroll offset -->
	                </tr>
	            </thead>
	        </table>
	    </div>
	    <div class="row custom-hardcoded-table"  style="height: 50vh;overflow-x: scroll;min-height: 250px;">
	        <table id="params_history_table" width="100%" class="table-body">
	            <!-- <thead>
	                <tr>
	                    <th width="50px" class="padding">Select</th>
	                    <th width="50px" class="padding">Order</th>
	                    <th width="50px" class="padding">Order Date</th>
	                    <th width="50px" class="padding">Lab Result ID</th>
	                    <th width="50px" class="padding">Lab Date</th>
	                    <th width="50px" class="padding">Net MJ/KG</th>
	                </tr>
	            </thead> -->
	            <tbody>
	                <tr ng-repeat="row in $ctrl.sixMonthsHistoryData">
	                    <td style="max-width: 20px" width="20px" class="padding"></td> <!-- Select -->
	                    <td style="max-width: 50px" width="50px" class="padding">{{row.orderId}}</td> <!-- Order -->
	                    <td style="max-width: 50px" width="50px" class="padding">{{ $ctrl.formatDate(row.orderDate) }}</td> <!-- Order Date -->
	                    <td style="max-width: 50px" width="50px" class="padding">{{row.labResultId}}</td> <!-- Lab Result ID -->
	                    <td style="max-width: 50px" width="50px" class="padding">{{ $ctrl.formatDate(row.labResultCreatedOn) }}</td> <!-- Lab Date -->
	                    <td style="max-width: 50px" width="50px" class="padding">{{row.netSpecificEnergyValue}}</td> <!-- Net MJ/KG -->
	                </tr>
	            </tbody>
	        </table>
	    </div>
    </div>
	<br><br>
</div>
