<!-- <span ng-include="'components/offer-details-dialog/views/offer-details-dialog-component.html'" ></span> -->


<!-- <offer-details-dialog id="offer_details"
                        aria-hidden="true"
                        args="{product: bladeInitData.offerDetailsProduct,
                            offer: bladeInitData.offerDetails}"
                        on-offer-saved="bladeInitData.updateOffer(offer, product)"
                        data-width="90%">
</offer-details-dialog>  -->