<div class="blade-column-title main text-uppercase">
    RFQs
</div>
<div ng-if="!$ctrl.canSendRFQ()">
    <div class="portlet light" ng-controller="ViewRfqController as $cntrl" ng-init="$cntrl.groupId = $ctrl.groupId || 1">
        <div class="pull-right">
            <form class="form-inline">
                <div class="form-group">
                    <a class="btn btn-default" ng-click="$cntrl.amend()" ng-class="{'disabled' : $cntrl.buttonsDisabled || $cntrl.requirements.length === 0 || !$cntrl.canAmendRFQ()}">
                        Send Amended RFQ
                    </a>
                    <a class="btn orange btn-outline" ng-click="$cntrl.revoke()" ng-class="{'disabled' : $cntrl.buttonsDisabled || $cntrl.requirements.length === 0 || !$cntrl.canRevokeRFQ()}">
                        Revoke RFQ
                    </a>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="portlet light stretch-vertical min-60vh">
                <div class="portlet-title">
                    <h4 class="caption-subject pull-left">
                        <b>
                            {{ $cntrl.ui.rfqTable.title }}
                        </b>
                    </h4>
                </div>
                <div class="portlet-body" style="overflow: auto;">
                    <table class="table table-striped table-hover table-bordered" id="view_rfq_table">
                        <thead>
                            <tr>
                                <!-- <th ng-repeat="column in $cntrl.ui.rfqTable.columns track by $index">
                                                                {{column.caption | translate}}
                                                            </th> -->
                                <th></th>
                                <th>
                                    RFQ ID
                                </th>
                                <th>
                                    Request ID
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    RFQ Date
                                </th>
                                <th style="min-width: 60px;">
                                    Quote By Date
                                </th>
                                <th>
                                    Seller
                                </th>
                                <th>
                                    Port
                                </th>
                                <th>
                                    Product
                                </th>
                                <th>
                                    Min Qty
                                </th>
                                <th>
                                    Max Qty
                                </th>
                                <th>
                                    Product Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rfq in $cntrl.rfqs track by $index">
                                <td class="centered">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" ng-change="$cntrl.toggleSelection($index, rfq)" ng-model="$cntrl.checkboxes[$index]"/>
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <a ng-click="$cntrl.previewRFQ(rfq)">
                                        {{ rfq.rfqName }}
                                    </a>
                                </td>
                                <td>
                                    <a ui-sref="default.edit-request({requestId: rfq.requestId})">
                                        {{ rfq.requestName }}
                                    </a>
                                </td>
                                <td>
                                    <label class="label label-sm" style="background: {{ CM.getColorCodeFromLabels(rfq.rfqStatusName) }}">
                                        {{ rfq.rfqStatusName }}
                                    </label>
                                </td>
                                <td>
                                    {{ rfq.rfqDate | utcToLocal | stDateFormat }}
                                </td>
                                <td>
                                    {{ rfq.quoteByDate | stDateFormat }}
                                </td>
                                <td>
                                    {{ rfq.sellerName }}
                                </td>
                                <td>
                                    {{ rfq.locationName }}
                                </td>
                                <td>
                                    {{ rfq.productName }}
                                </td>
                                <td>
                                    {{ rfq.minQuantity | number: $cntrl.numberPrecision.quantityPrecision }}
                                </td>
                                <td>
                                    {{ rfq.maxQuantity | number: $cntrl.numberPrecision.quantityPrecision }}
                                </td>
                                <td>
                                    <label class="label label-sm" style="background: {{ CM.getColorCodeFromLabels(rfq.productStatusName) }}">
                                        {{ rfq.productStatusName }}
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="st-main-content-menu bottom-menu">
                <div class="pull-right">
                    <a class="btn btn-default" ng-click="$cntrl.amend()" ng-class="{'disabled': $cntrl.buttonsDisabled || $cntrl.requirements.length === 0 || !$cntrl.canAmendRFQ()}">
                        Send Amended RFQ
                    </a>
                    <a class="btn orange btn-outline" ng-click="$cntrl.revoke()" ng-class="{'disabled': $cntrl.buttonsDisabled || $cntrl.requirements.length === 0 || !$cntrl.canRevokeRFQ()}">
                        Revoke RFQ
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="portlet light" ng-if="$ctrl.canSendRFQ()">
    <div class="portlet-content">
        <div class="pull-right">
            <a class="btn btn-sm btn-default" ng-click="$ctrl.sendRFQ()" style="margin-right:10px" ng-disabled="!$ctrl.canSendRFQ()">
                Send email
            </a>
        </div>
        <div ng-controller="PreviewEmailController as $ctrl">
            <a class="btn btn-sm btn-outline orange pull-right" ng-click="$ctrl.saveComments()" style="margin-right:10px">
                Save
            </a>
            <div class="form-group form-group pull-right" style="margin-right:10px">
                <select class="select form-control" ng-model="$ctrl.template"  ng-options="template as template.displayName for template in $ctrl.templateList track by template.id" ng-change="$ctrl.loadTemplate($ctrl.template)"></select>
            </div>
            <div class="row">
                <div class="portlet light">
                    <div class="portlet-title">
                        <span class="caption-subject">
                            {{ 'PAGES.PREVIEW_EMAIL.TITLE' | translate }}
                        </span>
                    </div>
                    <div class="portlet-body">
                        <form class="form-horizontal st-new-request-form">
                            <div class="form-group form-group-sm st-email-input">
                                <label class="col-md-1 control-label">
                                    {{ 'PAGES.PREVIEW_EMAIL.TO' | translate }}
                                </label>
                                <!-- <div class="col-md-11 row">
                                                                    <div class="col-md-6">
                                                                        <div class="input-group">
                                                                            <input class="typeahead form-control" uib-typeahead="to as to.name for to in $ctrl.email.toList | filter:$viewValue | limitTo:5" ng-model="$ctrl.toEmail"/>
                                                                            <span class="input-group-addon clickable" ng-click="$ctrl.addEmail($ctrl.toEmail, $ctrl.email.to)">
                                                                                <i class="fa fa-plus"></i>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 label-list">
                                                                        <div class="bootstrap-tagsinput" ng-class="{expanded : ctrl.openToList}">
                                                                            <span ng-show="$ctrl.email.to.length> $ctrl.shownEmailNr" class="tag label label-info clickable st-hide-tags"  ng-click="ctrl.openToList = !ctrl.openToList">
                                                                                &hellip;
                                                                            </span>
                                                                            <span ng-repeat="toEmail in $ctrl.email.to track by $index" class="tag label label-info"  ng-show="$index < $ctrl.shownEmailNr || ctrl.openToList">
                                                                                <i ng-click="$ctrl.removeEmail($index, $ctrl.email.to)" class="fa fa-close clickable"></i>
                                                                                {{ toEmail.name }}
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div> -->
                                <div class="col-md-11 ">
                                    <div class="input-group border-default" style="border: 1px solid;display: block;padding:0 5px;float: left;width: 100%; cursor: text" ng-click="$ctrl.focusInnerInput($event)">
                                        <div ng-repeat="toEmail in $ctrl.email.to track by $index" class="tag label label-info pull-left font-dark bg-default" style="margin-top: 5px; margin-right: 5px;">
                                            <i ng-click="$ctrl.removeEmail($index, $ctrl.email.to)" class="fa fa-close clickable"></i>
                                            {{ toEmail.name }}
                                        </div>
                                        <input class="typeahead form-control pull-left" uib-typeahead="to as to.name for to in $ctrl.email.toList | filter:$viewValue | limitTo:5" ng-model="$ctrl.toEmail" typeahead-on-select="$ctrl.addEmail($ctrl.toEmail, $ctrl.email.to)" ng-blur="$ctrl.clearEmailInputs()" style="max-width:100px; border: none"/>
                                    </div>
                                    <!--                                <div class="col-md-6 label-list">
                                                                            <div class="bootstrap-tagsinput" ng-class="{expanded : ctrl.openToList}">
                                                                                <span ng-show="$ctrl.email.to.length> $ctrl.shownEmailNr" class="tag label label-info clickable st-hide-tags"  ng-click="ctrl.openToList = !ctrl.openToList">
                                                                                    &hellip;
                                                                                </span>
                                                                                <span ng-repeat="toEmail in $ctrl.email.to track by $index" class="tag label label-info"  ng-show="$index < $ctrl.shownEmailNr || ctrl.openToList">
                                                                                    <i ng-click="$ctrl.removeEmail($index, $ctrl.email.to)" class="fa fa-close clickable"></i>
                                                                                    {{ toEmail.name }}
                                                                                </span>
                                                                            </div>
                                                                        </div> -->
                                </div>
                            </div>
                            <div class="form-group form-group-sm st-email-input">
                                <label class="col-md-1 control-label">
                                    {{ 'PAGES.PREVIEW_EMAIL.CC' | translate }}
                                </label>
                                <div class="col-md-11">
                                    <!--                                <div class="col-md-6">
                                                                            <div class="input-group">
                                                                                <input class="typeahead form-control" uib-typeahead="cc as cc.name for cc in $ctrl.email.ccList | filter:$viewValue | limitTo:5" ng-model="$ctrl.ccEmail"/>
                                                                                <span class="input-group-addon clickable" ng-click="$ctrl.addEmail($ctrl.ccEmail, $ctrl.email.cc)">
                                                                                    <i class="fa fa-plus"></i>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 label-list">
                                                                            <div class="bootstrap-tagsinput" ng-class="{expanded : ctrl.openCcList}">
                                                                                <span ng-show="$ctrl.email.cc.length> $ctrl.shownEmailNr" class="tag label label-info clickable st-hide-tags"  ng-click="ctrl.openCcList = !ctrl.openCcList">
                                                                                    &hellip;
                                                                                </span>
                                                                                <span ng-repeat="ccEmail in $ctrl.email.cc track by $index" class="tag label label-info" ng-show="$index < $ctrl.shownEmailNr || ctrl.openCcList">
                                                                                    <i ng-click="$ctrl.removeEmail($index, $ctrl.email.cc)" class="fa fa-close clickable"></i>
                                                                                    {{ ccEmail.name }}
                                                                                </span>
                                                                            </div>
                                                                        </div> -->
                                    <div class="input-group border-default" style="border: 1px solid;display: block;padding:0 5px;float: left;width: 100%; cursor: text" ng-click="$ctrl.focusInnerInput($event)">
                                        <div ng-repeat="ccEmail in $ctrl.email.cc track by $index" class="tag label label-info pull-left font-dark bg-default" style="margin-top: 5px; margin-right: 5px;">
                                            <i ng-click="$ctrl.removeEmail($index, $ctrl.email.cc)" class="fa fa-close clickable"></i>
                                            {{ ccEmail.name }}
                                        </div>
                                        <input class="typeahead form-control pull-left" uib-typeahead="cc as cc.name for cc in $ctrl.email.ccList | filter:$viewValue | limitTo:5" ng-model="$ctrl.ccEmail" typeahead-on-select="$ctrl.addEmail($ctrl.ccEmail, $ctrl.email.cc)" ng-blur="$ctrl.clearEmailInputs()" style="max-width:100px; border: none"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="col-md-1 control-label">
                                    {{ 'PAGES.PREVIEW_EMAIL.SUB' | translate }}
                                </label>
                                <div class="col-md-11">
                                    <input class="form-control" disabled="disabled" ng-model="$ctrl.email.subject"/>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-md-12">
                                    <div class="box-grey" disabled="disabled" style="padding: 10px; border: 1px solid #CCCCCC; line-height: 1.8" ng-bind-html="$ctrl.email.content"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
