<div class="months_history">
	
    <div class="row">
    	<div class="col-sm-8">
    		<div class="form-group row input-group pull-left">
	    		<label>Location </label>
    			<div class="input-group">
		    		 <input decode-input-format name="sixMonthLocationSelector" id="sixMonthLocationSelector" uib-typeahead="location as location.name for location in $ctrl.listsCache.Location | typeaheadCustomFilter:$viewValue:'name'" typeahead-on-select="" typeahead-editable="false" class="typeahead form-control" ng-model="$ctrl.sixMonthLocationSelector">
					<span class="input-group-addon border-grey-silver" style="width: 35px !important;border: 1px solid;" ng-click="$ctrl.addLocationToHistory($ctrl.sixMonthLocationSelector)">
						<i class="fa fa-plus"></i>
					</span>
    			</div>
    		</div>
    		<div class="bootstrap-tagsinput pull-left">
                <span ng-repeat="location in $ctrl.selectedLocations" class="tag border border-grey-cascade label" data-original-title=" {{ location.name }}">
                    <span class="font-dark">
                        <a ng-click="$ctrl.removeLocationFromHistory($index)" class="fa fa-close font-red"></a>
                        {{location.name | decodeReadOnly }}
                    </span>
                </span>
    		</div>
    	</div>
        <div class="col-xs-4 pull-right text-right" >
            <a type="submit" class="btn btn-default orange" ng-click="$ctrl.calculate6MHistoryAverage()">
                <span>Fill</span>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
	    <div class="col-sm-12">
	    	<div class="form-group row" style="float: left;">
	    		<label for="enSixMhReferenceDate">Reference Date</label>
	        	<div class="input-group form_input date form_meridian_datetime" style="width: 360px">
					<input ng-model="$ctrl.enSixMhReferenceDate" name="enSixMhReferenceDate" id="enSixMhReferenceDate" new-date-picker picker-type="date" class="form-control date-mask new-date-picker"> 
	        	</div>
	      		&nbsp;
	            <a type="submit" style="float: right;" class="btn btn-default orange" ng-click="$ctrl.reassignEnergy6MonthReferenceDate()">
	                <span>Update</span>
	            </a>	        	
	    	</div>
	    </div>
    </div>
    <hr>
    <div style="max-width: 100%; margin-bottom: 30px;" class="col-sm-12 custom-hardcoded-table-wrapper">
	    <div class="row custom-hardcoded-table tableheader" style="overflow: hidden;">
	        <table id="params_history_table" class="table-body" style="width:100%">
	            <thead>
	                <tr>
	                    <th id="generatedThId87" style="max-width: 20px;width:20px" class="padding">Select</th>
	                    <th id="generatedThId88" style="max-width: 50px;width:50px" class="padding">Order</th>
	                    <th id="generatedThId89" style="max-width: 50px;width:50px" class="padding">Order Date</th>
	                    <th id="generatedThId90" style="max-width: 50px;width:50px" class="padding">Lab Result ID</th>
	                    <th id="generatedThId91" style="max-width: 50px;width:50px" class="padding">Lab Date</th>
	                    <th id="generatedThId92" style="max-width: 50px;width:50px" class="padding">Net MJ/KG</th>
	                    <th id="generatedThId93" style="max-width: 2px;width:10px" class=""></th> <!-- scroll offset -->
	                </tr>
	            </thead>
	        </table>
	    </div>
		<div class="row custom-hardcoded-table tablebody"  style="height: {{$ctrl.computedTableHeight}};overflow-x: scroll;">
	        <table id="params_history_table" style="width:100%" class="table-body">

	            <tbody>
	                <tr ng-repeat="row in $ctrl.sixMonthsHistoryData">
	                    <td style="max-width: 20px;width:20px" class="padding">
					        <label class="mt-checkbox">
					            <input type="checkbox" ng-change="$ctrl.countSelectedItems()" name="Selection-{{$index}}" id="Selection-{{$index}}" ng-model="row.isSelected;"/>
					            <span></span>
					        </label>	                    	
	                    </td> <!-- Select -->
	                    <td style="max-width: 50px;width:50px" class="padding">{{row.orderId}}</td> <!-- Order -->
	                    <td style="max-width: 50px;width:50px" class="padding">{{ $ctrl.formatDate(row.orderDate) }}</td> <!-- Order Date -->
	                    <td style="max-width: 50px;width:50px" class="padding">{{row.labResultId}}</td> <!-- Lab Result ID -->
	                    <td style="max-width: 50px;width:50px" class="padding">{{ $ctrl.formatDate(row.labResultCreatedOn) }}</td> <!-- Lab Date -->
	                    <td style="max-width: 50px;width:50px" class="padding">{{row.netSpecificEnergyValue}}</td> <!-- Net MJ/KG -->
	                </tr>
	            </tbody>
	        </table>
	    </div>
	    <div class="row custom-hardcoded-table tableheader" style="overflow: hidden;">
	        <table id="params_history_table" class="table-body" style="width:100%">
	            <thead>
	                <tr>
	                    <th id="generatedThId94" colspan="6" class="padding bg-blue-dark font-white">
	                    	<span>Average :</span>
	                    	<span style="float: right;">{{$ctrl.average6monthSelected}}</span>
	                	</th>
	                </tr>
	            </thead>
	        </table>
	    </div>	    
	    <div>
	    	<em>
		    	{{$ctrl.selectedItems.count}} items selected out of {{$ctrl.selectedItems.total}}
	    	</em>
	    </div>
    </div>
	<br><br>
</div>
