<div class="container months_history">
	
    <div class="row">
        <div class="col-xs-4">
            <a type="submit" class="btn btn-default orange" ng-click="$ctrl.calculate6MHistoryAverage()">
                <span>Fill</span>
            </a>
        </div>
    </div>
    <hr>
    <div class="row custom-hardcoded-table">
        <table id="params_history_table" width="100%">
            <thead>
                <tr>
                    <th class="padding">Select</th>
                    <th class="padding">Order</th>
                    <th class="padding">Order Date</th>
                    <th class="padding">Lab Result ID</th>
                    <th class="padding">Lab Date</th>
                    <th class="padding">Net MJ/KG</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td>checkbox</td>
                    <td>Orde datar</td>
                    <td>Order Date data</td>
                    <td>Viscosity data</td>
                    <td>Density data</td>
                    <td>Sulfur data</td>
                </tr> -->
            </tbody>
        </table>
    </div>
    <div class="row" ng-if="$ctrl.show6MHistoryAverage">
        averages added
    </div>
</div>
