/* ---- BASE COLORS ---- */

$white              : #FFFFFF;
$black              : #333333;
$red                : #EB5757;
$green              : #5FB760;
$blue               : #1CABE0;
$orange             : #FFC570;
$grey               : #C4C4C4;
$light-grey         : #F4F4F4;
$light-grey2        : #D9DBDE;
$medium-grey        : #E0E0E0;
$dark-grey          : #4F4F4F;
$dark-grey3         : #415A6B;
$dark               : #37414F;
$dark2              : #476987;
$dark3              : #54617A;
$dark4              : #2F3845;


/*---- ADDITIONAL COLORS ----*/
$red-header         : #EB5757;
$light-blue         : #74CDEA;
$blue-header        : #1CABE0;
$link-blue          : #2D9CDB;
$link-blue2         : #5F9DF1;
$link-blue3         : #4A71C2;
$dark-orange        : #D68033;
$medium-orange      : #F2994A;
$date-color         : #686D71;
$medium-grey2       : #A8A8A8;
$checkbox-bg        : #A8A8A8;
$medium-grey2       : #828282;
$darker-grey        : #484848;
$green-grey         : #7F9C9A;
$disabled-grey      : #C4C4C4;
$light-text-color   : #EFF3F9;
$dark-text          : #54617A;
$grey1              : #E5E5E5;
$grey2              : #8F9BAB;
$green-text         : #5AEB57;
$light-red          : #FF7362;
$light-yellow       : #F9C375;
$light-green        : #5EB591;
$dark-row           : #2F3845;
$amber              : #E8AC55;
$denim              : #5780A6;



/*---- SIZES ----*/
$card-border-radius : 6px;
$baseFontSize       : 14px;


/* AG-GRID VARIABLES */
$chipbase                           : #37414f;
$chipprimary                        : #27ae60;
$chipsecondary                      : #e17a50;
$chiplight                          : #96cf55;
$chipcritical                       : #eb5757;
$chipround                          : #74cdea;
$chipfont                           : white;
$gridparentheadercolor              : #1D2A45;
$gridborder                         : #EAECEE;
$gridresizer                        : #b9b9b9;
$gridpagination                     : #74CDEA;
$gridpaginationbg                   : white;
$gridpaginationfont                 : #828282;
$gridrow_evenbg                     : #FCFCFE;
$grid_validrow_bg                   : #edffe8;
$grid_rowhover                      : #edffe8;
$grid_rowselection_ribbon           : #1CABE0;//E8F4FF
$grid_rowselection                  : #E8F4FF;
$grid_rowselection_success_ribbon   : #5EB591; 
$grid_rowselection_success          : #EDFFE8; 
$grid_rowselection_error            : rgb(255, 232, 232); 

// Location Pop UP

$popup_blue:#66B0D6;
$popup_red: #FF7362;
$popup_amber: #E8AC55;
$popup_background_primary:#323B48;
$popup_background_secondary:#37414F;
$text_color_title:#C4C4C4;
$text_color_content:#EFF3F9;

$font_size_Header:16px;
$font_size_l1:8px;
$font_size_l2:9px;
$font-size_l3:11px; 
$font_size_l4:12px;





