/* ----- MIXINS -----
Contains all custom resusable mixin functions
*/

// ICON BUTTON MIXIN
@mixin icon-circle($bgcolor: transparent, $border: 1px solid #656565) {
  background-color: $bgcolor !important;
  border: $border !important;
}

// REGULAR BUTTON MIXIN
@mixin rect-button($bgcolor, $border:none, $bradius: 5px, $padding: 0 8px, $text-color: #fff) {
  background-color: $bgcolor !important;
  border: $border;
  border-radius: $bradius;
  padding: $padding !important;
  color: $text-color !important;
  //width: $width;
  text-align: center;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  font-weight: 400;
  font-size: 14px;
}

// BOX SHADOWS
@mixin box-shadow ($hoffset: 0px, $voffset: 5px, $blur: 7px, $spread: 0px) {
  -webkit-box-shadow: $hoffset $voffset $blur $spread rgba(0, 0, 0, 0.2);
  -moz-box-shadow: $hoffset $voffset $blur $spread rgba(0, 0, 0, 0.2);
  box-shadow: $hoffset $voffset $blur $spread rgba(0, 0, 0, 0.2);
}

// TEXT TRUNCATE
@mixin truncate($width) {
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// TEXT TRUNCATE
@mixin fixed-truncate($width) {
  width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* AG-GRID MIXINS */
@mixin aggrid-rowselection($color) {
  .ag-theme-material{
      @if $color == 'red'{
          @include aggrid-rowribbon($grid_rowselection_rsc);
          .ag-row-selected{
              background-color: $grid_rowselection_success !important;
          }
      }
      }
      @if $color == 'green'{
          @include aggrid-rowribbon($grid_rowselection_rer);
          .ag-row-selected{
              background-color: $grid_rowselection_er !important;
          }
      }
      @if $color == 'blue'{
          @include aggrid-rowribbon($grid_rowselection_rer);
          .ag-row-selected{
              background-color: $grid_rowselection_er !important;
          }
      }       
}

@mixin aggrid-rowribbon($ribboncolor)  {
  box-shadow: inset 5px 0 0 0 $ribboncolor, 1px 0 0 0 $gridborder;
}

@mixin aggrid-rowribbon-thin($ribboncolor)  {
  box-shadow: inset 3px 0 0 0 $ribboncolor, 1px 0 0 0 $gridborder !important;
}

@mixin aggrid-rowribbon-imp($ribboncolor)  {
  box-shadow: inset 5px 0 0 0 $ribboncolor, 1px 0 0 0 $gridborder !important;
}

@mixin aggrid-rowribbon-darktheme($ribboncolor)  {
  box-shadow: inset 5px 0 0 0 $ribboncolor !important;
}

@mixin aggrid-cell-bgcolor($bgcolor)  {
  background-color: $bgcolor;
  color: #fff !important;
  text-align: center;
}