/* You can add global styles to this file, and also import other style files */

aside.pcoded-slider.ng-sidebar {
  top: 56px;
}

.slimscroll-wrapper,
.scroll-window {
  width: 100% !important;
}

.userlist-box.show {
  display: -webkit-box;
}

.userlist-box.hide {
  display: none;
}

.fa-bars {
  font-size: 18px;
}
//design system new header.
.header-navbar-v2 {
  height: 38px;
  .navbar-wrapper {
    height: 38px;
    background: #364150 !important;
    .navbar-container {
      .nav-right {
        li {
          padding-left: 0px !important;
          padding-right: 0px !important;
          display: inline-flex;
        }
      }
    }
    .navbar-logo {
      height: 2.5rem;
    }
    .header-title {
      font-size: 15px !important;
    }
    .path-text {
      padding-top: 0px !important;
      margin-top: -2px;
      font-size: 10px !important;
      span {
        a {
          font-size: 10px !important;
        }
      }
      #breadcrumb-4 {
        font-size: 10px !important;
      }
    }
    #header-icons {
      height: 38px;
    }
  }
  .header-icon-group {
    width: 29px !important;
    height: 29px !important;
    font-size: 12px;
    line-height: 29px;

    border: 1px solid #545d6a !important;
    color: #cdcdcd;
    &.hand {
      border: none !important;
      // content:url("../../assets/customicons/helpv2.svg") !important;
    }
  }
  .designsystem-logo-v2 {
    width: 100px !important;
  }
  .burgerSvg {
    transform: scale(0.75);
    padding-top: 6px;
  }
  //     .help-icon-v2{
  // background-image: url(../../assets/customicons/helpv2.svg)!important;
  //     }
}
.pcoded-main-container-v2 {
  height: 100%;
  #tradelistgrid {
    height: calc(100vh - 148px) !important;
  }
  .ps-purchase-grid-height-v2 {
    height: calc(100vh - 191px) !important;
  }
  .ps-sale-grid-height-v2 {
    height: calc(100vh - 154px) !important;
  }
  .ps-matched-grid-height-v2 {
    height: calc(100vh - 152px) !important;
  }
  .pricelist-grid-height-v2 {
    height: calc(100vh - 170px) !important;
  }

  .freight-grid-height-v2 {
    height: calc(100vh - 154px) !important;
  }
  .rack-matched-grid-height-v2 {
    height: calc(100vh - 152px) !important;
  }
  .rack-purchase-grid-height-v2 {
    height: calc(100vh - 191px) !important;
  }
  .rack-sales-grid-height-v2 {
    height: calc(100vh - 154px) !important;
  }
  .transactionlist-grid-height-v2 {
    height: calc(100vh - 148px) !important;
  }
  .blrecon-matched-grid-height-v2 {
    height: calc(100vh - 118px) !important;
  }
  .blrecon-unmatched-landing-grid-height-v2 {
    height: calc(100vh - 190px) !important;
  }
  .blrecon-unmatched-Deliveries-grid-height-v2 {
    height: calc(100vh - 190px) !important;
  }
  .creditlist-grid-height-v2 {
    height: calc(100vh - 148px) !important;
  }
  .arbreporting-grid-height-v2 {
    height: calc(100vh - 148px) !important;
  }
}
