<div id="offer" class="confirm-offers-dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.enableButtons()" aria-hidden="true" ng-if="isRequest()"></button>
        <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.enableButtons()" aria-hidden="true" ng-if="!isRequest()"></button>
        <a class="closeBlade pull-right font-white" ng-click="closeBlade()" ng-controller="BladeController">
            <i class="fa  fa-close font-white"></i>
        </a>
        <h4 class="modal-title font-blue-madison">
            <b>
                {{ $ctrl.ui.offers.title | translate }}
            </b>
        </h4>
    </div>
    <div class="modal-body">
        <h4 class="font-yellow-gold">
            {{ $ctrl.ui.offers.subtitle | translate }}
        </h4>
        <form name="requestOfferItems">
        <table class="table table-striped table-bordered" ng-class="$ctrl.requestOfferItems.length> 0 ? 'has_data' : 'no_data'" >
            <thead>
                <tr>
                    <th id="generatedThId100" ng-repeat="column in $ctrl.ui.offers.columns" ng-if="column.sortableName != 'confirmedQuantity' || (column.sortableName == 'confirmedQuantity' && $ctrl.captureConfirmedQuantity.name == 'Offer')">
                        {{ column.caption | translate }}
                    </th>
                    <th id="generatedThId101">
                        Physical Supplier
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.requestOfferItems track by $index">
                    <td>
                        {{ item.sellerName | decodeReadOnly}}
                    </td> 
                    <td>
                        {{ item.locationName | decodeReadOnly}}
                    </td>
                    <td>
                        {{ item.productName | decodeReadOnly}}
                    </td>
                    <td>
                        {{ item.minQuantity | number:3 }}
                    </td>
                    <td>
                        {{ item.maxQuantity | number:3 }}
                    </td>
                    <td ng-if="$ctrl.captureConfirmedQuantity.name == 'Offer' " class="confirm_offer_dialog_confirmed_quantity">
                        <input class="form-control" ng-required="true" ng-model="item.confirmedQuantity" type="text" format="number:3" ng-change="$ctrl.changeOrderQty(item)" name="confirmedQuantity_{{ $index }}"/>
                        <span class="input-group-addon"> {{ item.quantityUomName ? item.quantityUomName : '-' }}</span>
                    </td>
                    <td ng-if="!$ctrl.tenantSettings.shiptechLite">
                        <a href="v2/contracts/contract/{{ item.contractId }}/details" target="_blank"
                            ng-disabled="!item.contractId" 
                            style="display: block; float: left;margin-top: 10px; margin-right: 10px;">
                            {{item.contractId}}
                        </a>
                    </td>
                    <td>
                        {{ $ctrl.priceFormat(item.offerPrice, item.pricePrecision) }}
                    </td>
                    <td>
                        {{ item.confirmedQuantity * (item.conversionFactorToUomOfPriceFromContract ? item.conversionFactorToUomOfPriceFromContract * item.offerPrice : item.offerPrice)| number:3 }}

                    </td>
                    <td>
                        {{ item.physicalSupplierName | decodeReadOnly}}
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
        <h5 class="caption-subject" ng-if="!$ctrl.tenantSettings.shiptechLite">
            {{ $ctrl.ui.contracts.subtitle | translate }}
        </h5>
        <div style="overflow: auto;" ng-if="!$ctrl.tenantSettings.shiptechLite">
            <table class="table table-striped table-bordered" ng-class="$ctrl.availableContractItems.length> 0 ? 'has_data' : 'no_data'">
                <thead>
                    <tr>
                        <th id="generatedThId102" ng-repeat="column in $ctrl.ui.contracts.columns">
                            {{ column.caption | translate }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $ctrl.availableContractItems track by $index" ng-if="$index < 10">

                        <td>
                            {{ item.seller.name | decodeReadOnly}}
                        </td>
                        <td>
                            {{ item.location.name | decodeReadOnly}}
                        </td>
                        <td>
                            {{ item.product.name | decodeReadOnly}}
                        </td>
                        <td style="max-width: 100px; text-overflow: ellipsis; overflow: hidden" tooltip data-original-title="{{ item.contract.name | decodeReadOnly}}">
                            {{ item.contract.name | decodeReadOnly}}
                        </td>
                        <td style="max-width: 100px; text-overflow: ellipsis; overflow: hidden" tooltip data-original-title="{{ item.formulaDescription | decodeReadOnly}}">
                            {{ item.formulaDescription | decodeReadOnly}}
                        </td>
                        <td style="max-width: 100px; text-overflow: ellipsis; overflow: hidden" tooltip data-original-title="{{ item.pricingScheduleOptionName | decodeReadOnly}}">
                            {{ item.pricingScheduleOptionName | decodeReadOnly}}
                        </td>
                        <td>
                            {{ item.contractedQuantity  | number:3 }}
                        </td>
                        <td>
                            {{ item.utilizedQuantity  | number:3 }}
                        </td>
                        <td>
                            {{ item.availableQuantity  | number:3 }}
                        </td>
                        <td>
                            {{ item.uom.name | decodeReadOnly}}
                        </td>
                        <td>
                            {{ item.convertedPrice | number:3 }}
                        </td>
                        <td>
                            {{ item.priceUom.name | decodeReadOnly}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline orange" ng-click="$ctrl.confirmOffers(true);" ng-disabled="$ctrl.buttonsDisabled">
            Yes
        </button>
        <button type="button" data-dismiss="modal" ng-click="$ctrl.enableButtons()" class="btn btn-default" ng-if="isRequest()">
            No
        </button>
        <button type="button"  data-dismiss="modal" ng-if="!isRequest()" ng-click="$ctrl.enableButtons(); $ctrl.closeBlade()"  class="btn btn-default">
            No
        </button>
    </div>
</div>
<div id="warning" hidden>
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeBlade()" ng-controller="BladeController" aria-hidden="true"></button>
        <h4 class="modal-title font-blue-madison">
            <b>
                {{ $ctrl.ui.offers.title | translate }}
            </b>
        </h4>
    </div>
    <div class="modal-body">


    	<div ng-repeat="message in $ctrl.BEvalidationMessages track by $index">{{message}}</div>

    </div>
    <div class="modal-footer" ng-show="!$ctrl.isHardStop">
        <button type="button" data-dismiss="modal" class="btn btn-outline orange" ng-click="$ctrl.confirmOffers(false);" ng-disabled="$ctrl.buttonsDisabled">
            Yes
        </button>
        <button type="button" data-dismiss="modal" ng-click="$ctrl.enableButtons()" class="btn btn-default" ng-if="isRequest()">
            No
        </button>
        <button type="button" ng-if="!isRequest()" ng-click="closeBlade()" ng-controller="BladeController" class="btn btn-default">
            No
        </button>
    </div>
    <div class="modal-footer" ng-show="$ctrl.isHardStop">
        <button type="button" ng-if="!isRequest()" ng-click="closeBlade()" ng-controller="BladeController" class="btn btn-outline orange">
            Ok
        </button>
        <button type="button" data-dismiss="modal" ng-click="$ctrl.enableButtons()" class="btn btn-default" ng-if="isRequest()">
            Ok
        </button>
    </div>
</div>
