<div class="newStatusColoured contextmenu fade in" style="background-color: #fff"> 
	<div class="popover-header" style="{{ rightClickPopoverData.vsVal.style }}">
		<a href="#" class="close" aria-label="close"> &times; </a> 
		<span>{{ rightClickPopoverData.vsVal.request.vesselName }}</span>
	</div>
	<div class="content">
	
	<div class="voyageDetailSection" ng-repeat="(key,voyage) in rightClickPopoverData.bunkerPlansGroupedByVoaygeDetailId">
		<hr ng-if="$index > 0" style="margin: 5px 0;" >
		<table>
			<thead>
				<tr ng-if="!voyage.id">
					<th>
						<span >
							{{voyage[0].portCode}}
						</span>
					</th>
					<th ng-repeat="(key2, bunkerPlan) in voyage">
						{{bunkerPlan.productType}}
					</th>
				</tr>
				<tr ng-if="voyage.id">
					<th>
						{{voyage.portCode}}
					</th>
				</tr>				
			</thead>
			<tbody>
				<tr ng-if="!voyage.id">
					<td class="font-blue">
						{{key}}
					</td>
					<td class="cancelBunkerStrategyCell" ng-repeat="(key2, bunkerPlan) in voyage" style="border: 1px solid gainsboro;padding: 3px; position: relative;">
						{{bunkerPlan.supplyQuantity | number:numberPrecision.quantityPrecision}}
						<span ng-if="bunkerPlan.supplyStrategy" class="cancelBunkerStrategy" ng-click="confirmCancelBunkerStrategy(bunkerPlan, rightClickPopoverData.vsVal)" ><i class="fa fa-times"></i></span>
					</td>
				</tr>				

				<tr ng-if="voyage.id">
					<td class="font-blue">
						{{key}}
					</td>
					<td><a class="action-btn btn btn-sm btn-default" href="#/new-request/{{key}}" target="_blank"> <i class="fa fa-pencil"></i> Create Request</a></td>
				</tr>

			</tbody>			
		</table>
		<a ng-if="!voyage.id" class="action-btn btn btn-sm btn-default" href="#/new-request/{{key}}" target="_blank"> <i class="fa fa-pencil"></i> Create Request</a>
	</div>

	<!-- {{rightClickPopoverData.bunkerPlansGroupedByVoaygeDetailId}} -->

	</div>
	<div class="hidden">
		{{rightClickPopoverData}}
	</div>

</div>

<div class="cancelStrategyModal fade bs-modal hide" tabindex="-1" role="dialog" style="transform: translateY(50%);" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridSystemModalLabel"><i class="fa fa-warning"></i> Warning</h4>
			</div>
			<div class="modal-body">
				<div>Vessel: <b>{{cancelStrategyModalData.vesselName}}</b></div> 
				<div>Port: <b>{{cancelStrategyModalData.portCode}}</b></div> 
				<div>ETA: <b>{{cancelStrategyModalData.eta}}</b></div>
				<br>
				<div>
					You expect to cancel <b>{{cancelStrategyModalData.fuelType}}</b> strategy to supply <b>{{cancelStrategyModalData.quantity}}</b> <b>{{cancelStrategyModalData.uom}}</b> in this port
				</div> 
				<br>
				<div>
					This action will inform SAP and the bunker plan will be recalculated.
				</div>
				<br>
				<div>Do you want to proceed?</div>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-sm-6">
						<button style="display: block; width: 100%" type="button" class="btn orange btn-outline confirmAction" data-dismiss="modal" ng-click="$ctrl.cancelStrategy(cancelStrategyModalData.bunkerPlanId)">Yes</button>
					</div>
					<div class="col-sm-6">
						<button style="display: block; width: 100%" type="button" class="btn  default" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>