<div class="newStatusColoured contextmenu fade in" style="background-color: #fff; z-index: 9999999;"> 
	<div class="content-right-click">
		<div class="popover-header header-right-click-pop-up">
			<span> Request Details - {{$ctrl.vesselName | decodeReadOnly}}</span>
		</div>
		<div class="content">
			<div class="voyageDetailSection" ng-repeat="(key,voyage) in $ctrl.groupedVoyages.uniqueVoyages">
				<div class="row" style="margin-left: unset !important; margin-right: unset !important;">
					<div style="float: left;">
						<span class="icon-container">
						 	<a ng-if="!$ctrl.collapseContainer" class="expand-icon" ng-click="$ctrl.collapseContainer = true;"> </a>
						 	<a ng-if="$ctrl.collapseContainer" class="collapse-icon" ng-click="$ctrl.collapseContainer = false;"> </a>
						 	<b> Port of {{$ctrl.groupedVoyagesDetails[voyage][0].voyageDetail.request.requestDetail.location}} ({{ $ctrl.groupedVoyagesDetails[voyage][0].voyageDetail.locationCode }})</b>
						 	<span class="border-line"></span>
						 	<b>
						 		ETA: {{$ctrl.formatDateUtc($ctrl.groupedVoyagesDetails[voyage][0].voyageDetail.eta)}}
						 	</b>
						</span>
					</div>
					<div style="float: right; margin-left: 20px !important;">
						<a class="action-btn btn btn-sm btn-default btn-right-pop-up" href="#/new-request/{{voyage}}" target="_blank"> <i class="contract-planning"></i> Create Request</a>
						<span class="action-btn btn btn-sm btn-default btn-right-pop-up" ng-click="$ctrl.addVoyageToContractPlanning(voyage)" style="margin-right: 15px;" ng-if="$ctrl.canAddToContractPlanning(voyage) && !tenantSettings.shiptechLite"> <i class="contract-planning"></i> Contract Planning </span>
					</div>
				</div>
				<table class="right-popup-table table table-stripped table-hover"  ng-if="!$ctrl.collapseContainer && ($ctrl.groupedVoyages.hasEntity[voyage].hasBunkerPlan || $ctrl.groupedVoyages.hasEntity[voyage].hasRequest || $ctrl.groupedVoyages.hasEntity[voyage].hasOrder)">
					<thead>
						<tr>
							<th class="bp-request-id">
								BP/Request ID/Order ID
							</th>
							<span>
								<th ng-repeat="(key2, productType) in $ctrl.getListForHeader($ctrl.groupedVoyages.allProductTypes[voyage]) track by $index" >
									{{productType}}
								</th>
							</span>
							<th>
								Status
							</th>
	
						</tr>
					</thead>
					<tbody>
						<tr ng-if="$ctrl.groupedVoyages.hasEntity[voyage].hasBunkerPlan && !$ctrl.groupedVoyages.groupedVoyagesAllRequestProductsAreStemmed[voyage]">
							<td style="width: 90px;max-width: 100px; padding-left: 0">
								{{voyage}}
							</td>
							<td ng-repeat="(ptkey, voyageDetail) in $ctrl.getBunkerPlan($ctrl.groupedVoyages.allProductTypes[voyage] , $ctrl.groupedVoyages.groupedVoyagesBunker[voyage]) track by $index" class="cancelBunkerStrategyCell" style="padding: 3px; position: relative; border-radius: 1px !important; ">
								<span   class="amountRightPopover">
									{{( (!voyageDetail.bunkerPlan.supplyQuantity) ? ("-") : (voyageDetail.bunkerPlan.supplyQuantity | number : $ctrl.numberPrecision.amountPrecision))}}
									<span ng-if="voyageDetail.bunkerPlan.supplyStrategy && !$ctrl.strategyAlreadyCancelled(voyageDetail.bunkerPlan.id)" class="cancelBunkerStrategy" ng-click="$ctrl.confirmCancelBunkerStrategy(voyageDetail.bunkerPlan, voyageDetail)" ><i class="fa fa-times"></i></span>
								</span>
							</td>
						</tr>
					</tbody>
					<tbody ng-repeat="(key2, requests) in $ctrl.groupedVoyages.groupedVoyagesRequestForRightClickPopup[voyage] track by $index" ng-if="$ctrl.groupedVoyages.hasEntity[voyage].hasRequest && !$ctrl.groupedVoyages.groupedVoyagesAllRequestProductsAreStemmed[voyage]">
						<span>
							<tr ng-repeat="key3 in $ctrl.getElementsFromArray($ctrl.groupedVoyages.maxLengthForGroupedVoyagesRequest[voyage][key2])">
								<span >
									<td ng-if="key3 == 0" class="first-col-with-request-id">
										<a href="/#/edit-request/{{key2}}" target="_blank">
											REQ{{key2}}
										</a>									
									</td>
									<td ng-if="key3 != 0">
									</td>
									<td ng-repeat="(key4, columnValue) in $ctrl.groupedVoyages.rowValuesForGroupedVoyagesRequest[voyage][key2][key3] track by $index">
										<span ng-if="$index != $ctrl.groupedVoyages.rowValuesForGroupedVoyagesRequest[voyage][key2][key3].length - 1">
											{{columnValue ? columnValue : '-'}}
										</span>
										<span ng-if="$index == $ctrl.groupedVoyages.rowValuesForGroupedVoyagesRequest[voyage][key2][key3].length - 1" 
										class="label formatStatus" style="overflow:hidden; text-overflow:ellipsis; display:block; background-color:{{$ctrl.getStatusColor(columnValue)}}">
											{{columnValue ? columnValue.name : '-'}}
										</span>
									</td>
								</span>
							</tr>
						</span>
					</tbody>
					<tbody  ng-repeat="(key2, orders) in $ctrl.groupedVoyages.groupedVoyagesOrderForRightClickPopup[voyage]" ng-if="$ctrl.groupedVoyages.hasEntity[voyage].hasOrder">
						<span>
							<tr ng-repeat="key3 in $ctrl.getElementsFromArray($ctrl.groupedVoyages.maxLengthForGroupedVoyagesOrder[voyage][key2])">
								<span >
									<td ng-if="key3 == 0" class="first-col-with-request-id">
										<a href="/#/edit-order/{{key2}}" target="_blank">
											ORD{{key2}}
										</a>								
									</td>
									<td ng-if="key3 != 0">
									</td>
									<td ng-repeat="(key4, columnValue) in $ctrl.groupedVoyages.rowValuesForGroupedVoyagesOrder[voyage][key2][key3] track by $index">
										<span ng-if="$index != $ctrl.groupedVoyages.rowValuesForGroupedVoyagesOrder[voyage][key2][key3].length - 1">
											{{columnValue ? columnValue : '-'}}
										</span>
										<span ng-if="$index == $ctrl.groupedVoyages.rowValuesForGroupedVoyagesOrder[voyage][key2][key3].length - 1" 
										class="label formatStatus" style="overflow:hidden; text-overflow:ellipsis; display:block; background-color:{{$ctrl.getStatusColor(columnValue)}}">
											{{columnValue ? columnValue.name : '-'}}
										</span>
									</td>
								</span>
							</tr>
						</span>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<div class="cancelStrategyModal fade bs-modal hide" tabindex="-1" role="dialog" style="transform: translateY(50%);" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridSystemModalLabel"><i class="fa fa-warning"></i> Warning</h4>
			</div>
			<div class="modal-body">
				<div>Vessel: <b>{{$ctrl.cancelStrategyModalData.vesselName}}</b></div> 
				<div>Port: <b>{{$ctrl.cancelStrategyModalData.portCode}}</b></div> 
				<div>ETA: <b>{{$ctrl.cancelStrategyModalData.eta}}</b></div>
				<br>
				<div>
					You expect to cancel <b>{{$ctrl.cancelStrategyModalData.fuelType}}</b> strategy to supply <b>{{$ctrl.cancelStrategyModalData.quantity}}</b> <b>{{$ctrl.cancelStrategyModalData.uom}}</b> in this port
				</div> 
				<br>
				<div>
					This action will inform SAP and the bunker plan will be recalculated.
				</div>
				<br>
				<div>Do you want to proceed?</div>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-sm-3" style="float: right;">
						<button style="display: block; width: 100%" type="button" class="btn orange btn-outline confirmAction" data-dismiss="modal" ng-click="$ctrl.cancelStrategy($ctrl.cancelStrategyModalData.bunkerPlanId)">Yes</button>
					</div>
					<div class="col-sm-3" style="float: right;">
						<button style="display: block; width: 100%" type="button" class="btn  default" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>