<div class="row">
    <div class="st-main-content-menu st-displaceable-menu tabbable-line">
        <ul class="nav nav-tabs pull-left">
            <li><a ui-sref="default.edit-request({requestId: NAV.requestId})">Request</a></li>
            <li class="open"><a>Documents</a></li>
            <li><a ui-sref="default.view-request-emaillog({requestId: NAV.requestId})">Email Log</a></li>
            <li><a ui-sref="default.view-request-auditlog({requestId: NAV.requestId})">Audit Log</a></li>
            <!-- <li><a>Configure UI</a></li>
            <li><a>Rate Supplier</a></li> -->
        </ul>

        <div class="pull-right buttons">
            <a ng-controller="Controller_Master as CM" class="btn btn-default btn-outline" ng-click="uploadDocument('#fileUpload')">Upload</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="row">


    <span>
        <entity-edit-form screenchild="'entity_documents'"></entity-edit-form>
    </span>
    <span ng-controller="Controller_Configurable_List_Control as CLC">
        <clc-table-list
            id="'entity_documents'"
            app="'procurement'"
            screen="'request_entity_documents'"
            controls="'[entries, columns, info, pager]'"
        ></clc-table-list>
    </span>

</div>
