$primaryColor: #0f97c7;
$primaryTextColor: #ffffff;

@import '../../sass/layout/_layout';

.layout-wrapper.layout-menu-dark .layout-menu-container {
  background-color: #364150;
}

.layout-wrapper {
  .layout-menu-container {
    .layout-menu {
      li {
        a {
          border-top: 1px solid #484848;
          color: #fff;
          span {
            color: white!important;
          }
        }
      }
    }
  }
}
