<!-- <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title font-blue-madison"><b>RE-QUOTE</b></h4>
</div> -->

<div class="modal-body">
	<div class="form-group">
		<div class="portlet" style="height:30px">
	       
	        <div class="col-md-4 row">
	            <label class="control-label col-md-4">Quote By Date</label>

				<span ng-init="$ctrl.initMask(true)"></span>

				<div class="col-md-8">
					<!-- <span ng-init="$ctrl.initMask(true)"></span> -->
				    <div class="form_input form_input_{{ $ctrl.sellerDetails.Trader.name }} input-group ">

				        <!-- value initialization -->
				        <!-- $ctrl.eta -->
				        <span ng-init="$ctrl.setValue({
				            path: 'quoteByDate',
				            root: '$ctrl',
				            pickerId: 'quoteByDate',
				        }, 1, false)" ng-if="$ctrl.quoteByDate"></span>

				        <!-- manual input -->
				        <input class="formatted-date-input date-time"
				        ng-model="$ctrl.formatDates.quoteByDate" 
				        ng-change="$ctrl.setValue({
				            path: 'quoteByDate',
				            root: '$ctrl',
				            pickerId: 'quoteByDate',
				        }, 2, false);" 
				        ng-focus="inputFocus['quoteByDate'] = true; $event.stopPropagation(); event = $event" 
				        ng-blur="inputFocus['quoteByDate'] = false;"
				        ng-invalid="{{ $ctrl.invalidDate['quoteByDate'] && !inputFocus['quoteByDate'] }}"
				        name="quoteByDate">
				        <!-- manual input -->
				    
				        <span class="input-group-btn date form_meridian_datetime formatted-date-button" id="quoteByDate">
				            <!-- datepicker input -->
				            <input class="form-control hidden-form-input date-time" required only-date="false" readonly ng-model="$ctrl.quoteByDate" visibility="hidden" ng-change="$ctrl.setValue({
				                path: 'quoteByDate',
				                root: '$ctrl',
				                pickerId: 'quoteByDate',
				            }, 1, false); $ctrl.invalidDate['quoteByDate'] = false;"
				            />
				            <!-- datepicker input -->
				            <button class="btn date-set" type="button">
				                <i class="fa fa-calendar"></i>
				            </button>
				        </span>
				    </div>
				</div>




	            <!-- <div class="input-group col-md-8">
	            
	            
	            				<span ng-init="$ctrl.setValue({
	            				    path: 'quoteByDate',
	            				    root: '$ctrl',
	            				    pickerId: 'quoteByDate',
	            				    fieldId: 'quoteByDate'
	            				}, 1, false)" ng-if="$ctrl.quoteByDate"></span>
	            
	            				<input class="formatted-date-input date-time"
	            					ng-model="$ctrl.formatDates.quoteByDate" 
	            					ng-change="$ctrl.setValue({
	            					    path: 'quoteByDate',
	            					    root: '$ctrl',
	            					    pickerId: 'quoteByDate',
	            					    fieldId: 'quoteByDate'
	            					}, 2, false); $ctrl.etaChanged(location, locationIdx)" 
	            					ng-focus="inputFocus['quoteByDate'] = true; $event.stopPropagation(); event = $event" 
	            					ng-blur="inputFocus['quoteByDate'] = false;"
	            					ng-invalid="{{ CM.invalidDate['quoteByDate'] && !inputFocus['quoteByDate'] && $ctrl.overrideInvalidDate['quoteByDate'] }}"
	            					ng-disabled="$ctrl.disableAllFields"
	            					name="quoteByDate">
	            
	            
	                <input class="form-control" ng-model="$ctrl.quoteByDate" readonly="" st-date-format/>
	                <i ng-show="$ctrl.quoteByDate && !$ctrl.isQuoteDateAutoPopulated" class="fa fa-close font-red" ng-click="$ctrl.quoteByDate = null"style="position: absolute;z-index: 999;right: 45px;top: 9px;" ></i>
	                <span class="input-group-btn formatted-date-button date form_meridian_datetime" id="quoteByDate">
	                                    <input class="form-control hidden-form-input" name="quoteByDate" disabled id="id_quoteByDate"  date-before="{{ location.etd }}" ng-model="$ctrl.quoteByDate" st-date-format required ng-disabled="$ctrl.disableAllFields" visibility="hidden"; ng-change="$ctrl.setValue({
	            						    path: 'quoteByDate',
	            						    root: '$ctrl',
	            						    pickerId: 'quoteByDate',
	            						    fieldId: 'quoteByDate'
	            						}, 1, false);" >
	                    <button class="btn date-set" type="button">
	                        <i class="fa fa-calendar"></i>
	                    </button>
	                </span>
	            </div> -->
	        </div>

	        <div class="col-md-4 row">
	            <label class="control-label col-md-3">Time Zone</label>
	            <div class="input-group col-md-9 pull-left center-block">
	                <div class="dropdown">
		            	<select name="" id="" ng-model="$ctrl.quoteByTimezone" ng-change="$ctrl.setQuoteByTimezone($ctrl.quoteByTimezone.id, $ctrl.quoteByTimezone.name)"" ng-options="item as item.name for item in $ctrl.lists.TimeZone track by item.id" class="form-control"></select>
	                    <!-- <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{$ctrl.quoteByTimezone.name}} <span class="caret"></span></button> -->
	                    <!-- <ul class="dropdown-menu dropdown-menu-right st-dropdown-timezone">
	                        <li ng-repeat="timeZone in $ctrl.lists.TimeZone"><a ng-click="$ctrl.setQuoteByTimezone(timeZone.id, timeZone.name)">{{timeZone.name}}</a></li>
	                    </ul> -->
	                </div>
	            </div> 
	        </div>
	    	<div class="col-md-4 row">
	            <label class="control-label col-md-4">Comments</label>
	            <div class="input-group col-md-8">
	    		      <input class="form-control" ng-model="$ctrl.internalComments"></input>
	            </div>
	    	</div>
	    </div>
	</div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="icon" ng-click="$ctrl.requotePreviewEmail()" > <i class="glyphicon glyphicon-envelope"></i> </a> &nbsp; &nbsp;
    <button type="button" data-dismiss="modal" class="btn btn-outline orange" ng-click="$ctrl.sendRequote()">Send</button>
</div>
