
<div class="modal-body">
	<div class="form-group">
		<div class="portlet" style="height:30px">
	       
	        <div class="col-md-4 row">
	            <label class="control-label col-md-4">Quote By Date</label>

				<div class="col-md-8">
				    <div class="form_input form_input_{{ $ctrl.sellerDetails.Trader.name }} input-group ">
				        <input class="form-control date-mask new-date-picker"
				        type="text"
				        ng-model="$ctrl.quoteByDate" 
				        name="quoteByDate"
				        id="quoteByDateRequote"
                        new-date-picker
                        picker-type="dynamic">
				    </div>
				</div>
	        </div>

	        <div class="col-md-4 row">
	            <label class="control-label col-md-3">Time Zone</label>
	            <div class="input-group col-md-9 pull-left center-block">
	                <div class="dropdown">
		            	<select name="" id="" ng-model="$ctrl.quoteByTimezone" ng-change="$ctrl.setQuoteByTimezone($ctrl.quoteByTimezone.id, $ctrl.quoteByTimezone.name)"" ng-options="item as item.name for item in $ctrl.lists.TimeZone track by item.id" class="form-control"></select>

	                </div>
	            </div> 
	        </div>
	    	<div class="col-md-4 row">
	            <label class="control-label col-md-4">Comments</label>
	            <div class="input-group col-md-8">
	    		      <input class="form-control" ng-model="$ctrl.internalComments"></input>
	            </div>
	    	</div>
	    </div>
	</div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="icon" ng-click="$ctrl.requotePreviewEmail()" > <i class="glyphicon glyphicon-envelope"></i> </a> &nbsp; &nbsp;
    <button type="button" data-dismiss="modal" class="btn btn-outline orange" ng-click="$ctrl.sendRequote()">Send</button>
</div>
