
<div class="row">
    <div class="col-md-6">
        <div class="form-group  row">
            <label for="schedule_description_add" class="schedule_description_add_label">
                {{ CM.app_id + '.SCHEDULE_DESCRIPTION' | translate }}
                <span  class="orange-txt">
                    *
                </span>
            </label>
            <div class="input-group form_input_schedule_description_add" ng-class="!field.Label ? 'no-label' : ''">
                <input type="text" class="form-control " name="schedule_description_add" id="schedule_description_add" ng-model="formValues.pricingScheduleOptionDateRange.name"/>
                <span class="input-group-btn">
                    <a class="btn default" ng-click="addSchedule('pricingScheduleOptionDateRange')" ng-disabled="formValues.pricingScheduleOptionDateRange.id > 0 && !formValues.pricingScheduleOptionDateRange.isDeleted || !formValues.pricingScheduleOptionDateRange.name ">
                        Add Schedule
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group row">
            <label  for="pricing_schedule_from" class="pricing_schedule_from_label">
                {{ CM.app_id + '.DATE' | translate }}
                <span class="orange-txt" >*</span>
            </label> 
            <div class="form_input form_input_pricing_schedule_from">
                <div class="input-group" ng-class="field.disabled ? 'disabled' : ''">
                    <input
                        class="form-control date-mask new-date-picker"
                        ng-model="formValues.pricingScheduleOptionDateRange.from"
                        name="pricing_schedule_from"
                        id="pricing_schedule_from"
                        new-date-picker
                        picker-type="dynamic">
                </div>
                <span class="help-block">
                    {{ field.Description }}     
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            <label  for="pricing_schedule_to" class="pricing_schedule_to_label">
                -
            </label>
            <div class="form_input form_input_pricing_schedule_to">
                <div class="input-group" ng-class="field.disabled ? 'disabled' : ''">
                    <input
                        class="form-control date-mask new-date-picker"
                        ng-model="formValues.pricingScheduleOptionDateRange.to" 
                        name="pricing_schedule_to"
                        id="pricing_schedule_to"
                        new-date-picker
                        picker-type="dynamic">
                </div>
                <span class="help-block">
                    {{ field.Description }}
                </span>
            </div>
        </div>
    </div>
</div>
  <div class="row">
    <div class="col-md-12">
        <div class="form_input form_input_pricingSchedule form-group row">
            <div class="mt-checkbox-list">
                <label class="mt-checkbox">
                    <input type="checkbox" name="inlineRadiospricingSchedule[]"  id="allowsPricingOnHoliday"  ng-model="formValues.pricingScheduleOptionDateRange.allowsPricingOnHoliday"/>
                    Allow Pricing on Holidays
                    <span></span>
                </label>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-title">
            <span class="caption-subject">
                Pricing Day Calendar and Holiday Rules
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <span ng-if="!formValues.pricingScheduleOptionDateRange.sundayHolidayRule" ng-init="formValues.pricingScheduleOptionDateRange.sundayHolidayRule = options.HolidayRule[1]"></span>
        <div class="form-group row" >
            <label for="HolidayRuleHolidayRule" class="formula_flat_percentage_label" class="simpleLookupLabel">
                {{ CM.app_id + '.SUNDAY' | translate }}
            </label>
            <div class="input-group form_input form_input_formula_flat_percentage">
                <select class="form-control bs-select changeIT" ng-options="item as item.name for item in options.HolidayRule track by item.id" ng-model="formValues.pricingScheduleOptionDateRange.sundayHolidayRule" ng-selected="item.name == 'Next'"></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
         <span ng-if="!formValues.pricingScheduleOptionDateRange.mondayHolidayRule" ng-init="formValues.pricingScheduleOptionDateRange.mondayHolidayRule = options.HolidayRule[1]"></span>
        <div class="form-group row" >
            <label for="HolidayRuleHolidayRule" class="formula_flat_percentage_label" class="simpleLookupLabel">
                {{ CM.app_id + '.MONDAY' | translate }}
            </label>
            <div class="input-group form_input form_input_formula_flat_percentage">
                <select class="form-control bs-select changeIT" ng-options="item as item.name for item in options.HolidayRule track by item.id" ng-model="formValues.pricingScheduleOptionDateRange.mondayHolidayRule" ></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <span ng-if="!formValues.pricingScheduleOptionDateRange.tuesdayHolidayRule" ng-init="formValues.pricingScheduleOptionDateRange.tuesdayHolidayRule = options.HolidayRule[1]"></span>
        <div class="form-group row" >
            <label for="HolidayRuleHolidayRule" class="formula_flat_percentage_label" class="simpleLookupLabel">
                {{ CM.app_id + '.TUESDAY' | translate }}
            </label>
            <div class="input-group form_input form_input_formula_flat_percentage">
                <select class="form-control bs-select changeIT" ng-options="item as item.name for item in options.HolidayRule track by item.id" ng-model="formValues.pricingScheduleOptionDateRange.tuesdayHolidayRule" ></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <span ng-if="!formValues.pricingScheduleOptionDateRange.wednesdayHolidayRule" ng-init="formValues.pricingScheduleOptionDateRange.wednesdayHolidayRule = options.HolidayRule[1]"></span>
        <div class="form-group row" >
            <label for="HolidayRuleHolidayRule" class="formula_flat_percentage_label" class="simpleLookupLabel">
                {{ CM.app_id + '.WEDNESDAY' | translate }}
            </label>
            <div class="input-group form_input form_input_formula_flat_percentage">
                <select class="form-control bs-select changeIT" ng-options="item as item.name for item in options.HolidayRule track by item.id" ng-model="formValues.pricingScheduleOptionDateRange.wednesdayHolidayRule" ></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <span ng-if="!formValues.pricingScheduleOptionDateRange.thursdayHolidayRule" ng-init="formValues.pricingScheduleOptionDateRange.thursdayHolidayRule = options.HolidayRule[1]"></span>
        <div class="form-group row" >
            <label for="HolidayRuleHolidayRule" class="formula_flat_percentage_label" class="simpleLookupLabel">
                {{ CM.app_id + '.THURSDAY' | translate }}
            </label>
            <div class="input-group form_input form_input_formula_flat_percentage">
                <select class="form-control bs-select changeIT" ng-options="item as item.name for item in options.HolidayRule track by item.id" ng-model="formValues.pricingScheduleOptionDateRange.thursdayHolidayRule" ></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
         <span ng-if="!formValues.pricingScheduleOptionDateRange.fridayHolidayRule" ng-init="formValues.pricingScheduleOptionDateRange.fridayHolidayRule = options.HolidayRule[1]"></span>
        <div class="form-group row" >
            <label for="HolidayRuleHolidayRule" class="formula_flat_percentage_label" class="simpleLookupLabel">
                {{ CM.app_id + '.FRIDAY' | translate }}
            </label>
            <div class="input-group form_input form_input_formula_flat_percentage">
                <select class="form-control bs-select changeIT" ng-options="item as item.name for item in options.HolidayRule track by item.id" ng-model="formValues.pricingScheduleOptionDateRange.fridayHolidayRule" ></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
         <span ng-if="!formValues.pricingScheduleOptionDateRange.saturdayHolidayRule" ng-init="formValues.pricingScheduleOptionDateRange.saturdayHolidayRule = options.HolidayRule[1]"></span>
        <div class="form-group row" >
            <label for="HolidayRuleHolidayRule" class="formula_flat_percentage_label" class="simpleLookupLabel">
                {{ CM.app_id + '.SATURDAY' | translate }}
            </label>
            <div class="input-group form_input form_input_formula_flat_percentage">
                <select class="form-control bs-select changeIT" ng-options="item as item.name for item in options.HolidayRule track by item.id" ng-model="formValues.pricingScheduleOptionDateRange.saturdayHolidayRule" ></select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="portlet light">
        <div class="portlet-title">
            <span class="caption-subject">
                Event Day Calendar and Holiday Rules
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form_input form_input_holiday form-group row">
            <div class="mt-checkbox-list">
                <label class="mt-checkbox">
                    <input type="checkbox" name="inlineRadiosholiday[]"  id="assumeHolidayOnInstruments"  ng-model="formValues.pricingScheduleOptionDateRange.assumeHolidayOnInstruments" ng-disabled="formValues.formulaType.id != 2"/>
                    Assume holiday if any one instrument is on holiday
                    <span></span>
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <span ng-if="!formValues.pricingScheduleOptionDateRange.sundayHolidayRule" ng-init="formValues.pricingScheduleOptionDateRange.sundayHolidayRule = options.HolidayRule[1]"></span>
        <div class="form-group row" >
            <label for="HolidayRuleHolidayRule" class="formula_flat_percentage_label" class="simpleLookupLabel">
                {{ CM.app_id + '.SUNDAY' | translate }}
            </label>
            <div class="input-group form_input form_input_formula_flat_percentage">
                <select class="form-control bs-select changeIT" ng-options="item as item.name for item in options.HolidayRule track by item.id" ng-model="formValues.pricingScheduleOptionDateRange.sundayHolidayRule" ng-selected="item.name == 'Next'"></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
         <span ng-if="!formValues.pricingScheduleOptionDateRange.mondayHolidayRule" ng-init="formValues.pricingScheduleOptionDateRange.mondayHolidayRule = options.HolidayRule[1]"></span>
        <div class="form-group row" >
            <label for="HolidayRuleHolidayRule" class="formula_flat_percentage_label" class="simpleLookupLabel">
                {{ CM.app_id + '.MONDAY' | translate }}
            </label>
            <div class="input-group form_input form_input_formula_flat_percentage">
                <select class="form-control bs-select changeIT" ng-options="item as item.name for item in options.HolidayRule track by item.id" ng-model="formValues.pricingScheduleOptionDateRange.mondayHolidayRule" ></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <span ng-if="!formValues.pricingScheduleOptionDateRange.tuesdayHolidayRule" ng-init="formValues.pricingScheduleOptionDateRange.tuesdayHolidayRule = options.HolidayRule[1]"></span>
        <div class="form-group row" >
            <label for="HolidayRuleHolidayRule" class="formula_flat_percentage_label" class="simpleLookupLabel">
                {{ CM.app_id + '.TUESDAY' | translate }}
            </label>
            <div class="input-group form_input form_input_formula_flat_percentage">
                <select class="form-control bs-select changeIT" ng-options="item as item.name for item in options.HolidayRule track by item.id" ng-model="formValues.pricingScheduleOptionDateRange.tuesdayHolidayRule" ></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <span ng-if="!formValues.pricingScheduleOptionDateRange.wednesdayHolidayRule" ng-init="formValues.pricingScheduleOptionDateRange.wednesdayHolidayRule = options.HolidayRule[1]"></span>
        <div class="form-group row" >
            <label for="HolidayRuleHolidayRule" class="formula_flat_percentage_label" class="simpleLookupLabel">
                {{ CM.app_id + '.WEDNESDAY' | translate }}
            </label>
            <div class="input-group form_input form_input_formula_flat_percentage">
                <select class="form-control bs-select changeIT" ng-options="item as item.name for item in options.HolidayRule track by item.id" ng-model="formValues.pricingScheduleOptionDateRange.wednesdayHolidayRule" ></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <span ng-if="!formValues.pricingScheduleOptionDateRange.thursdayHolidayRule" ng-init="formValues.pricingScheduleOptionDateRange.thursdayHolidayRule = options.HolidayRule[1]"></span>
        <div class="form-group row" >
            <label for="HolidayRuleHolidayRule" class="formula_flat_percentage_label" class="simpleLookupLabel">
                {{ CM.app_id + '.THURSDAY' | translate }}
            </label>
            <div class="input-group form_input form_input_formula_flat_percentage">
                <select class="form-control bs-select changeIT" ng-options="item as item.name for item in options.HolidayRule track by item.id" ng-model="formValues.pricingScheduleOptionDateRange.thursdayHolidayRule" ></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
         <span ng-if="!formValues.pricingScheduleOptionDateRange.fridayHolidayRule" ng-init="formValues.pricingScheduleOptionDateRange.fridayHolidayRule = options.HolidayRule[1]"></span>
        <div class="form-group row" >
            <label for="HolidayRuleHolidayRule" class="formula_flat_percentage_label" class="simpleLookupLabel">
                {{ CM.app_id + '.FRIDAY' | translate }}
            </label>
            <div class="input-group form_input form_input_formula_flat_percentage">
                <select class="form-control bs-select changeIT" ng-options="item as item.name for item in options.HolidayRule track by item.id" ng-model="formValues.pricingScheduleOptionDateRange.fridayHolidayRule" ></select>
            </div>
        </div>
    </div>
    <div class="col-md-3">
         <span ng-if="!formValues.pricingScheduleOptionDateRange.saturdayHolidayRule" ng-init="formValues.pricingScheduleOptionDateRange.saturdayHolidayRule = options.HolidayRule[1]"></span>
        <div class="form-group row" >
            <label for="HolidayRuleHolidayRule" class="formula_flat_percentage_label" class="simpleLookupLabel">
                {{ CM.app_id + '.SATURDAY' | translate }}
            </label>
            <div class="input-group form_input form_input_formula_flat_percentage">
                <select class="form-control bs-select changeIT" ng-options="item as item.name for item in options.HolidayRule track by item.id" ng-model="formValues.pricingScheduleOptionDateRange.saturdayHolidayRule" ></select>
            </div>
        </div>
    </div>
</div>
