//Main Layout
$panelheadertextcolor:#337AB7;
$searchicon:#337AB7;
$searchcolor:#C2CAD8;
$footertext:#B8B5B6;

$default-textcolor:#333333;
$label-textcolor:#364150;
$label-bgcolor:#f0f8ff;
$label-bgcolor-danger:#E9585B;
$icon-green:#09B81B;
$icon-red:#B00B0B;
$icon-orange:#F2994A;

$shiptech-blue:#1FBBE6;
$line-graycolor:#DFDFDF;
$afterelementcolor:#99a5b6;


//Button 
$yellowbutton-bordercolor:#FFAF40;
$yellowbutton-textcolor:#FFAF40;
$greenbutton-bordercolor:#27AE60;
$greenbutton-textcolor:#27AE60;
$graybutton-bgcolor:#919B9A;


//bg-color

$bg-white:#FFFFFF;
$bg-white-shade:#EEEEEE;

//Font-size

$font-xlarge: 18px;
$font-large: 16px;
$font-medium: 14px;
$font-ml:15px;
$font-small: 12px;
$font-xsmall: 10px;

//Graytheme Color
$wunderbar-bottomcolor:#d8d8dc;

//Grid Color
$grid-hover-color:#f0f3f6;
$grid-border-color:#E7ECF1;
$grid-defaulttext-color:#333333;
$grid-link-color:#1FBBE6;
$grid-header-bgblue:#F0F8FF;
$uom-border-color:#BAC3D3;
$grid-header-bggray:#FBFCFD;
$gridcell-shadow-color:#eaecee;
$grid-headerinput-bordercolor:#BAC3D3;

//Icon
$arrowiconbgcolor:#DDE4EC;