/* ----- VARIABLES SCSS ------
 Contains all the color & size variables
*/

/*---- BASE COLORS START ----*/

$red            : #EB5757;
$green          : #27AE60;
$blue           : #1CABE0;
$light-blue     : #74CDEA;
$dark           : #37414F;
$black          : #333333;
$dark-grey      : #4F4F4F;
$medium-grey    : #A8A8A8;
$grey           : #BDBDBD;
$light-grey     : #F4F4F4;
$white          : #FFFFFF;
$medium-blue    : #1D9FFF;
/*---- BASE COLORS END ----*/



/* SECONDARY COLORS START */
$green-button       : #27AE60;
$grey-button        : #BDBDBD;
$text-muted         : #DBDBDB;
$table-row-grey     : #FCFCFE;
$mat-tab-inkbar     : #1D9FFF;
$menu-desc          : #616C7C;
$red-border         : #EB5757;
$green-border       : #27AE60;
$yellow-badge-color : #B48D02;
$chip-grey          : #E0E0E0;
//$grey-text-color    : #A8A8A8;
/* SECONDARY COLORS END */


/* REVISED COLORS V2.0 */
$dark2             : #1D2A45;
$new-light-grey    : #D9DBDE;
$light-grey2       : #E0E0E0;
$light-grey3       : #828282;
$table-row-grey2   : #FCFCFE;
$link-blue         : #4A71C2;
$light-blue        : #74CDEA;
$green2            : #5EB591;
$green3            : #96CF55;
$green4            : #43B05C;
$grey1             : #E5E5E5;
$border-color      : #EAECEE;
$tbl-border-color  : #E9EAEC;
$new-light-grey2   : #DADCDE;
$new-light-grey3   : #E9EAEC;
$medium-grey1      : #C4C4C4;
$dark-grey2        : #E8E8E8;
$dark-grey3        : #415A6B;
$dark-grey4        : #37414F;
$red1              : #EA0C0C;
$checkbox-bg       : #A8A8A8;
$orange            : #F2994A;
$black1            : #656565;
$medium-grey2      : #828282;
/* REVISED COLORS V2.0 */



/* OTHERS */
$body-font-size         : 14px;
$btn-border-radius      : 5px !important;



/* AG-GRID VARIABLES */
$chipbase                           : #37414f;
$chipprimary                        : #27ae60;
$chipsecondary                      : #e17a50;
$chiplight                          : #96cf55;
$chipcritical                       : #eb5757;
$chipround                          : #74cdea;
$chipfont                           : white;
$gridparentheadercolor              : #1D2A45;
$gridborder                         : #EAECEE;
$gridresizer                        : #b9b9b9;
$gridpagination                     : #74CDEA;
$gridpaginationbg                   : white;
$gridpaginationfont                 : #828282;
$gridrow_evenbg                     : #FCFCFE;
$grid_validrow_bg                   : #edffe8;
$grid_rowhover                      : #edffe8;
$grid_rowselection_ribbon           : #1CABE0;//E8F4FF
$grid_rowselection                  : #E8F4FF;
$grid_rowselection_success_ribbon   : #5EB591; 
$grid_rowselection_success          : #EDFFE8; 
$grid_rowselection_error            : rgb(255, 232, 232); 

$dark3                              : #476987;
$dark4                              : #2F3845;
$grey2                              : #8F9BAB;
$denim                              : #5780A6;
