/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('open-sans-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('open-sans-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('open-sans-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('open-sans-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('open-sans-v15-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('open-sans-v15-latin-600.woff') format('woff'), /* Modern Browsers */
       url('open-sans-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('open-sans-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('open-sans-v15-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('Roboto-Black.ttf'); /* IE9 Compat Modes */
  src: local('Roboto-Black.ttf'), local('Roboto-Black.ttf'),
       url('Roboto-Black.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('Roboto-Bold.ttf'); /* IE9 Compat Modes */
  src: local('Roboto-Bold.ttf'), local('Roboto-Bold.ttf'),
       url('Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('Roboto-Medium.ttf'); /* IE9 Compat Modes */
  src: local('Roboto-Medium.ttf'), local('Roboto-Medium.ttf'),
       url('Roboto-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('Roboto-Regular.ttf'); /* IE9 Compat Modes */
  src: local('Roboto-Regular.ttf'), local('Roboto-Regular.ttf'),
       url('Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('Roboto-Light.ttf'); /* IE9 Compat Modes */
  src: local('Roboto-Light.ttf'), local('Roboto-Light.ttf'),
       url('Roboto-Light.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('Roboto-Thin.ttf'); /* IE9 Compat Modes */
  src: local('Roboto-Thin.ttf'), local('Roboto-Thin.ttf'),
       url('Roboto-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
}
