<!-- BEGIN HEADER -->
<div ng-if="!state.is(STATE.SUPPLIER_PORTAL)" class="page-header navbar navbar-fixed-top main-navbar">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="#">
                <img ng-if="!tenantSettings.shiptechLite" src="img/newLogo.png" alt="logo" class="logo-default"/>
                <img ng-if="tenantSettings.shiptechLite"  src="img/logo-shiptech-lite.png" alt="logo" class="logo-default-lite"/>
            </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>


        <p class="navbar-text">
            {{stateParams.title ? stateParams.title : (state.params.title | decodeReadOnly)}}
            <span id="entity-title"> {{state.current.params.title && !state.params.title ? state.current.params.title : ''}} </span>

    		<span id="entity-status-1" class="entity-status" ng-if="state.params.status.name" style="background:{{state.params.status.bg}};
                                                                	        	color:{{state.params.status.color}}
                                                                	        	">
    	        {{ state.params.status.displayName ? state.params.status.displayName : state.params.status.name }}
            </span>
            <span id="entity-status-2" class="entity-status" ng-if="state.params.status_labs" style="background:{{state.params.status_labs.bg}};
                                                                                color:{{state.params.status_labs.color}}">
                {{ state.params.status_labs.displayName ? state.params.status_labs.displayName : state.params.status_labs.name }}
            </span>




        </p>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a   class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu main-menu-icons">
            <ul class="nav navbar-nav pull-right">

                <li style="padding: 5px 0px 5px 7px;" ng-if="smartTraderLink" class="dropdown main-menu-item user-menu-item">
                    <a href="{{ smartTraderLink }}" target="_blank" class="dropdown-toggle user-menu">
                        <i class="fa fa-location-arrow"></i>
                    </a>
                </li>

               <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown main-menu-item user-menu-item">
                    <span class="username" ng-cloak>
                       {{ userProfile | decodeReadOnly}}
                    </span>
                    <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="icon-user"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-click="logout()">
                            <i class="icon-key"></i> Log Out </a>
                        </li>
                    </ul>
                </li>
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <li  style="border-right: 1px solid #364150" ng-controller="Controller_Alerts as CA" ng-init="notificationAction('stats')" class="dropdown dropdown-extended dropdown-notification main-menu-item" id="header_notification_bar">
                    <span >

                        <div style="background-color: black !important;" class="unread-notifications" ng-if="liveNotificationsList">
                            <span >
                            {{liveNotificationsList.length}}
                            </span>
                         </div>
                    </span>

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="icon-bell"></i>
                    </a>
                    <ul class="dropdown-menu">

                        <span ng-controller="Controller_Alerts as CA" ng-init="liveNotifications()">
                        </span>
                        <li>
                            <div class="col-sm-12">
                                <p>
                                    {{liveNotificationsList.length}} pending notifications
                                <span style="float:right"><a href="/#/alerts/notifications">view all</a></span>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li ng-controller="Controller_Alerts as CA">
                            <span ng-init="getNotificationsList()"></span>
                            <ul class="dropdown-menu-list scroller" style="height: 250px; overflow: auto">
                                <li ng-repeat="(index, notification) in liveNotificationsList">
                                    <a class="clearfix">
                                    {{notification.message}}
                                    <span class="time" ng-bind="formatDate(notification.addedAt)"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- END NOTIFICATION DROPDOWN -->
                <li class="dropdown main-menu-item user-menu-item" style="border-left: none; padding: 8px; top: -2px;">
                    <a href="{{ userManualLink }}" target="_blank" class="dropdown-toggle user-menu">
                    <i class="fa fa-question"></i>
                    </a>
                </li>
                <!-- END USER LOGIN DROPDOWN -->

            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER
