<ngx-loading-bar [includeSpinner]="false"></ngx-loading-bar>
<router-outlet *ngIf="!isIframe"></router-outlet>
<app-developer-toolbar *ngIf="!isProduction"></app-developer-toolbar>
<!-- Note: In case we navigate directly to a route which takes time to load because it's either big or has a resolver which takes
     Note: time, the screen will show blank because the layout-main is displayed by the main module component, which is not shown
     Note: until all child routes are loaded and resolved. -->
<div class="bootstrap-loading" *ngIf="isLoading">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
