<div class="caption" style="margin-top:40px;">
	<h4 class="font-blue-madison ng-binding">
	    Default Conversion Details
	</h4>
</div>
<div  class="custom-hardcoded-table ng-scope" ng-init="CM.getAdditionalCostsComponentTypes()">
    <table class="table-body" style="width:100%">
        <thead>
            <tr>
				<td class="padding"><b>Product</b></td>
				<td class="padding"><b>Mass UOM</b></td>
				<td class="padding"><b>Conversion Value</b></td>
				<td class="padding"><b>Volume UOM</b></td>
                <td class="padding"><b>Conversion Factor</b></td>
            </tr>
        </thead>
        <tbody>
        	<tr ng-repeat="(key, value) in formValues.products[$index].conversionFactors " ng-if="!value.isDeleted">
        		<td class="padding">{{value.product.name}}</td>
        		<td class="conversion-table">
        			<select name="Product {{$index}} mass UOM" ng-model="value.massUom" ng-options="item as item.name for item in vm.listsCache.UomMass track by item.id" class="form-control" ng-disabled="value.contractConversionFactorOptions.id == 3 || (formValues.hasInvoicedOrder && value.contractConversionFactorOptions.id == 2) || (formValues.status && formValues.status.name == 'Confirmed' && value.contractConversionFactorOptions.id == 1)" ng-change="CM.saveConversionFactors(formValues.products[$index].conversionFactors[key])"></select>
        		</td>
        		<td class="conversion-table">
        			<input name="Product {{$index}} conversion value" ng-if="value.contractConversionFactorOptions.id == 2" type="text" class="form-control" ng-model="value.value" ng-disabled="value.contractConversionFactorOptions.id == 3 || (formValues.hasInvoicedOrder && value.contractConversionFactorOptions.id == 2) ||  (formValues.status && formValues.status.name == 'Confirmed' && value.contractConversionFactorOptions.id == 1)"  required="required" ng-change="CM.saveConversionFactors(formValues.products[$index].conversionFactors[key])">	
                    <input  name="Product {{$index}} conversion value" ng-if="value.contractConversionFactorOptions.id != 2" type="text" class="form-control" ng-model="value.value" ng-disabled="value.contractConversionFactorOptions.id == 3 || (formValues.hasInvoicedOrder && value.contractConversionFactorOptions.id == 2) || (formValues.status && formValues.status.name == 'Confirmed' && value.contractConversionFactorOptions.id == 1)" ng-change="CM.saveConversionFactors(formValues.products[$index].conversionFactors[key])">
        		</td>
        		<td class="conversion-table">
        			<select name="Product {{$index}} mass UOM" ng-model="value.volumeUom" ng-options="item as item.name for item in vm.listsCache.UomVolume track by item.id" class="form-control" ng-disabled="value.contractConversionFactorOptions.id == 3 || (formValues.hasInvoicedOrder && value.contractConversionFactorOptions.id == 2) ||  (formValues.status && formValues.status.name == 'Confirmed' && value.contractConversionFactorOptions.id == 1)" ng-change="CM.saveConversionFactors(formValues.products[$index].conversionFactors[key])"></select>
        		</td>
                <td class="conversion-table">
                    <select name="Product {{$index}} conversion factor" ng-model="value.contractConversionFactorOptions" ng-options="item as item.name for item in vm.listsCache.ContractConversionFactorOptions track by item.id" class="form-control" required="required"  ng-disabled="((formValues.hasInvoicedOrder && value.contractConversionFactorOptions.id == 2) || (formValues.status && formValues.status.name == 'Confirmed' && value.contractConversionFactorOptions.id != 2))" ng-change="CM.saveConversionFactors(formValues.products[$index].conversionFactors[key])"></select>
                </td>
        	</tr>
        </tbody>
    </table>
</div>