<div id="modal_close_bar">
    <button type="button" class="close" ng-click="prettyCloseModal()" aria-hidden="true"></button>
</div>

<div>
    <div class="top-no-padding">
        <div class="form_input form_input_date">
			<div class="row">
				<br><br>
				<div class="col-sm-12">
          <label for="date" class="simpleLookupLabel col-sm-4" style="max-height: initial;">
             <b>Effective From</b> 
          </label>
          <div class="input-group col-sm-8" id="effectiveFromDP" >
              <!-- manual input -->
              <input
                 ng-model="formValues.effectiveFrom"
                 name="effectiveFrom"
                 id="effectiveFrom"
                 new-date-picker
                 picker-type="date"
                 class="form-control date-mask new-date-picker">
          </div>								
				</div>
			</div>
        </div>   
        <div class="row">
            <div class="col-md-12 pull-left notesModalButtons">
                <button class="btn btn-default btn-outline orange" ng-disabled="!formValues.effectiveFrom" ng-click="sendExtendContractData()">OK</button>
                <button class="btn btn-default btn-outline gray" ng-click="prettyCloseModal()">Cancel</button>
            </div>
        </div>                         
    </div>
</div>