<general-header actions="{
	primary: [
		{ label: 'printContractPreview', type: 'printContractPreview', html_element : 'printContractPreview' },
		{ label: 'Template', type: 'contractPreviewDdw', html_element : 'contractPreviewDdw' },
         {label: 'Back to edit', type:'back'}
	],
    secondary: [{
        label: 'Main Page',
        type: 'goto',
        url: 'edit/:entity_id',
    },{
        label: 'Preview Contract',
        active: 'true'
    }, {
        label: 'Preview Email',
        type: 'goto',
         url: 'email-preview/:entity_id'
    }, {
        label: 'Deliveries',
        type: 'goto',
        url: 'productdelivery/:entity_id'
    }, {
        label: 'Documents',
        type: 'goto',
        url: 'documents/:entity_id'
    }, {
        label: 'Email Log',
        type: 'goto',
        url: 'email-log/:entity_id'
    }, {
        label: 'Audit Log',
        type: 'goto',
        url: 'audit-log/:entity_id'
    }, {
        label: 'Rate Seller',
        method: 'sellerRatingScreen()',
        extern:true,
    },{
       label: 'Terms & Conditions',
       type: 'goto',
       url: 'terms-conditions/:entity_id',
       ConditionalType: 'ng-show',
       Conditional: '((GH.entity_id > 0) && (GH.adminConfiguration.contract.areTermsAndConditionsAvailable))'
     }],
}"></general-header>

<div class="row">
    <div class="portlet light" id="contract-preview">
        <div class="portlet-title">
            <span class="caption-subject">Contract</span>
        </div>
        <div class="portlet-body" ng-controller="Controller_Master as CM">
            <div class="row">
                <div class="col-md-12">
					<span >
						<span ng-init="CM.addHeadeActions()">
							<span ng-bind-html="contractPreviewContent"></span>
						</span>
					</span>
                </div>
            </div>
        </div>
    </div>
</div>
<general-header class="footer-general-header" actions="{
primary: [
		{ label: 'printContractPreview', type: 'printContractPreview', html_element : 'printContractPreview' },
		{ label: 'Template', type: 'contractPreviewDdw', html_element : 'contractPreviewDdw' },
         {label: 'Back to edit', type:'back'}
	] }" color="'white'"></general-header>
<!--<span ng-init="CM.equalizeColumnsHeightGrouped('.group_ContractSummary', '.group_General_Contract, .group_contact, .group_contractualQuantity, .group_ProductDetails, .group_AdditionalCosts, .group_Penalty')" ng-controller="Controller_Master as CM"></span>-->
