<table class="table table-striped table-hover table-bordered table-condensed">
    <thead>
        <th id="generatedThId128">Request ID</th>
        <th id="generatedThId129">Vessel</th>
        <th id="generatedThId130">Port</th>
        <th id="generatedThId131">Product</th>
        <th id="generatedThId132">UOM</th>
        <th id="generatedThId133">Min. Quantity</th>
        <th id="generatedThId134">Max. Quantity</th>
        <th id="generatedThId135">Agreement Type</th>
        <th id="generatedThId136">Product Status</th>
    </thead>
    <tbody>
        <tr ng-repeat="row in ::voyageStop.request.requestDetail track by $index" ng-if="voyageStop.request&&voyageStop.request.id!=0">
            <td ng-bind="voyageStop.request.requestName" bind-once></td>
            <td ng-bind="voyageStop.request.vesselName" bind-once></td>
            <td ng-bind="row.location" bind-once></td>
            <td ng-bind="row.fuelOilOfRequest" bind-once></td>
            <td ng-bind="row.uom" bind-once></td>
            <td ng-bind="row.fuelMinQuantity | number: numberPrecision.amountPrecision" bind-once></td>
            <td ng-bind="row.fuelMaxQuantity | number: numberPrecision.amountPrecision" bind-once></td>
            <td ng-bind="row.agreementType" bind-once></td>
            <td ng-bind="row.statusCode" bind-once></td>
        </tr>
        <tr ng-if="!voyageStop.request||voyageStop.request.id==0">
            <td colspan="9" class="text-center">
                <i>No request data.</i>
            </td>
        </tr>
    </tbody>
</table>
