<div class="newStatusColoured contextmenu fade in" style="background-color: #fff"> 
	<div class="popover-header" style="background-color:{{$ctrl.rightClickPopoverData.vsVal.style['background-color']}}">
		<span>{{$ctrl.rightClickPopoverData.vsVal.request.vesselName}}</span>
	</div>
	<div class="content">
	
	<div class="voyageDetailSection" ng-repeat="(key,voyage) in $ctrl.rightClickPopoverData.bunkerPlansGroupedByVoaygeDetailId">
		<hr ng-if="$index > 0" style="margin: 5px 0;" >
		<table>
			<thead>
				<tr ng-if="!voyage.id">
					<th>
						<span >
							{{voyage[0].portCode}}
						</span>
					</th>
					<th ng-repeat="(key2, bunkerPlan) in voyage">
						{{bunkerPlan.productType}}
					</th>
				</tr>
				<tr ng-if="voyage.id">
					<th>
						{{voyage.portCode}}
					</th>
				</tr>				
			</thead>
			<tbody>
				<tr ng-if="!voyage.id">
					<td class="font-blue">
						{{key}}
					</td>
					<td class="cancelBunkerStrategyCell" ng-repeat="(key2, bunkerPlan) in voyage" style="border: 1px solid gainsboro;padding: 3px; position: relative;">
						{{bunkerPlan.supplyQuantity | number:numberPrecision.quantityPrecision}}
						<span ng-if="bunkerPlan.supplyStrategy" class="cancelBunkerStrategy" ng-click="$ctrl.confirmCancelBunkerStrategy(bunkerPlan, $ctrl.rightClickPopoverData.vsVal)" ><i class="fa fa-times"></i></span>
					</td>
				</tr>				

				<tr ng-if="voyage.id">
					<td class="font-blue">
						{{key}}
					</td>
					<td><a class="action-btn btn btn-sm btn-default" href="#/new-request/{{key}}" target="_blank"> <i class="fa fa-pencil"></i> Create Request</a></td>
					<td ng-if="$ctrl.rightClickPopoverData.groupedByVoyageDetailIdVoyageStops[key]"><span class="action-btn btn btn-sm btn-default" ng-click="$ctrl.addVoyageToContractPlanning($ctrl.rightClickPopoverData.groupedByVoyageDetailIdVoyageStops[key])"> <i class="fa fa-plus"></i> Add to Contract Planning </span></td>
				</tr>

			</tbody>			
		</table>
		<a ng-if="!voyage.id" class="action-btn btn btn-sm btn-default" href="#/new-request/{{key}}" target="_blank"> <i class="fa fa-pencil"></i> Create Request </a>
		<span ng-if="!voyage.id && $ctrl.rightClickPopoverData.groupedByVoyageDetailIdVoyageStops[key]" class="action-btn btn btn-sm btn-default" ng-click="$ctrl.addVoyageToContractPlanning($ctrl.rightClickPopoverData.groupedByVoyageDetailIdVoyageStops[key])"><i class="fa fa-plus"></i> Add to Contract Planning </span>
	</div>


	<!-- {{$ctrl.rightClickPopoverData.bunkerPlansGroupedByVoaygeDetailId}} -->


	</div>
	<div class="hidden">
		{{$ctrl.rightClickPopoverData}}
	</div>

</div>