<div data-ng-include="'components/schedule-content-menu/views/schedule-content-menu-component.html'" ng-controller="ScheduleContentMenuController"></div>
<span ng-init="initBreadcrumbsFilter()"></span>
<div class="row">
    <div class="portlet light" style="padding-top:0px">
        <tbody class="portlet-body" style="height: 100%; padding-top:0px">
        	<div class="asc_jqgrid__filters dataTables_info" style="padding: 10px 0 10px 0; width: 100%; display:flex; justify-content: space-between;">
        		<div>
        			Filter:  
        			<div class="filterCondition" ng-repeat="filter in appFilters" style="padding: 5px;">
        				<span style="margin-right: 5px;" ng-if="$index !== 0"> and </span>
        				{{ filter.displayName }}
        				<span class="filterVal" ng-if="filter.ColumnType == 'Date' || filter.ColumnType == 'DateOnly'"> {{ filter.conditionName }} {{ !filter.Values[1] ? $ctrl.convertDate(filter.Values[0]).split(" ")[0] : $ctrl.convertDate(filter.Values[0]).split(" ")[0] + " - " + $ctrl.convertDate(filter.Values[1]).split(" ")[0] }} </span>
        				<span class="filterVal" ng-if="filter.ColumnType != 'Date' && filter.ColumnType != 'DateOnly'"> {{ filter.conditionName }} {{ !filter.Values[1] ? filter.Values[0] : filter.Values[0] + " - " + filter.Values[1] }} </span>
        			</div>
        		</div>
        	</div>
        	<span class="hidden">
        		{{$ctrl.calculateFixedColumnsWidth()}}
        	</span>
        	<div class="" style="overflow: hidden;float: left;width: 100%;text-align: center;background: aliceblue;padding: 10px;border: 1px solid gainsboro;font-weight: bold;">
                <span class="btn btn-xs" ng-click="$ctrl.timeframeScrollClick($ctrl.SCROLL_DIRECTIONS.left)">
                    <i class="fa fa-caret-left font-grey-salt"></i>
                </span>
                <span>
                    {{ $ctrl.startDateString }}
                    <span ng-if="$ctrl.timeScale !== $ctrl.TIMESCALE.DAY">
                        To
                        {{ $ctrl.endDateString }}
                    </span>
                </span>
                <span class="btn btn-xs" ng-click="$ctrl.timeframeScrollClick($ctrl.SCROLL_DIRECTIONS.right)">
                    <i class="fa fa-caret-right font-grey-salt"></i>
                </span>
        	</div>
        		
        	<div class="schedule-table-wrapper">
	            <table ng-if="$ctrl.scheduleDashboardCalendarColumns && $ctrl.calendarDataRows" class="table table-striped table-hover table-bordered table-condensed st-schedule-calendar-table" id="schedule_calendar_table" width="100%" style="calc(100vh - 470px);">
	                <thead>
	<!--                     <tr>
	                        <th data-orderable="false" colspan="{{1 - $ctrl.hiddenCalendarColumns}}">
	                        </th>
	                        <th data-orderable="false" colspan="{{ $ctrl.timeframeSelectorColspan }}">
	                            <span class="btn btn-xs" ng-click="$ctrl.timeframeScrollClick($ctrl.SCROLL_DIRECTIONS.left)">
	                                <i class="fa fa-caret-left font-grey-salt"></i>
	                            </span>
	                            <span>
	                                {{ $ctrl.startDateString }}
	                                <span ng-if="$ctrl.timeScale !== $ctrl.TIMESCALE.DAY">
	                                    To
	                                    {{ $ctrl.endDateString }}
	                                </span>
	                            </span>
	                            <span class="btn btn-xs" ng-click="$ctrl.timeframeScrollClick($ctrl.SCROLL_DIRECTIONS.right)">
	                                <i class="fa fa-caret-right font-grey-salt"></i>
	                            </span>
	                        </th>
	                    </tr> -->
	                    <tr>
	                        <!-- <th class="calendarDataRowsLabel" ng-repeat="column in $ctrl.scheduleDashboardCalendarColumns">
	                            {{ column.caption | translate }}
	                        </th> -->
	                        <th class="calendarDataRowsLabelGrouped no-padding text-left" style="width:{{$ctrl.fixedColumnsWidth}};">
	                        	<div style="width:98px" ng-click="$ctrl.setCurrentColSort('serviceName')" class="cellContent pull-left text-left">
	                        		<i ng-if="$ctrl.currentColSort == '-serviceName' " class="fa fa-caret-down font-grey-salt"></i>
	                        		<i ng-if="$ctrl.currentColSort == 'serviceName' " class="fa fa-caret-up font-grey-salt"></i>
	                        		{{tenantSettings.serviceDisplayName.name == "Operator" ? "Operator" : "Service" }}</div>
								<div style="width:130px" ng-click="$ctrl.setCurrentColSort('vesselName')" class="cellContent pull-left text-left">
	                        		<i ng-if="$ctrl.currentColSort == '-vesselName' " class="fa fa-caret-down font-grey-salt"></i>
	                        		<i ng-if="$ctrl.currentColSort == 'vesselName' " class="fa fa-caret-up font-grey-salt"></i>								
									Vessel
								</div>
	                        	<div style="width:90px" ng-click="$ctrl.setCurrentColSort('buyerName')" ng-if="$ctrl.scheduleDashboardConfiguration.scheduleBuyerDisplay.name != 'No' " class="cellContent pull-left text-left">	
	                        		<i ng-if="$ctrl.currentColSort == '-buyerName' " class="fa fa-caret-down font-grey-salt"></i>
	                        		<i ng-if="$ctrl.currentColSort == 'buyerName' " class="fa fa-caret-up font-grey-salt"></i>
	                        		Buyer
	                        	</div>
	                        	<div style="width:90px" ng-click="$ctrl.setCurrentColSort('companyName')" ng-if="$ctrl.scheduleDashboardConfiguration.scheduleCompanyDisplay.name != 'No' " class="cellContent pull-left text-left">
	                        		<i ng-if="$ctrl.currentColSort == '-companyName' " class="fa fa-caret-down font-grey-salt"></i>
	                        		<i ng-if="$ctrl.currentColSort == 'companyName' " class="fa fa-caret-up font-grey-salt"></i>
	                        		{{tenantSettings.companyDisplayName.name == "Pool" ? "Pool" : "Company" }}
	                        	</div>
	                        </th>
	                        <!-- <th class="calendarDataRowsLabel no-padding vesselName" style="width:90px; max-width:90px;"><div class="cellContent">Vessel</div></th>
	                        <th class="calendarDataRowsLabel no-padding buyerName" style="width:90px; max-width:90px;" ng-if="$ctrl.scheduleDashboardConfiguration.scheduleBuyerDisplay.name != 'No' ">
	                        	<div ng-if="$ctrl.scheduleDashboardConfiguration.scheduleBuyerDisplay.name != 'No' " class="cellContent">Buyer</div>
	                        </th>
	                        <th class="calendarDataRowsLabel no-padding companyName" style="width:90px; max-width:90px;" ng-if="$ctrl.scheduleDashboardConfiguration.scheduleCompanyDisplay.name != 'No' " >
	                        	<div class="cellContent">{{tenantSettings.companyDisplayName.name == "Pool" ? "Pool" : "Company" }}</div>
	                        </th> -->

	                        <th ng-if="$ctrl.timeScale === $ctrl.TIMESCALE.DAY" ng-repeat="date in $ctrl.calendarDates track by $index" data-sortable="false" class="date" ng-class="{'today': $ctrl.calendarDates[$index].isNow}">
	                            <!-- **{{$index}}  -->
	                            {{ $ctrl.calendarDates[$index].hour }}
	                        </th>
	                        <th ng-if="$ctrl.timeScale !== $ctrl.TIMESCALE.DAY" ng-repeat="date in $ctrl.calendarDates track by $index" data-sortable="false" class="date dayColumn" ng-class="{'weekend': $ctrl.calendarDates[$index].isWeekend, 'today': $ctrl.calendarDates[$index].isNow}" style="width: 44px">
	                            <!-- ****{{$index}}  -->
	                            {{ $ctrl.calendarDates[$index].month }}
	                            <br ng-show="$ctrl.timeScale === $ctrl.TIMESCALE.DEFAULT"/>
	                            <span ng-show="$ctrl.timeScale === $ctrl.TIMESCALE.WEEK">
	                                -
	                            </span>
	                            {{ $ctrl.calendarDates[$index].day }}
	                            <br ng-show="$ctrl.timeScale === $ctrl.TIMESCALE.DEFAULT"/>
	                            <span ng-show="$ctrl.timeScale === $ctrl.TIMESCALE.WEEK">
	                                -
	                            </span>
	                            {{ $ctrl.calendarDates[$index].weekday | uppercase }}
	                        </th>
	                    </tr>
	                </thead>
	                <tbody vs-repeat="{latch: false}" style="overflow-anchor: none;">
	                    <tr role="row" ng-repeat="row in $ctrl.calendarDataRows track by $index">
	                        <td class="calendarDataRowsLabelGrouped" style="width:{{$ctrl.fixedColumnsWidth}}; padding:0!important">
	                            <div style="width:98px" class="serviceName cellContent pull-left" tooltip data-original-title="{{ row.serviceName }}">{{row.serviceName}}</div>
	                            <!-- <div class="fakeColContent">********************</div> -->
	                            <div style="width:130px" class="vesselName pull-left" cellContent  tooltip data-original-title="{{ row.vesselName }} : {{ row.defaultFuel }} : {{ row.defaultDistillate }}" >{{ row.vesselName }}</div>
	                            <div  style="width:90px" ng-if="$ctrl.scheduleDashboardConfiguration.scheduleBuyerDisplay.name != 'No' " class="buyerName cellContent pull-left" tooltip data-original-title="{{ row.buyerName }}" >{{ row.buyerName }}</div>
	                            <div style="width:90px" ng-if="$ctrl.scheduleDashboardConfiguration.scheduleCompanyDisplay.name != 'No' " class="companyName cellContent pull-left" tooltip data-original-title="{{ row.companyName }}" >{{ row.companyName }}</div>
	                        </td>

	                        <td class="dayColumn" ng-repeat="(key, voyageStop) in row.calendar  track by $index" id="voyageStop_{{ $index }}" data-voyage-stop-id = "{{ voyageStop.id }}"  ng-class="{'clickable': voyageStop.portCode}" ng-style="voyageStop.style" style="{{ $ctrl.calendarDates[$index].isWeekend && !$ctrl.calendarDates[$index].isNow ? ' background: #dcdcdc!important;' : ''; }}{{ $ctrl.calendarDates[$index].isNow ? 'background: #99cb82!important;' : ''; }} ;width: 44px; height: 20px;" class="voyageStopCell bg-white">
	                            <span id="{{ vsVal.id }}" ng-mouseover="$ctrl.hidePopovers(); $ctrl.initPopover(vsVal.id);" ng-repeat="(vsKey, vsVal) in voyageStop  | limitTo: 1 track by $index" data-toggle="popover"  data-content="{{ $ctrl.getPopoverMarkup($index, vsVal.id, vsVal.day, vsVal) }}" ng-style="vsVal.style" class="voyageStopItem pull-left" ng-right-click="$ctrl.showContextMenu($event, voyageStop, vsVal)">
	                                <span hidden>{{vsVal.hasComputedStrategy = $ctrl.checkIfHasSAPStrategy(voyageStop)}}</span>
	                                <span hidden>{{vsVal.hasSludge = $ctrl.checkIfHasSludge(voyageStop)}}</span>
	                                <!-- {{vsVal.hasComputedStrategy}} -->
	                                <span ng-if="vsVal.hasComputedStrategy" class="isSapStrategy" >
										*
	                                </span>
	                                <span ng-if="voyageStop.length > 1" class="expandPorts" ng-click="$ctrl.showMorePortsPopup($event, voyageStop)">
	                                    +
	                                </span>
	                                <span class="portCode {{vsVal.hasSludge ? 'hasSludgeProduct' : ''}}">
		                                {{ vsVal.portCode }}
	                                </span>
	                            </span>
	                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="dataTables_info" id="all_requests_table_info" role="status" aria-live="polite">
                    Showing {{ $ctrl.tableOptions.paginationStart + 1 }} to {{ Math.min($ctrl.tableOptions.paginationStart + $ctrl.tableOptions.pageLength,$ctrl.tableOptions.totalRows) }} of {{ $ctrl.tableOptions.totalRows }} entries
                </div>
                <div class="dataTables_paginate paging_input" id="all_requests_table_paginate">
                    <span class="first paginate_button" id="all_requests_table_first">
                        First
                    </span>
                    <span class="paginate_page">
                        Page
                    </span>
                    <span class="previous paginate_button" id="all_requests_table_previous" ng-click="$ctrl.setPage($ctrl.tableOptions.currentPage - 1)">
                        &lt;
                    </span>
                    <input class="paginate_input" type="text" ng-model="$ctrl.tableOptions.currentPage" ng-change="$ctrl.setPage($ctrl.tableOptions.currentPage)" ng-model-options='{ debounce: 1000 }'/>
                    <span class="next paginate_button" id="all_requests_table_next" ng-click="$ctrl.setPage($ctrl.tableOptions.currentPage + 1)">
                        &gt;
                    </span>
                    <span class="paginate_of"></span>
                    <span class="last paginate_button" id="all_requests_table_last">
                        Last
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="cancelStrategyModal fade bs-modal hide" tabindex="-1" role="dialog" style="transform: translateY(50%);" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridSystemModalLabel"><i class="fa fa-warning"></i> Warning</h4>
			</div>
			<div class="modal-body">
				<div>Vessel: <b>{{$ctrl.cancelStrategyModalData.vesselName}}</b></div> 
				<div>Port: <b>{{$ctrl.cancelStrategyModalData.portCode}}</b></div> 
				<div>ETA: <b>{{$ctrl.cancelStrategyModalData.eta}}</b></div>
				<br>
				<div>
					You expect to cancel <b>{{$ctrl.cancelStrategyModalData.fuelType}}</b> strategy to supply <b>{{$ctrl.cancelStrategyModalData.quantity}}</b> <b>{{$ctrl.cancelStrategyModalData.uom}}</b> in this port
				</div> 
				<br>
				<div>
					This action will inform SAP and the bunker plan will be recalculated.
				</div>
				<br>
				<div>Do you want to proceed?</div>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-sm-6">
						<button style="display: block; width: 100%" type="button" class="btn orange btn-outline confirmAction" data-dismiss="modal" ng-click="$ctrl.cancelStrategy($ctrl.cancelStrategyModalData.bunkerPlanId)">Yes</button>
					</div>
					<div class="col-sm-6">
						<button style="display: block; width: 100%" type="button" class="btn  default" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<style>

table#schedule_calendar_table  {
  position: relative;
  /*width: 700px;*/
  overflow: hidden;
  border-collapse: collapse;
}


/*thead*/
#schedule_calendar_table thead {
  position: relative;
  display: block; /*seperates the header from the body allowing it to be positioned*/
  /*width: 700px;*/
  overflow: visible;
}

#schedule_calendar_table thead tr{
    border-bottom: 1px solid #dde4ec;
}
#schedule_calendar_table thead th {
  min-width: 120px;
  height: 45px;
}

#schedule_calendar_table thead th:nth-child(1) {/*first cell in the header*/
  position: relative;
  display: block; /*seperates the first cell in the header from the header*/
}


/*tbody*/
#schedule_calendar_table tbody {
  position: relative;
  display: block; /*seperates the tbody from the header*/
  /*width: 700px;*/
  max-height: 620px;
  overflow: scroll;
}

#schedule_calendar_table tbody td {
  min-width: 120px;
}

#schedule_calendar_table tbody tr td:nth-child(1) {  /*the first cell in each tr*/
  position: relative;
  display: block; /*seperates the first column from the tbody*/
  height: 40px;
}

#schedule_calendar_table .dayColumn {
	max-width: 44px;
	min-width: 44px;
    padding: 0 !important;
    overflow: hidden;
    vertical-align: middle;	
}
#schedule_calendar_table .dayColumn>span{
	padding: 5px 0;
    min-width: 100%;
    text-overflow: ellipsis;
    font-size: 12px;	
    text-align: center;
}

.calendarDataRowsLabelGrouped {
	background: #fff;
	z-index: 99;
}
.calendarDataRowsLabelGrouped > div {
	min-width: 90px;
	width: 90px;
	height: 100%;
	border-right: 1px solid #e7ecf1;
	padding: 3px 5px; 
    overflow: hidden;
    text-overflow: ellipsis;	
    text-align: center;
}
.calendarDataRowsLabelGrouped > div:last-child {
	border-right: none;
}

#schedule_calendar_table th.calendarDataRowsLabelGrouped > div{
	line-height: 40px;
}

</style>
