@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham-dark.css";

.aggrid-dd-low-v2 {
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  font-family: Roboto, "Helvetica Neue", sans-serif;
  .aggrid-whitebox {
    height: 33px;
  }
  .aggrid-group-headercontenet {
    .header-notification {
      top: -10px !important;
      right: -10px !important;
    }
  }

  ag-grid-cell-renderer,
  aggrid-chip {
    // margin: 2px 2px 1px 2px;
    margin: 0px;
    padding-top: 2px !important;
  }

  .aggrid-headercontenet {
    height: 37px;

    .center-item {
      font-size: 18px;
      line-height: 25px;
    }

    .left-item {
      top: 3px;
    }

    .right-item {
      top: 3px;
    }
  }

  .ag-header-group-text,
  .ag-header-group-cell-label {
    font-size: 16px;
    line-height: 16px;
    color: #1d2a45;
  }
  .ag-header-cell-label .ag-header-cell-text {
    font-size: 14px;
    line-height: 16px;
  }
  .mat-form-field {
    font-size: 12px;
  }

  .mat-form-field-infix {
    top: 1px;
    height: 20px !important;
    padding: 0px;
  }

  .ag-header-cell-menu-button .ag-icon-menu {
    height: 32px;
  }

  .ag-header-group-cell {
    line-height: 35px;
    font-size: 24px;
  }

  .aggrid-group-headercontenet {
    // height: 150px;
    // line-height: 18px;
    line-height: 20px;
    // font-size: 24px;
    font-size: 18px;
  }

  .aggrid-dummy-groupheader {
    height: 30px;
    font-size: 20px;
  }

  .ag-header-cell {
    line-height: 25px;
    padding-left: 0px;
  }

  .ag-cell {
    //Checkbox should be centre aligned-(change done for movement screen)
    &:not(.checkbox-center) {
      padding: 0px 10px !important;
    }
    // line-height: 30px !important;
    line-height: 25px !important;
    // height:30px !important;
    height: 25px !important;
    &.aggrid-editable {
      line-height: 20px !important;
      text-align: center;
    }

    &.dash-line {
      line-height: 15px !important;
      color: black;
    }

    &.na-data{
      color: #333333 !important;
    }
    input {
      top: 1px;
      position: relative;
      height: 27px;

      &.dateTimePicker-edit {
        height: 13px !important;
        border: none !important;
      }
    }

    .mat-form-field-autofill-control {
      height: 20px !important;
      top: -10px;
      position: relative;

      &.dateTimePicker {
        top: 0px !important;
      }
    }

    .ag-cell-inline-editing {
      height: 20px !important;
    }

    .dropdown-select {
      height: 25px !important;
    }

    .aggrid-multirow {
      height: 22px !important;
    }
  }

  .custom-chip {
    // height: 24px !important;
    height: 20px !important;
    width: 124px !important;
    font-size: 12px;
  }

  .ag-cell .ag-grid-copy {
    top: 5px !important;
    right: 7px !important;
    background-size: 14px 14px;
    width: 18px !important;
    height: 18px;

    &:hover {
      width: 25px !important;
      right: 4px !important;
      background-size: 24px 24px;
      height: 25px !important;
      top: 1px !important;
    }
  }

  .aggridlink-dropdown:hover .dropdown {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 7px;
  }

  .creator-bg {
    // height: 25px !important;
    // width: 25px !important;
    // line-height: 25px;
    // font-size: 11px;
    height: 20px !important;
    width: 20px !important;
    line-height: 20px;
    font-size: 11px;
  }

  .ag-group-expanded .ag-icon-contracted:empty,
  .ag-icon-expanded {
    top: 5px;
  }

  .ag-group-contracted .ag-icon-expanded {
    top: 5px;
  }

  .aggrid-notification {
    line-height: 20px !important;
    padding-right: 19px !important;
  }

  .aggrid-innershadow {
    height: 14px;
    width: 15px;
  }

  .aggrid-notification .error {
    top: 0;
    right: 0;
  }

  .mat-icon {
    height: 15px;
    width: 15px;
  }

  .product-cell .product-popup {
    top: 3px;
  }

  .ag-header-select-all {
    //padding-left: 18px;
  }

  .aggrid-editable {
    .custom-chip {
      height: 25px !important;
      width: 100% !important;
      outline-offset: -5px;
      line-height: 27px !important;
      display: flex;
      align-items: center;
    }
  }

  .aggrid-uneditable {
    .custom-chip {
      //outline: 1px dashed #C4C4c4 !important;
      //outline-offset : -7px !important;
      span {
        //outline: 1px dashed #C4C4c4 !important;
        outline-offset: -7px !important;
        /* width: auto; */
        //display: inline-block;
        //padding: 0 22px;
      }
    }
  }

  &.aggrid-dual-row-v2 {
    .ag-cell {
      height: 51px !important;
    }
    .aggrid-dualrow-content-center {
      line-height: 51px !important;
      text-align: center;
    }
    .aggrid-dual-vertical-center {
      line-height: 51px !important;
    }
  }

  .undo-amber,
  .undo-red,
  .unmatch img {
    height: 20px;
    width: 20px;
    top: -1px;
    position: relative;
  }
  .emptydropdown-blue-position {
    margin-top: -6px;
    .dropdown-select {
      padding-bottom: 0 !important;
      padding-top: 3px;
    }
  }
}


//V2
.agGrid-v2{
  margin: 0px 10px;
  .ag-grid-v2 {
    border: solid 1px #f1f1f2;
    &.header-white{
      .ag-header-row {
        height: 32px !important;
        background: #FFFFFF !important;
        box-shadow: 0px 4px 4px rgba(168, 168, 168, 0.34) !important;
      }
    }
    .pd-0{
      padding: 0px !important;
    }
          // .ag-layout-auto-height{//Display ag-menu over the grid
    //   overflow: visible;
    // }
    // .ag-popup > .ag-tabs .ag-menu{
    //   max-height: 195px;//Set min height to ag column header menu
    // }
    .ag-row-hover{
      background: #E8F4FF !important;
      .editable-cell{
        outline: #364150 dashed 1px !important;
        outline-offset: -5px;
      }
    }
    .add-row-editable-cell{
      outline: #E0E1E4 dashed 1px !important;
      outline-offset: -5px;
    }
    .ag-header-cell-menu-button .ag-icon-menu{
      height: 35px
    }
    .ag-header-row {
      background: #f1f1f2;
      border-bottom: 1px solid #f1f1f2;
      border-radius: 4px 4px 0px 0px;
    }
    .ag-header-cell-text {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #252a32;
      padding-left: 0px;
    }
    .ag-header-cell {
      padding-left: 10px;
      padding-right: 10px;
      // &.right-aligned-header-cell {
      //   text-align: right;
      //   padding-right: 0px;
      // }
      // &.left-aligned-header-cell {
      //   text-align: left;
      //   padding-left: 0px;
      // }
    }
    .ag-row-pinned{
      .ag-cell{
        border: none !important;
        box-shadow: none !important;
      &:not(:first-child){
        font-weight: 500;
        font-size: 14px;
      }
    }
      .ag-cell {
        &:first-child{
        text-align: left;
        font-weight:normal;
        font-size: 14px;
        // padding-left: 35px;
      }
    }
    }
    &.custom-total-row
    {
      .ag-row-pinned{
        .ag-cell{
          &:first-child{
            font-weight: 500  !important;
          }
          background: #FFFFFF;
          font-style: normal;
          font-weight:normal;
          font-size: 14px;
        }
      }
    }
    .ag-body-viewport {
      margin-top: -1px;
    }
    .ag-cell {
      line-height: 35px; //Should be same as the row height
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      color: #252a32;
      padding: 0px 10px;
    }
    .add-btn, .add-btn-ac {
      cursor: pointer;
      content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99998 0C3.58001 0 0 3.58001 0 7.99998C0 12.42 3.58001 16 7.99998 16C12.42 16 16 12.42 16 7.99998C16 3.57997 12.42 0 7.99998 0ZM12 8.80001H8.80001V12H7.19999V8.80001H4.00001V7.19999H7.19999V4.00001H8.80001V7.19999H12V8.80001Z' fill='%23364150'/%3E%3C/svg%3E%0A");
    }
    .remove-icon {
      cursor: pointer;
      content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 0C2.69169 0 0 2.69146 0 6C0 9.30854 2.69169 12 6 12C9.30831 12 12 9.30854 12 6C12 2.69146 9.30831 0 6 0ZM9 6.75H6H3C2.74523 6.75 2.65385 6.25477 2.65385 6C2.65385 5.74523 2.86062 5.53846 3.11538 5.53846H8.88462C9.13939 5.53846 9.34615 5.74523 9.34615 6C9.34615 6.25477 9.25477 6.75 9 6.75Z' fill='%23364150'/%3E%3C/svg%3E%0A");
    }
    .grid-radio-btn{
      .mat-radio-outer-circle,.mat-radio-inner-circle{
        height: 12px;
        width: 12px;
        border-color: #364150;
      }
    }
    .grid-checkbox{
      .mat-checkbox-inner-container{
        height: 12px;
        width: 12px;
      }
    }
    .editable-cell {
      align-items: center;
      height: 35px; //Should be same as the row height
      .mat-form-field-infix{
        padding: 0px;
        border-top: none;
      }
    }
    .ag-grid-formfield {
      &.mat-form-field {
        .mat-form-field-underline {
          display: none;
        }
        input{
          height: 100%;
        }
        // .mat-form-field-wrapper {
        //   padding-bottom: 10px;
        // }
        .mat-icon{
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .remove-renderer-margin{
      ag-grid-cell-renderer{
        margin: unset
    }
    }
    .hover-popup-icon{
      display: flex;
      align-items: center;
      &:hover { 
        .popup-icon,.popup-icon-inline{
          // transition-delay: 0s;
          // visibility: visible;
          display: block;
      }
      .ag-grid-formfield{
        width: 94%;
      }
    }
      .popup-icon,.popup-icon-inline {
        // visibility: hidden;
        // transition: all 0s ease 1s;
        display: none;
        margin-bottom: 16px;
        cursor: pointer;
        content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7.75' fill='white' stroke='%23BDBDBD' stroke-width='0.5'/%3E%3Ccircle cx='8.18462' cy='4.27705' r='1.18462' transform='rotate(-90 8.18462 4.27705)' fill='%23828282'/%3E%3Ccircle cx='8.18462' cy='8.0461' r='1.18462' transform='rotate(-90 8.18462 8.0461)' fill='%23828282'/%3E%3Ccircle cx='8.18462' cy='11.8154' r='1.18462' transform='rotate(-90 8.18462 11.8154)' fill='%23828282'/%3E%3C/svg%3E%0A");
        &:hover {
          content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7.75' fill='%2374CDEA' stroke='%2374CDEA' stroke-width='0.5'/%3E%3Ccircle cx='8.18462' cy='4.27705' r='1.18462' transform='rotate(-90 8.18462 4.27705)' fill='white'/%3E%3Ccircle cx='8.18462' cy='8.0461' r='1.18462' transform='rotate(-90 8.18462 8.0461)' fill='white'/%3E%3Ccircle cx='8.18462' cy='11.8154' r='1.18462' transform='rotate(-90 8.18462 11.8154)' fill='white'/%3E%3C/svg%3E%0A");      
        }
        &.popup-icon-active {
          content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='7.75' fill='%2374CDEA' stroke='%2374CDEA' stroke-width='0.5'/%3E%3Ccircle cx='8.18462' cy='4.27705' r='1.18462' transform='rotate(-90 8.18462 4.27705)' fill='white'/%3E%3Ccircle cx='8.18462' cy='8.0461' r='1.18462' transform='rotate(-90 8.18462 8.0461)' fill='white'/%3E%3Ccircle cx='8.18462' cy='11.8154' r='1.18462' transform='rotate(-90 8.18462 11.8154)' fill='white'/%3E%3C/svg%3E%0A");      
        }
      }
      .popup-icon-inline{
        margin: 0px 5px !important;
      }
    }
    .search-img-dark {
      width: 13px;
      height: 13px;
      content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMyAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkuMjkxMDQgOC4xNzYxMUg4LjcwMDEzTDguNDk1NzEgNy45NzE3QzkuMjI0MTQgNy4xMjgwOSA5LjY2MjY1IDYuMDMxNzMgOS42NjI2NSA0LjgzMTM0QzkuNjYyNjUgMi4xNjI5NSA3LjQ5OTcgMCA0LjgzMTM0IDBDMi4xNjI5OSAwIDAgMi4xNjI5NSAwIDQuODMxMzRDMCA3LjQ5OTc0IDIuMTYyOTUgOS42NjI2OSA0LjgzMTM0IDkuNjYyNjlDNi4wMzE3MyA5LjY2MjY5IDcuMTI4MDkgOS4yMjQxNCA3Ljk3MTcgOC40OTk0NEw4LjE3NjExIDguNzAzODVWOS4yOTEwNEwxMS44OTI1IDEzTDEzIDExLjg5MjVMOS4yOTEwNCA4LjE3NjExWk00LjgzMTM0IDguMTc2MTFDMi45ODQzIDguMTc2MTEgMS40ODY1OCA2LjY3ODM5IDEuNDg2NTggNC44MzEzNEMxLjQ4NjU4IDIuOTg0MyAyLjk4NDMgMS40ODY1OCA0LjgzMTM0IDEuNDg2NThDNi42NzgzOSAxLjQ4NjU4IDguMTc2MTEgMi45ODQzIDguMTc2MTEgNC44MzEzNEM4LjE3NjExIDYuNjc4MzkgNi42NzgzOSA4LjE3NjExIDQuODMxMzQgOC4xNzYxMVoiIGZpbGw9IiMyNTJBMzIiLz4KPC9zdmc+Cg==);
    }
    &.col-menu-fly{
      //border-bottom: none;
      .ag-root-wrapper{
        overflow: visible !important;
      }
      .ag-body-viewport {
        margin-top: 0px;
      }
      .ag-popup{
        position: absolute;
        top: 0;
        height: calc(100vh - 260px)
      }
    }
  }
  .ag-text-field-input{
    padding: 0px !important;
  }
} 