/* MASTERS MENU START */
.d-block {
    display: block;
  }
  
  .d-none {
    display: none;
  }
  
  .d-flex {
    display: flex;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  
  #masters_heading {
    align-items: center;
    justify-content: space-between;
    padding: 5px 0 20px 10px;
    color: #fff;
  
    div.menutitle {
      font-size: 14px;
      font-weight: 500;
      margin-left: 10px;
    }
  }
  
  .truncate-190 {
    width: 190px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .truncate-218 {
    width: 218px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .white-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .mat-icon {
      height: auto;
      width: auto;
      font-size: 17px;
    }
  }
  
  #mastersContent {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 5px;
  
    .mat-expansion-panel {
      margin: 0 0 2px 0;
      background: transparent;
    }
  
    .mat-expansion-panel-header {
      background: #FFF;
      border-left: 5px solid #517988;
      padding: 0 20px;
      //margin-left: 2px;
  
      &:hover {
        background: #b2d2e4;
        transition: all 0.3s;
        transition-timing-function: linear;
      }
    }
  
    .mat-expansion-panel:nth-child(odd) .mat-expansion-panel-header {
      background: #DADCDE !important;
  
      &:hover {
        background: #b2d2e4 !important;
        transition: all 0.3s;
        transition-timing-function: linear;
      }
  }
  
    .mat-expansion-indicator {
      display: none;
    }
  
    .mat-expansion-panel-body {
      padding: 10px 0 5px 15px;
    }
  
    .accordionTitle {
      color: #1A222B;
      width: 100%;
      font-size: 15px;
      font-weight: 500;
    }
  
    .panelItem {
      background: #DADCDE;
      padding: 10px 10px;
      border-left: 5px solid #517988;
      color: #1A222B;
      font-weight: 500;
      font-size: 12px;
      margin-bottom: 4px;
      cursor: pointer;
      display: block;
  
      &:hover {
        background: #b2d2e4;
        transition: all 0.3s;
        transition-timing-function: linear;
      }
  }
  
  
  
  .panelItem:nth-child(even) {
    background: white;
  }
  
  .panelItem:nth-child(even):hover {
    background: #b2d2e4;
    transition: all 0.3s;
    transition-timing-function: linear;
  }
  }
  
  .blue {
    color: #1CABE0;
  }
  
  #masterMenu {
    display: none;
  }
  
  #masterMenuContent {
    // display: block;
    // overflow: hidden scroll;

    .mat-expansion-panel:not([class*=mat-elevation-z]) {
      box-shadow: none;
    }
  }
  
  #masterSearch {
    display: none;
  }
  
  #searchPanel {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    min-height: 50px;
    padding: 10px 7px;
  }
  
  /* enable absolute positioning */
  .inner-addon {
    position: relative;
  
    .mat-icon {
      position: absolute;   
      color: #4F4F4F;         
    }
  }  
  
  #searchBox {
    padding: 0 30px;
  }
  
  #searchResults {
    max-height: 325px;
    overflow-y: scroll;
  }
  
  #searchResults::-webkit-scrollbar {
    width: 0.4em;
  }
  
  #searchResults::-webkit-scrollbar-track {            
    background: transparent;
  }
  
  #searchResults::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 20px;
  }
  
  #masters {
    border-top: 3px solid #404853;
  }
  
  
  #masterSearch {
  
    .searchResult {
      padding: 8px 2px;
      color: #4F4F4F;
      font-weight: 500;
      font-size: 12px;
    }
  
    .searchResult:hover {
      cursor: pointer;
      background: rgba(0,0,0,0.05);
      transition: all 0.2s;
      transition-timing-function: linear;
    }
  
    #closeSearch {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
  
      #closeSearchBtn {
        width: 120px;
        height: 32px;
        background: #74CDEA;
        border-radius: 5px;
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.5px;
        font-size: 12px;
  
        &:hover {
          background: #56a9c4;
          transition: all 0.2s;
          transition-timing-function: linear;
        }
  
        &:active, &:focus {
          outline: none;
        }
      }
    }
  
  } 
  
  /* MASTERS MENU END */
  
  #overlay {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    // display: block;
    z-index: 9997;
    transition: all 0.3s;
    transition-timing-function: linear;
  }
  
  // .pcoded[theme-layout="vertical"] {
    
  // }
  .pcoded[vertical-nav-type="expanded"] {
    #overlay {
      display: block;
      transition: all 0.3s;
      transition-timing-function: linear;
    }
  }
  
  .pcoded[vertical-nav-type="offcanvas"] {
    #overlay {
      display: none;
      transition: all 0.3s;
      transition-timing-function: linear;
    }
  }