<!-- {{formValues.counterpartyTypes}} -->
<div class="row">
	<div class="col-md-4">
			{{!formValues.counterpartyCustomerConfiguration.customerMailConfiguration ? formValues.counterpartyCustomerConfiguration.customerMailConfiguration.id = 1 : ""}}
	      <div class="form-group row dropdown-control">
	      	<label class="control-label" style="height: 30px; padding-top: 0px;">
		        Mail Template
		    </label>
		    <div class="form_input">
		      	<select ng-model="formValues.counterpartyCustomerConfiguration.customerMailConfiguration"
		      	name="CustomerMailConfiguration"
		      	id="CustomerMailConfiguration"
		      	class="form-control"
		      	ng-options="item as (item.displayName ? item.displayName : item.name) for item in CM.listsCache.CustomerMailConfiguration track by item.id"></select>
		    </div>
	      </div>
	</div>
</div>


<div class="row">
	<div class="col-md-4">
		<div class="form-group  form-inline row ng-scope">
		    <label class="mt-checkbox">
		        <input type="checkbox" name="ValidateVesselExpiryDate" id="inlineCheckboxValidateVesselExpiryDate" ng-model="formValues.counterpartyCustomerConfiguration.validateVesselExpiryDate" >
		        <span></span>
		        Validate Vessel Expiry Date
		    </label>
		</div>
	</div>		
	<div class="col-md-4">
		<div class="form-group  form-inline row ng-scope">
		    <label class="mt-checkbox">
		        <input type="checkbox" name="SendSingleEmail" id="inlineCheckboxSendSingleEmail" ng-model="formValues.counterpartyCustomerConfiguration.sendSingleEmail" >
		        <span></span>
		        Send Single Email 
		    </label>
		</div>
	</div>			
</div>

<div class="custom-hardcoded-table admin">
	<table class="table-body" style="min-width: 100%;">
		<thead>
			<tr>
				<td style="max-width: initial; min-width: 50px;"  class="padding"></td>
				<td  style="max-width: initial; min-width: 50px;" class="padding"><span class="insert" ng-click="formValues.subDepartments ? formValues.subDepartments.push({}) : formValues.subDepartments=[{}]"></span></td>
				<td  style="max-width: initial; min-width: 220px;" class="padding"><b>ID</b></td>
				<td style="max-width: initial; min-width: 220px; text-align: center" class="padding"><b>Name</b></td>
				<td style="max-width: initial; min-width: 100px; text-align: center" class="padding"><b>Status</b></td>
				<td style="max-width: initial; min-width: 100px; text-align: center" class="padding"><b>Send Email To Vessel</b></td>
				<td style="max-width: initial; min-width: 100px; text-align: center" class="padding"><b>Price Info to Vessel</b></td>
				<td style="max-width: initial; min-width: 100px; text-align: center" class="padding"><b>Send Email to Agent</b></td>
				<td style="max-width: initial; min-width: 100px; text-align: center" class="padding"><b>Price to Agent</b></td>
				<td style="max-width: initial; min-width: 100px; text-align: center" class="padding"><b>Show PO</b></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(key, value) in formValues.subDepartments" ng-if="!value.isDeleted">
				<td style="max-width: initial; min-width: 50px;"><span class="remove" style="display: block;pointer-events: all; opacity: 1" ng-click="formValues.subDepartments[key].id ? formValues.subDepartments[key].isDeleted = true : formValues.subDepartments.splice(key,1)"></span></td>
				<td  style="max-width: initial; min-width: 50px;"><span class="insert" ng-click="formValues.subDepartments.push({})"></span></td>
				<td style="max-width: initial; min-width: 200px;"><input name="customer_configuration_ID_{{$index}}" decode-input-format class="form-control" type="text" ng-required="true" ng-model="value.subDepartmentId"></td>
				<td style="max-width: initial; min-width: 200px;"><input name="customer_configuration_name_{{$index}}" decode-input-format class="form-control" type="text" ng-required="true" ng-model="value.name"></td>
				<td style="max-width: initial; min-width: 100px; text-align: center;"><input type="checkbox" ng-model="formValues.subDepartments[$index].status" ng-change="customerSubdepartmentStatusChanged($index)"/></td>
				<td style="max-width: initial; min-width: 100px; text-align: center;"><input type="checkbox" ng-disabled="!formValues.subDepartments[$index].status" ng-model="formValues.subDepartments[$index].sendEmailToVessel"/></td>
				<td style="max-width: initial; min-width: 100px; text-align: center;"><input type="checkbox" ng-disabled="!formValues.subDepartments[$index].status" ng-model="formValues.subDepartments[$index].priceInfoToVessel"/></td>
				<td style="max-width: initial; min-width: 100px; text-align: center;"><input type="checkbox" ng-disabled="!formValues.subDepartments[$index].status" ng-model="formValues.subDepartments[$index].sendEmailToAgent"/></td>
				<td style="max-width: initial; min-width: 100px; text-align: center;"><input type="checkbox" ng-disabled="!formValues.subDepartments[$index].status" ng-model="formValues.subDepartments[$index].priceToAgent"/></td>
				<td style="max-width: initial; min-width: 100px; text-align: center;"><input type="checkbox" ng-disabled="!formValues.subDepartments[$index].status" ng-model="formValues.subDepartments[$index].showPO"/></td>

			</tr>
		</tbody>
	</table>
</div>


