<div class="custom-hardcoded-table admin">
	<!-- <span>counterpartyBankAccounts:{{ formValues.counterpartyBankAccounts | json}}</span> -->
	<table class="table-body" style="min-width: 500px;">
		<thead>
			<tr>
				<td style="max-width: initial; min-width: 50px;"  class="padding"></td>
				<td  style="max-width: initial; min-width: 50px;" class="padding"><span class="insert" ng-click="formValues.counterpartyBankAccounts ? formValues.counterpartyBankAccounts.push({accountnumber:'',isActive:false}) : formValues.counterpartyBankAccounts=[{accountnumber:'',isActive:false}]"></span></td>
				<td  style="max-width: initial; min-width: 220px;" class="padding"><b>Bank Account Number</b></td>
				<td style="max-width: initial; min-width: 100px; text-align: center" class="padding"><b>Active</b></td>
			</tr>
		</thead>
		<tbody>
		
			<tr ng-repeat="(key, value) in formValues.counterpartyBankAccounts" ng-if="!value.isDeleted">
				<td style="max-width: initial; min-width: 50px;"><span class="remove" style="display: block;pointer-events: all; opacity: 1" ng-click="deleteCouterpartyaccountno(key)"></span></td>
				<td  style="max-width: initial; min-width: 50px;"><span class="insert" ng-click="formValues.counterpartyBankAccounts.push({accountnumber:'',isActive:false})"></span></td>
				<td style="max-width: initial; min-width: 200px;"><input decode-input-format class="form-control" type="text" ng-model="value.accountnumber"></td>
				<td style="max-width: initial; min-width: 100px; text-align: center;">
					<input type="checkbox" ng-model="formValues.counterpartyBankAccounts[$index].isActive"/>
				</td>

			</tr>
		</tbody>
	</table>
</div>

