<div class="custom-hardcoded-table admin">
	<table class="table-body" width="100%">
		<thead>
			<tr>
				<td style="max-width: initial; min-width: 50px;" class="padding"><span class="insert" ng-click="addnewLocationProduct()"></span></td>
				<td  style="max-width: initial; min-width: 220px;" class="padding"><b>Product Type</b></td>
				<td  style="max-width: initial; min-width: 220px;" class="padding"><b>Max Transfer Rate (mt/h)</b></td>
				<td style="max-width: initial; min-width: 230px;" class="padding"><b>Min Supply Qty (MT)</b></td>
				<td style="max-width: initial; min-width: 230px;" class="padding"><b>Max Supply Qty (MT)</b></td>
				<td style="max-width: initial; min-width: 180px;" class="padding"><b>Lowest Grade Available</b></td>
			</tr>
		</thead>
		<tbody ng-repeat="(key, value) in formValues.locationProducts track by $index" ng-init="$rowIndex = $index" ng-if="!value.isDeleted">
			<tr>
				<td style="max-width: initial; min-width: 50px;">
					<span class="remove" style="display: block;pointer-events: all; opacity: 1" ng-click="value.id == 0 ? formValues.locationProducts.splice(key,1) : formValues.locationProducts[key].isDeleted=true"></span>
				</td>
				<td>
					 <select name="productType_{{ $index }}" class="form-control" ng-model="formValues.locationProducts[$index].productType" ng-options="item as item.name for item in CM.listsCache.ProductType track by item.id" ng-required="true">
				 </td>
				<td>
					<input type="text" name="maxTransferRate_{{ $index }}" ng-required="formValues.locationProducts[$index].productType?true:false" type="number" class="form-control" ng-model="formValues.locationProducts[$index].maxTransferRate" format="number:0">
				</td>
				<td>
					<input type="text" name="minSupplyQuantity_{{ $index }}" ng-required="formValues.locationProducts[$index].productType?true:false" type="number" class="form-control" ng-model="formValues.locationProducts[$index].minSupplyQty" format="number" ng-blur="formValues.locationProducts[$index].minSupplyQty =validateMinMaxQuantity(formValues.locationProducts[$index].minSupplyQty,formValues.locationProducts[$index].maxSupplyQty) ['minSupplyQty']; $ctrl.minQtyBlur(formValues.locationProducts)">
				</td> 
				<td>
					<input type="text" name="maxSupplyQuantity_{{ $index }}" ng-required="formValues.locationProducts[$index].productType?true:false" type="number" class="form-control" ng-model="formValues.locationProducts[$index].maxSupplyQty" format="number" ng-blur="formValues.locationProducts[$index].maxSupplyQty =validateMinMaxQuantity(formValues.locationProducts[$index].minSupplyQty,formValues.locationProducts[$index].maxSupplyQty)['maxSupplyQty']; ">
				</td>
				<td>
					<span class="hide">
						<input ng-model="formValues.locationProducts[$index].conversionFactors">
					</span>
					<div class="input-group form_input" tooltip tooltiptrigger="hover"  data-original-title="{{ getProductTooltipByProductId(formValues.locationProducts[$index].product.id) }}">
						<input  decode-input-format ng-model="formValues.locationProducts[$index].product" ng-required="formValues.locationProducts[$index].productType?true:false" uib-typeahead="item as item.name for item in options.Product | typeaheadCustomFilter:$viewValue:'name' "
							class="form-control"  typeahead-on-select="addLocationProductToConversion($index, false ,true)" typeahead-show-hint="true" typeahead-min-length="1" typeahead-limit="5" typeahead-append-to-body="true" typeahead-wait-ms="100" name="lowestGradeAvailable_{{ key }}" autocomplete="off" 					
						/>
						<span class="input-group-addon" ng-click="triggerModal('general', 'masters_productlist', 'Product' , 'formValues.locationProducts.'+key+'.product')" ng-init="modal = false">
							<a class=" btn default">
								<i class="fa fa-search"></i>
							</a>
						</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>