<div class="custom-hardcoded-table admin" style="min-height: 250px;">
	<table class="table-body" style="width: 100% !important;"> 
		<thead>
			<tr>
				<td style="width:5%" class="padding"></td>
				<td style="width:5%" class="padding"><span class="insert" ng-click="formValues.sellers ? formValues.sellers.push({id:0, locationContacts:[], sellerContacts: []}): formValues.sellers=[{id:0, locationContacts:[], sellerContacts: []}]"></span></td>
				<td style="width:20%" class="padding"><b>Counterparty</b></td>
				<td style="width:20%" class="padding"><b>Preferred Products</b></td>
				<td style="width:20%" class="padding"><b>Status</b></td>
				<td style="width:20%" class="padding"><b>Preferred Contact Email Address</b></td>
				<td style="width:30%" class="padding"><b>Comments</b></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(key, value) in formValues.sellers track by $index" ng-if="!value.isDeleted">
				<td style="width:5%"><span class="remove" style="display: block;pointer-events: all; opacity: 1" ng-click="value.id == 0 ? formValues.sellers.splice(key,1) : deleteSeller(key)"></span></td>
				<td style="width:5%"><span class="insert" ng-click="formValues.sellers.push({id:0, locationContacts:[], sellerContacts: []})"></span></td>
				<td style="width:20%">
					<div class="input-group">
	                    <input decode-input-format ng-model="value.counterparty" typeahead-on-select="getLocationDetails()" uib-typeahead="item as item.name for item in CM.listsCache.Counterparty | typeaheadCustomFilter:$viewValue:'name'"  class="form-control" typeahead-show-hint="true" typeahead-min-length="1" typeahead-limit="5" typeahead-append-to-body="true" typeahead-wait-ms="100" name="PrefferedSeller_{{ key }}" autocomplete="off" />
	                    <span class="input-group-addon" ng-click="triggerModal('general', 'masters_counterpartylist', 'Counterparty' , 'formValues.sellers.'+key+'.counterparty');" ng-init="modal = false">
	                        <a   class=" btn default">
	                            <i class="fa fa-search"></i>
	                        </a>
	                    </span>		
	                    <span class="input-group-addon">
	                    	&nbsp;&nbsp;
	                    	<i class="fa fa-file" ng-click="openLocationPreferredSellerProducts(key);"></i>
	                    	&nbsp;&nbsp;
	                    </span>				
					</div>
				</td>
				<td style="width:20%">
					<div class="location-preffered-sellers">
	                    <span ng-repeat="(key2,product) in value.products" ng-hide="product.isDeleted">
                            <span ng-if="key2 != 0">,</span>
                            {{ product.product.name | decodeReadOnly }}
                        </span>			
					</div>
				</td>
				<td style="width:20%">
					<select name="Item Name" class="form-control" ng-options="item as item.name for item in CM.listsCache.CounterpartyStatus track by item.id " ng-model="value.status"></select>
				</td>
				<td>
					<multiselect ng-model="formValues.sellers[$index].locationContacts" options="formValues.sellers[$index].locationContacts" class="multiselect" display-prop="email" id-prop="indexId" show-search="false"></multiselect>
				</td>
				<td style="width:30%"><input class="form-control" type="text" decode-input-format ng-model="value.comments"></td>
			</tr>
		</tbody>
	</table>
</div>