<div class="custom-hardcoded-table admin">
	<table class="table-body">
		<thead>
			<tr>
				<td style="max-width: initial; min-width: 50px;"  class="padding"></td>
				<td  style="max-width: initial; min-width: 50px;" class="padding"><span class="insert" ng-click="formValues.counterpartyLocations ? formValues.counterpartyLocations.push({id:0}) : formValues.counterpartyLocations=[{id:0}]"></span></td>
				<td  style="max-width: initial; min-width: 220px;" class="padding"><b>Location</b></td>
				<td style="max-width: initial; min-width: 400px;" class="padding"><b>Preferred Products</b></td>
				<td style="max-width: initial; min-width: 300px;" class="padding"><b>Status</b></td>
				<td style="max-width: initial; min-width: 250px;" class="padding"><b>Comments</b></td>
				<td style="max-width: initial; min-width: 170px; border-right: 0px !important;" class="padding"><b>Rating</b></td>
				<td style="max-width: initial; min-width: 50px; border-left: 0px !important;" class="padding"><b></b></td>
				<td style="max-width: initial; min-width: 220px;" class="padding"><b>Last Modified By</b></td>
				<td style="max-width: initial; min-width: 220px;" class="padding"><b>Last Modified On</b></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(key, value) in formValues.counterpartyLocations" ng-if="!value.isDeleted">
				<td style="max-width: initial; min-width: 50px;"><span class="remove" style="display: block;pointer-events: all; opacity: 1" ng-click="value.id == 0 ? formValues.counterpartyLocations.splice(key,1) : deleteLocation(key)"></span></td>
				<td  style="max-width: initial; min-width: 50px;"><span class="insert" ng-click="formValues.counterpartyLocations.push({id:0})"></span></td>
				<td style="max-width: initial; min-width: 220px;">
					<div class="input-group">
	                    <input decode-input-format ng-model="value.location" uib-typeahead="item as item.name for item in CM.listsCache.Location | typeaheadCustomFilter:$viewValue:'name'"  class="form-control" typeahead-show-hint="true" typeahead-min-length="1" typeahead-limit="5" typeahead-append-to-body="true" typeahead-wait-ms="100" name="PrefferedSeller_{{ key }}" autocomplete="off" typeahead-on-select="resetLocationData(value)"  />
	                    <span class="input-group-addon" ng-click="triggerModal('general', 'masters_locationlist', 'Location' , 'formValues.counterpartyLocations.'+key+'.location');" ng-init="modal = false">
	                        <a   class=" btn default">
	                            <i class="fa fa-search"></i>
	                        </a>
	                    </span>		
	                    <span class="input-group-addon">
	                    	&nbsp;&nbsp;
	                    	<i class="fa fa-file" ng-click="openLocationPreferredSellerProducts(key, 'counterpartyMaster')"></i>
	                    	&nbsp;&nbsp;
	                    </span>				
					</div>
				</td>
				<td style="max-width: initial; min-width: 400px;">
					<div class="location-preffered-sellers">
	                    <span ng-repeat="(key2,product) in value.products" ng-hide="product.isDeleted">
                            <span ng-if="key2 != 0">,</span>
                            {{ product.product.name  | decodeReadOnly}}
                        </span>			
					</div>
				</td>
				<td style="max-width: initial; min-width: 300px;">
					<select name="Item Name" class="form-control" ng-options="item as item.name for item in CM.listsCache.CounterpartyStatus track by item.id " ng-model="value.status"></select>
				</td>
				<td style="max-width: initial; min-width: 250px;"><input decode-input-format class="form-control" type="text" ng-model="value.comments"></td>
				<td style="max-width: initial; min-width: 170px; border-right: 0px !important" class="padding">
					<div style="padding-top: 5px !important; padding-bottom: 0px !important;">
				    	<span style="margin-top: 0px !important; margin-bottom: 0px !important;" ng-if="value.isSpecificLocation && value.rating"  star-rating 	ng-model="value.rating"></span>
				    </div>
					<div  ng-if="!value.isSpecificLocation"> NA </div>
				</td>
				<td style="max-width: initial; min-width: 50px;" class="padding" ng-class="!value.isSpecificLocation ? 'no-specific-location' : ''">
					<span class="input-group-addon" ng-if="value.isSpecificLocation">
	                    <i class="fa fa-pencil" ng-click="openSellerRatingForPreferredLocation(value.location, formValues.displayName)"></i>
	                </span>		
				</td>
				<td style="max-width: initial; min-width: 220px;"  class="padding">
					{{value.lastModifiedBy.name}}
				</td>
				<td style="max-width: initial; min-width: 220px;"  class="padding"> 
					<span ng-if="value.lastModifiedOn" class="formatted-date" ng-bind="CM.formatDateTime(value.lastModifiedOn)"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div aria-labelledby="mySmallModalLabel"
	     class="confirmModalDeletePreferredLocationWithRating confirmModal1 fade bs-modal hide"
	      role="dialog"
	     style="transform: translateY(90px);" tabindex="-1">
	    <div class="modal-dialog modal-sm" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span>
	                </button>
	                <h4 class="modal-title" id="gridSystemModalLabel">Confirm</h4>
	            </div>
	            <div class="modal-body">
	                {{confirmModalData.message}}
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-default" data-dismiss="modal" type="button">No</button>
	                <button class="btn btn-default  btn-outline orange confirmAction1" data-dismiss="modal" type="button">
	                    Yes
	                </button>
	            </div>
	        </div>
	    </div>
	</div>