<div class="custom-hardcoded-table admin">
	<table class="table-body">
		<thead>
			<tr>
				<td style="max-width: initial; min-width: 50px;" class="padding"><span class="insert" ng-click="addnewTankProduct()"></span></td>
				<td  style="max-width: initial; min-width: 220px;" class="padding"><b>Product Type</b></td>
				<td style="max-width: initial; min-width: 230px;" class="padding"><b>Product</b></td>
				<td style="max-width: initial; min-width: 180px;" class="padding"><b>Tank Suction Limit (MT)</b></td>
				<td style="max-width: initial; min-width: 180px;" class="padding"><b>Receiving Rate (MT/h)</b></td>
				<td style="max-width: initial; min-width: 180px;" class="padding"><b>Debunker Rate (MT/h)</b></td>
				<td style="max-width: initial; min-width: 180px;" class="padding"><b>Fill limit (%)</b></td>
				<td style="max-width: initial; min-width: 180px;" class="padding"><b>Storage Capacity (m3)</b></td>
				<td style="max-width: initial; min-width: 180px;" class="padding"><b>Storage Capacity (MT)</b></td>
				<td style="max-width: initial; min-width: 180px;" class="padding"><b>Density (kg/m3)</b></td>
			</tr>
		</thead>
		<tbody ng-repeat="(key, value) in formValues.vesselProducts track by $index" ng-init="$rowIndex = $index" ng-if="!value.isDeleted">
			<tr class="tank-header-container" ng-if="verifyIfvesselProductsIsEmpty() != key">
				<td style="max-width: initial; min-width: 50px;" class="padding"><span ng-if="!key" class="insert" ng-click="addnewTankProduct()"></span></td>
				<td  style="max-width: initial; min-width: 220px;" class="padding"><b>Product Type</b></td>
				<td style="max-width: initial; min-width: 230px;" class="padding"><b>Product</b></td>
				<td style="max-width: initial; min-width: 180px;" class="padding"><b>Tank Suction Limit (MT)</b></td>
				<td style="max-width: initial; min-width: 180px;" class="padding"><b>Receiving Rate (MT/h)</b></td>
				<td style="max-width: initial; min-width: 180px;" class="padding"><b>Debunker Rate (MT/h)</b></td>
				<td style="max-width: initial; min-width: 180px;" class="padding"><b>Fill limit (%)</b></td>
				<td style="max-width: initial; min-width: 180px;" class="padding"><b>Storage Capacity (m3)</b></td>
				<td style="max-width: initial; min-width: 180px;" class="padding"><b>Storage Capacity (MT)</b></td>
				<td style="max-width: initial; min-width: 180px;" class="padding"><b>Density (kg/m3)</b></td>
			</tr>
			<tr>
				<td style="max-width: initial; min-width: 50px;">
					<span class="remove" style="display: block;pointer-events: all; opacity: 1" ng-click="value.id == 0 ? formValues.vesselProducts.splice(key,1) : deleteVesselProduct(key)"></span>
				</td>
				<td>
					 <select name="productType_{{ $index }}" ng-required="formValues.vesselProducts[$index].product?true:false" class="form-control" ng-model="formValues.vesselProducts[$index].productType" ng-options="item as item.name for item in CM.listsCache.MOTProductType track by item.id" ng-change="addVesselProductType(key,formValues.vesselProducts[$index].productType)"></td>
				<td>
					<div class="input-group form_input" tooltip tooltiptrigger="hover" data-original-title="{{ getProductTooltipByProductId(formValues.vesselProducts[$index].product.id) }}">
						<input decode-input-format ng-model="formValues.vesselProducts[$index].product"
							uib-typeahead="item as item.name for item in options.Product | typeaheadCustomFilter:$viewValue:'name'"
							class="form-control" typeahead-show-hint="true" typeahead-min-length="1" typeahead-append-to-body="true"
							typeahead-wait-ms="100" id="Product_{{$index}}_tank_Product" ng-required="true"
							name="tank_Product" autocomplete="off" typeahead-no-result="noResults"
							typeahead-editable="false"/>
						<span class="input-group-addon" ng-click="triggerModal('general', 'masters_productlist', 'Tank Product', 'product', 'formValues.vesselProducts', $index,'Product_tank_Product', '','');" ng-init="modal = false">
							<a class=" btn default">
								<i class="fa fa-search"></i>
							</a>
						</span>
					</div>
				</td>
				<td><input type="text" name="tankSuctionLimit_{{ $index }}" ng-required="formValues.vesselProducts[$index].product?true:false" type="number" class="form-control" ng-model="formValues.vesselProducts[$index].tankSuctionLimit" format="number"></td>
				<td><input type="text" name="receivingRate_{{ $index }}" ng-required="formValues.vesselProducts[$index].product?true:false" type="number" class="form-control" ng-model="formValues.vesselProducts[$index].receivingRate" format="number"></td>
				<td><input type="text" name="debunkerRate_{{ $index }}" ng-required="formValues.vesselProducts[$index].product?true:false" type="number" class="form-control" ng-model="formValues.vesselProducts[$index].debunkerRate" format="number"></td>
				<td><input type="text" name="fillLimit_{{ $index }}" ng-required="formValues.vesselProducts[$index].product?true:false" type="number" class="form-control" ng-model="formValues.vesselProducts[$index].fillLimit" format="number"></td>			
				<td><input type="text" name="storageCapacity_m3_{{ $index }}" disabled ng-required="formValues.vesselProducts[$index].product?true:false" type="number" class="form-control" ng-model="formValues.vesselProducts[$index].storageCapacityM3" format="number"></td>			
				<td><input type="text" name="storageCapacity_mt_{{ $index }}" disabled ng-required="formValues.vesselProducts[$index].product?true:false" type="number" class="form-control" ng-model="formValues.vesselProducts[$index].storageCapacityMt" format="number"></td>			
				<td><input type="text" name="density_{{ $index }}" ng-required="formValues.vesselProducts[$index].product?true:false" type="number" class="form-control" ng-model="formValues.vesselProducts[$index].density" format="number"></td>			
			</tr>
            <tr>
			<td colspan="8"> 
				<table>
					<thead>
						<tr>
							<td style="max-width: initial; min-width: 50px;"></td>
							<td style="max-width: initial; min-width: 50px;" class="padding"><span class="insert" ng-click="addnewTankDetail($rowIndex);"></span></td>
							<td style="max-width: initial; min-width: 220px;" class="padding"><b>Tank Name</b></td>
							<td style="max-width: initial; min-width: 300px;" class="padding"><b>Tank Type</b></td>
							<td style="max-width: initial; min-width: 200px;" class="padding"><b>Capacity (m3)</b></td>
							<td style="max-width: initial; min-width: 100px;" class="padding"><b>Active</b></td>
							<td style="max-width: initial; min-width: 250px;" class="padding"><b>Comments</b></td>
						</tr>
					</thead>
					<tbody>			
						<tr ng-repeat="(key, tankvalue) in formValues.vesselProducts[$rowIndex].vesselProductTanks track by $index" ng-if="!tankvalue.isDeleted">
							<td style="max-width: initial; min-width: 50px;"></td>							
							<td style="max-width: initial; min-width: 50px;"><span class="remove" style="display: block;pointer-events: all; opacity: 1" ng-click="value.id == 0 ? formValues.vesselProducts[$rowIndex].vesselProductTanks.splice(key,1) : deleteVesselProductTank($rowIndex, key)"></span></td>
							<td><input name="tankName_{{ $index }}" type="text" class="form-control" ng-required="true" decode-input-format ng-model="formValues.vesselProducts[$rowIndex].vesselProductTanks[$index].name"></td>
							<td><select name="tankCategory_{{ $index }}" class="form-control" ng-required="formValues.vesselProducts[$rowIndex].name!=''?true:false" ng-model="formValues.vesselProducts[$rowIndex].vesselProductTanks[$index].tankCategory" ng-options="item as item.name for item in CM.listsCache.TankCategory track by item.id"></td>
							<td><input type="text" name="tankCapacity_{{ $index }}" ng-required="formValues.vesselProducts[$rowIndex].name!=''?true:false" class="form-control" ng-model="formValues.vesselProducts[$rowIndex].vesselProductTanks[$index].capacity" format="number"></td>
							<td>
								<div class="text-center">
									<label class="mt-checkbox">
										<input name="tankisActive_{{ $index }}" type="checkbox" class="form-control" ng-model="formValues.vesselProducts[$rowIndex].vesselProductTanks[$index].isActive">
										<span></span>
									</label>
								</div>
							</td>
							<td><input type="text" name="tankiscomments_{{ $index }}" class="form-control" decode-input-format ng-model="formValues.vesselProducts[$rowIndex].vesselProductTanks[$index].comments" tooltip tooltiptrigger="hover" data-original-title="{{ formValues.vesselProducts[$rowIndex].vesselProductTanks[$index].comments }}"></td>
						</tr>
					</tbody>
				</table>
			</td>
            </tr>
		</tbody>
	</table>
</div>

<div aria-labelledby="mySmallModalLabel"
	     class="confirmModalDeletePreferredLocationWithRating confirmModal1 fade bs-modal hide"
	      role="dialog"
	     style="transform: translateY(90px);" tabindex="-1">
	    <div class="modal-dialog modal-sm" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span>
	                </button>
	                <h4 class="modal-title" id="gridSystemModalLabel">Confirm</h4>
	            </div>
	            <div class="modal-body">
	                {{confirmModalData.message}}
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-default" data-dismiss="modal" type="button">No</button>
	                <button class="btn btn-default  btn-outline orange confirmAction1" data-dismiss="modal" type="button">
	                    Yes
	                </button>
	            </div>
	        </div>
	    </div>
	</div>