<div class="form-group row" data-hide="{{ field.HideWhen }}" ng-init="options[field.Name] ? return : CM.getOptions(field);" tooltip tooltiptrigger="hover">
    <label for="{{ field.Name }}" class="{{ field.Name }}_label" class="simpleLookupLabel">
        {{ CM.app_id + '.'+ field.Label | translate }}
    </label>
    <div class="input-group form_input form_input_{{ field.Name }}" ng-class="!field.Label ? 'no-label' : ''">
        <input decode-input-format dynamic-model="'formValues.' + field.Unique_ID "
            uib-typeahead="item as item.name for item in options[field.Name] | typeaheadCustomFilter:$viewValue:'name'"
            class="form-control" typeahead-show-hint="true" typeahead-min-length="1" typeahead-append-to-body="true"
            typeahead-wait-ms="100" id="{{ 'field.masterSource' }}{{ field.Name }}" ng-required="$eval(field.Required)> 0 || field.Required == true ? true : false  && isVisible(field.masterSource + field.Name)"
            name="{{ field.Name }}" ng-disabled="$eval(field.Disabled) == true || field.Disabled == true ? true : false"  autocomplete="off" typeahead-no-result="noResults"
            typeahead-on-select="triggerChangeFields(field.Name, field.Unique_ID);"  dynamic-condition="{{ field.Conditional }}" dynamic-condition-type="{{ field.ConditionalType }}"
            unique-id="{{ field.Unique_ID }}" typeahead-editable="false"
            ng-change="defaultServiceChanged()"/>
        <span class="input-group-addon" id="lookup-search-{{field.Unique_ID}}" ng-click="triggerModal('general', field.clc_id, CM.app_id + '.'+ field.Label | translate , 'formValues.' + field.Unique_ID,'','',field.Name, field.filter);" ng-if="$eval(field.Disabled) == true || field.disabled == true ? false : true">
            <a class=" btn default">
                <i class="fa fa-search"></i>
            </a>
        </span>
    </div>
</div>