<div class="row">
  <div class="col-sm-12" style="display: flex; justify-content: center; height: 250px;">
    <div class="col-sm-12 custom-hardcoded-table admin">
      <table class="table-body" style="width: 100% !important;">
        <thead>
          <tr>
            <td style=width: 50px;" class="padding"></td>
            <td style=width: 180px;" class="padding"><b>Lab Result ID</b></td>
            <td style=width: 240px;" class="padding"><b>Lab CounterParty</b></td>
            <td style=width: 240px;" class="padding"><b>Lab Status</b></td>
            <td style=width: 180px;" class="padding"><b>Result Date</b></td>
            <td style=width: 180px;" class="padding"><b>Test Type</b></td>
            <td style=width: 180px;" class="padding"><b>Product</b></td>
            <td style=width: 240px;" class="padding"><b>Recon Status</b></td>
          </tr>
        </thead>
        <tbody ng-repeat="(key, relatedLabResultRow) in formValues.orderRelatedLabResults">
          <td>
            <div class="form-group">
              <label class="mt-checkbox">
                <input type="checkbox" ng-model="relatedLabResultRow.isSelected"
                  ng-change="em(relatedLabResultRow, $index)">
                <span style="background:#fff; border: 1px solid #dedede;"></span>
              </label>
            </div>
          </td>
          <td>
            <a tooltip data-original-title="{{ '' }}" ng-href="#/labs/labresult/edit/{{ relatedLabResultRow.id }}"
              target="_blank">
              {{ relatedLabResultRow.id }}
            </a>
          </td>
          <td>
            <label>{{relatedLabResultRow.labCounterparty}}</label>
          </td>
          <td>
            <div class="ui-grid-cell-contents status text-center" ng-controller="Controller_Master as CM"
              style="background: {{ CM.getColorCodeFromLabels(relatedLabResultRow.labStatus) }}; padding: 8px 0;">
              <span class="font-white ">
                {{relatedLabResultRow.labStatus.displayName ?
                relatedLabResultRow.labStatus.displayName :
                relatedLabResultRow.labStatus.name}}
              </span>
            </div>
          </td>
          <td>
            <div style="padding: 8px 10px;" ng-controller="Controller_Master as CM"
              ng-bind="CM.formatDateTime(relatedLabResultRow.resultDate, null, 'resultDate')"></div>
          </td>
          <td>
            <label>{{relatedLabResultRow.testType}}</label>
          </td>
          <td>
            <label>{{relatedLabResultRow.product}}</label>
          </td>
          <td>
            <div class="ui-grid-cell-contents status text-center" ng-controller="Controller_Master as CM"
              style="background: {{ CM.getColorCodeFromLabels(relatedLabResultRow.reconStatus) }}; padding: 8px 0;">
              <span class="font-white ">
                {{relatedLabResultRow.reconStatus.displayName ?
                relatedLabResultRow.reconStatus.displayName :
                relatedLabResultRow.reconStatus.name}}
              </span>
            </div>
          </td>
        </tbody>
      </table>
    </div>
  </div>