/* You can add global styles to this file, and also import other style files */

@import '../../../assets/theme/theme-blue';

@import '../../../assets/layout/css/layout-shiptech';

@import '../../../assets/sass/layout/bootstrap-loading';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@ag-grid-community/all-modules/dist/styles/ag-grid.css';
@import '~@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Roboto Fonts */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
}

.toastr-copy-input {
  color: white !important;
  border: none !important;
  font-size: 13px !important;
}

.ui-dialog-visible {
  z-index: 1000000 !important;
}

// .mat-tab-body.mat-tab-body-active  {
//     overflow-y: unset !important;
//     overflow-x: unset !important;
// }

// .mat-tab-body-content {
//     overflow: unset !important;
// }

.delivery-mat-menu-panel {
  overflow: unset !important;
  .mat-menu-item {
    overflow: unset !important;
  }
}

.related-invoice-details-wrapper {
  .ag-body-horizontal-scroll-viewport {
    top: 0px !important;
  }

  .ag-theme-material {
    overflow: auto !important;
  }

  .ag-scroller-corner {
    display: none !important;
  }
  .ag-floating-bottom {
    overflow-y: hidden !important;
  }
}

.mat-menu-panel.invoice-mat-menu-panel,
.mat-menu-panel.delivery-mat-menu-panel {
  background: #364150 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 3px !important;

  .mat-menu-item {
    height: 32px;
    padding: 0px 16px;
  }
}

body .ui-tabmenu .ui-tabmenu-nav {
  border-bottom: unset !important;
}

.mat-tab-body.mat-tab-body-active {
  overflow-y: unset !important;
}

.invoice-main-container .mat-tab-body .mat-tab-body-content {
  overflow: hidden !important;
}

.whithheld-amount .mat-checkbox-layout {
  position: relative;
  top: 10px !important;
}

.search-btn-for-invoice .ui-button-icon-left,
.search-icon-supplier .ui-button-icon-left {
  color: #777a7f !important;
}

.shiptech-searchbox .ui-corner-all {
  border: unset !important;
}

.btn-invoice .ui-button-icon-left {
  color: white !important;
}

// body .ui-button:enabled:hover,
// body .ui-button:enabled:active,
// body .ui-button {
//   background-color: unset !important;
//   border-color: unset !important;
// }
.ng2-pdf-viewer-container {
  overflow: unset !important;
}

#pin {
  top: -12px !important;
}

.ag-theme-balham.ag-popup
  > .ag-menu
  > .ag-menu-body
  > .ag-filter
  > .ag-filter-wrapper
  > div:nth-child(3) {
  display: none !important;
}
