<div class="page-quick-sidebar-chat-user">
    <div class="page-quick-sidebar-chat-user-messages">
        <div class="right-menu-title">
            <a><i class="fa fa-plus-square"></i></a>
            <h4>Counterparty</h4>
        </div>
        <div class="right-menu-content">
            <div class="buttons clearfix">
                <div>
                    <button type="submit" class="btn grey-mint">Edit</button>
                </div>    
                <div>
                    <button type="submit" class="btn grey-mint">Delete</button>
                </div>
            </div>
            <div class="counterparty-container">
                <div class="row">
                    <div class="col-md-6 counterparty-title">Chemoil</div>
                    <div class="col-md-6 update-info">last updated at 14:05</div>
                    <div class="col-md-12 contact-info">
                        <span class="phone">+445 026 54012</span>
                        <br />
                        <span class="email">emailrowena@gmail.com</span>
                    </div>
                    <div class="col-md-12 address-info">
                        <span class="address1">Chemoil</span>
                        <br />
                        <span class="address2">3 Shorthlands, Hammersmith</span>
                        <br />
                        <span class="postcode">W68DA</span>
                        <span class="city">LONDON</span>
                        <br />
                        <span class="country">United Kingdom</span>
                    </div>
                    <div class="col-md-12 counterparty-details">
                        <label>Final Term:</label>
                        <br />
                        <label>Broker:</label>
                        <br />
                        <label>Agent:</label>
                        <br />
                        <label>Contact:</label>
                        <br />
                        <span class="name"> Cyril Lagrade, Inatech </span>
                        <br />
                        <span class="phone">+445 026 54012</span> - <span class="email">jeanherve@gmail.com</span>
                    </div>
                    <div class="col-md-12 subtitle"><i class="fa fa-angle-double-right"></i>Exposure:</div>
                    <div class="col-md-12"><img src=""/></div>
                    <div class="col-md-12 subtitle"><i class="fa fa-angle-double-right"></i>Counterparty History:</div>
                    <div class="col-md-12 row date-range">
                        <div class="col-sm-6 date-start">
                            <div class="input-group date date-picker" data-date="10/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                                <input type="text" placeholder="Product" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-1 date-separator"><span>-</span></div>
                        <div class="col-sm-5 date-end">
                            <div class="input-group date date-picker" data-date="10/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
                                <input type="text" placeholder="Product" class="form-control" readonly="">
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row infographics">
                        <div class="col-md-6">
                            <label>Win Rate:</label>
                            <img src=""/>
                        </div>
                        <div class="col-md-6">
                            <label>Average Price Drop:</label>
                            <img src=""/>
                        </div>
                        <div class="col-md-6">
                            <label>Claims:</label>
                            <img src=""/>
                        </div>
                        <div class="col-md-6">
                            <label>Volume:</label>
                            <img src=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
