<div id="filters-widget-scope" >

<!-- <pre>{{$root.modal}}</pre> -->
    <span class="caption-subject filters_configuration" ng-init="getFiltersConfigurations(); getDefaultFiltersConfiguration()">
        Default Filters:
    </span>

    <div class="form_input">
        <!-- <pre></pre> -->
        <select  tabindex="-1" ng-model="selectedConfig" class="form-control bs-select" name="configurations_list" id="configurations_list" ng-options="item as item.name for item in filtersConfigurations track by item.id"
            ng-change="loadSelectedConfig(true)">
            <option value="" disabled></option>
        </select>
    </div>



    <div class=" form_input" ng-if="selectedConfig.id == 0">

        <input  tabindex="-1" type="text" id="configuration_name" class="form-control " ng-model="selectedConfig.name" name="configuration_name"
            placeholder="Configuration Name" ng-required="true" />
    </div>
    <div class=" form_input">
        <div class="text-center">
            <label class="mt-checkbox">
                Is Default
                <input type="checkbox" tabindex="-1" ng-model="selectedConfig.isDefault" name="isDefault" />
                <span></span>
            </label>
        </div>
    </div>
    <!-- <div class="buttons form_input">
        <a class="btn btn-default  btn-outline mt-ladda-btn ladda-button orange" ng-click="createAndUpdateFilterConfig(selectedConfig.id,selectedConfig.name,$root.rawFilters,selectedConfig.isDefault,true);">
            Save
        </a>
    </div> -->
            <!-- <a class="btn btn-default  btn-outline mt-ladda-btn ladda-button orange" ng-click="deleteConfig(selectedConfig);">
                Delete
            </a>
 -->

</div>