<div class="page-quick-sidebar-chat-user">
    <div class="page-quick-sidebar-chat-user-messages">
        <div class="right-menu-title">
            <a><i class="fa fa-plus-square"></i></a>
            <h4>Port/ Location</h4>
        </div>
        <div class="right-menu-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" placeholder="Search" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="port-container">
                <div class="subtitle"><i class="fa fa-angle-double-right"></i>Products</div>
                <div class="row product-list-item light">
                    <div class="col-md-12">
                        <div class="item-content">
                            <div class="row note">
                                <div>
                                    <span>RMG 380</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row product-list-item">
                    <div class="col-md-12">
                        <div class="item-content">
                            <div class="row note">
                                <div>
                                    <span>IFO</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row product-list-item light">
                    <div class="col-md-12">
                        <div class="item-content">
                            <div class="row note">
                                <div>
                                    <span>MDO</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subtitle"><i class="fa fa-angle-double-right"></i>Hierarchy</div>
                <div class="row product-list-item light">
                    <div class="col-md-12">
                        <div class="item-content">
                            <div class="row note">
                                <div>
                                    <span>Location 1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row product-list-item">
                    <div class="col-md-12">
                        <div class="item-content">
                            <div class="row note">
                                <div>
                                    <span>Location 2</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row product-list-item light">
                    <div class="col-md-12">
                        <div class="item-content">
                            <div class="row note">
                                <div>
                                    <span>Location 3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="subtitle"><i class="fa fa-angle-double-right"></i>Physical Suppliers</div>
                <div class="row directory-list-item">
                    <div class="col-md-12">
                        <div class="item-content">
                            <div class="row note">
                                <div class="name">
                                    <span> Cyril Lagrade, Inatech </span>
                                </div>
                                <div>
                                    <span class="phone">+445 026 54012</span>
                                    -
                                    <span class="email">jeanherve@gmail.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row directory-list-item light">
                    <div class="col-md-12">
                        <div class="item-content">
                            <div class="note row">
                                <div class="name">
                                    <span> Cyril Lagrade, Inatech </span>
                                </div>
                                <div>
                                    <span class="phone">+445 026 54012</span>
                                    -
                                    <span class="email">jeanherve@gmail.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row directory-list-item">
                    <div class="col-md-12">
                            <div class="row note">
                                <div class="name">
                                    <span> Cyril Lagrade, Inatech </span>
                                </div>
                                <div>
                                    <span class="phone">+445 026 54012</span>
                                    -
                                    <span class="email">jeanherve@gmail.com</span>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row directory-list-item light">
                    <div class="col-md-12">
                        <div class="item-content">
                            <div class="note row">
                                <div class="name">
                                    <span> Cyril Lagrade, Inatech </span>
                                </div>
                                <div>
                                    <span class="phone">+445 026 54012</span>
                                    -
                                    <span class="email">jeanherve@gmail.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
