.vis-timeline {
	background: #ffffff;
	padding-bottom: 20px;
}

.vis-inner {
	padding: 0 !important;
	display: table !important;
}

.vis-custom-group { 
	/* width: 100%; */
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.vis-custom-group-column { 
	width: 120px;
	/* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #bfbfbf;
    text-align: center;
    /* padding: 5px; */
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8em;
}

.vis-custom-group-column.last { 
	border-right: none;
}

.vis-custom-group-column-content {
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.vis-time-axis .vis-text {
	text-align: center;
}

.vis-today {
	background: #99cb82;
	/* color: #ffffff !important; */
}

.vis-item {
	/* height: 20px; */
}

.vis-item-content {
	font-size: 0.9em;
	text-align: center;
	padding: 0 !important;
	display: flex !important;
	flex-direction: column !important;
	left: 0 !important;
}

.vis-item-addon {
    top: 0px;
    right: 0px;
    background: gray;
    color: #ffffff;
}

.vis-text.vis-minor.vis-monday,
.vis-text.vis-minor.vis-tuesday,
.vis-text.vis-minor.vis-wednesday,
.vis-text.vis-minor.vis-thursday,
.vis-text.vis-minor.vis-friday {
	background: #f0f8ff;
	color: #7ab0dc;
}

.vis-saturday,
.vis-sunday {
	background: #d3d3d3;
}

schedule-dashboard-timeline .vis-inner {
	height: 100%;
}

.timeline-popover-hover.popover-body {
	padding: 0 15px;
}

schedule-dashboard-timeline .vis-item.vis-selected {
	box-shadow: 0px 0px 0px 3px #ffc200;
}

.vis-voyage-content {
	height: 20px;
	color: darkslateblue;
	font-weight: bold;
	font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vis-voyage-content-sap {
    box-shadow: 0px 2px 0px 0px #000 inset, 0px 3px 0px 0px #fff inset, 0px 5px 0px 0px #000 inset;
    font-size: 1em;
    align-items: flex-end;
}

.vis-timeline-filters-container {
	padding: 1em;
	background: #ffffff;
	border: 1px solid #bfbfbf;
}

.vis-timeline-timeselect-container {
	padding: 1em;
	background: #f0f8ff;
	border: 1px solid #bfbfbf;
	text-align: center;
}

.vis-timeline-timeselect {
	font-weight: bold;
	text-align: center;
}

.schedule-dashboard-timeline-footer {
	padding: 0.2em;
	background: #f0f8ff;
	border: 1px solid #bfbfbf;
	text-align: center;
	margin-bottom: 1em;
}
