<!--
    BEGIN SIDEBAR
-->
<div class="page-sidebar navbar-collapse collapse">
    <span class="menu-title">
        MENU
    </span>
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu  " data-keep-expanded="false" data-auto-scroll="false" data-slide-speed="200">
        <li class="nav-item">
            <a class="nav-link nav-toggle" href="#/masters">
                <span class="">
                    Masters
                </span>
                <i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul class="sub-menu ">
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Additional cost
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a ng-click="openInNewTab('url','/masters/additionalcost')" class="nav-link ">
                                <span class="">
                                    Additional cost List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a ng-click="openInNewTab('url','/masters/additionalcost/edit/')" class="nav-link ">
                                <span class="">
                                    New additional cost
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Agreement type
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a ng-click="openInNewTab('url','/masters/agreementtype')" class="nav-link ">
                                <span class="">
                                    Agreement type List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/agreementtype/edit/')" class="nav-link ">
                                <span class="">
                                    New agreement type
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  " ng-show="!tenantSettings.shiptechLite">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Barge
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/barge')" class="nav-link ">
                                <span class="">
                                    Barge List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/barge/edit/')" class="nav-link ">
                                <span class="">
                                    New barge
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Buyer
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/buyer')" class="nav-link ">
                                <span class="">
                                    Buyer List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/buyer/edit/')" class="nav-link ">
                                <span class="">
                                    New buyer
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Calendar
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/calendar')" class="nav-link ">
                                <span class="">
                                    Calendar List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/calendar/edit/')" class="nav-link ">
                                <span class="">
                                    New calendar
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  " ng-show="!tenantSettings.shiptechLite">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Claim Type
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/claimtype')" class="nav-link ">
                                <span class="">
                                    Claim Type List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/claimtype/edit/')" class="nav-link ">
                                <span class="">
                                    New claim type
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            <!-- Company -->
                            {{tenantSettings.companyDisplayName.name}}
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('company','')" class="nav-link ">
                                <span class="">
                                    {{tenantSettings.companyDisplayName.name}} List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('company', '/edit/')" class="nav-link ">
                                <span class="">
                                    New {{tenantSettings.companyDisplayName.name}}
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Contact type
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/contacttype')" class="nav-link ">
                                <span class="">
                                    Contact type List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/contacttype/edit/')" class="nav-link ">
                                <span class="">
                                    New contact type
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Counterparty
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/counterparty')" class="nav-link ">
                                <span class="">
                                    Counterparty List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/counterparty/edit/')" class="nav-link ">
                                <span class="">
                                    New Counterparty
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Country
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/country')" class="nav-link ">
                                <span class="">
                                    Country List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/country/edit/')" class="nav-link ">
                                <span class="">
                                    New country
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Currency
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/currency')" class="nav-link ">
                                <span class="">
                                    Currency List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/currency/edit/')" class="nav-link ">
                                <span class="">
                                    New currency
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Delivery option
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/deliveryoption')" class="nav-link ">
                                <span class="">
                                    Delivery option List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/deliveryoption/edit/')" class="nav-link ">
                                <span class="">
                                    New delivery option
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Document type
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/documenttype')" class="nav-link ">
                                <span class="">
                                    Document type List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/documenttype/edit/')" class="nav-link ">
                                <span class="">
                                    New document type
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Email Logs
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/emaillogs')" class="nav-link ">
                                <span class="">
                                    Email Logs
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Event
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/event')" class="nav-link ">
                                <span class="">
                                    Event List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/event/edit/')" class="nav-link ">
                                <span class="">
                                    New event
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Exchange rate
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a ng-click="openInNewTab('url','/masters/exchangerate')" class="nav-link ">
                                <span class="">
                                    Exchange rate List
                                </span>
                                </a>
                        </li>
                        <li class="nav-item  ">
                            <a ng-click="openInNewTab('url','/masters/exchangerate/edit/')" class="nav-link ">
                                <span class="">
                                    New exchange rate
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  " ng-show="!tenantSettings.shiptechLite">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Formula
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/formula')" class="nav-link ">
                                <span class="">
                                    Formula List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/formula/edit/')" class="nav-link ">
                                <span class="">
                                    New formula
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  " ng-show="!tenantSettings.shiptechLite">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Incoterms
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/incoterms')" class="nav-link ">
                                <span class="">
                                    Incoterms List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/incoterms/edit/')" class="nav-link ">
                                <span class="">
                                    New incoterms
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Location
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/location')" class="nav-link ">
                                <span class="">
                                    Location List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/location/edit/')" class="nav-link ">
                                <span class="">
                                    New Location
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Market instrument
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/marketinstrument')" class="nav-link ">
                                <span class="">
                                    Market instrument List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/marketinstrument/edit/')" class="nav-link ">
                                <span class="">
                                    New market instrument
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Payment term
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/paymentterm')" class="nav-link ">
                                <span class="">
                                    Payment term List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/paymentterm/edit/')" class="nav-link ">
                                <span class="">
                                    New payment term
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Period
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/period')" class="nav-link ">
                                <span class="">
                                    Period List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/period/edit/')" class="nav-link ">
                                <span class="">
                                    New period
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Price master
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/price')" class="nav-link ">
                                <span class="">
                                    Price List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/price/edit/')" class="nav-link ">
                                <span class="">
                                    New price
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Price type
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/pricetype')" class="nav-link ">
                                <span class="">
                                    Price type List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/pricetype/edit/')" class="nav-link ">
                                <span class="">
                                    New Price type
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Product
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/product')" class="nav-link ">
                                <span class="">
                                    Product List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/product/edit/')" class="nav-link ">
                                <span class="">
                                    New product
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            <!-- Service -->
                            {{tenantSettings.serviceDisplayName.name}}
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('service','')" class="nav-link ">
                                <span class="">
                                    {{tenantSettings.serviceDisplayName.name}} List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('service','/edit/')" class="nav-link ">
                                <span class="">
                                    New {{tenantSettings.serviceDisplayName.name.toLowerCase()}}
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Spec group
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/specgroup')" class="nav-link ">
                                <span class="">
                                    Spec group List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/specgroup/edit/')" class="nav-link ">
                                <span class="">
                                    New Spec group
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Spec parameter
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/specparameter')" class="nav-link ">
                                <span class="">
                                    Spec parameter List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/specparameter/edit/')" class="nav-link ">
                                <span class="">
                                    New Spec parameter
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Status
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/status')" class="nav-link ">
                                <span class="">
                                    Status List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/status/edit/')" class="nav-link ">
                                <span class="">
                                    New status
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  " ng-show="!tenantSettings.shiptechLite">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Strategy
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/strategy')" class="nav-link ">
                                <span class="">
                                    Strategy List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/strategy/edit/')" class="nav-link ">
                                <span class="">
                                    New strategy
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            System instrument
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/systeminstrument')" class="nav-link ">
                                <span class="">
                                    System instrument List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/systeminstrument/edit/')" class="nav-link ">
                                <span class="">
                                    New system instrument
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            UOM
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/uom')" class="nav-link ">
                                <span class="">
                                    UOM List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/uom/edit/')" class="nav-link ">
                                <span class="">
                                    New UOM
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Vessel
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/vessel')" class="nav-link ">
                                <span class="">
                                    Vessel List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/vessel/edit/')" class="nav-link ">
                                <span class="">
                                    New vessel
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Vessel type
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/vesseltype')" class="nav-link ">
                                <span class="">
                                    Vessel type List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/masters/vesseltype/edit/')" class="nav-link ">
                                <span class="">
                                    New vessel type
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-toggle" href="">
                <span class="">
                    Procurement
                </span>
                <i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a class="nav-toggle nav-link" href="">
                        <span class="">
                            Schedule Dashboard
                        </span>
                        <i class="fa fa-angle-right pull-right "></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  " ng-show="isShowCalanderView && !tenantSettings.shiptechLite">
                            <a ng-click="openInNewTab('state','DASHBOARD_CALENDAR')" class="nav-link ">
                                <span class="">
                                    Schedule Dashboard Calendar
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a ng-click="openInNewTab('url','/schedule-dashboard-table');  setProductTypeView();" class="nav-link ">
                                <span class="">
                                    Schedule Dashboard Table
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a ng-click="openInNewTab('state','DASHBOARD_TIMELINE'); setProductTypeView();" class="nav-link ">
                                <span class="">
                                    Schedule Dashboard Timeline
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link  nav-toggle" href="">
                        <span class="">
                            Request
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/all-requests-table')" class="nav-link ">
                                <span class="">
                                    Request List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/new-request')" class="nav-link ">
                                <span class="">
                                    New Request
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link  nav-toggle" href="">
                        <span class="">
                            Order
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/order-list')" class="nav-link ">
                                <span class="">
                                    Order List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/new-order')" class="nav-link ">
                                <span class="">
                                    New Order
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  " ng-show="!tenantSettings.shiptechLite">

                            <a ng-click="openInNewTab('url','/sap-export')" class="nav-link ">
                                <span class="">
                                    SAP Export
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" ng-show="!tenantSettings.shiptechLite">

                    <a ng-click="openInNewTab('url','/contract-planning/')" class="nav-link ">
                        <span class="">
                            Contract Planning
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item" ng-show="!tenantSettings.shiptechLite">
            <a class="nav-link nav-toggle">
                <span class="">
                    Contract
                </span>
                <i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">

                    <a ng-click="openInNewTab('url','/contracts/contract')" class="nav-link ">
                        <span class="">
                            Contract list
                        </span>
                    </a>
                </li>
                <li class="nav-item  ">

                    <a href="/v2/contracts/contract/0/details" target="_blank" class="nav-link ">
                        <span class="">
                            New contract
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item" ng-show="!tenantSettings.shiptechLite">
            <a href="/v2/control-tower/control-tower-list-view" target="_blank" class="nav-link ">
                <span class="">
                    Control Tower
                </span>
            </a>
        </li>
        <li class="nav-item" ng-show="!tenantSettings.shiptechLite">
            <a class="nav-link nav-toggle">
                <span class="">
                    Delivery
                </span>
                <i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul class="sub-menu">
                <li class="nav-item ">
                    <a href="/v2/quantity-control/reports-list" target="_blank" class="nav-link ">
                        <span class="">
                            Quantity Control
                        </span>
                    </a>
                </li>
                <li class="nav-item ">

                    <a ng-click="openInNewTab('url','/delivery/ordersdelivery')" class="nav-link ">
                        <span class="">
                            Orders to be delivered
                        </span>
                    </a>
                </li>
                <li class="nav-item  ">

                    <a href="/v2/delivery/delivery/0/details" target="_blank" class="nav-link ">
                        <span class="">
                            New delivery
                        </span>
                    </a>
                </li>
                <li class="nav-item  ">

                    <a ng-click="openInNewTab('url','/delivery/delivery')" class="nav-link ">
                        <span class="">
                            Delivery List
                        </span>
                    </a>
                </li>
                <li class="nav-item  ">

                    <a ng-click="openInNewTab('url','/delivery/deliveriestobeverified')" class="nav-link ">
                        <span class="">
                            Deliveries to be verified
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item" ng-show="!tenantSettings.shiptechLite">
            <a class="nav-link nav-toggle">
                <span class="">
                    Labs
                </span>
                <i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">

                    <a ng-click="openInNewTab('url','/labs/labresult')" class="nav-link ">
                        <span class="">
                            Lab results list
                        </span>
                    </a>
                </li>
                <li class="nav-item  ">

                    <a ng-click="openInNewTab('url','/labs/labresult/edit/')" class="nav-link ">
                        <span class="">
                            New lab result
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item" ng-show="!tenantSettings.shiptechLite">
            <a class="nav-link nav-toggle">
                <span class="">
                    Claims
                </span>
                <i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">

                    <a ng-click="openInNewTab('url','/claims/claim')" class="nav-link ">
                        <span class="">
                            Claims list
                        </span>
                    </a>
                </li>
                <li class="nav-item  ">

                    <a ng-click="openInNewTab('url','/claims/claim/edit/')" class="nav-link ">
                        <span class="">
                            New claim
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item" ng-show="!tenantSettings.shiptechLite">
            <a class="nav-link nav-toggle">
                <span class="">
                    Invoices
                </span>
                <i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">

                    <a ng-click="openInNewTab('url','/invoices/deliveries')" class="nav-link ">
                        <span class="">
                            {{ translateLabel('navigation.INVOICES_DELIVERIES_LIST') }}
                        </span>
                    </a>
                </li>
                <li class="nav-item  ">

                    <a ng-click="openInNewTab('url','/invoices/claims')" class="nav-link ">
                        <span class="">
                            Claims list
                        </span>

                    </a>

                </li>
                <li class="nav-item  ">

                    <a ng-click="openInNewTab('url','/invoices/invoice')" class="nav-link ">
                        <span class="">
                            Invoices list
                        </span>

                    </a>

                </li>
                <li class="nav-item  ">

                    <a ng-click="openInNewTab('url','/invoices/complete_view')" class="nav-link ">
                        <span class="">
                            Complete view
                        </span>
                    </a>
                </li>

                <li class="nav-item  ">

                    <a ng-click="openInNewTab('url','/invoices/treasuryreport')" class="nav-link ">
                        <span class="">
                            Treasury report
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item" ng-show="!tenantSettings.shiptechLite">
            <a class="nav-link nav-toggle">
                <span class="">
                    Recon
                </span>
                <i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">

                    <a ng-click="openInNewTab('url','/recon/reconlist')" class="nav-link ">
                        <span class="">
                            Recon list
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-toggle">
                <span class="">
                    Admin
                </span>
                <i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle">
                        <span class="">
                            Users list
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/admin/users')" class="nav-link ">
                                <span class="">
                                    Users List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/admin/users/edit/')" class="nav-link ">
                                <span class="">
                                    New user
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle" href="">
                        <span class="">
                            Roles list
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/admin/role')" class="nav-link ">
                                <span class="">
                                    Roles List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/admin/role/edit/')" class="nav-link ">
                                <span class="">
                                    New Role
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item  ">

                    <a ng-click="openInNewTab('url','/admin/configuration/edit/1')" class="nav-link ">
                        <span class="">
                            Configuration
                        </span>
                    </a>
                </li>
                <li class="nav-item  "  ng-show="!tenantSettings.shiptechLite"> 
                    <a ng-click="openInNewTab('url','/admin/order-import')" class="nav-link ">
                        <span class="">
                            Order to Invoice Import 
                        </span>
                    </a>
                </li>
                <li class="nav-item  ">

                    <a ng-click="openInNewTab('url','/admin/sellerrating/edit/')" class="nav-link ">
                        <span class="">
                            Seller Rating
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-toggle">
                        <span class="">
                            Alerts
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">

                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/alerts')" class="nav-link ">
                                <span class="">
                                    Alerts list
                                </span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link nav-toggle">
                        <span class="">
                            Trade Book
                        </span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/admin/tradebook')" class="nav-link ">
                                <span class="">
                                    Trade Book List
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  ">

                            <a ng-click="openInNewTab('url','/admin/tradebook/edit/')" class="nav-link ">
                                <span class="">
                                    New Trade Book
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-item" ng-show="!tenantSettings.shiptechLite">
            <a ng-click="openInNewTab('url','/reports')" class="nav-link ">
                <span class="">
                    Reports
                </span>
            </a>
        </li>
        <li class="nav-item" ng-show="!!tenantSettings.defaultValues.integrationsUrl">
            <a href="{{tenantSettings.defaultValues.integrationsUrl}}" target="_blank" class="nav-link ">
                <span class="">
                    Integrations
                </span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->