<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title font-blue-madison"><strong>Amend RFQ</strong></h4>
</div>
<div class="modal-body">Request details have been updated. You can now send the amendments in RFQ. Do you want to resend RFQ?</div>
<div class="modal-footer">
    <button type="button" class="btn orange btn-outline" data-dismiss="modal" ng-click="$ctrl.amendRFQ()">Yes</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.reloadRequest()">No</button>
</div>