<!-- <div ng-controller="FiltersController"> -->
<!-- {{columnFilters[column][0].value[0]}} -->

<div class="customPopover" id="customPopover" ng-init="checkColumnFilters(column);">
    <!--  <pre>Old: {{columnFilters[column][0].column.columnValue}}</pre> -->
    <!-- <pre>New: {{columnFilters[column][0].column.sortColumnValue}}</pre> -->
    <!-- <pre>{{columnFilters[column][0].column.columnValue == column ? "don't change" : "change"}}</pre> -->
    <p></p>
    <ul>
        <li>
            <a ng-click="columnSort(table, sortcol, 1,  columnFilters[column][0].column.sortColumnValue)">
                <i class="fa fa-sort-alpha-asc"></i> Sort Ascending</a>
        </li>
        <li>
            <a ng-click="columnSort(table, sortcol, 2,  columnFilters[column][0].column.sortColumnValue)">
                <i class="fa fa-sort-alpha-desc"></i> Sort Descending</a>
        </li>
        <li>
            <a ng-click="columnSort(table, sortcol, 0,  columnFilters[column][0].column.sortColumnValue)">
                <i class="fa fa-random" aria-hidden="true"></i> Remove Sorting</a>
        </li>
    </ul>
    <!-- {{column}}
    {{columnFilters}} -->
    <!-- <pre>{{columnFilters[column][0]}}</pre> -->
    <div class="showFilters" ng-if="$root.CheckForFilters && table != 'flat_schedule_dashboard_table'">
        <p>Show rows where:</p>
        <div class="filterRules">
            <div class="row" ng-repeat="(key, value) in columnFilters[column]"  ng-init="columnFilters[column][key].column.columnType == 'Date' || columnFilters[column][key].column.columnType == 'DateOnly' ? datepickers() : ''">

                <div class="col-sm-12" ng-init="columnFilters[column][key].column =(currentColumns | filter:{columnValue:column}:true)[0];  "
                    ng-if=" key == 0 || columnFilters[column][key].filterOperator">
                    <div class="row mb10">
                        <!-- condition -->
                        <span ng-init="setDefaultConditionType(column, key)"></span>
                        <div class="col-sm-9">
                            <div class="form_input" ng-if="columnFilters[column][key].column.columnType">
                            	<span class="hidden">
		                    	 {{columnFilters[column][key].column.columnType == 'Quantity' || 
		                    	 columnFilters[column][key].column.columnType == 'Price' || 
		                    	 columnFilters[column][key].column.columnType == 'Amount' 
		                    	 ? renderColumnType = 'Number' 
		                    	 : renderColumnType = columnFilters[column][key].column.columnType}}

		                    	 {{columnFilters[column][key].column.columnType == 'DateOnly'
		                    	 ? renderColumnType = 'Date' 
		                    	 : '' }}		                    	 
                            	</span>
                                <select ng-model="columnFilters[column][key].condition" class="form-control bs-select" name="rule_{{ key }}_condition" id="rule_{{ key }}_condition"
                                    ng-options="item as item.conditionName for item in (conditions | filter:{conditionApplicable:renderColumnType}) track by item.conditionValue "
                                    ng-disabled="!columnFilters[column][key].column" required ng-change="columnFilters[column][key].column.columnType == 'Date' ? datepickers() : ''; clearValues(column, key)"></select>
                            </div>
                       
                        </div>
                        <div class="col-sm-2 no-padding">
                            <span ng-show="!$first" class="">
                                <button class=" btn default miunsAct" ng-click="columnFilters[column].splice(key, 1)">
                                    <i class="fa fa-minus miunsAct"></i>
                                </button>
                            </span>
                            <span ng-if="$first" class="">
                                <button class=" btn default" ng-disabled="!columnFilters[column][columnFilters[column].length -1].condition"
                                    ng-click="columnFilters[column].push({})">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                    <div class="row mb10">

                        <!-- value -->
                        <div class="col-sm-12">
                            <div class="form_input">
                                <!-- {{columnFilters[column][key].column.columnType }} -->
                                <span ng-switch="columnFilters[column][key].condition.conditionNrOfValues">
                                    <!-- two filter values -->
                                    <span ng-switch-when="2">
                                        <div class="form_group no-label">
                                            <!-- 1. type date -->
                                            <div ng-if="columnFilters[column][key].column.columnType == 'Date' || columnFilters[column][key].column.columnType == 'DateOnly'" class="popover-filter-dates">
                                                <div class="between input-group">
                                                    <!-- mask initialization -->
                                                    <span ng-init="initMask(true)"></span>
                                                    <span ng-init="datepickers()"></span>

                                                    <!-- model initialization -->
                                                    <span ng-init="initModelValue({
                                                        path: 'columnFilters[\'' + column + '\'][' + key + '].value[0]',
                                                        root: '$scope',
                                                    })"></span>

                                                    <!-- value initialization -->
                                                    <span ng-init="setValue({
                                                        path: 'columnFilters[\'' + column + '\'][' + key + '].value[0]',
                                                        root: '$scope',
                                                        pickerId: 'date_0',
                                                    }, 1, true)" ng-if="columnFilters[column][key].value[0]"></span>
                                                  

                                                    <!-- manual input -->
                                                    <input class="formatted-date-input date-only"
                                                    ng-model="formatDates.columnFilters[column][key].value[0]" 
                                                    ng-change="setValue({
                                                        path: 'columnFilters[\'' + column + '\'][' + key + '].value[0]',
                                                        root: '$scope',
                                                        pickerId: 'date_0',
                                                    }, 2, true);"
                                                    ng-focus="inputFocus['date_0'] = true; $event.stopPropagation(); event = $event" 
                                                    ng-blur="inputFocus['date_0'] = false;"
                                                    ng-invalid="{{ invalidDate['date_0'] && !inputFocus['date_0'] }}"
                                                    name="date_0">
                                                    <!-- manual input -->
                                                    
                                                    <!-- button -->
                                                    <span class="input-group-btn date-picker date form_meridian_datetime formatted-date-button" id="date_0">
                                                        <!-- datepicker input -->
                                                        <input type="text" id="filter{{ key }}_{{ columnFilters[column][key].column.columnType }}0" class="form-control hidden-form-input " ng-model="columnFilters[column][key].value[0]"
                                                        name="condition_value_{{ key }}" id="condition_value_{{ key }}" required  visibility="hidden" ng-change="setValue({
                                                            path: 'columnFilters[\'' + column + '\'][' + key + '].value[0]',
                                                            root: '$scope',
                                                            pickerId: 'date_0',
                                                        }, 1, true); invalidDate['date_0'] = false;"/>
                                                        <!-- datepicker input -->
                                                        <button class="btn default date-set" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                    <!-- button -->
                                                </div>
                                                <div class="between input-group">
                                                    <!-- mask initialization -->
                                                    <span ng-init="initMask(true)"></span>

                                                    <!-- model initialization -->
                                                    <span ng-init="initModelValue({
                                                        path: 'columnFilters[\'' + column + '\'][' + key + '].value[1]',
                                                        root: '$scope',
                                                    })"></span>

                                                    <!-- value initialization -->
                                                    <span ng-init="setValue({
                                                        path: 'columnFilters[\'' + column + '\'][' + key + '].value[1]',
                                                        root: '$scope',
                                                        pickerId: 'date_1',
                                                    }, 1, true)" ng-if="columnFilters[column][key].value[1]"></span>
 
                                                    <!-- manual input -->
                                                    <input class="formatted-date-input date-only"
                                                    ng-model="formatDates.columnFilters[column][key].value[1]" 
                                                    ng-change="setValue({
                                                        path: 'columnFilters[\'' + column + '\'][' + key + '].value[1]',
                                                        root: '$scope',
                                                        pickerId: 'date_1',
                                                    }, 2, true);"
                                                    ng-focus="inputFocus['date_1'] = true; $event.stopPropagation(); event =$event" 
                                                    ng-blur="inputFocus['date_1'] = false;"
                                                    ng-invalid="{{ invalidDate['date_1'] && !inputFocus['date_1'] }}"
                                                    name="date_1">
                                                    <!-- manual input -->
                                              
                                                    <!-- button -->
                                                    <span class="input-group-btn date-picker date form_meridian_datetime formatted-date-button" id="date_1">
                                                        <!-- datepicker input -->
                                                            <input type="text" id="filter{{ key }}_{{ columnFilters[column][key].column.columnType }}" class="form-control hidden-form-input" ng-model="columnFilters[column][key].value[1]"
                                                            name="condition_value_{{ key }}" id="condition_value_{{ key }}" required
                                                        visibility="hidden" ng-change="setValue({
                                                            path: 'columnFilters[\'' + column + '\'][' + key + '].value[1]',
                                                            root: '$scope',
                                                            pickerId: 'date_1',
                                                        }, 1, true); invalidDate['date_1'] = false;"/>
                                                        <!-- datepicker input -->
                                                        <button class="btn default date-set" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                    <!-- buttom -->
                                                </div>
                                            </div>
                                            <!-- 2. type number / amount etc-->
                                             <!-- {{ columnFilters[column][key].column.columnType }}  -->
                                            <div ng-if="columnFilters[column][key].column.columnType == 'Number' || 
                                                        columnFilters[column][key].column.columnType == 'Quantity' ||
                                                        columnFilters[column][key].column.columnType == 'Price'">
                                                <div class="between">
                                                    <input type="text" id="filter{{ key }}_{{ columnFilters[column][key].column.columnType }}0" class="form-control " ng-model="columnFilters[column][key].value[0]"
                                                        name="condition_value_{{ key }}" id="condition_value_{{ key }}" required
                                                        format="number:3"
                                                    />
                                                </div>
                                                <div class="between">
                                                    <input type="text" id="filter{{ key }}_{{ columnFilters[column][key].column.columnType }}1" class="form-control" ng-model="columnFilters[column][key].value[1]"
                                                        name="condition_value_{{ key }}" id="condition_value_{{ key }}" required
                                                        format="number:3"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                    <!-- one filter value -->
                                    <span ng-switch-when="1" >
                                        <div class="form_input no-label">
                                            <div ng-class="columnFilters[column][key].column.columnType == 'Date' || columnFilters[column][key].column.columnType == 'DateOnly' ? 'input-group popover-filter-date' : ''">
                                                <!-- type number & type text -->
                                                <input type="text" id="filter{{ key }}_{{ columnFilters[column][key].column.columnType }}" class="form-control" ng-model="columnFilters[column][key].value[0]"
                                                    name="condition_value_{{ key }}" id="condition_value_{{ key }}" required
                                                    format="{{columnFilters[column][key].column.columnType == 'Number' ? 'number:3' : ''}}"
                                                    ng-if="columnFilters[column][key].column.columnType != 'Bool' &&
                                                    columnFilters[column][key].column.columnType != 'Date' && columnFilters[column][key].column.columnType != 'DateOnly'" />

                                                <!--  type bool -->
                                                <select name="enumConditions{{key}}" id="enumConditions{{key}}" ng-if="columnFilters[column][key].column.columnType == 'Bool'"
                                                    ng-model="columnFilters[column][key].value[0]" class="form-control bs-select">
                                                    <option value="{{vl.databaseValue}}" ng-repeat="(key, vl) in listsCache.TrueFalseOptions">
                                                    	{{column != 'IsDeleted' ? vl.name : (vl.name == 'Yes' ? 'Inactive' : 'Active')}}
                                                    </option>
                                                </select>

                                                <!--  type date -->
                                                <span ng-if="columnFilters[column][key].column.columnType == 'Date' || columnFilters[column][key].column.columnType == 'DateOnly'" >
                                                    <!-- mask initialization -->
                                                    <span ng-init="initMask(true)"></span>
													<span ng-init="datepickers()"></span>
                                                    <!-- model initialization -->
                                                    <span ng-init="initModelValue({
                                                        path: 'columnFilters[\'' + column + '\'][' + key + '].value[0]',
                                                        root: '$scope',
                                                    })"></span>

                                                    <!-- value initialization -->
                                                    <span ng-init="setValue({
                                                        path: 'columnFilters[\'' + column + '\'][' + key + '].value[0]',
                                                        root: '$scope',
                                                        pickerId: 'date_0',
                                                    }, 1, true)" ng-if="columnFilters[column][key].value[0]"></span>

                                                       <!-- manual input -->
                                                        <input class="formatted-date-input date-only"
                                                        ng-model="formatDates.columnFilters[column][key].value[0]" 
                                                        ng-change="setValue({
                                                            path: 'columnFilters[\'' + column + '\'][' + key + '].value[0]',
                                                            root: '$scope',
                                                            pickerId: 'date_0',
                                                        }, 2, true);"
                                                        ng-focus="inputFocus['date_0'] = true; $event.stopPropagation(); event =$event" 
                                                        ng-blur="inputFocus['date_0'] = false;"
                                                        ng-invalid="{{ invalidDate['date_0'] && !inputFocus['date_0'] }}"
                                                        name="date_0">
                                                        <!-- manual input -->

                                                        <!-- button -->
                                                        <span class="input-group-btn date-picker date form_meridian_datetime formatted-date-button" id="date_0">
                                                            <!-- datepicker input -->
                                                                <input type="text" id="filter{{ key }}_{{ columnFilters[column][key].column.columnType }}" class="form-control hidden-form-input" ng-model="columnFilters[column][key].value[0]"
                                                                name="condition_value_{{ key }}" id="condition_value_{{ key }}" required
                                                                visibility="hidden" ng-change="setValue({
                                                                path: 'columnFilters[\'' + column + '\'][' + key + '].value[0]',
                                                                root: '$scope',
                                                                pickerId: 'date_0',
                                                            }, 1, true); invalidDate['date_0'] = false;" />
                                                            <!-- datepicker input -->
                                                            <button class="btn default date-set" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                        <!-- buttom -->
                                                </span>
                                            </div>
                                        </div>
                                    </span>
                                    <span ng-switch-default></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb10" ng-if="columnFilters[column][key+1] && columnFilters[column][key].condition && (columnFilters[column][key].condition.conditionNrOfValues == 0 || columnFilters[column][key].condition.conditionNrOfValues > 0 && (columnFilters[column][key].value[0] || columnFilters[column][key].value[1]))  ">
                        <div class="col-sm-5" ng-init="operators = [{id:2,name:'OR'},{id:1, name:'AND'}]">
                            <select ng-model="columnFilters[column][key+1].filterOperator" class="form-control bs-select" name="rule_{{ key+1 }}_filterOperator"
                                id="rule_{{ key+1 }}_filterOperator" ng-options="item.id as item.name for item in operators">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="footer_action">
            <div class="">
                <button class="btn btn-default  btn-outline mt-ladda-btn ladda-button orange" ng-click="applyFilters(columnFilters[column], true, true);hidePopover()"
                    ng-disabled="!columnFilters[column][0].condition">
                    Filter
                </button>
                <button class="btn btn-default btn-default" ng-click="removeFilterColumn(column);hidePopover()" ng-disabled="!columnFilters[column][0].condition">
                    Clear
                </button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- </div> -->
</div>
