
	<span ng-if="structure" ng-init="CM.load_eef_config(structure);"></span>
	<span ng-if="!structure" ng-init="CM.get_master_entity(screenchild);"></span>
    <span ng-init="CM.loadShiptechLite();"></span>
	<div class=" text-center " id="main-content" ng-init="checkIfTab();">
    <form  name="CM.editInstance" autocomplete="off" novalidate ng-class="CM.app_id == 'wizard_form' ? 'step' : ''">
        <div class=" dynamic_form_editor  app_{{ CM.app_id }}_screen_{{ CM.screen_id }}" ng-init="hideDependentFields()">
            <div  class=" text-left row form-wizard" id="formBuilderContent">
                <div class="col-md-12  hidden" ng-if=" type =='tabs' " id="tabs_navigation">
                    <ul class="nav nav-tabs bg-white mb0" ng-class="CM.app_id == 'alerts' ? 'steps nav-justified' : ''">
                        <li class="shiptech_tabs" data-ng-repeat="title in formFields" ng-hide="visible_sections.indexOf(title.id) < 0" ng-class="$index == 0 ? 'active in ' : ''" ng-if="title.isTab">
                            <a href="#tab_{{ $index }}" data-toggle="tab"  ng-class="CM.app_id == 'alerts' ? 'step' : ''" ng-click="tab_content =  $index ">
                                <span class="number" ng-if="CM.app_id == 'alerts'">
                                    {{ $index + 1 }}
                                </span>
                                <span class="" ng-class="CM.app_id == 'alerts' ? 'desc' : ''">
                                    <i class="fa fa-check" ng-if="CM.app_id == 'alerts'"></i>
                                    {{ title.name }}
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div  ng-class="type == 'tabs' ? 'tab-content grp_unit' : ''">
                    <div  class="group_{{ parents.id.replace(' ','_') }} "
                    	ng-hide="visible_sections.indexOf(parents.id) < 0 ||
                    	(CM.shiptechLite && parents.id == 'Energy Calculation Formula') ||
                    	(parents.id=='customerConfigurations' && !isCustomerCounterparty()) ||
                    	(parents.id=='locationTerminals' && !isLocationTerminalVisible()) ||
                    	(parents.id=='portSequence' && isPortSequenceVisible() == false) ||
                    	(parents.id=='counterpartyBankAccounts' && !isCounterpartyBankAccountAddable()) ||
                    	( (parents.id=='BOPSDetails' || parents.id=='ProductSpecificDetails')  && !isLocationBopsDetailsVisible()) ||
                    	((parents.id=='BOPS Details' || parents.id=='VESSEL TANK Details') && isHideVesselBopsDetails)"
                    	data-ng-repeat="parents in formFields" id="tab_{{ $index }}"  ng-class="{ 'tab-pane fade': parents.isTab && type == 'tabs', 'active in': $index == 0 , 'col-md-12': !parents.Columns[0].Value, 'col-md-{{ parents.Columns[0].Value }}': parents.Columns[0].Value }" ng-if="!parents.hidden">
                        <div class="col-md-12 portlet light ">
                            <div class="portlet-title" ng-if="parents.name != 'General' && CM.screen_id != 'formula' && CM.app_id != 'alerts'" ng-controller="Controller_Delivery as CD">
                                <div class="tools">
                                    <a   class="collapse" data-original-title="" title=""></a>
                                </div>
                                <div class="caption">
                                	<span class="caption-subject">
                                		{{ parents.label ? parents.label : parents.name }}
                                		<span ng-if="CM.screen_id == 'delivery' && CM.app_id == 'delivery' && parents.name == 'Deliveries'">
                                			<span ng-if="formValues.info.requestId"> - {{ formValues.info.requestId }}</span>
                                			<span ng-if="formValues.info.request.id">- {{ formValues.info.request.id }}</span>
                                			<span ng-if="formValues.info.vesselName"> - {{ formValues.info.vesselName | decodeReadOnly }} </span>
                                			<span ng-if="formValues.info.locationName">  - {{ formValues.info.locationName | decodeReadOnly }} </span>
                                			<span ng-if="formValues.info.eta">
                                				- ETA
                                				<span ng-bind="CM.formatDate(formValues.info.eta, '{{tenantSetting.tenantFormats.dateFormat.name}}')"></span>
                                			</span>

                                			<span ng-if="formValues.info.etb">
                                				- ETB
                                				<span ng-bind="CM.formatDate(formValues.info.etb, '{{tenantSetting.tenantFormats.dateFormat.name}}')"></span>
                                			</span>
                                		</span>
                                		<span ng-if="CM.screen_id == 'invoice' && CM.app_id == 'invoices' && parents.name == 'Related Invoices'">
                                			- REQUEST {{formValues.requestInfo.request.id}}
	                                	</span>
                                	</span>
                                </div>
                                <div ng-if="CM.screen_id == 'counterparty' && CM.app_id == 'masters' && parents.name == 'General Information' && formValues.sellerRating" style="position: relative;top: 6px; float: right; display: inline-flex; padding-left: 15px;padding-right: 15px;">
                                    <div  style="position: relative; display: inline-flex;">
                                        <span  star-rating ng-model="formValues.sellerRating" style="margin-top: 3.5px !important;"></span>
                                        <div>
                                            ( {{ CM.formatNumber(formValues.sellerRating) }} Out of 5 )
                                        </div>

                                    </div>
                                    <div  ng-if="formValues.sellerRatingLastModifiedBy && formValues.sellerRatingLastModifiedOn" style="margin-left: 10px;">
                                        Rated by
                                        <span class="created-by-display-name">
                                        {{ formValues.sellerRatingLastModifiedBy.name}}
                                        </span>
                                        on
                                        <span class="seller-rating-created-on">
                                         {{ CM.formatDateTime(formValues.sellerRatingLastModifiedOn) }}
                                        </span>
                                    </div>
                                </div>
                                <div ng-if="CM.screen_id == 'invoice' && CM.app_id == 'invoices' && parents.name == 'Related Invoices'" class="pull-right">
                                	<em>Invoices Created : {{formValues.relatedInvoices.length}}</em>
                                </div>

                                <div ng-include="'app-general-components/views/screen_parts/deliveryApp_block_custom_headers.html'"></div>
                                <div ng-include="'app-general-components/views/screen_parts/invoicesApp_block_custom_headers.html'"></div>
                                <div ng-include="'app-general-components/views/screen_parts/reconApp_block_custom_headers.html'"></div>
                                <div ng-if="parents.name == 'VesselTankDetails' && CM.screen_id == 'vessel'" style="float: right">
                                    <a ng-click="CM.cloneEntity('tanks')" class="btn default">
                                        Add new
                                    </a>
                                </div>
                                <div ng-if="parents.name == 'Contacts' && (CM.screen_id == 'counterparty' || CM.screen_id == 'service')" style="float: right">
                                    <a ng-click="CM.addCounterpartyContact()" class="btn default">
                                        Add new
                                    </a>
                                </div>
                                <div ng-if="parents.name == 'Vessel Contacts' && CM.screen_id == 'vessel'" style="float: right">
                                    <a ng-click="CM.addVesselContact()" class="btn default">
                                        Add new
                                    </a>
                                </div>
                                <div ng-if="parents.name == 'General Information' && CM.screen_id == 'labresult'" style="float: right;  margin-top: 10px;">

                                </div>
                            </div>
                            <div class="portlet-title" ng-if="parents.name == 'General' && CM.screen_id == 'treasuryreport' && CM.app_id == 'invoices'">
                                <div class="tools">
                                    <a   class="collapse" data-original-title="" title=""></a>
                                </div>
                                <div class="caption">

                                	<span class="caption-subject">
                                		Summary
                                	</span>
                                </div>
					            <button class="btn btn-default font-orange pull-right go_report_cashflow" ng-click="go_report_cashflow()">Report</button>
					            <button class="treasury_generate_report" ng-click="treasury_generate_report()">Generate Report</button>
					            <button class="btn btn-default  btn-outline pull-right" style="margin:0 15px" ng-click="treasury_clear_report()">Clear</button>
                            </div>
                            <div class="portlet-body  main-portlet_content">
                                <div class="row">
                                    <span ng-if="CM.app_id == 'invoices' && CM.screen_id == 'treasuryreport'">
                                        <span ng-include="'app-invoice/views/treasury-report-currency-panel.html'"></span>
                                    </span>
                                    <!-- {{!( ['vesselAccount', 'isFlowMeterAvailable', 'departments', 'isVesselManagable'].includes(field.Unique_ID) && CM.screen_id == 'vessel' && isHideVesselBopsDetails)}} -->
                                    <div ng-repeat="(index, field) in parents.children" style="min-height: 50px;" ng-switch on="field.Type" class=" col-md-{{ field.Columns[0].Value }} fe_entity edit_form_fields_{{ field.Name.replace('.','_') }}_{{ CM.app_id }} " ng-class="{'clear':field.LastOnRow, 'conditional_hidden':!$eval(field.Conditional)}" data-show="{{ field.ShowOn.split(',')[1] }}" data-dependent="{{ field.ShowOn.split(',')[0] }}" ng-hide="{{field.Hidden}}"
                                    ng-if="!(CM.screen_id == 'vessel' && !adminConfiguration.master.isVesselBopsDetailsVisible && (field.Unique_ID == 'vesselAccount' || field.Unique_ID == 'isFlowMeterAvailable' || field.Unique_ID == 'departments' || field.Unique_ID == 'isVesselManagable'))" ng-style="{ 'margin-left' : (field.Name == 'mandatoryInDelivery') ? '66.6666%' : '0%' }">


                                        <span ng-switch-when="text">
                                            <span ng-include="'app-general-components/views/controls/text-control.html'"></span>
                                        </span>

                                        <!-- Counterparty roles -->
                                        <span ng-switch-when="multiselect-with-lookup">
                                            <span ng-include="'app-general-components/views/controls/multi-select-with-lookup.html'"></span>
                                        </span>

                                        <span ng-switch-when="number">
                                            <span ng-include="'app-general-components/views/controls/number-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="label">
                                            <span ng-include="'app-general-components/views/controls/label-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="resul">
                                            <span ng-include="'app-general-components/views/controls/result-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="variance">
                                            <span ng-include="'app-general-components/views/controls/variance-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="textUOM">
                                            <span ng-include="'app-general-components/views/controls/textUOM-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="textWithAction">
                                            <span ng-include="'app-general-components/views/controls/textWithAction-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="textIM">
                                            <span ng-include="'app-general-components/views/controls/textIM-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="simpleLookup">
                                            <span ng-include="'app-general-components/views/controls/simpleLookup-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="textareaWithTags">
                                            <span ng-include="'app-general-components/views/controls/textareaWithTags.html'"></span>
                                        </span>

                                        <span ng-switch-when="multiLookup">
                                            <span ng-include="'app-general-components/views/controls/multiLookup-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="dropdownGet">
                                            <span ng-include="'app-general-components/views/controls/dropdownGet.html'"></span>
                                        </span>
                                        <span ng-switch-when="dropdown">
                                            <span ng-include="'app-general-components/views/controls/dropdown-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="dropdownSend">
                                            <span ng-include="'app-general-components/views/controls/dropdownSend-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="radio">
                                            <span ng-include="'app-general-components/views/controls/radio-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="checkbox">
                                            <span ng-include="'app-general-components/views/controls/checkbox-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="date">
                                            <span ng-include="'app-general-components/views/controls/new-date-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="textarea">
                                            <span ng-include="'app-general-components/views/controls/textarea-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="upload">
                                            <span ng-include="'app-general-components/views/controls/upload-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="uploadDocuments">
                                            <span ng-include="'app-general-components/views/controls/uploadDocuments-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="link">
                                            <span ng-include="'app-general-components/views/controls/link-control.html'"></span>
                                        </span>
                                        <span ng-switch-when="textMulti">
                                            <span ng-include="'app-general-components/views/controls/text-multi.html'"></span>
                                        </span>
                                        <span ng-switch-when="switchValues">
                                            <span ng-include="'app-general-components/views/controls/switchValues.html'"></span>
                                        </span>
                                        <span ng-switch-when="robCustom">
                                            <span ng-include="'app-general-components/views/controls/rob_standard_table_vessel.html'"></span>
                                        </span>
                                        <span ng-switch-when="robCustom_vesselType">
                                            <span ng-include="'app-general-components/views/controls/rob_standard_table_vesselType.html'"></span>
                                        </span>
                                        <span ng-switch-when="productEnergyFormulas">
                                            <span ng-include="'app-general-components/views/controls/product_energy_formulas.html'"></span>
                                        </span>

                                        <span ng-switch-when="preferredLocationsGroup">
                                            <span ng-include="'app-general-components/views/screen_parts/masters/preferredLocationsGroup.html'"></span>
                                        </span>
                                        <span ng-switch-when="labTestResultsGroup">

                                            <span ng-include="'app-labs/views/components/lab_test_results.html'"></span>
                                        </span>

                                        <span ng-switch-when="customerConfigurationsGroup" ng-if="isCustomerCounterparty()">
                                            <span ng-include="'app-general-components/views/screen_parts/masters/counterparty_customer_configuration.html'"></span>
                                        </span>

                                        <div ng-switch-when="portGroup" ng-if ="isPortSequenceVisible()">
                                            <span ng-include="'app-general-components/views/screen_parts/masters/portSequence.html'"></span>
                                        </div>
                                        <span ng-switch-when="counterpartyBankAccounts" ng-if="isCounterpartyBankAccountAddable()">
                                            <span ng-include="'app-general-components/views/screen_parts/masters/counterpartyBankAccounts.html'"></span>
                                        </span>
                                        <div class="form-group  form-inline row" ng-switch-when="CLC">
                                            <div class=" group_{{ field.Unique_ID }}">
                                                <span ng-include="'app-general-components/views/controls/dataTable.html'"></span>
                                           </div>
                                        </div>
                                            <div class="form-group  form-inline " ng-switch-when="ProductDetailsGroup">
                                                <span ng-include="'app-general-components/views/screen_parts/contractsProductDetails.html'"></span>
                                            </div>
                                            <div class="form-group  form-inline " ng-switch-when="contactsGroup">
                                                <span ng-include="'app-general-components/views/screen_parts/counterparties_contact_group.html'"></span>
                                            </div>
                                            <div class="form-group  form-inline row" ng-switch-when="userLeaveDetailsGroup">
                                                <span ng-include="'app-general-components/views/screen_parts/userLeaveDetails_group.html'"></span>
                                            </div>
                                            <div class="form-group  form-inline " ng-switch-when="permissionsTabs">
                                                <span ng-include="'app-general-components/views/screen_parts/permissionsTabs_group.html'"></span>
                                            </div>
                                            <div class="" ng-switch-when="orderSummaryGroup">
                                                <span ng-include="'app-general-components/views/screen_parts/orderSummaryGroup.html'"></span>
                                            </div>
                                            <div class="" ng-switch-when="DeliveryOrderSummaryGroup">
                                                <span ng-include="'app-general-components/views/screen_parts/delivery/orderSummaryGroup.html'"></span>
                                            </div>
                                            <div class="form-group  row " ng-switch-when="ClaimSubType">
                                                <span ng-include="'app-general-components/views/screen_parts/ClaimSubType.html'"></span>
                                            </div>
                                            <div class="form-group  row " ng-switch-when="ContractSummaryGroup">
                                                <span ng-include="'app-general-components/views/screen_parts/ContractSummaryGroup.html'"></span>
                                            </div>
                                            <div class="form-group  row " ng-switch-when="conversionFactorGroup">
                                                <span ng-include="'app-general-components/views/screen_parts/conversionFactorGroup.html'"></span>
                                            </div>
                                            <div class="form-group   row" ng-switch-when="locationAgentsGroup">
                                                <span ng-include="'app-general-components/views/screen_parts/locationAgentsGroup.html'"></span>
                                            </div>
                                            <div class="form-group   row" ng-switch-when="FormulaDiscountRulesGroup">
                                                <span ng-include="'app-general-components/views/screen_parts/FormulaDiscountRulesGroup.html'"></span>
                                            </div>
                                            <div class="form-group   row" ng-switch-when="FormulaPricingScheduleGroup">
                                                <span ng-include="'app-general-components/views/screen_parts/FormulaPricingScheduleGroup.html'"></span>
                                            </div>
                                            <span ng-switch-when="userAccessRights">
                                                <span ng-include="'app-general-components/views/screen_parts/AccessRights.html'"></span>
                                            </span>
                                            <span ng-switch-when="AdminConfigurationGroup">
                                                <span ng-include="'app-general-components/views/screen_parts/AdminConfigurationGroup.html'"></span>
                                            </span>

                                            <span ng-switch-when="formulaMaster">
                                                <span ng-include="'app-general-components/views/screen_parts/formulaScreen.html'"></span>
                                            </span>
                                            <span ng-switch-when="contractualQuantityGroup">
                                                <span ng-include="'app-general-components/views/screen_parts/contracts/contractualQuantityGroup.html'"></span>
                                            </span>
                                            <span ng-switch-when="contractsPenaltyGroup">
                                                <span ng-include="'app-general-components/views/screen_parts/contracts/contractsPenaltyGroup.html'"></span>
                                            </span>
                                            <span ng-switch-when="contractsContactGroup" class="contractsContactGroup">
                                                <div ng-include="'app-general-components/views/screen_parts/contracts/contractsContactGroup.html'" class="row"></div>
                                            </span>
                                            <span ng-switch-when="preferredSellers">
                                              <span ng-include="'app-general-components/views/screen_parts/masters/locationPrefferedSellers.html'"></span>
                                            </span>

                                             <span ng-switch-when="quantityRecon">
                                                <span ng-include="'app-general-components/views/screen_parts/quantityRecon.html'"></span>
                                            </span>
                                            <span ng-switch-when="qualityRecon">
                                                <span ng-include="'app-general-components/views/screen_parts/qualityRecon.html'"></span>
                                            </span>
                                            <span ng-switch-when="priceRecon">
                                                <span ng-include="'app-general-components/views/screen_parts/priceRecon.html'"></span>
                                            </span>
                                            <span ng-switch-when="sellerRatingGroup">
                                                <span ng-include="'app-general-components/views/screen_parts/AdminSellerRating.html'"></span>
                                            </span>
                                            <span ng-switch-when="deliverySurveyStatement">
                                                <span ng-include="'app-general-components/views/screen_parts/delivery/deliverySurveyStatement.html'"></span>
                                            </span>
                                            <span ng-switch-when="deliveriesList">
                                                <span ng-include="'app-general-components/views/screen_parts/delivery/deliveriesList.html'"></span>
                                            </span>
                                            <span ng-switch-when="deliveryProductsGroup">
                                                <span ng-include="'app-general-components/views/screen_parts/delivery/deliveryProductsGroup.html'"></span>
                                            </span>
                                            <span ng-switch-when="bdnInformation">
                                                <span ng-include="'app-general-components/views/screen_parts/delivery/bdnInformation.html'"></span>
                                            </span>

                                            <span ng-switch-when="chiefEngineerFeedback">
                                                <span ng-include="'app-general-components/views/screen_parts/delivery/chiefEngineerFeedback.html'"></span>
                                            </span>
                                            <span ng-switch-when="alertsScreen">
                                                <span ng-include="'app-general-components/views/screen_parts/alerts/alertsIndex.html'"></span>
                                            </span>
                                            <span ng-switch-when="claimTextCounterparty">
                                                <span ng-include="'app-general-components/views/controls/claimTextCounterparty.html'"></span>
                                            </span>
                                            <span ng-switch-when="sellerLabs">
                                                <span ng-include="'app-general-components/views/controls/sellerLabs.html'"></span>
                                            </span>
                                            <span ng-switch-when="3rdPartyCommunication">
                                                <span ng-include="'app-general-components/views/controls/3rdPartyCommunication.html'"></span>
                                            </span>
                                            <span ng-switch-when="RelatedLabs">
                                                <span ng-include="'app-general-components/views/screen_parts/labs/relatedLabs.html'"></span>
                                            </span>
                                            <span ng-switch-when="RelatedClaims">
                                                <span ng-include="'app-general-components/views/screen_parts/claims/relatedClaims.html'"></span>
                                            </span>
                                            <span ng-switch-when="userCustomAccess">
                                                <span ng-include="'app-general-components/views/screen_parts/userCustomAccess.html'"></span>
                                            </span>
                                            <span ng-switch-when="LocationAdditionalCost">
                                                <span ng-include="'app-general-components/views/screen_parts/LocationAdditionalCosts.html'"></span>
                                            </span>
                                            <span ng-switch-when="locationTerminalsGroup" ng-if="isLocationTerminalVisible()">
                                                <span ng-include="'app-general-components/views/screen_parts/masters/locationTerminals.html'"></span>
                                            </span>
                                            <span ng-switch-when="vesselsContacts">
                                                <span ng-include="'app-general-components/views/screen_parts/masters/vesselsContactsSection.html'"></span>
                                            </span>
                                            <span ng-switch-when="InvoiceTotalConversion">
                                                <span ng-include="'app-invoice/views/invoiceTotalConversion.html'"></span>
                                            </span>
                                            <span ng-switch-when="RelatedInvoices">
                                                <span ng-include="'app-invoice/views/relatedInvoices.html'"></span>
                                            </span>
                                            <span ng-switch-when="labelGroup">
                                              <span ng-include="'app-invoice/views/labelGroup.html'"></span>
                                            </span>
                                            <span ng-switch-when="masterBuyerField">
                                              <span ng-include="'app-general-components/views/screen_parts/masters/masterBuyerField.html'"></span>
                                            </span>
                                            <span ng-switch-when="tankDetails">
                                                <span ng-include="'app-general-components/views/screen_parts/masters/tankDetails.html'"></span>
                                            </span>
                                            <span ng-switch-when="oneDayReserve">
                                                <span ng-include="'app-general-components/views/screen_parts/masters/oneDayReserve.html'"></span>
                                            </span>
                                            <span ng-switch-when="tradebook">
                                                <span ng-include="'app-general-components/views/screen_parts/admin/tradebook.html'"></span>
                                            </span>

                                            <span ng-switch-when="LocationBOPSDetails">
                                                <span ng-include="'app-general-components/views/screen_parts/masters/locationBOPSDetails.html'"></span>
                                            </span>
                                            <span ng-switch-when="LocationProductSpecificDetails">
                                                <span ng-include="'app-general-components/views/screen_parts/masters/locationProductSpecificDetails.html'"></span>
                                            </span>
                                            <span ng-switch-when="labNotes">
                                                <span ng-include="'app-general-components/views/screen_parts/labs/labNotes.html'"></span>
                                            </span>
                                            <span ng-switch-when="userCustomerMultiselect">
                                                <span ng-include="'app-general-components/views/screen_parts/masters/userCustomerMultiselect.html'"></span>
                                            </span>
                                           

                                            <div ng-switch-default></div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

	<div class="sweetConfirmModal fade bs-modal hide" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="gridSystemModalLabel">Please confirm</h4>
				</div>
				<div class="modal-body">
					{{$ctrl.confirmText}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default sweetConfirmModalNo" data-dismiss="modal" >No</button>
					<button type="button" class="btn btn-default  btn-outline orange sweetConfirmModalYes" data-dismiss="modal">Yes</button>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="CM.screen_id == 'labresult' ">
		<div class="claimTypeSelectionModal fade bs-modal hide" tabindex="-1" role="dialog" aria-labelledby="claimTypeSelectionModal">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="gridSystemModalLabel">Select Claim Type</h4>
				</div>
				<div class="modal-body">
					<h4 class="font-yellow-gold">
						Please select Claim Type for the spec parameters.
					</h4>
					<select class="form-control" ng-controller="Controller_Master as CM" name="claimTypes" id="claimTypes" ng-model="labClaimTypeSelection" ng-options='item as item.name for item in claimTypeSelectionModalOptions track by item.id' ng-change="selectUniqueClaim(labClaimTypeSelection)"></select>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="raiseClaim()">Dispute/Raise Claim</button>
				</div>
			</div>
		</div>
	</div>
	</div>
