<div id="modal_close_bar">

    <button type="button" class="close" ng-click="prettyCloseModal()" aria-hidden="true"></button>
</div>
<div id="modal_notes{{ modal_id }}">
    <div class="tab-pane">
        <div class="portlet">
            <div class="portlet-title">
                Comments
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form_input form_input_note">
                    <textarea id="notesModalTextarea" id="note" ng-model="documentNotesTemp[modal_id].notesValue"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 pull-right notesModalButtons">
                <button class="btn btn-default btn-outline orange" ng-click="updateDocumentsNote(modal_id, documentNotesTemp[modal_id].notesValue)">Save</button>
            </div>
        </div>
    </div>
</div>

