<div id="modal_close_bar">
    <!-- <button type="button" class="close" ng-click="modalInstance.close()" aria-hidden="true"></button> -->
    <button type="button" class="close" ng-click="prettyCloseModal()" aria-hidden="true"></button>
</div>
<!-- //ng-init="CM.delayaddModalActions()" -->
<div id="modal_notes{{ modal_id }}">
    <div class="tab-pane">
        <div class="portlet">
            <div class="portlet-title">
                <span class="caption-subject">
                  Note
                </span>
            </div>
        </div>
         <div class="row">
                <div class="col-md-3">
                    <div class="form_input form_input_enteredBy">
                        <label for="enteredBy" class="simpleLookupLabel notesModalLabel" style="max-height: initial;">
                            <!-- {{ CM.app_id + '.DASHBOARD_STARTS_ON_BEFORE' | translate }} -->
                            Entered By
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="enteredBy" id="enteredBy" ng-model="Note.noteCreatedBy.name" disabled/>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form_input form_input_date">
                        <label for="date" class="simpleLookupLabel notesModalLabel" style="max-height: initial;">
                            Date
                        </label>
                        <div class="input-group date-picker date form_meridian_datetime" ng-class="field.disabled ? 'disabled' : ''" id="date" >
                            <input class="form-control" type="text" id="date" ng-model="Note.noteCreatedAt"/>
                            <span class="formatted-date">{{Note.noteCreatedAt | date : 'short'}}</span>
                            <span class="input-group-btn">
                                <button class="btn default date-set" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form_input form_input_note">
                    <textarea id="notesModalTextarea" id="note" ng-model="Note.notes"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 pull-right notesModalButtons">
                <button class="btn btn-default btn-outline orange" ng-click="updateNote(modal_id,Note)">Save</button>
                <button class="btn btn-default btn-outline gray" ng-click="prettyCloseModal()">Cancel</button>
            </div>
        </div>
    </div>
        <!-- <div class="row">
            <div class="col-md-5">
                <div class="from-group row">
                    <label for="entered-by" class="simpleLookupLabel" style="max-height: initial;">
                        Entered by
                    </label>
                    <div class="input-group form_input form_input_enteredBy">
                        <input class="form-control bs-select changeIT" id="entered-by" ng-model="Note.enteredBy"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form_input form_input_date">
                    <label for="date" class="simpleLookupLabel" style="max-height: initial;">
                        Date
                    </label>
                    <div class="input-group date-picker date form_meridian_datetime" ng-class="field.disabled ? 'disabled' : ''" id="date">
                        <input class="form-control" type="text" id="date" ng-model="Note.date"/>
                        <span class="formatted-date" ng-bind="CM.formatDateTime(formValues.FTP.Upload.AddSchedule.FirstDate,'yyyy-mm-dd')"></span>
                        <span class="input-group-btn">
                            <button class="btn default date-set" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <textarea id="notesModalTextarea"></textarea>
            </div>
        </div> -->
</div>

