<div
  class="input-group">
    <input
      class="form-control date-mask new-date-picker"
      type="text"
      ng-model="MODEL_COL_FIELD"
      name="{{ col.colDef.name }}"
      id="{{ grid.element[0].id }}_{{ col.colDef.name }}__{{rowRenderIndex}}"
      dynamic-condition="{{ col.colDef.cellCondition }}"
      dynamic-condition-type="{{ col.colDef.cellConditionType }}"
      ng-required="$eval(col.colDef.required) > 0 || col.colDef.required == true ? true : false"
      new-date-picker
      picker-type="date"
      ng-disabled="{{ col.colDef.cellCondition }}">

</div>


