<div class="w100" ng-controller="Controller_Master as CM">
	<span ng-if="!additionalCostsComponentTypes" ng-init="CM.getAdditionalCostsComponentTypes()"></span>
    <span ng-init="chg = false"></span>
	<span ng-if="CM.chg == true" class="hidden">{{grid.appScope.fVal().formValues = changedFVal}}</span>

<!-- {{grid.appScope.fVal().formValues.costDetails[rowRenderIndex]}} -->

            <select class="form-control bs-select changeIT "
            name="{{ col.colDef.displayName }}_{{rowRenderIndex}}"
            data-container="body"
            ng-class="'colt' + col.uid"
            ng-change="grid.appScope.fVal().triggerChangeFields(col.colDef.name, rowRenderIndex); $eval(col.colDef.cellObject.changeEvent)"
            ng-options="item as item.name for item in filterCostTypesByAdditionalCostInvoice(grid.appScope.fVal().formValues.costDetails[rowRenderIndex].costName.id) track by item.id | unique:'id'"
            ng-model="MODEL_COL_FIELD" 
            ng-required="$eval(col.colDef.cellObject.Required) || $eval(col.colDef.cellObject.required) > 0 || col.colDef.cellObject.required == true ? true : false"
            ng-disabled="$eval(col.colDef.cellObject.Disabled)">
                <option value="" disabled></option>
            </select>

</div>


