<span ng-if="col.colDef.cellFilter" ng-init='col.colDef.cellObject.Filter={"column":col.colDef.cellFilter, "value":$eval(col.colDef.cellFilterValue)};'></span>

<div class="input-group" ng-controller="Controller_Master as CM" tooltip tooltiptrigger="hover"
data-original-title="{{MODEL_COL_FIELD.name | decodeReadOnly}}">
    <span ng-if="col.colDef.cellObject.resetIfEmpty" ng-init="col.colDef.cellObject.origCopy[grid.element[0].id + '_' + col.colDef.name + '_' + rowRenderIndex] = MODEL_COL_FIELD"></span>
    <input decode-input-format ng-model="MODEL_COL_FIELD" 
    ng-class="'colt' + col.uid" 
    uib-typeahead="item as item.name for item in grid.appScope.fVal().options[col.colDef.cellObject.Name] | typeaheadCustomFilter:$viewValue:'name'"  
    class="form-control "  
    typeahead-show-hint="true" 
    typeahead-min-length="1" 
    typeahead-append-to-body="true" 
    typeahead-wait-ms="100" 
    id="{{ grid.element[0].id }}_{{ col.colDef.name }}_{{ rowRenderIndex }}" 
    ng-required="$eval(col.colDef.cellObject.required) > 0 || col.colDef.cellObject.required == true  || col.colDef.required == true ? true : false" 
    name="{{ col.colDef.name }} on line  {{col.colDef.cellObject.customNumberOfRowsAction ? $eval(col.colDef.cellObject.customNumberOfRowsAction) :  rowRenderIndex + 1}}"    
    autocomplete="off"  
    dynamic-condition="{{ col.colDef.cellCondition }}" 
    dynamic-condition-type="{{ col.colDef.cellConditionType }}" 
    data-row-index="{{ rowRenderIndex }}" 
    typeahead-on-select="triggerChangeFields(col.colDef.name); $eval(col.colDef.cellObject.customChangeAction); grid.element[0].id == 'grid_specGroupParameters' ? MODEL_COL_FIELD.name = CM.decodeHtml(MODEL_COL_FIELD.name) : ''" 
    data-cell-id="{{MODEL_COL_FIELD.id}}" 
    ng-disabled="$eval(col.colDef.cellObject.Disabled)"
    ng-blur="col.colDef.cellObject.resetIfEmpty && !MODEL_COL_FIELD.id
    && (col.colDef.cellObject.required == true || col.colDef.required == true)
    ? MODEL_COL_FIELD = col.colDef.cellObject.origCopy[grid.element[0].id + '_' + col.colDef.name + '_' + rowRenderIndex]
    : (!MODEL_COL_FIELD.id ? MODEL_COL_FIELD = null : '')"/>
    
    <span class="input-group-addon "  
    ng-click="triggerModal('general', col.colDef.cellObject.clc_id, col.colDef.displayName , col.colDef.name,grid.options.data, rowRenderIndex, null, col.colDef.cellObject.filter);" 
    ng-if="col.colDef.name != 'formula' && !$eval(col.colDef.cellCondition)"
    ng-class="{'disabled': $eval(col.colDef.cellObject.Disabled)}"
    >
        <a   class=" btn default">
            <i class="fa fa-search"></i>
        </a> 
    </span>
    
    <span class="input-group-addon"  
    ng-click="triggerModal('formula', col.colDef.cellObject.clc_id, col.colDef.displayName , col.colDef.name,grid.options.data, rowRenderIndex);" 
    ng-if="col.colDef.name == 'formula' && !$eval(col.colDef.cellCondition)"
    ng-class="{'disabled': $eval(col.colDef.cellObject.Disabled)}"
        >
        <a class=" btn default">
            <i class="fa fa-search"></i>
        </a>
    </span>

</div>

