
<div class="input-group" ng-controller="Controller_Master as CM">
    <input ng-model="MODEL_COL_FIELD" ng-class="'colt' + col.uid" uib-typeahead="item as item.name for item in grid.appScope.fVal().options[col.colDef.cellObject.Name+'_'+grid.appScope.rowIdx(row)] | typeaheadCustomFilter:$viewValue:'name'"  class="form-control "  typeahead-show-hint="true" typeahead-min-length="1" typeahead-append-to-body="true" typeahead-wait-ms="100" id="{{ field.masterSource }}{{ field.Name }}" ng-required="$eval(col.colDef.cellObject.required) > 0 || col.colDef.cellObject.required == true ? true : false" name="{{ col.colDef.name }}"    autocomplete="off"  dynamic-condition="{{ col.colDef.cellCondition }}" dynamic-condition-type="{{ col.colDef.cellConditionType }}" data-row-index="{{ grid.appScope.rowIdx(row) }}" typeahead-on-select="triggerChangeFields(col.colDef.name); $eval(col.colDef.cellObject.customChangeAction)" data-cell-id="{{MODEL_COL_FIELD.id}}"/>
    <span class="input-group-addon"  ng-click="triggerModal('general', col.colDef.cellObject.clc_id, col.colDef.displayName , col.colDef.name,grid.options.data, grid.appScope.rowIdx(row), null, col.colDef.cellObject.filter);" ng-if="col.colDef.name != 'formula' && !$eval(col.colDef.cellCondition)">
        <a   class=" btn default">
            <i class="fa fa-search"></i>
        </a>
    </span>


</div>
