<div class="form-group st-email-input" style="width: 120% !important">
    <div class="input-group pull-left" ng-controller="Controller_Master as CM" tooltip tooltiptrigger="hover"
          data-original-title="{{MODEL_COL_FIELD.name}}">
        <div class="input-group">           
            <input ng-model="productTypeTypeahead[rowRenderIndex]" 
                    ng-class="'colt' + col.uid" 
                    uib-typeahead="item as item.name for item in grid.appScope.fVal().options[col.colDef.cellObject.Name] | typeaheadCustomFilter:$viewValue:'name'"  
                    class="form-control multiselect-typeahead"  
                    typeahead-show-hint="true" 
                    typeahead-min-length="1" 
                    typeahead-append-to-body="true" 
                    typeahead-wait-ms="100" 
                    id="{{ grid.element[0].id }}_{{ col.colDef.name }}_{{ rowRenderIndex }}" 
                    ng-required="$eval(col.colDef.cellObject.required) > 0 || col.colDef.cellObject.required == true || (col.colDef.required == true && !MODEL_COL_FIELD.length) ? true : false" 
                    name="{{ col.colDef.name }} on line {{ rowRenderIndex + 1 }}"    
                    autocomplete="off"  
                    data-row-index="{{ rowRenderIndex }}" 
                    data-cell-id="{{MODEL_COL_FIELD.id}}" 
                    ng-disabled="$eval(col.colDef.cellObject.Disabled)"
            />
            <span class="input-group-addon "  
                    ng-class="{'disabled': $eval(col.colDef.cellObject.Disabled)}"
                    ng-click="$eval(col.colDef.cellObject.customChangeAction)"
                    >
                        <a   class=" btn default">
                            <i class="fa fa-plus"></i>
                        </a> 
            </span>
        </div>
        </div style="width:90%;" class="pull-left">
            <div class="col-md-6"> 
                <div class="bootstrap-tagsinput" ng-class="{expanded : ctrl.openList}">
                    <span ng-show="MODEL_COL_FIELD.length" class="tag label label-info clickable st-hide-tags"  ng-click="ctrl.openList = !ctrl.openList">
                        &hellip;
                    </span>
                    <span  class="email-tag" data-html="true" ng-if="value.isDeleted != true" ng-repeat="(key, value) in MODEL_COL_FIELD  track by $index" tooltip=""  ng-show="$index < 1 || ctrl.openList" data-original-title="{{value.productType.name}}" >
                        {{value.productType.name}}
                        <i class="fa fa-remove" ng-click="value.id == 0 ? MODEL_COL_FIELD.splice(key, 1) : MODEL_COL_FIELD[key].isDeleted = true"></i>
                    </span>
                </div>
             </div>
        </div>
</div>