
<div class="row hideInRequest" ng-if="!$ctrl.requestScreen">
    <div class="st-main-content-menu tabbable-line">
        <ul class="nav nav-tabs pull-left">
            <li class="open" ng-class="{open : true}">
                <a href="#/new-order" ui-sref="default.select-contract" ui-sref-active="text-muted">
                    Contract
                </a>
            </li>
        </ul>
        <div class="pull-right">
            <a class="btn btn-default" ng-click="$ctrl.goBack()">
                Back
            </a>
            <a class="btn orange btn-outline" ng-click="$ctrl.confirmContractSelection()" ng-disabled="!$ctrl.contractHasProduct">
                Proceed to Order
            </a>
            <a class="btn btn-default">
                &hellip;
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <confirm-order-dialog class="modal fade in" id="confirm" aria-hidden="true" data-width="90%" confirmation-product-orders=$ctrl.confirmationProductOrders></confirm-order-dialog>
</div>





<div class="" id="request-best-contracts">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="tools">
                <a   class="collapse" data-original-title="" title=""></a>
            </div>
            <div class="caption">
                <span class="caption-subject ">
                    Available Contracts
                </span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">

                <div class="col-md-12 pull-right">
                    <div class="row" style="margin-right: 5px;">
                            <div class="pull-right text-right" ng-init="params.app = 'procurement';params.screen = 'requestslist';">
                                <a ng-controller="Controller_General_Header as GH" class="link-underline-light" ng-click="GH.export({action:'save_layout'}, params)" id="btn_save_layout">
                                   <span class="fa fa-save" style="font-size:20px; color: #536881"></span>
                                </a>
                            </div>
                            <div class="pull-right">
                                <span style="margin-right: 10px;">|</span> 
                            </div>
							<div class="filters-box">
								<filters-widget></fitlers-widget>
							</div>                            
                            <div class="pull-right col-lg-3 text-right">
                                <a class="link-underline-light" ng-click="$ctrl.displayAllContracts();">
                                    Display All Contracts
                                </a>
                            </div>

                    </div>
                </div>
            </div>

            <div class="row" ng-if="!$ctrl.allContracts">
                <clc-table-list style="padding-left: 15px;" id="'request_bestcontracts'" hasloader="true" app="'procurement'" screen="'request_bestcontracts'" controls="'[entries, columns, info, pager]'"></clc-table-list>
            </div>
            <div class="row" ng-if="$ctrl.allContracts">
                <clc-table-list style="max-width: calc(100vw - 50px);padding-left: 15px;" id="'request_bestcontracts_all'" app="'procurement'" screen="'request_bestcontracts_all'" controls="'[entries, columns, info, pager]'"></clc-table-list>
            </div>
   
        </div>
    </div>
</div>

<div class="row hideInRequest" ng-if="!$ctrl.requestScreen">
    <div class="portlet light">
        <div class="portlet-body">
            <div class="pull-right">
                <a class="btn btn-default" ng-click="$ctrl.goBack()">
                    Back
                </a>
                <a class="btn orange btn-outline" ng-click="$ctrl.confirmContractSelection()" ng-disabled="!$ctrl.contractHasProduct">
                    Proceed to Order
                </a>
                <a class="btn btn-default">
                    &hellip;
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<lookup-dialog class="modal fade in" id="lookup" aria-hidden="true" data-width="80%" lookup-type="$ctrl.lookupType" on-contract-select="$ctrl.selectContract(contractId)"></lookup-dialog>
