<!-- <div class="row st-home-widgets" id="sortable_portlets" ng-controller="WidgetsContainerController as widgetsContainer">
    <div class="col-md-12">
        <div gridstack class="grid-stack" options="widgetsContainer.options" on-resize-stop="widgetsContainer.onResizeStop(event,ui)" on-resize-start="widgetsContainer.onResizeStart(event,ui)">
            <div gridstack-item class="grid-stack-item alerts-widget" gs-item-width="4" gs-item-height="3" gs-item-x="0" gs-item-y="0">
                <div class="grid-stack-item-content">
                    <div class="portlet portlet-sortable light bordered st-widget">
                        <div class="portlet-title ui-sortable-handle">
                            <div class="caption">
                                <span class="caption-subject"> Alerts</span>
                            </div>
                            <div class="actions">
                                <a   class="btn btn-link">More</a>
                                <a class="btn btn-circle btn-icon-only btn-default icon-trash" ng-click="widgetsContainer.deleteWidget($event)">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="scroller" style="height:265px" data-always-visible="1" data-rail-visible="0">
                                <table id="alerts_table" class="table table-striped table-bordered table-hover order-column">
                                    <thead>
                                        <tr>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td>
                                                ENQ 4571 - Vessel 1 - Lisbon - 12/05/2016
                                            </td>
                                        </tr>
                                        <tr class="even gradeX">
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr>
                                        <tr class="even gradeX">
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>
                                                ENQ 4571 - Vessel 1 - Lisbon - 12/05/2016
                                            </td>
                                        </tr>
                                        <tr class="even gradeX">
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr>
                                        <tr class="even gradeX">
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr> 
                                        <tr class="odd gradeX">
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr>                              
                                        <tr class="even gradeX">
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr>         
                                        <tr class="even gradeX">
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr> 
                                        <tr class="even gradeX">
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr> 
                                        <tr class="even gradeX">
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr> 
                                        <tr class="even gradeX">
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>                
                        </div>
                    </div>
                </div>
            </div>
            <div gridstack-item class="grid-stack-item requests-widget" gs-item-width="4" gs-item-height="3" gs-item-x="4" gs-item-y="0">
                <div class="grid-stack-item-content">
                    <div class="portlet portlet-sortable light bordered st-widget">
                        <div class="portlet-title ui-sortable-handle">
                            <div class="caption">
                                <span class="caption-subject"> New Requests</span>
                            </div>
                            <div class="actions">
                                <a   class="btn btn-link">More</a>
                                <a class="btn btn-circle btn-icon-only btn-default icon-trash" ng-click="widgetsContainer.deleteWidget($event)"></a>
                            </div>
                        </div>
                        <div class="portlet-body">    
                            <a   class="pull-right btn btn-outline orange">Add Worksheet</a>
                            <p class="clearfix"></p>
                            <div class="scroller" style="height:255px" data-always-visible="1" data-rail-visible="0">
                                <table  id="enquiries_table" class="table table-striped table-bordered table-hover table-checkable order-column">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>                                
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                ENQ 4571 - Vessel 1 - Lisbasdfon - 12/05/2016
                                            </td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                ENQ 4571 - Vessel 1 - Lisbon - 12/05/2016
                                            </td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                ENQ 4571 - Vessel 1 - Lisbon - 12/05/2016
                                            </td>
                                        </tr>
                                        <tr class="even gradeX">
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr>
                                        <tr class="even gradeX">
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                ENQ 4571 - Vessel 1 - Lisbon - 12/05/2016
                                            </td>
                                        </tr>
                                        <tr class="even gradeX">
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr>
                                        <tr class="even gradeX">
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr>
                                        <tr class="even gradeX">
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr>   
                                        <tr class="even gradeX">
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr>   
                                        <tr class="even gradeX">
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr>   
                                        <tr class="even gradeX">
                                            <td>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                ENQ 4571 - Vessel 2 - Rotter - 12/05/2016
                                            </td>
                                        </tr>                                 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div gridstack-item class="grid-stack-item tasks-widget" gs-item-width="4" gs-item-height="3" gs-item-x="8" gs-item-y="0">
                <div class="grid-stack-item-content">
                    <div class="portlet portlet-sortable light bordered st-widget">
                        <div class="portlet-title ui-sortable-handle">
                            <div class="caption">
                                <span class="caption-subject"> My Tasks</span>
                            </div>
                            <div class="actions">
                                <a   class="btn btn-link">View All</a>
                                <a class="btn btn-circle btn-icon-only btn-default icon-trash" ng-click="widgetsContainer.deleteWidget($event)"></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <span class="badge badge-danger badge-roundless">1</span>
                            <span class="badge badge-warning badge-roundless">3</span>
                            <span class="badge badge-info badge-roundless">7</span>
                            <a   class="pull-right btn btn-outline orange">Done</a>
                            <a   class="pull-right btn btn-outline orange">Manage Tasks</a>
                            <a   class="pull-right btn btn-icon-only grey-cascade"><i class="fa fa-plus"></i></a>
                            <p class="clearfix"></p>
                            <div class="scroller" style="height:255px" data-always-visible="1" data-rail-visible="0">
                                <table id="tasks_table" class="table table-striped table-border table-bordered table-hover table-checkable table-advance order-column">
                                    <thead>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td class="highlight">
                                                <div class="danger"></div>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>                            
                                            </td>
                                            <td>
                                                Contact supplier 1
                                            </td>
                                            <td class="text-right">
                                                <span class="label label-danger"><i class="fa fa-exclamation"></i> 12/05/2016</span>
                                            </td>
                                        </tr>
                                        <tr class="even gradeX">
                                            <td class="highlight">
                                                <div class="success"></div>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                Get information from Vessel 2
                                            </td>
                                            <td class="text-right">
                                                <span class="label label-info">12/05/2016</span>
                                            </td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td class="highlight">
                                                <div class="warning"></div>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                Book Tickets for Event
                                            </td>
                                            <td class="text-right">
                                                <span class="label label-warning">12/05/2016</span>
                                            </td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td class="highlight">
                                                <div class="success"></div>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                Send Reports
                                            </td>
                                            <td class="text-right">
                                                <span class="label label-info">12/05/2016</span>
                                            </td>
                                        </tr>
                                        <tr class="even gradeX">
                                            <td class="highlight">
                                                <div class="success"></div>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                Call My Wife
                                            </td>
                                            <td class="text-right">
                                                <span class="label label-info">12/05/2016</span>
                                            </td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td class="highlight">
                                                <div class="warning"></div>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                Get Flowers
                                            </td>
                                            <td class="text-right">
                                                <span class="label label-warning">12/05/2016</span>
                                            </td>
                                        </tr>
                                        <tr class="odd gradeX">
                                            <td class="highlight">
                                                <div class="warning"></div>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                Get Flowers
                                            </td>
                                            <td class="text-right">
                                                <span class="label label-warning">12/05/2016</span>
                                            </td>
                                        </tr>    
                                        <tr class="odd gradeX">
                                            <td class="highlight">
                                                <div class="warning"></div>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                Get Flowers
                                            </td>
                                            <td class="text-right">
                                                <span class="label label-warning">12/05/2016</span>
                                            </td>
                                        </tr>    
                                        <tr class="odd gradeX">
                                            <td class="highlight">
                                                <div class="warning"></div>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                Get Flowers
                                            </td>
                                            <td class="text-right">
                                                <span class="label label-warning">12/05/2016</span>
                                            </td>
                                        </tr> 
                                        <tr class="odd gradeX">
                                            <td class="highlight">
                                                <div class="warning"></div>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                Get Flowers
                                            </td>
                                            <td class="text-right">
                                                <span class="label label-warning">12/05/2016</span>
                                            </td>
                                        </tr>
                                        <tr class="even gradeX">
                                            <td class="highlight">
                                                <div class="success"></div>
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox"/>      
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                Call My Wife
                                            </td>
                                            <td class="text-right">
                                                <span class="label label-info">12/05/2016</span>
                                            </td>
                                        </tr>                                   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div gridstack-item class="grid-stack-item kpi-widget" gs-item-width="10" gs-item-height="3" gs-item-x="0" gs-item-y="3">
                    <div class="portlet portlet-sortable light bordered st-widget grid-stack-item-content">
                        <div class="portlet-title ui-sortable-handle">
                            <div class="actions">
                                <a class="edit glyphicon glyphicon-pencil"  ></a>
                                <a   class="btn btn-link">More</a>
                                <a class="btn btn-circle btn-icon-only btn-default icon-trash" ng-click="widgetsContainer.deleteWidget($event)"></a>
                            </div>
                            <div class="caption">
                                <span class="caption-subject">My KPIs</span>                    
                            </div>

                            <form class="form-inline daterange">
                                <div class="form-group">
                                    <div class="input-group input-group-sm date form_meridian_datetime">
                                        <input class="form-control" type="text">
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" type="button">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <span> - </span>
                                    <div class="input-group input-group-sm date form_meridian_datetime">
                                        <input class="form-control" type="text">
                                        <span class="input-group-btn">
                                            <button class="btn default date-set" type="button">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="portlet-body col-md-12">
                            <div gridstack class="grid-stack" options="widgetsContainer.kpiOptions">
                                <div gridstack-item class="grid-stack-item" gs-item-width="2" gs-item-height="2" gs-item-x="0" gs-item-y="0">
                                    <div class="grid-stack-item-content">
                                        <div class="ui-sortable-handle">
                                            <div class="pull-right">
                                                <a class="remove" ng-click="widgetsContainer.deleteWidget($event)"></a>
                                            </div>
                                            <div class="caption">
                                                <span class="caption-subject">Products/Volume</span>                    
                                            </div>
                                        </div>
                                        <hr>
                                        <img class="kpi" src="img/1.jpg" scrolling="no"/>
                                    </div>
                                </div>
                                <div gridstack-item class="grid-stack-item" gs-item-width="2" gs-item-height="2" gs-item-x="2" gs-item-y="0">
                                    <div class="grid-stack-item-content">
                                        <div class="ui-sortable-handle">
                                            <div class="pull-right">
                                                <a class="remove" ng-click="widgetsContainer.deleteWidget($event)"></a>
                                            </div>
                                            <div class="caption">
                                                <span class="caption-subject">Supplier Volume</span>                    
                                            </div>
                                        </div>
                                        <hr>
                                        <img class="kpi" src="img/1.jpg" scrolling="no"/>
                                    </div>
                                </div>
                                <div gridstack-item class="grid-stack-item" gs-item-width="2" gs-item-height="2" gs-item-x="4" gs-item-y="0">
                                    <div class="grid-stack-item-content">
                                        <div class="ui-sortable-handle">
                                            <div class="pull-right">
                                                <a class="remove" ng-click="widgetsContainer.deleteWidget($event)"></a>
                                            </div>
                                            <div class="caption">
                                                <span class="caption-subject">Spot vs Contract</span>                    
                                            </div>
                                        </div>
                                        <hr>
                                        <img class="kpi" src="img/2.jpg" scrolling="no"/>
                                    </div>
                                </div>
                                <div gridstack-item class="grid-stack-item" gs-item-width="2" gs-item-height="2" gs-item-x="6" gs-item-y="0">
                                    <div class="grid-stack-item-content">
                                        <div class="ui-sortable-handle">
                                            <div class="pull-right">
                                                <a class="remove" ng-click="widgetsContainer.deleteWidget($event)"></a>
                                            </div>
                                            <div class="caption">
                                                <span class="caption-subject">Price Performance</span>                    
                                            </div>
                                        </div>
                                        <hr>
                                        <img class="kpi" src="img/3.jpg" scrolling="no"/>
                                    </div>
                                </div>
                                <div gridstack-item class="grid-stack-item" gs-item-width="2" gs-item-height="2" gs-item-x="8" gs-item-y="0">
                                    <div class="grid-stack-item-content">
                                        <div class="ui-sortable-handle">
                                            <div class="pull-right">
                                                <a class="remove" ng-click="widgetsContainer.deleteWidget($event)"></a>
                                            </div>
                                            <div class="caption">
                                                <span class="caption-subject">Price Performance</span>                    
                                            </div>
                                        </div>
                                        <hr>
                                        <img class="kpi" src="img/4.jpg" scrolling="no"/>
                                    </div>
                                </div>
                                <div gridstack-item class="grid-stack-item" gs-item-width="2" gs-item-height="2" gs-item-x="10" gs-item-y="0">
                                    <div class="grid-stack-item-content">
                                        <div class="ui-sortable-handle">
                                            <div class="pull-right">
                                                <a class="remove" ng-click="widgetsContainer.deleteWidget($event)"></a>
                                            </div>
                                            <div class="caption">
                                                <span class="caption-subject">Price Performance</span>                    
                                            </div>
                                        </div>
                                        <hr>
                                        <img class="kpi" src="img/5.jpg" scrolling="no"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div gridstack-item class="grid-stack-item actions-widget" gs-item-width="2" gs-item-height="3" gs-item-x="10" gs-item-y="3">
                <div class="grid-stack-item-content">
                    <div class="portlet portlet-sortable light bordered st-widget">
                        <div class="portlet-title ui-sortable-handle">
                            <div class="caption">
                                <span class="caption-subject">Actions</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default icon-trash" ng-click="widgetsContainer.deleteWidget($event)"></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="scroller" style="height:276px" data-always-visible="1" data-rail-visible="0">
                                <a   class="btn btn-sm btn-block btn-default">Schedule Dashboard</a>
                                <a   class="btn btn-sm btn-block btn-default">Create Request</a>
                                <a   class="btn btn-sm btn-block btn-default">Rate Supplier</a>
                                <a   class="btn btn-sm btn-block btn-default">Add Contract</a>
                                <a   class="btn btn-sm btn-block btn-default">Add Lab Results</a>
                                <a   class="btn btn-sm btn-block btn-default">New Claim</a>
                                <a   class="btn btn-sm btn-block btn-default">Contract Planning</a>
                                <a   class="btn btn-sm btn-block btn-default">Market Price</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> -->

<schedule-dashboard-calendar></schedule-dashboard-calendar>