<general-header actions="{
	primary: [{
		label: 'Active',
		html_element: 'checkbox',
		checked: false,
		id: 'entity_active'
	}, {
		label: 'Save Changes',
		special: 'true',
		url: '#',
		method: 'save_master_changes()',
		extern: true
	}, {
		label: 'Discard Changes',
		type: 'goto',
		url: ''
	}, ],
	secondary: [ 
	{label: 'Edit', type: 'goto', url: 'edit/:entity_id', active: true},
	{label: 'Audit Log', type: 'goto', url: 'audit-log/:entity_id'} ]
}"></general-header>
<entity-edit-form structure='' type="" screen="" edit-action='"tradebook"'></entity-edit-form>
<general-header class="footer-general-header" actions="{ primary: [ {label: 'Active', html_element: 'checkbox', checked: false, id: 'entity_active'}, {label: 'Save Changes', special: 'true', url: '#', method: 'save_master_changes()', extern:true}, {label: 'Discard Changes',type:'goto', url: ''}, ], secondary: [ ], }" color="'white'"></general-header>
