<div>
    <button type="button" style="margin-left: 25px;" class="close" ng-click="prettyCloseModal()" aria-hidden="true"></button>
    <div class="caption-subject">
        Conversion Factors
    </div>
    <hr/>
        <div>
            <div class="col-sm-12">
                <label class="control-label" ng-if="!$ctrl.isUnitPriceForConversionFactor">
                    Confirmed Quantity ({{$ctrl.conversionFactorData.quantityUom.name}}) : {{$ctrl.conversionFactorData.confirmedQuantity | number: $ctrl.numberPrecision.quantityPrecision }} 
                </label> 
                <label class="control-label" ng-if="$ctrl.isUnitPriceForConversionFactor">
                    Unit Price ({{$ctrl.conversionFactorData.currency.code}}/{{$ctrl.conversionFactorData.priceUom.name}}) : {{$ctrl.conversionFactorData.originalPrice | number: $ctrl.conversionFactorData.pricePrecision }} 
                </label>              
            </div>
            <div class="col-sm-12">
                <form autocomplete="off" class="" name="" novalidate>
                    <table class="table table-hover table-bordered table-stripped">
                        <thead>
                            <tr>
                                 <th id="generatedThId193">
                                    Unit of Measurement
                                </th>
                                <th id="generatedThId194">
                                    Converted Value
                                </th>
                            </tr>
                        </thead>
                        <tbody ng-if="!$ctrl.isUnitPriceForConversionFactor">
                            <tr>
                                <td>MT</td>
                                <td>{{$ctrl.conversionFactorData.confirmedQuantity * $ctrl.conversionFactorData.conversionFactorToMT | number: $ctrl.numberPrecision.quantityPrecision}}</td>
                            </tr>
                            <tr>
                                <td>MMBTU</td>
                                <td ng-if="$ctrl.conversionFactorData.conversionFactorToMMBTU != 0">{{($ctrl.conversionFactorData.confirmedQuantity * $ctrl.conversionFactorData.conversionFactorToMT) * $ctrl.conversionFactorData.conversionFactorToMMBTU | number: $ctrl.numberPrecision.quantityPrecision}}</td>
                                <td ng-if="$ctrl.conversionFactorData.conversionFactorToMMBTU == 0">-</td>
                            </tr>
                            <tr>
                                <td>CBM</td>
                                <td>{{$ctrl.conversionFactorData.confirmedQuantity * $ctrl.conversionFactorData.conversionFactorToCBE | number: $ctrl.numberPrecision.quantityPrecision}}</td>
                            </tr>
                            <tr>
                                <td>MWH</td>
                                <td ng-if="$ctrl.conversionFactorData.conversionFactorToMWHUom != 0">{{($ctrl.conversionFactorData.confirmedQuantity * $ctrl.conversionFactorData.conversionFactorToMT) * $ctrl.conversionFactorData.conversionFactorToMWHUom | number: $ctrl.numberPrecision.quantityPrecision}}</td>
                                <td ng-if="$ctrl.conversionFactorData.conversionFactorToMWHUom == 0">-</td>
                            </tr>
                        </tbody>
                        <tbody ng-if="$ctrl.isUnitPriceForConversionFactor">
                            <tr>
                                <td>{{$ctrl.conversionFactorData.currency.code}}/MT</td>
                                <td>{{$ctrl.conversionFactorData.priceValueConveredToMT | number: $ctrl.conversionFactorData.pricePrecision }} </td>
                            </tr>
                            <tr>
                                <td>{{$ctrl.conversionFactorData.currency.code}}/MMBTU</td>
                                <td ng-if="$ctrl.conversionFactorData.conversionFactorToMMBTU != 0">{{$ctrl.conversionFactorData.priceValueConveredToMT / $ctrl.conversionFactorData.conversionFactorToMMBTU | number: $ctrl.numberPrecision.pricePrecision}}</td>
                                <td ng-if="$ctrl.conversionFactorData.conversionFactorToMMBTU == 0">-</td>
                            </tr>
                            <tr>
                                <td>{{$ctrl.conversionFactorData.currency.code}}/MWH</td>
                                <td ng-if="$ctrl.conversionFactorData.conversionFactorToMWHUom != 0">{{$ctrl.conversionFactorData.priceValueConveredToMT / $ctrl.conversionFactorData.conversionFactorToMWHUom | number: $ctrl.numberPrecision.pricePrecision}}</td>
                                <td ng-if="$ctrl.conversionFactorData.conversionFactorToMWHUom == 0">-</td>
                            </tr>
                        </tbody>
                    </table>
                </form>              
            </div>            
        </div>
</div>