<span ng-init='options.ContractualQuantityOption ? return : CM.getOptions({"Name": "ContractualQuantityOption", "Type": "simpleLookup", "masterSource": "ContractualQuantityOption"});'></span>
<span ng-if="formValues.products[index_0].details.length == 0" ng-init='formValues.products[index_0].details.push({"contractualQuantityOption":{"id":1,"name":"TotalContractualQuantity","code":"","collectionName":null},"id":0})'></span>
<div class="custom-hardcoded-table">
    <table class="table-body" style="width:100%">
        <thead>
            <tr>
                <td style="width:5%"></td>
                <td style="width:5%"><span class="insert" ng-click="CC.addNewProduct(index_0)"></span></td>
                <td style="width:16%">
                    <b>
                        Quant. Type
                    </b>
                </td>
                <td style="width:16%">
                    <b>
                        Min Qty
                    </b>
                </td>
                <td style="width:16%">
                    <b>
                        Max Qty
                    </b>
                </td>
                <td style="width:16%">
                    <b>
                        UOM
                    </b>
                </td>
                <td style="width:16%">
                    <b>
                        Tolerance %
                    </b>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key, value) in formValues.products[index_0].details" ng-if="value.isDeleted != true">
                <td style="width:5%">
                    <span class="remove" ng-click="CM.softDelete(formValues.products[index_0].details, key)"></span>
                </td>
                <td style="width:5%">
                    <span class="insert" ng-click="CC.addNewProduct(index_0)"></span>
                </td>
                <td style="width:16%">
                    <div class=" " ng-controller="Controller_Master as CM">
                        <select name="Product_{{ index_0 }}_Product_Quantity_{{ key+1 }}_Quantity_Type" data-container="body" class="form-control bs-select changeIT" ng-options="item as item.name for item in options.ContractualQuantityOption track by item.id " ng-model="value.contractualQuantityOption" ng-disabled="value.contractualQuantityOption.id == 1 && key == 0" ng-required="true">
                            <option></option>
                        </select>
                    </div>
                </td>
                <td style="width:16%">
                	 {{value.tolerance > 0 ? value.minContractQuantity = null : ""}}
                    <input name="Product_{{ index_0 }}_Product_Quantity_{{ key+1 }}_Min" type="text" class="form-control " ng-model="value.minContractQuantity" format="number" ng-disabled="value.tolerance > 0"/>
                </td>
                <td style="width:16%">
                    <input name="Product_{{ index_0 }}_Product_Quantity_{{ key+1 }}_Max" type="text" class="form-control " ng-model="value.maxContractQuantity" format="number" ng-required="true"/>
                </td>
                <td style="width:16%">
                    <div class=" " ng-init='options.Uom ? return : CM.getOptions({"Name": "Uom", "Type": "dropdowm", "masterSource": "Uom"});'>

                        <select name="Product_{{ index_0 }}_Product_Quantity_{{ key+1 }}_UOM" ng-model="value.uom"  data-container="body" class="form-control bs-select changeIT" ng-options="item as item.name for item in CM.listsCache.Uom track by item.id"></select>

                    </div>
                </td>
                <td style="width:16%">
                	 {{value.minContractQuantity > 0 ? value.tolerance = null : ""}}
                    <input name="Product_{{ index_0 }}_Product_Quantity_{{ key+1 }}_Tolerance" type="number" format="number" class="form-control " ng-model="value.tolerance" ng-trim="false" step="0.0001" ng-disabled="value.minContractQuantity > 0"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>
