<general-header actions="{
    primary: [],
    secondary: [],
}"></general-header>

<script type="text/ng-template" id="masters_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content">
        <a class="btn btn-success btn-xs" data-ng-if="node.nodes && node.nodes.length> 0" data-nodrag data-ng-click="toggle(this)">
            <span class="glyphicon" data-ng-class="{ 'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed }"></span>
        </a>
        <i class="jstree-icon jstree-themeicon  {{ node.icon }} icon-state-success jstree-themeicon-custom" role="presentation"></i>
        <span data-ng-click="CM.selectMaster(node.slug, node.title)">
            {{ node.title }}
        </span>
    </div>
    <ol ui-tree-nodes="" data-ng-model="node.nodes" data-ng-class="{hidden: collapsed}">
        <li data-ng-repeat="node in node.nodes" ui-tree-node data-ng-include="'masters_renderer.html'"></li>
    </ol>
</script>
<div data-ng-controller="Controller_Master as CM" data-ng-init="CM.mastersCatalog()">
    <div class="col-md-5">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">
                        Masters
                    </span>
                </div>
            </div>
            <div ui-tree data-drag-enabled="false" id="tree-root">
                <ol ui-tree-nodes data-ng-model="CM.mastersTree">
                    <li data-ng-repeat="node in CM.mastersTree.masters" ui-tree-node data-ng-include="'masters_renderer.html'"></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<general-header class="footer-general-header" actions="{
    primary: [],
    secondary: [],
}" color="'white'"></general-header>
