

<div data-ng-include="'components/group-of-requests-menu/views/group-of-requests-menu-component.html'" ng-controller="GroupOfRequestsMenuController"></div>

<div ng-controller="Controller_Configurable_List_Control as CLC">


</div>

<div class="row">
    <span ng-controller="Controller_Configurable_List_Control as CLC">
		<span ng-init="newFilterEmailLog('group-request',entity_id)"></span>

        <clc-table-list ng-if="requestIdsFilter"
            id="'masters_emaillogslist'"
            app="'masters'"
            screen="'emaillogslist'"
            controls="'[pager, info]'"
            filters= "requestIdsFilter">
        </clc-table-list>
        <span ng-if="clc_loaded" ng-init="filterEmailLog()"></span>
    </span>

</div>
