<div class="row">
    <div class="st-main-content-menu st-displaceable-menu tabbable-line">
        <ul class="nav nav-tabs pull-left">
            <li><a ui-sref="default.edit-order({orderId: NAV.orderId})">Order</a></li>
            <!-- <li><a>Transaction KPI</a></li> -->
            <li><a ui-sref="default.view-order-documents({orderId: NAV.orderId})">Documents</a></li>
            <li><a>Rate Supplier</a></li>
            <li ui-sref="default.view-order-auditlog({orderId: NAV.orderId})"><a>Audit Log</a></li>
            <li class="open"><a>Email Log</a></li>
        </ul>
        <div class="pull-right">
            <div ng-controller="Controller_General_Header as GH" style="line-height: 30px;">
                <div  class="st-content-action-icons" ng-init="params.app = 'procurement';params.screen = 'emaillog';">
                    <div class="st-content-action-icons">
                        <a ng-click="GH.export({action:'save_layout'}, params)" class="btn">
                            <span class="icon fa fa-save"></span>
                        </a>
                        <a ng-click="GH.export({action:'delete_layout'}, params)" class="btn">
                            <span class="icon fa fa-trash"></span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="row">

    <span ng-controller="Controller_Configurable_List_Control as CLC">
		<span ng-init="filters = newFilterEmailLog('order', entity_id)"></span>
        <clc-table-list
            id="'masters_emaillogslist'"
            app="'masters'"
            screen="'emaillogslist'"
            controls="'[pager, info]'"
            filters="filters">
        </clc-table-list>
        <span ng-if="clc_loaded" ng-init="filterEmailLog()"></span>
    </span>

</div>
