<!-- <span ng-if="formValues.name" ng-init="setHeaderTitle()"></span> -->
<span ng-if="formValues.order.id" ng-init="getRelatedDeliveries(formValues.order.id)"></span>
<span ng-if="!formValues.order.id && !CM.entity_id" ng-init="getRelatedDeliveries(0,'new_delivery'); CM.selectedDelivery = 0"></span>

<!-- {{relatedDeliveries}} -->
<span ng-if="relatedDeliveries.length > 0" ng-init="setSelectedDelivery()"></span>
<div class="deliveries_list">
    <div class="row" ng-init="end = CM.initCarouselStep('end'); start = CM.initCarouselStep('start')">
        <div class="col-xs-1">
            <div class="left-arrow arrow">
                <button  ng-click="start = start - 1" ng-disabled="start == 0" ng-class="start == 0 ? 'disabled' : ''">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-6 col-md-3" ng-repeat="(key,delivery) in relatedDeliveries"  ng-show="$index >= start && $index < end+start">
                    <a ng-href="{{getRelatedDeliveryLink(delivery.deliveryId)}}">
                        <div class="order_tab" ng-class="CM.selectedDelivery == delivery.deliveryId ? 'selected' : ''" style="overflow: hidden;">
                        <!-- <span ng-if="delivery.deliveryId == 0" ng-init="CM.selectedDelivery = delivery.deliveryId"></span> -->
                        <!-- ng-click="CM.setSelectedDelivery(delivery.deliveryId)" -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <span>{{ CM.app_id + '.ORDER_ID' | translate }}</span>
                                    <span>{{formValues.order.name}}</span>
                                    <button id="delete_delivery" class="remove-button-style" ng-click="deleteDelivery(delivery.deliveryId); $event.stopPropagation()">
                                        <span class="close"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </button>
                                </div>
                                <div class="col-xs-12">
                                    <span>{{ CM.app_id + '.DELIVERY_ID' | translate }}</span>
                                    <span>{{delivery.deliveryNumber}}</span>
                                    <!-- <span>{{delivery.deliveryId}}</span> -->
                                </div>
                                <div class="col-xs-12" ng-repeat="product in delivery.products">
                                    <span>{{ CM.app_id + '.PRODUCT' | translate }}</span>
                                    <span>{{product.product.name}}</span>
                                    <span>- {{product.bdnQuantity}} {{product.bdnQuantityUom.name}}</span>
                                </div>
                                <div class="col-xs-12">
                                    <span>{{ CM.app_id + '.DELIVERY_STATUS' | translate }}</span>
                                    <!-- <span class="table_data bg-yellow-lemon bg-font-yellow-lemon delivery_result" ng-if="delivery.deliveryStatus">{{delivery.deliveryStatus}}</span> -->
                                    <span class="table_data delivery_result" style="background: {{ CM.getColorCodeFromLabels(delivery.deliveryStatus) }}" ng-if="delivery.deliveryStatus.displayName">{{delivery.deliveryStatus.displayName}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-1">

            <div class="right-arrow arrow">
                <button ng-click="start = start + 1" ng-disabled="relatedDeliveries.length - end  <= start" ng-class="relatedDeliveries.length - end <= start ? 'disabled' : ''">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>

