
  <general-header actions="{
        primary: [
	        {
	            label: 'Raise Claim',
	            method: 'reconQuantityDispute()',
	            extern: true,
	            main: true,
	        }
        ],
        secondary: [
            {label: 'Main Page', active: true},
        ],
        search: true,
        icons: [
            {class: 'export-xls', action: 'export_xls'},
            {class: 'export-csv', action: 'export_csv'},
            {class: 'export-pdf', action: 'export_pdf'},
            {class: 'print', action: 'print'},
        ]
    }"></general-header>
<entity-edit-form structure='' edit-action='' type = "'tabs'" screen="'recon'"></entity-edit-form>

