<div class="row">
    <div class="row">

        <div class="col-md-4">
        	<div class="form-group row" ng-init='CM.getOptions({"Name": "FormulaFlatPercentage", "Type": "dropdown", "masterSource": "FormulaFlatPercentage"})'>
        		<label for="reconToleranceType" class="simpleLookupLabel" style="max-height: initial;">
        			{{ CM.app_id + '.RECON_TOLERANCE_TYPE' | translate }}
        		</label>
        		<div class="input-group form_input form_input_reconToleranceType">
        			<select class="form-control bs-select changeIT" ng-options="item as item.name for item in options.FormulaFlatPercentage track by item.id" ng-required="true" id="reconToleranceType" ng-model="formValues.invoice.reconToleranceType"></select>
        		</div>
        	</div>
        </div>

        <div class="col-md-4">
        	<div class="form-group row">
        		<label for="toleranceLimit" style="max-height: initial;">
        			{{ CM.app_id + '.TOLERANCE_LIMIT' | translate }}
        		</label>
        		<div class="input-group form_input form_input_reconToleranceType">
					<input class="form-control" type="number" id="toleranceLimit" ng-model="formValues.invoice.toleranceLimit">
        		</div>
        	</div>
        </div>

        <div class="col-md-4">
        	<div class="form-group row" ng-init='CM.getOptions({"Name": "Currency", "Type": "dropdown", "masterSource": "Currency"})'>
                <label for="Currency" class="formula_quotes_label" class="simpleLookupLabel">
                   {{ CM.app_id + '.CURRENCY' | translate }}

                </label>
                <div class="input-group form_input form_input_formula_quotes">
                    <input ng-model="formValues.invoice.invoiceCurrency" uib-typeahead="item as item.name for item in options.Currency | typeaheadCustomFilter:$viewValue:'name'"  class="form-control" typeahead-show-hint="true" typeahead-min-length="1" typeahead-append-to-body="true" typeahead-wait-ms="100"  ng-required="true" name="{{ field.Name }}" autocomplete="off"/>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
    	<div class="col-md-4">
            <div class="form_input form_input_needInvoiceReview form-group">
                <div class="">
                    <label class="mt-checkbox">
                        <input type="checkbox" name="inlineRadiosneedInvoiceReview" id="inlinecheckneedInvoiceReview" ng-model="formValues.invoice.needInvoiceReview"/>
                            {{ CM.app_id + '.NEED_INVOICE_REVIEW' | translate }}
                        <span></span>
                    </label>
                </div>
            </div>
    	</div>

        <div class="col-md-4">
            <div class="form_input form_input_isDebunker form-group">
                <div class="">
                    <label class="mt-checkbox">
                        <input type="checkbox" name="inlineRadiosisDebunker" id="inlinecheckisDebunker" ng-model="formValues.invoice.isDebunker"/>
                            {{ CM.app_id + '.Is_Debunker' | translate }}
                        <span></span>
                    </label>
                </div>
            </div>
    	</div>

    	<div class="col-md-4 ">
            <div class="form_input form_input_autoApproveMatchedInvoice form-group">
                <div class="">
                    <label class="mt-checkbox">
                        <input type="checkbox" name="inlineRadiosautoApproveMatchedInvoice" id="inlinecheckautoApproveMatchedInvoice" ng-model="formValues.invoice.autoApproveMatchedInvoice"/>
                            {{ CM.app_id + '.AUTO_APPROVE_MATCHED_INVOICE' | translate }}
                        <span></span>
                    </label>
                </div>
            </div>
    	</div>

        <div class="col-md-4">
        	<div class="form-group row" ng-init='CM.getOptions({"Name": "HardSoftStop", "Type": "dropdown", "masterSource": "HardSoftStop"})'>
        		<label for="needWarningWhenSellerPaymentOnHold" class="simpleLookupLabel" style="max-height: initial;">
        			{{ CM.app_id + '.NEED_WARNING_WHEN_SELLER_PAYMENT_ON_HOLD' | translate }}
        		</label>
        		<div class="input-group form_input form_input_needWarningWhenSellerPaymentOnHold">
        			<select class="form-control bs-select changeIT" ng-options="item as item.name for item in options.HardSoftStop track by item.id" ng-required="true" id="needWarningWhenSellerPaymentOnHold" ng-model="formValues.invoice.needWarningWhenSellerPaymentOnHold"></select>
        		</div>
        	</div>
        </div>
        <div class="row">
    	<div class="col-md-4 ">
            <div class="form_input form_input_isNeedForSubmitForApproval form-group">
                <div class="">
                    <label class="mt-checkbox">
                        <input type="checkbox" name="inlineRadiosisNeedForSubmitForApproval" id="inlinecheckisNeedForSubmitForApproval" ng-model="formValues.invoice.isNeedForSubmitForApproval"/>
                            {{ CM.app_id + '.IS_NEED_FOR_SUBMIT_FOR_APPROVAL' | translate }}
                        <span></span>
                    </label>
                </div>
            </div>
    	</div>
    </div>

    </div>

    <div class="portlet">
        <div class="portlet-title">
            <span class="caption-subject ">
                Hide/Unhide Fields 
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" style="width: 60% !important;">
            <div class="custom-hardcoded-table admin">
                <table class="table-body" style="width:100%">
                    <thead class="table-head">
                        <tr style="background-color: #fff">
                            <td>
                                Field
                            </td>
                            <td>
                                Hide
                            </td>
                            <td>
                                Mandatory
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="padding">
                                Invoice Date 
                            </td>
                            <td class="padding">
                            </td>
                            <td class="padding">
                                <label class="mt-checkbox">
                                    <input type="checkbox"
                                        ng-model="formValues.invoice.fieldVisibility.isInvoiceDateMandatory"
                                        ng-click="formValues.invoice.fieldVisibility.isInvoiceDateHidden = false" />
                                    <span></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="padding">
                                Received Date
                            </td>
                            <td class="padding">
                                <label class="mt-checkbox">
                                    <input type="checkbox"
                                        ng-model="formValues.invoice.fieldVisibility.isReceivedDateHidden"
                                        ng-click="formValues.invoice.fieldVisibility.isReceivedDateMandatory = false" />
                                    <span></span>
                                </label>
                            </td>
                            <td class="padding">
                                <label class="mt-checkbox">
                                    <input type="checkbox"
                                        ng-model="formValues.invoice.fieldVisibility.isReceivedDateMandatory"
                                        ng-click="formValues.invoice.fieldVisibility.isReceivedDateHidden = false" />
                                    <span></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="padding">
                                Supplier Invoice Number
                            </td>
                            <td class="padding">
                            </td>
                            <td class="padding">
                                <label class="mt-checkbox">
                                    <input type="checkbox"
                                        ng-model="formValues.invoice.fieldVisibility.isSupplierInvoiceNumberMandatory"
                                        ng-click="formValues.invoice.fieldVisibility.isSupplierInvoiceNumberHidden = false" />
                                    <span></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="padding">
                                Bank Account Number
                            </td>
                            <td class="padding">
                                <label class="mt-checkbox">
                                    <input type="checkbox"
                                        ng-model="formValues.invoice.fieldVisibility.isBankAccountNumberHidden"
                                        ng-click="formValues.invoice.fieldVisibility.isBankAccountNumberMandatory = false" />
                                    <span></span>
                                </label>
                            </td>
                            <td class="padding">
                                <label class="mt-checkbox">
                                    <input type="checkbox"
                                        ng-model="formValues.invoice.fieldVisibility.isBankAccountNumberMandatory"
                                        ng-click="formValues.invoice.fieldVisibility.isBankAccountNumberHidden = false" />
                                    <span></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="padding">
                                Customer
                            </td>
                            <td class="padding">
                                <label class="mt-checkbox">
                                    <input type="checkbox"
                                        ng-model="formValues.invoice.fieldVisibility.isInvoiceCustomerHidden"
                                        ng-click="formValues.invoice.fieldVisibility.isInvoiceCustomerMandatory = false" />
                                    <span></span>
                                </label>
                            </td>
                            <td class="padding">
                                <label class="mt-checkbox">
                                    <input type="checkbox"
                                        ng-model="formValues.invoice.fieldVisibility.isInvoiceCustomerMandatory"
                                        ng-click="formValues.invoice.fieldVisibility.isInvoiceCustomerHidden = false" />
                                    <span></span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>