<div class="row sellerRating">
    <div class="clearfix"></div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="simpleLookupLabel">
                        {{ CM.app_id + '.APPLICABLE_APP' | translate }}
                        <span class="orange-txt">
                            *
                        </span>
                    </label>
                    <div class="input-group form_input">
                        <input ng-model="applicableApp" uib-typeahead="item as item.name for item in CM.listsCache.Module | typeaheadCustomFilter:$viewValue:'name'"  class="form-control" typeahead-show-hint="true" typeahead-min-length="1" typeahead-limit="5" typeahead-append-to-body="true" typeahead-wait-ms="100" name="counterpartyTypeFilterItemsInput" autocomplete="off"  />
                        <span class="input-group-addon"  ng-click="addSellerRatingApplicabbleApp(applicableApp); applicableApp = null">
                            <a   class=" btn default">
                                <i class="fa fa-plus"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-8" style="padding-left: 0px !important;">
                <div class="bootstrap-tagsinput"> 
                    <span class="tag label border-default seller-rating-module tag-seller-rating-module" ng-repeat="(key, value) in formValues.applications" ng-if="!value.isDeleted">
                        <a ng-click="value.id ? deleteModule(value) : formValues.applications.splice(key,1)"><i class="fa fa-close font-red-thunderbird" ></i></a>
                        {{value.module.name}}
                    </span>
                </div>                  
            </div>              
        </div>
    </div>
    <div class="col-sm-12 seller-specific-location" ng-if="formValues.applications.length">
        <div class="portlet light">
            <div class="portlet-title ">
                <div class="tools ">
                    <a   class="collapse" data-original-title="" title=""></a>
                </div>
                <div class="caption ">
                    <span class="caption-subject pull-left ">
                        Specific Locations
                    </span>
                </div>
            </div>
            <div class="portlet-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-repeat="(key,value) in formValues.applications" ng-if="!value.isDeleted" ng-click="CM.selectedLocation = getFirstIndex(formValues.applications[key].specificLocations)">
                        <a href="#{{ value.module.name == 'Counterparty Master' ? 'CounterpartyMaster' :  value.module.name }}" aria-controls="{{value.module.name == 'Counterparty Master' ? 'CounterpartyMaster' :  value.module.name }}" role="tab" data-toggle="tab">
                            {{ value.module.name }}
                        </a>
                    </li>
                </ul>
                <br/>
                <div class="tab-content">
                    <div ng-repeat="(key1,value1) in formValues.applications" role="tabpanel" class="tab-pane" id="{{ value1.module.name == 'Counterparty Master' ? 'CounterpartyMaster' :  value1.module.name }}">
                        <div class="row">
                            <span ng-init='CM.getOptions({"Name": "Location", "Type": "dropdown", "masterSource": "Location"})'></span>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="simpleLookupLabel">
                                        Locations
                                    </label>
                                    <div class="input-group form_input">
                                        <input ng-model="location" uib-typeahead="item as item.name for item in options.Location | typeaheadCustomFilter:$viewValue:'name'"  class="form-control" typeahead-show-hint="true" typeahead-min-length="1" typeahead-limit="5" typeahead-append-to-body="true" typeahead-wait-ms="100" name="counterpartyTypeFilterItemsInput" autocomplete="off"  />
                                        <span class="input-group-addon"  ng-click="addSellerRatingApplicabbleAppSpecificLocations(location, key1); location = null;">
                                            <a   class=" btn default">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">  
                                <div class="row">
                                    <div class="specific-location-seller-tab" ng-repeat="(key, value) in formValues.applications[key1].specificLocations" ng-if="!value.isDeleted">
                                        <div ng-click="CM.selectedLocation = key;" ng-class="CM.selectedLocation == key ? 'specific-location-selected' : ''">
                                            <div class="bootstrap-tagsinput"> 
                                                <span class="tag label border-default seller-rating-location">
                                                    <a ng-click="value.id ? deleteLocationFromAdminSellerRating(value): formValues.applications[key1].specificLocations.splice(key,1); CM.selectedLocation = getFirstIndex(formValues.applications[key1].specificLocations)"><i class="fa fa-close font-red-thunderbird" ></i></a>
                                                    {{value.location.name | decodeReadOnly}}
                                                 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>              
                        </div>
                        <span ng-repeat="(key4, value4) in formValues.applications[key1].specificLocations" ng-show="CM.selectedLocation == key4">
                            <div class="row margin-top-10">
                                <div class="col-xs-12">
                                <div ng-if="!formValues.applications[key1].specificLocations[key4].isDeleted">
                                <span ng-init="!formValues.applications[key1].specificLocations[key4].categories ? formValues.applications[key1].specificLocations[key4].categories=[{'id':0}] : '' "></span>
                                <div class="portlet light light-specific-location seller-rating-portlet-body">
                                        <div class="portlet-title " style="padding-top: 10px; padding-left: 10px;">
                                            <div class="tools ">
                                                <a   class="collapse" data-original-title="" title=""></a>
                                            </div>
                                            <div class="caption ">
                                                <span class="caption-subject pull-left ">
                                                    {{value4.location.name | decodeReadOnly}}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="portlet-body" style="padding: 10px;">
                                            <div class="col-md-push-8">
                                                <div class="weightage-labels">
                                                    <div class="input-group pull-right form_input form_input_applications">
                                                        <span class="form-control weightage" ng-if="formValues.applications" ng-init="totalWeightageCalcSpecificLocations(value4)" ng-class="verifyRatingRequired(formValues.applications[key1].specificLocations[key4]) && formValues.applications[key1].specificLocations[key4].totalWeightage != 100 ? 'danger' : '' ">
                                                            {{ formValues.applications[key1].specificLocations[key4].totalWeightage }}
                                                        </span>
                                                    </div>
                                                    <label class="control-label pull-right">
                                                        {{ CM.app_id + '.TOTAL_WEIGHTAGE' | translate }}
                                                    </label>
                                                </div>
                                            </div>
                                            <br/>
                                            <br/>
                                            <br/>
                                            <div class="portlet" ng-repeat="(key2, value2) in value4.categories" ng-if="!value2.isDeleted">
                                                <div class="portlet-category-key" ng-if="key2> 0">
                                                </div>
                                                <div class="portlet-title portlet-title-no-border">
                                                    <div class="row">
                                                        <div class="col-md-8 form-group">
                                                            <span class="caption-subject pull-left control-label seller-rating-category">
                                                                {{ CM.app_id + '.CATEGORY' | translate }} {{ key2 + 1 }}
                                                            </span>
                                                            <div class="form_control pull-left">
                                                                <input decode-input-format type="text" ng-required="true" name="Category_{{ key2 + 1 }}_name_specificLocations_{{value4.location.name}}_{{value1.module.name}}" id="" class="form-control" placeholder="Category {{ key2 + 1 }}" ng-model="value2.name"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="weightage-labels">
                                                                <div class="action-buttons">
                                                                    <div class="remove"  ng-if="key2> 0"  ng-click="value2.id ? deleteCategory(value2) : value4.categories.splice(key2, 1); totalWeightageCalcSpecificLocations(value4)">
                                                                        <i class="fa fa-minus"></i>
                                                                    </div>
                                                                    <div class="insert" ng-click="value4.categories.push({'id':0})">
                                                                        <i class="fa fa-plus"></i>
                                                                    </div>
                                                                </div>
                                                                <label class="control-label">
                                                                    {{ CM.app_id + '.WEIGHTAGE' | translate }}
                                                                </label>
                                                                <div class="input-group pull-right form_input">
                                                                    <span class="form-control weightage">
                                                                        {{ value2.weight }}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span ng-init="!value2.details ? value2.details = [{'id':0}] : ''"></span>
                                                <div class="row" ng-repeat="(key3, value3) in value2.details" ng-if="!value3.isDeleted">
                                                    <div class="col-md-8">
                                                        <div class="form-group row">
                                                            <label class="control-label">
                                                                {{ CM.app_id + '.PARAMETER' | translate }} {{ key3 + 1 }}
                                                            </label>
                                                            <div class="input-group form_input">
                                                                <input decode-input-format type="text" ng-required="true" class="form-control" name="Category_{{ key2 + 1 }}_Parameter_{{ key3 + 1 }}_specificLocations_{{value4.location.name}}_{{value1.module.name}}" ng-model="value3.name"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 seller-rating-param-group">
                                                        <div class="input-group pull-left form_group seller-rating-required">
                                                            <div class="icheck-inline">
                                                                <label  class=" mt-checkbox">
                                                                    <input class="rating-required"  type="checkbox"   id="rating-required" ng-model="value3.ratingRequired" ng-change="updateWeightSumSpecificLocations(key1, key4, key2);!value3.ratingRequired ? value3.weight= null : ''"/>
                                                                    <span></span>
                                                                    Rating Required
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="weightage-labels">
                                                            <div class="action-buttons">
                                                                <div class="remove" ng-if="key3> 0" ng-click="value3.id ? value3.isDeleted= true : value2.details.splice(key3, 1); updateWeightSumSpecificLocations(key1, key4, key2)">
                                                                    <i class="fa fa-minus"></i>
                                                                </div>
                                                                <div class="insert" ng-click="value2.details.push({'id':0})">
                                                                    <i class="fa fa-plus"></i>
                                                                </div>
                                                            </div>
                                                            <div class="input-group pull-right form_input">
                                                                <input decode-input-format type="number" ng-min="0"  class="form-control weightage" ng-required="value3.ratingRequired" name="Category_{{ key2 + 1 }}_Parameter_{{ key3 + 1 }}_Weight_specificLocations_{{value4.location.name}}_{{value1.module.name}}" ng-model="value3.weight" ng-change="updateWeightSumSpecificLocations(key1, key4, key2)" ng-disabled="!value3.ratingRequired"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="seller-rating-empty"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 seller-all-location"  ng-if="formValues.applications.length">
        <div class="portlet light">
            <div class="portlet-title ">
                <div class="tools ">
                    <a   class="collapse" data-original-title="" title=""></a>
                </div>
                <div class="caption ">
                    <span class="caption-subject pull-left ">
                        All Locations
                    </span>
                </div>
            </div>
            <div class="portlet-body">
               <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-repeat="(key,value) in formValues.applications"  ng-if="!value.isDeleted" >
                        <a href="#{{ value.module.name == 'Counterparty Master' ? 'CounterpartyMaster' :  value.module.name }}allLocations" aria-controls="{{ value.module.name == 'Counterparty Master' ? 'CounterpartyMaster' :  value.module.name  }}" role="tab" data-toggle="tab">
                            {{ value.module.name }}
                        </a>
                    </li>
                </ul>
                <br/>
                <div class="tab-content">
                    <div ng-repeat="(key1,value1) in formValues.applications" role="tabpanel" class="tab-pane" id="{{ value1.module.name == 'Counterparty Master' ? 'CounterpartyMaster' :  value1.module.name  }}allLocations">
                        <span ng-init="!formValues.applications[key1].allLocations.categories ? formValues.applications[key1].allLocations.categories=[{'id':0}] : '' "></span>
                        <!-- {{value1}} -->
                        <div class="col-md-push-8">
                            <div class="weightage-labels">
                                <div class="input-group pull-right form_input form_input_applications">
                                    <span class="form-control weightage" ng-if="formValues.applications" ng-init="totalWeightageCalcAllLocations(formValues.applications[key1].allLocations)" ng-class="verifyRatingRequired(formValues.applications[key1].allLocations) && formValues.applications[key1].allLocations.totalWeightage != 100 ? 'danger' : '' ">
                                        {{ formValues.applications[key1].allLocations.totalWeightage }}
                                    </span>
                                </div>
                                <label class="control-label pull-right">
                                    {{ CM.app_id + '.TOTAL_WEIGHTAGE' | translate }}
                                </label>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <div class="portlet" ng-repeat="(key2, value2) in value1.allLocations.categories" ng-if="!value2.isDeleted">
                            <div class="portlet-category-key" ng-if="key2> 0">
                            </div>
                            <div class="portlet-title portlet-title-no-border">
                                <div class="row">
                                    <div class="col-md-8 form-group">
                                        <span class="caption-subject pull-left control-labe seller-rating-category">
                                            {{ CM.app_id + '.CATEGORY' | translate }} {{ key2 + 1 }}
                                        </span>
                                        <div class="form_control pull-left">
                                            <input decode-input-format type="text" ng-required="verifyAllLocation(value2)" name="Category_{{ key2 + 1 }}_name_allLocations_{{value1.module.name}}" id="" class="form-control" placeholder="Category {{ key2 + 1 }}" ng-model="value2.name"/>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="weightage-labels">
                                            <div class="action-buttons">
                                                <div class="remove" ng-if="key2> 0"  ng-click="value2.id ? deleteCategory(value2) : value1.allLocations.categories.splice(key2, 1); totalWeightageCalcAllLocations(value1.allLocations)">
                                                    <i class="fa fa-minus"></i>
                                                </div>
                                                <div class="insert" ng-click="value1.allLocations.categories.push({'id':0})">
                                                    <i class="fa fa-plus"></i>
                                                </div>
                                            </div>
                                            <label class="control-label">
                                                {{ CM.app_id + '.WEIGHTAGE' | translate }}
                                            </label>
                                            <div class="input-group pull-right form_input">
                                                <span class="form-control weightage">
                                                    {{ value2.weight }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span ng-init="!value2.details ? value2.details = [{'id':0}] : ''"></span>
                            <div class="row" ng-repeat="(key3, value3) in value2.details" ng-if="!value3.isDeleted">
                                <div class="col-md-8">
                                    <div class="form-group row">
                                        <label class="control-label">
                                            {{ CM.app_id + '.PARAMETER' | translate }} {{ key3 + 1 }}
                                        </label>
                                        <div class="input-group form_input">
                                            <input decode-input-format type="text" ng-required="verifyAllLocation(value2)" class="form-control" name="Category_{{ key2 + 1 }}_Parameter_{{ key3 + 1 }}_allLocations_{{value1.module.name}}" ng-model="value3.name"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 seller-rating-param-group">
                                     <div class="input-group form_group seller-rating-required">
                                        <div class="icheck-inline">
                                            <label  class=" mt-checkbox">
                                                <input class="rating-required"  type="checkbox"   id="rating-required" ng-model="value3.ratingRequired" ng-change="updateWeightSumAllLocations(key1, key2); !value3.ratingRequired ? value3.weight= null : '' "/>
                                                <span></span>
                                                Rating Required
                                            </label>
                                        </div>
                                    </div>
                                    <div class="weightage-labels">
                                        <div class="action-buttons">
                                            <div class="remove" ng-if="key3> 0" ng-click="value3.id ? value3.isDeleted = true : value2.details.splice(key3, 1);
                                                updateWeightSumAllLocations(key1, key2)">
                                                <i class="fa fa-minus"></i>
                                            </div>
                                            <div class="insert" ng-click="value2.details.push({'id':0})">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                        <div class="input-group pull-right form_input">
                                            <input  decode-input-format type="number"  ng-min="0" class="form-control weightage" ng-required="value3.ratingRequired && verifyAllLocation(value2)" name="Category_{{ key2 + 1 }}_Parameter_{{ key3 + 1 }}_Weight_allLocations_{{value1.module.name}}" ng-model="value3.weight" ng-change="updateWeightSumAllLocations(key1, key2)" ng-disabled="!value3.ratingRequired"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="seller-rating-empty"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
