<div class="portlet">
    <div class="portlet-title">
        <span class="caption-subject ">
            Service Master
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            <div class="form_input form_input_IsPortSequenceVisible">
                <div class="">
                    <label class="mt-checkbox">
                        <input type="checkbox" name="inlineRadiosisPortSequenceVisible" id="inlinecheckisPortSequenceVisible" ng-model="formValues.master.isPortSequenceVisible"
                        /> {{ CM.app_id + '.DISPLAY_PORT_SEQUENCE' | translate }}
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portlet">
    <div class="portlet-title">
        <span class="caption-subject ">
            Location
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            <div class="form_input form_input_IsLocationTerminalVisible">
                <div class="">
                    <label class="mt-checkbox">
                        <input type="checkbox" name="inlineRadiosisLocationTerminalVisible" id="inlinecheckisLocationTerminalVisible" ng-model="formValues.master.isLocationTerminalVisible"
                        /> {{ CM.app_id + '.DISPLAY_TERMINAL' | translate }}
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            <div class="form_input form_input_IsLocationBopsDetailsVisible">
                <div class="">
                    <label class="mt-checkbox">
                        <input type="checkbox" name="inlineRadiosisLocationBopsDetailsVisible" id="inlinecheckisLocationBopsDetailsVisible" ng-model="formValues.master.isLocationBopsDetailsVisible"
                        /> {{ CM.app_id + '.DISPLAY_LOCATION_BOPS_DETAILS' | translate }}
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portlet">
    <div class="portlet-title">
        <span class="caption-subject ">
            Vessel
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            <div class="form_input form_input_IsVesselBopsDetailsVisible">
                <div class="">
                    <label class="mt-checkbox">
                        <input type="checkbox" name="inlineRadiosisVesselBopsDetailsVisible" id="inlinecheckisVesselBopsDetailsVisible" ng-model="formValues.master.isVesselBopsDetailsVisible"
                        /> {{ CM.app_id + '.DISPLAY_VESSEL_BOPS_DETAILS' | translate }}
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6" style="width: 60% !important;">
        <div class="custom-hardcoded-table admin">
            <table class="table-body" style="width:100%">
                <thead class="table-head">
                    <tr style="background-color: #fff">
                        <td>
                            Field
                        </td>
                        <!-- <td>
                            Hide
                        </td> -->
                        <td>
                            Mandatory
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="padding">
                            Customer
                        </td>
                        <!-- <td class="padding">
                        </td> -->
                        <td class="padding">
                            <label class="mt-checkbox">
                                <input type="checkbox"
                                    ng-model="formValues.master.isVesselCustomerMandatory" />
                                <span></span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <br />
    </div>
</div>
<div class="portlet">
    <div class="portlet-title">
        <span class="caption-subject ">
            Counterparty
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            <div class="form_input form_input_IsCounterpartyBankAccountAddable">
                <div class="">
                    <label class="mt-checkbox">
                        <input type="checkbox" name="inlineRadiosisCounterpartyBankAccountAddable" id="inlinecheckisCounterpartyBankAccountAddable" ng-model="formValues.master.isCounterpartyBankAccountAddable"
                        /> {{ CM.app_id + '.ADD_COUNTERPARTY_BANK_ACCOUNT' | translate }}
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>