
<div class="custom-hardcoded-table fixed-header ng-scope" style="max-height: 500px;">
		    <table class="table-body" style="width:99.9%">
		        <thead>
		            <tr>
		            	<th id="generatedThId9" class="padding">Transaction</th>
		            	<th id="generatedThId10" class="padding">Process</th>
		            	<th id="generatedThId11" class="padding">Email Type</th>
		            	<th id="generatedThId12" class="padding">Template</th>
		            	<th id="generatedThId13" class="padding">Reply To</th>
		            	<th id="generatedThId14" class="padding" ng-if="formValues.general.useHtmlTemplates.name == 'No'">To email configuration</th>
		            	<th id="generatedThId15" class="padding" ng-if="formValues.general.useHtmlTemplates.name == 'No'">CC email configuration</th>
		            	<th id="generatedThId16" class="padding" ng-if="formValues.general.useHtmlTemplates.name == 'No'">Attachment Document Types</th>
		            	<th id="generatedThId17" class="padding" ng-if="formValues.general.useHtmlTemplates.name == 'No'">Email Attachment Required</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="(key, value) in formValues.email" ng-if="value.isDeleted != true" ng-mouseover="initEmailTemplateTypeahead(key, value)" class="ng-scope">
						<td ng-init="emailLoaded()" hidden></td>
						<td class="padding">{{value.transactionType.name}}</td>
						<td class="padding">{{value.process}}</td>
						<td class="">
							<select ng-if="value.process != 'Order No BDN To Vessel Email' && value.process != 'Bunker Quantity' && value.process != 'Sludge Quantity' && value.process != 'Labs Template'"
								class="form-control bs-select changeIT" name="emailType" id="emailType" ng-required="true" ng-options="item as item.name for item in CM.listsCache.EmailType track by item.id" ng-model="value.emailType">
							</select>
							<select ng-if="value.process == 'Order No BDN To Vessel Email' || value.process == 'Bunker Quantity' || value.process == 'Sludge Quantity' || value.process == 'Labs Template'"
								class="form-control bs-select changeIT" name="emailType" id="emailType" ng-required="true" ng-options="item as item.name for item in CM.EmailTypeNoAutomatic track by item.id"  ng-model="value.emailType">
							</select>

						</td>
						<td class="">
		                    <div class="input-group form_input form_input_formula_quotes">
		                        <input ng-model="value.template" uib-typeahead="item as item.name for item in options['EmailTemplate_'+key] | typeaheadCustomFilter:$viewValue:'name'"
		                            class="form-control" typeahead-show-hint="true" typeahead-min-length="1" typeahead-append-to-body="true"
		                            typeahead-wait-ms="100" ng-required="true" name="{{ field.Name }}" autocomplete="off" />

								<span class="input-group-addon ng-scope" ng-click="triggerModal('general',
								 'admin_templates',
								 'Template' ,
								 'template',
								 'formValues.email',
								 key,
								 null,
								 'filter__admin_templates');" >
								        <a class=" btn default">
								            <i class="fa fa-search"></i>
								        </a>
								</span>
								<span class="input-group-addon ng-scope" ng-if="formValues.general.useHtmlTemplates.name == 'Yes'" ng-click="goToEmailTemplate(value.template.id)">
									<a class=" btn default">
								     <i class="fa fa-pencil"></i>
								 	</a>
								</span>

		                    </div>							
						</td>
						<td>
							<input type="text" class="form-control" ng-model="value.replyTo">
						</td>
						<td class="" ng-if="formValues.general.useHtmlTemplates.name == 'No'">

								<multiselect ng-model="value.toEmailsConfiguration" options="CM.listsCache['EmailAddressTypes']" id-prop="id" display-prop="name" show-search="true"></multiselect>

						</td>
						<td class="" ng-if="formValues.general.useHtmlTemplates.name == 'No'">

								<multiselect ng-model="value.ccEmailsConfiguration" options="CM.listsCache['EmailAddressTypes']" id-prop="id" display-prop="name" show-search="true"></multiselect>

						</td>						
						<td class="" ng-if="formValues.general.useHtmlTemplates.name == 'No'">

								<multiselect ng-model="value.attachmentDocumentTypes" ng-disabled="!value.isEmailAttachmentRequired" options="CM.listsCache['DocumentType']" id-prop="id" display-prop="name" show-search="true"></multiselect>

						</td>
						<td class="" ng-if="formValues.general.useHtmlTemplates.name == 'No'">
							<label class="mt-checkbox">
								<input type="checkbox" ng-model="value.isEmailAttachmentRequired" >
									<span style="background:#fff; border: 1px solid #dedede;"></span>
							</label>							
						</td>						
		            </tr>		            
		        </tbody>
		    </table>
		</div>
