<!-- <div class="portlet">
    <div class="portlet-title">
        <span class="caption-subject ">
            General
        </span>
    </div>
</div> -->
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            <div class="form_input form_input_IsPreclaimCNFeatureAvailable">
                <div class="">
                    <label class="mt-checkbox">
                        <input type="checkbox" name="inlineRadiosisPreclaimCNFeatureAvailable" id="inlinecheckisPreclaimCNFeatureAvailable" ng-model="formValues.claim.isPreclaimCNFeatureAvailable"
                        /> {{ CM.app_id + '.PRE_CLAIM_CN_AVAILABLE' | translate }}
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
