<div ng-controller="Controller_Contract as CC" ng-init='CM.getOptions({"Name": "Currency", "Type": "simpleLookup", "masterSource": "Currency"})'>

    <span ng-if="formValues.status.name == 'Confirmed' ">
        {{disableFieldsIfConfirmed()}}
    </span>

    <!-- <span ng-if="isCreate" ng-init="CC.addProductToContract()"></span> -->
    <span ng-if="formValues.products" ng-model="formValues.products" ng-change="CC.initOnLoad()" ng-init="CC.initOnLoad()"></span>
    <div class="row top-tab-section">
        <div class="products-tabs">
            <div class="products-tabs-inner">
                <span class="product-item accordion-toggle {{ !isAccordionView ? 'tab-view' : '' }}" data-toggle="collapse" data-parent="#accordion1"
                    href="#collapse_{{ $index }}" ng-repeat="(key, value) in formValues.products" ng-show="!formValues.products[key].isDeleted">
                    <!-- ng-if="formValues.products[key].isDeleted == false" -->
                    <div class="tab-item-inner" style="white-space: normal;">
                        <div class="tab-item-inner-content">
                            <div class="product-name">
                                PRODUCT {{ $index + 1 }}
                            </div>
                            <div>
                                {{ value.product.name ? value.product.name : "New Product" }}
                            </div>
                            <div>
                                Qty: {{ value.summary.contractedQuantity ? (value.summary.contractedQuantity | number:tenantSetting.defaultValues.quantityPrecision)
                                : "" }} {{value.summary.uom}}
                            </div>
                            <div>
                                Pricing: {{ value.fixedPrice ? (value.price | number:tenantSetting.defaultValues.pricePrecision) : "Formula" }} {{ value.fixedPrice
                                ? value.currency.code : "" }}
                            </div>
                        </div>
                        <span class="remove-product" ng-click="formValues.products[key].id == 0 ? formValues.products.splice(key, 1) : formValues.products[key].isDeleted = true">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                </span>
            </div>
        </div>
        <div class="switch-view">
            <span ng-click="isAccordionView = !isAccordionView ">
                <div class="tab-item-inner">
                    <div class="tab-item-inner-content" ng-show="!isAccordionView">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        List view
                    </div>
                    <div class="tab-item-inner-content" ng-show="isAccordionView">
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        Tab view
                    </div>
                </div>
            </span>
        </div>
        <div class="add-product">
            <span ng-click="CC.addProductToContract()">
                <div class="tab-item-inner">
                    <div class="tab-item-inner-content">
                        Add Product
                    </div>
                </div>
            </span>
        </div>
        <div class="horizontal-separator" ng-show="!isAccordionView"></div>
    </div>
    <div class="row">
        <div class="panel-group accordion" id="accordion1">
            <div class="panel panel-default" ng-repeat="(index_0, value) in formValues.products" ng-show="!formValues.products[index_0].isDeleted">
                <div class="panel-heading" ng-show="isAccordionView">
                    <h4 class="panel-title contract-accordion">
                        <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion1" href="#collapse_{{ $index }}">
                            {{ value.product.name ? value.product.name : "New Product" }}
                        </a>
                    </h4>
                </div>
                <div id="collapse_{{ $index }}" class="panel-collapse collapse" aria-expanded="false" ng-class="$index> 0 ? 'collapse' : ''">
                    <div class="panel-body">
                        <div class="row">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row" ng-init='CM.getOptions({"Name": "mainProduct", "Type": "simpleLookup", "masterSource": "Product"})'>
                                        <label class="mainProduct" class="simpleLookupLabel">
                                            {{ CM.app_id + '.MAIN_PRODUCT' | translate }}
                                            <span class="orange-txt">
                                                *
                                            </span>
                                        </label>
                                        <div class="input-group form_input" tooltip tooltiptrigger="hover" data-original-title="{{ getProductTooltipByProductId(formValues.products[$index].product.id) }}">
                                            <input ng-model="formValues.products[$index].product" uib-typeahead="item as item.name for item in options.Product | filter:{name:$viewValue}"
                                                class="form-control" typeahead-show-hint="true" typeahead-min-length="1" typeahead-append-to-body="true"
                                                typeahead-wait-ms="100" typeahead-on-select="" id="Product_{{ index_0 + 1 }}_Main_Product"
                                                required="true" name="Product_{{ index_0 + 1 }}_Main_Product" autocomplete="off"
                                                ng-change="formValues.products[$index].product.id ? productSpecGroups = getSpecGroupByProduct(formValues.products[$index].product.id) : '' "
                                            />
                                            <span class="input-group-addon" ng-click="triggerModal('general', 'masters_productlist', 'Product' , 'formValues.products.'+index_0+'.product');"
                                                ng-init="modal = false">
                                                <a   class=" btn default">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-hide="adminConfigurationContract.hideAllowedProduct">
                                    <label class="control-label">
                                        {{ CM.app_id + '.ALLOWED_PRODUCTS' | translate }}
                                    </label>
                                    <div class="input-group pull-left form_input" ng-init='CM.getOptions({"Name": "Product", "Type": "simpleLookup", "masterSource": "Product"})'>

                                        <input ng-model="allowedProduct_[$index]" id="allowedProduct_{{ $index }}" name="Product_{{ index_0 + 1 }}_Allowed_Products"
                                            uib-typeahead="item as item.name for item in options.Product | filter:{name:$viewValue}"
                                            class="form-control" typeahead-show-hint="true" typeahead-min-length="1" typeahead-append-to-body="true"
                                            typeahead-wait-ms="300" id="{{ field.Unique_ID }}" data-uniqueid="{{ field.Unique_ID }}"
                                            data-value="{{ allowedProduct_[$index]}}" autocomplete="off" ng-init="CM.initTypeahead('Product', formValues.products[$index].product);CM.multiTagsContractProducts(formValues.products[$index].allowedProducts, $index, 'allowedProduct_'+$index, 'allowedProducts')"
                                            ng-blur="showMultiLookupWarning(allowedProduct_[$index])" />
                                        <span class="input-group-addon">
                                            <a   class="object_tagsinput_add_allowedProduct_{{ $index }} btn default" ng-click="CM.plusClickedMultilookup = true">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="multi_lookup_tags tagsForallowedProduct{{ $index }}">
                                        <input type="text" name="Product_{{ index_0 + 1 }}_Allowed_Products" class="input-as-label form-control typeahead object_tagsinput_allowedProduct_{{ $index }}"
                                            ng-model="formValues.products[$index].allowedProducts.name" ng-change="allowedProduct_[$index] = null"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <span ng-if="formValues.products[$index].product.id" ng-init="getSpecGroupByProduct(formValues.products[$index].product.id)"></span>
                                    <div class="form-group row">
                                        <label class="mainProduct" class="simpleLookupLabel">
                                            {{ CM.app_id + '.SPEC_GROUP' | translate }}
                                        </label>
                                        <div class="input-group form_input">
                                            <select class="form-control" ng-model="formValues.products[$index].specGroup" ng-options="item as item.name for item in CM.productSpecGroup[formValues.products[$index].product.id] track by item.id">
                                                <option value=""></option>
                                            </select>
                                            <span class="input-group-addon" ng-click="modalSpecGroupEdit(formValues.products[$index], null,  'contract')" ng-init="modal = false">
                                                <a   class=" btn default">
                                                    <i class="fa fa-file-text"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group no-padding" style="display:block">
                                        <label class="simpleLookupLabel">
                                            {{ CM.app_id + '.CCAI' | translate }}
                                        </label>
                                        <div class="input-group form_input">
                                            <input type="text" class="form-control" ng-model="formValues.products[$index].ccai" format="number:3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row" ng-init='CM.getOptions({"Name": "Location", "Type": "simpleLookup", "masterSource": "Location"})'>
                                        <label class="mainLocation" class="simpleLookupLabel">
                                            {{ CM.app_id + '.MAIN_LOCATION' | translate }}
                                            <span class="orange-txt">
                                                *
                                            </span>
                                        </label>
                                        <div class="input-group form_input">
                                            <input ng-model="formValues.products[$index].location" uib-typeahead="item as item.name for item in options.Location | filter:{name:$viewValue}"
                                                class="form-control" typeahead-show-hint="true" typeahead-min-length="1" typeahead-append-to-body="true"
                                                typeahead-wait-ms="100" id="Product_{{ index_0 + 1 }}_Location" required="true"
                                                name="Product_{{ index_0 + 1 }}_Location" autocomplete="off" typeahead-on-select="getAdditionalCosts(formValues.products[$index].location.id, $index)"
                                            />
                                            <span class="input-group-addon" ng-click="triggerModal('general', 'masters_locationlist', 'Location' , 'formValues.products.'+index_0+'.location',null,null,'product_location.'+$index);"
                                                ng-init="modal = false">
                                                <a   class=" btn default">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">
                                        {{ CM.app_id + '.ALLOWED_LOCATIONS' | translate }}

                                    </label>
                                    <div class="input-group pull-left form_input" ng-init='CM.getOptions({"Name": "Location", "Type": "simpleLookup", "masterSource": "Location"})'>

                                        <input ng-model="allowedLocations_[$index]" id="allowedLocation_{{ $index }}" name="Product_{{ index_0 + 1 }}_Allowed_Locations"
                                            uib-typeahead="item as item.name for item in options.Location | filter:{name:$viewValue}"
                                            class="form-control" typeahead-show-hint="true" typeahead-min-length="1" typeahead-append-to-body="true"
                                            typeahead-wait-ms="300" id="{{ field.Unique_ID }}" data-uniqueid="{{ field.Unique_ID }}"
                                            data-value="{{ allowedLocations_[$index]}}" autocomplete="off" ng-init="CM.initTypeahead('Location', formValues.products[$index].allowedLocations);CM.multiTagsContractProducts(formValues.products[$index].allowedLocations, $index, 'allowedLocation_'+$index, 'allowedLocations')"
                                            ng-blur="showMultiLookupWarning(allowedLocations_[$index])" />

                                        <span class="input-group-addon">
                                            <a   class="object_tagsinput_add_allowedLocation_{{ $index }} btn default" ng-click="CM.plusClickedMultilookup = true">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="multi_lookup_tags tagsForallowedLocations{{ $index }}">
                                        <input type="text" name="Product_{{ index_0 + 1 }}_Allowed_Locations" class="input-as-label form-control typeahead object_tagsinput_allowedLocation_{{ $index }}"
                                            ng-model="formValues.products[$index].allowedLocations.name" ng-change="allowedLocations_[$index] = null"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <div class="">
                                        <label class="control-label">
                                            {{ CM.app_id + '.PHISYCAL_SUPPLIER' | translate }}
                                        </label>
                                        <div class="input-group pull-left form_input" ng-init='CM.getOptions({"Name": "Supplier", "Type": "simpleLookup", "masterSource": "Supplier"})'>

                                            <input ng-model="allowedSuppliers_[$index]" name="Product_{{ index_0 + 1 }}_Supplier" id="Supplier_{{ $index }}" uib-typeahead="item as item.name for item in options.Supplier | filter:{name:$viewValue}"
                                                class="form-control" typeahead-show-hint="true" typeahead-min-length="1" typeahead-append-to-body="true"
                                                typeahead-wait-ms="300" id="{{ field.Unique_ID }}" data-uniqueid="{{ field.Unique_ID }}"
                                                data-value="{{ allowedSuppliers_[$index]}}" autocomplete="off" ng-init="CM.initTypeahead('Supplier', formValues.products[$index].product);CM.multiTagsContractProducts(formValues.products[$index].physicalSuppliers, $index, 'Supplier_'+$index, 'physicalSuppliers')"
                                                ng-blur="showMultiLookupWarning(allowedSuppliers_[$index])" />

                                            <span class="input-group-addon">
                                                <a   class="object_tagsinput_add_Supplier_{{ $index }} btn default" ng-click="CM.plusClickedMultilookup = true">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </span>
                                        </div>
                                        <div class="multi_lookup_tags tagsForphysicalSuppliers{{ $index }}">
                                            <input type="text" name="Product_{{ index_0 + 1 }}_Supplier" class="input-as-label form-control typeahead object_tagsinput_Supplier_{{ $index }}"
                                                ng-model="formValues.products[$index].physicalSuppliers.name" ng-required="false"
                                                ng-change="allowedSuppliers_[$index] = null" />
                                        </div>
                                    </div>
                                </div>

								 <div class="col-md-4 form-group">


                                    <div class="">
                                        <label class="control-label">
                                            {{ CM.app_id + '.DEAL_DATE' | translate }}
                                        </label>
										<div class="input-group form_input form_input_dealDate">
                                              <input
                                                 ng-model="formValues.products[$index].dealDate"
                                                 name="dealDate-{{$index}}"
                                                 id="dealDate-{{$index}}"
                                                 new-date-picker
                                                 picker-type="date"
                                                 class="form-control date-mask new-date-picker">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <label class="control-label">
                                        {{ CM.app_id + '.BARGE' | translate }}

                                    </label>
                                    <div class="input-group pull-left form_input" ng-init='CM.getOptions({"Name": "Barge", "Type": "simpleLookup", "masterSource": "Barge"})'>
                                        <!-- <select class="form-control select2 changeIT" id="barges_{{ $index }}" name="Product_{{ index_0 + 1 }}_Barges" ng-model="dummyModel" ng-init="CM.initTypeahead('Barge', formValues.products[$index].product);CM.multiTagsContractProducts(formValues.products[$index].barges, $index, 'barges_'+$index, 'barges')" ng-class="CM.invalid_form ? 'ng-touched' : ''">
                                            <option value="" style="display: none"></option>
                                            <option value="{{ value }}" ng-repeat="(key, value) in options.Barge  ">
                                                {{ value.name }}
                                            </option>
                                        </select> -->
                                        <input ng-model="barges_[$index]" id="barges_{{ $index }}" name="Product_{{ index_0 + 1 }}_Barges" uib-typeahead="item as item.name for item in options.Barge | filter:{name:$viewValue}"
                                            class="form-control" typeahead-show-hint="true" typeahead-min-length="1" typeahead-append-to-body="true"
                                            typeahead-wait-ms="300" id="{{ field.Unique_ID }}" data-uniqueid="{{ field.Unique_ID }}"
                                            data-value="{{ barges_[$index]}}" autocomplete="off" ng-init="CM.initTypeahead('Barge', formValues.products[$index].product);CM.multiTagsContractProducts(formValues.products[$index].barges, $index, 'barges_'+$index, 'barges')"
                                            ng-class="CM.invalid_form ? 'ng-touched' : ''" ng-blur="showMultiLookupWarning(allowedSuppliers_[$index])"
                                        />
                                        <span class="input-group-addon">
                                            <a   class="object_tagsinput_add_barges_{{ $index }} btn default" ng-click="CM.plusClickedMultilookup = true">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="multi_lookup_tags tagsForbarges{{ $index }}">
                                        <input type="text" name="Product_{{ index_0 + 1 }}_Barges" class="input-as-label form-control typeahead object_tagsinput_barges_{{ $index }}"
                                            ng-model="formValues.products[$index].barges.name" ng-change="barges_[$index] = null"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="caption" ng-if="formValues.productQuantityRequired">
                                <br/>
                                <br/>
                                <br/>
                                <h4 class="font-blue-madison ng-binding">
                                    Product Quantity
                                </h4>
                                <div class="fe_entity edit_form_fields_{{ CM.app_id }}">
                                    <div ng-include="'app-general-components/views/screen_parts/contracts/productQuantity.html'"></div>
                                </div>
                            </div>

                            <!-- PRICE -->
                            <div class="caption">
                                <span ng-init="getContractFormulaList()"></span>
                                <br/>
                                <br/>
                                <br/>
                                <h4 class="font-blue-madison">
                                    Price
                                    <a style="text-transform: initial;" ng-click="showFormulaHistory(formValues.products[index_0].id)" class="link pull-right">Formula History</a>
                                </h4>
                                <div class="fe_entity edit_form_fields_{{ CM.app_id }} col-md-12 price_bg">
                                    <div class="col-md-6">
                                        <div class="form-group  row">
                                            <div class="form_input form_input_price no-label" ng-class="!field.Label ? 'no-label' : ''">
                                                <div class="mt-radio-list">
                                                    <label class="mt-radio">
                                                        <input type="checkbox" name="inlineRadiosprice_{{ index_0 }}[]" ng-checked="formValues.products[index_0].fixedPrice" ng-click="formValues.products[index_0].isFormula ? formValues.products[index_0].isFormula = false : formValues.products[index_0].fixedPrice = true"
                                                            id="inlineRadioprice_{{ index_0 }}" ng-model="formValues.products[index_0].fixedPrice"
                                                        /> {{ 'FIXED' | translate }}
                                                        <span></span>
                                                    </label>
                                                    <label class="mt-radio">
                                                        <input type="checkbox" name="inlineRadiosprice_{{ index_0 }}[]" ng-checked="formValues.products[index_0].isFormula" ng-click="formValues.products[index_0].fixedPrice ? formValues.products[index_0].fixedPrice = false : formValues.products[index_0].isFormula = true"
                                                            id="inlineRadiopriceFormula_{{ index_0 }}" ng-model="formValues.products[index_0].isFormula"
                                                        /> {{ 'FORMULA' | translate }}
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row" style="display: block;" ng-show="formValues.products[index_0].fixedPrice == true">
                                            <span ng-if="!formValues.products[$index].currency.id" ng-init="formValues.products[$index].currency = tenantCurrency"></span>
                                            <label for="price_{{ $index }}" class="price_label">
                                                {{ CM.app_id + '.Price' | translate }}
                                            </label>
                                            <div class="input-group form_input form_input_price">
                                                <span class="input-group-addon uom_group pseudoSelect">
                                                    <select class="bs-select" name="Product_{{ index_0 + 1 }}_Price_Currency" ng-required="formValues.products[index_0].fixedPrice"
                                                        data-width="fit" id="" ng-model="formValues.products[$index].currency"
                                                        ng-options="item as item.code for item in options.Currency track by item.id">
                                                        <option></option>
                                                    </select>
                                                </span>
                                                <input type="text" name="Product_{{ index_0 + 1 }}_Price" ng-required="formValues.products[index_0].fixedPrice" class="form-control price_{{ $index }}"
                                                    ng-model="formValues.products[$index].price" ng-class="CM.invalid_form ? 'ng-touched' : ''"
                                                    format="number:{{CM.tenantSetting.defaultValues.pricePrecision}}" />
                                            </div>
                                            <div id="field-errors" ng-if="CM.editInstance[field.Name].$error.pattern" ng-init="triggerError( field.Label, CM.editInstance[field.Name])"></div>
                                        </div>
                                        <div class="form-group row" style="display: block;" ng-show="formValues.products[index_0].isFormula == true" ng-init='CM.getOptions({"Name": "Formula", "Type": "simpleLookup", "masterSource": "Formula"})'>
                                            <span ng-if="isEdit && formValues.products[$index].formula != null" ng-init="formValues.products[$index].formula.isContractReference = formValues.products[$index].isPriceFormulaContractReference"></span>
                                            <span ng-if="formValues.products[index_0].fixedPrice" ng-init="formValues.products[$index].formula = null"></span>
                                            <label for="priceFormula{{ $index }}" class="priceFormula" class="simpleLookupLabel">
                                                <!-- <span ng-if="!formValues.products[$index].formula.isContractReference">
                                                    {{ CM.app_id + '.PRICE_FORMULA' | translate }}
                                                </span> -->
                                                <!-- ng-if="formValues.products[$index].formula.isContractReference" -->
                                                <a ng-class="{'disabled' : !formValues.products[$index].formula.id}" ng-click="goToFormulaScreen(formValues.products[$index].formula.id)" >
                                                    {{ CM.app_id + '.PRICE_FORMULA' | translate }}
                                                </a>
                                            </label>
                                            <div class="input-group form_input">
                                                <input uib-typeahead="item as item.name for item in contractFormulaList | filter:{name:$viewValue}" class="form-control"
                                                    typeahead-show-hint="true" typeahead-min-length="1" typeahead-append-to-body="true"
                                                    typeahead-wait-ms="100" id="priceFormula{{ $index }}" name="Product_{{ index_0 + 1 }}_Price_Formula"
                                                    ng-model="formValues.products[$index].formula" autocomplete="off" ng-disabled="formValues.status.name == 'Cancelled' || formValues.status.name == 'Confirmed' || formValues.status.name == 'Delivered' "
                                                />
                                                <!-- {{formValues.products[$index].formula}} -->
                                                <span class="input-group-addon">
                                                    <button class=" btn default" ng-click="triggerModal('formula', 'masters_formulalist', 'masters.PRICE_FORMULA' | translate , 'formValues.products.'+$index+'.formula', null, $index);"
                                                        ng-disabled="formValues.status.name == 'Cancelled' || formValues.status.name == 'Confirmed' || formValues.status.name == 'Delivered' ">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group  row">
                                            <div class="form_input form_input_price no-label" ng-class="!field.Label ? 'no-label' : ''">
                                                <div class="mt-radio-list">
                                                    <label class="mt-radio">
                                                        <input type="checkbox" name="inlineRadiosprice_{{ index_0 }}[]" ng-checked="formValues.products[index_0].mtmFixed" ng-click="formValues.products[index_0].isMtmFormula ? formValues.products[index_0].isMtmFormula = false : formValues.products[index_0].mtmFixed = true"
                                                            id="inlineRadioprice_{{ index_0 }}" ng-model="formValues.products[index_0].mtmFixed"
                                                        /> {{ 'MTM_FIXED' | translate }}
                                                        <span></span>
                                                    </label>
                                                    <label class="mt-radio">
                                                        <input type="checkbox" name="inlineRadiosprice_{{ index_0 }}[]" ng-checked="formValues.products[index_0].isMtmFormula" ng-click="formValues.products[index_0].mtmFixed ? formValues.products[index_0].mtmFixed = false : formValues.products[index_0].isFormula = true"
                                                            id="inlineRadiopriceFormula_{{ index_0 }}" ng-model="formValues.products[index_0].isMtmFormula"
                                                        /> {{ 'MTM_FORMULA' | translate }}
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row" style="display: block;" ng-show="formValues.products[index_0].mtmFixed == true">
                                            <label for="price_{{ $index }}" class="price_label">
                                                {{ CM.app_id + '.MTM_PRICE' | translate }}
                                            </label>
                                            <div class="input-group form_input form_input_price">
                                                <span class="input-group-addon uom_group pseudoSelect">
                                                    <select class="bs-select" name="Product_{{ index_0 + 1 }}_MTM_Price_Currency" ng-required="formValues.products[index_0].mtmFixed"
                                                        data-width="fit" id="" ng-model="formValues.products[$index].currency"
                                                        ng-options="item as item.code for item in options.Currency track by item.id">
                                                        <option></option>
                                                    </select>
                                                </span>
                                                <input type="text" name="Product_{{ index_0 + 1 }}_MTM_Price" ng-required="formValues.products[index_0].mtmFixed" class="form-control MTMprice_{{ $index }}"
                                                    ng-model="formValues.products[$index].mtmPrice" ng-class="CM.invalid_form ? 'ng-touched' : ''"
                                                    format="number:{{CM.tenantSetting.defaultValues.pricePrecision}}" />
                                            </div>
                                            <div id="field-errors" ng-if="CM.editInstance[field.Name].$error.pattern" ng-init="triggerError( field.Label, CM.editInstance[field.Name])"></div>
                                        </div>
                                        <div class="form-group row" style="display: block;" ng-show="formValues.products[index_0].isMtmFormula == true">
                                            <span ng-if="isEdit && formValues.products[$index].mtmFormula.isContractReference != null" ng-init="formValues.products[$index].mtmFormula.isContractReference = formValues.products[$index].isPriceFormulaContractReference"></span>
                                            <span ng-if="formValues.products[index_0].mtmFixed" ng-init="formValues.products[$index].mtmFormula = null"></span>
                                            <label for="MTMpriceFormula{{ $index }}" class="MTMpriceFormula" class="simpleLookupLabel">
                                                <span ng-if="!formValues.products[$index].mtmFormula.isContractReference">
                                                    {{ CM.app_id + '.MTM_PRICE_FORMULA' | translate }}
                                                </span>
                                                <a ng-click="goToFormulaScreen(formValues.products[$index].mtmFormula.id)" ng-if="formValues.products[$index].mtmFormula.isContractReference">
                                                    {{ CM.app_id + '.MTM_PRICE_FORMULA' | translate }}
                                                </a>
                                            </label>
                                            <div class="input-group form_input" >
                                                <input uib-typeahead="item as item.name for item in contractFormulaList | filter:{name:$viewValue}" class="form-control"
                                                    typeahead-show-hint="true" typeahead-min-length="1" typeahead-append-to-body="true"
                                                    typeahead-wait-ms="100" id="MTMpriceFormula{{ $index }}" name="Product_{{ index_0 + 1 }}_MTM_Price_Formula"
                                                    ng-model="formValues.products[$index].mtmFormula" autocomplete="off" ng-disabled="formValues.status.name == 'Cancelled' || formValues.status.name == 'Confirmed' || formValues.status.name == 'Delivered' "
                                                />
                                                <!-- {{formValues.products[$index].mtmFormula}} -->
                                                <span class="input-group-addon">
                                                    <button class=" btn default" ng-click="triggerModal('formula', 'masters_formulalist', 'masters.PRICE_FORMULA' | translate , 'formValues.products.'+$index+'.mtmFormula');"
                                                        ng-disabled="formValues.status.name == 'Cancelled' || formValues.status.name == 'Confirmed' || formValues.status.name == 'Delivered' ">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <br/>
                                    <br/>
                                    <br/>
                                    <div class="caption">
                                        <div class="form-grouprow ">
                                            <label for="priceComments" class="priceComments_label">
                                                {{ CM.app_id + '.COMMENT' | translate }}
                                                 <!-- --- CHECK UI -->
                                            </label>
                                            <div class="form_input form_input_comment" ng-class="!field.Label ? 'no-label' : ''">
                                                <span>
                                                    <span>
                                                        <textarea class="form-control" rows="2" id="priceComments" ng-model="formValues.products[$index].comments"></textarea>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="caption clear">
                                <br/>
                                <br/>
                                <br/>
                                <h4 class="font-blue-madison ng-binding">
                                    Additional Costs
                                </h4>
                                <div class="fe_entity edit_form_fields_{{ CM.app_id }}">
                                    <div ng-include="'app-general-components/views/screen_parts/contracts/additionalCosts.html'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>