<div class="col-md-4">
    <div class="form-group row" ng-init="CM.getOptions(field.masterSource);">
        <label for="massUOM" class="massUOM_label" class="simpleLookupLabel">
            1 Mass UOM
            <span ng-if="field.Required" class="orange-txt">
                *
            </span>
        </label>
        <div class="input-group form_input form_input_massUOM">
            <input type="text" id="massUOM" name="{{ field.Unique_ID }}massUOM" class="form-control typeahead" ng-model="formValues[0][field.Unique_ID].massUOM " ng-init="CM.initTypeahead(field.masterSource, field.Unique_ID)" ng-required='true' ng-class="CM.invalid_form ? 'ng-touched' : ''"/>
            <span class="input-group-addon">
                <a   class="btn default">
                    <i class="fa fa-search"></i>
                </a>
            </span>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="form-group row">
        <label class="">
            =
        </label>
        <div class="form_input form_input_{{ field.Unique_ID }}">
            <input type="text" class="form-control " name="{{ field.Unique_ID }}result" id="{{ field.Unique_ID }}result" ng-model="formValues[0][field.Unique_ID].result" ng-trim="false" ng-required='field.Required' ng-class="CM.invalid_form ? 'ng-touched' : ''"/>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-md-4">
    <div class="form-group row" ng-init="CM.getOptions(field.masterSource);">
        <label for="volumeUOM" class="volumeUOM_label" class="simpleLookupLabel">
            1 Voulume UOM
            <span ng-if="field.Required" class="orange-txt">
                *
            </span>
        </label>
        <div class="input-group form_input form_input_volumeUOM">
            <input type="text" id="volumeUOM" name="{{ field.Unique_ID }}Voulume" class="form-control typeahead" ng-model="formValues[0][field.Unique_ID].Voulume " ng-init="CM.initTypeahead(field.masterSource, field.Unique_ID)" ng-required='true' ng-class="CM.invalid_form ? 'ng-touched' : ''"/>
            <span class="input-group-addon">
                <a   class="btn default">
                    <i class="fa fa-search"></i>
                </a>
            </span>
        </div>
    </div>
</div>
