<div ng-if="parents.name == 'Product Details' && CM.app_id == 'invoices'">
    <div class="pull-right">
        <div class="form-inline">
            <div class="form-group">
                 <a class="btn btn-default default btn-outline orange" ng-click="triggerModal('general', 'deliveries_transactionstobeinvoiced', 'Transaction', 'formValues.productDetails', null, null, 'foobar', 'filter__invoices_order_id')" style="margin: 9px 0px 0px 30px;">
                    Add Transaction
                </a>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-sm-12">
			<span ng-include="'app-invoice/views/splittedProductDeliveryDetails.html'"></span>
		</div>	
	</div>
</div>


<div ng-if="parents.name == 'Cost Details' && CM.app_id == 'invoices'">
    <div class="pull-right">
        <div class="form-inline">
            <a class="btn btn-default default btn-outline" ng-click="addCostDetail(INV_SELECTED_COST)">
                +
            </a>
        </div>
    </div>
    <div class="pull-right">
        <div class="form-inline">
            <div class="form-group no-padding">

                <select name="" class="form-control bs-select" id="" ng-model="INV_SELECTED_COST">
                    <option value=""></option>
                    <option ng-repeat="(key, value) in additionalCostsList" value="{{ value.id }}">{{ value.name }}</option>

                </select>

            </div>
        </div>
    </div>
</div>

<div ng-if="parents.name == 'Invoice Details' && CM.app_id == 'invoices'">
	<div >
		<a class="btn btn-default default btn-outline orange pull-right" ng-click="createInvoiceFromEdit(invoiceTypeCreate)">
	        Create Invoice
	    </a>
		<select class="form-control pull-right" style="width:200px;margin-right: 10px;" name="createInvoiceType" id="createInvoiceType" ng-model="invoiceTypeCreate" >
			<option value="{{value}}" ng-repeat="(key, value) in CM.listsCache.InvoiceType" ng-disabled="value.name == 'FinalInvoice' && !formValues.canCreateFinalInvoice">{{value.name}}</option>
		</select>
        <label class="form-label-out pull-right" for="">Invoice Type &nbsp;</label>
	</div>
</div>


<div ng-if="parents.name == 'PaymentDetails' && CM.app_id == 'invoices'">
	<div ng-show="checkIfShowPaymentProofButton()">
		<a ng-disabled="formValues.status.name != 'Approved' " class="btn btn-default default btn-outline orange pull-right" ng-click="updatePaymentProofDetails()">
	        Proof of payment
	    </a>
	</div>
</div>
