<div class="custom-hardcoded-table ng-scope" ng-init="CM.getAdditionalCostsComponentTypes()">
    <table class="table-body" style="width:100%">
        <thead>
            <tr>
                <td style="width:2%"></td>
                <td style="width:2%"> 
                	<span class="insert" ng-click="formValues.additionalCosts ? formValues.additionalCosts.push({id:0}) : formValues.additionalCosts = [{id:0}]"></span>
                </td>
                <td style="width:12%">
                    <b>
                        Item Name
                    </b>
                </td>
                <td style="width:12%">
                    <b>
                        Type
                    </b>
                </td>
                <td style="width:12%">
                    <b>
                        Cost Description
                    </b>
                </td>
                <td style="width:12%">
                    <b>
                        Amount
                    </b>
                </td>
                <td style="width:12%">
                    <b>
                       Price UOM
                    </b>
                </td>
                <td style="width:12%">
                    <b>
                        Extra %
                    </b>
                </td>
                <td style="width:12%">
                    <b>
                        Currency
                    </b>
                </td>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key, value) in formValues.additionalCosts" ng-if="value.isDeleted != true" class="ng-scope">
                <td style="width:2%">
                    <span class="remove" style="display: block;pointer-events: all; opacity: 1" ng-click="value.id == 0 ? formValues.additionalCosts.splice(key,1) : value.isDeleted = true"></span>
                </td>
                <td style="width:2%">
                    <span class="insert" ng-click="formValues.additionalCosts.push({id:0})"></span>

                </td>
                <td style="width:12%">
                    <select name="Item Name" id="ItemName{{key}}" class="form-control" ng-options="item as item.name for item in CM.listsCache.AdditionalCost track by item.id " ng-change="value.costType = setDefaultCostType(value.additionalCost,key)" ng-model="value.additionalCost"></select>
                </td>
                <td style="width:12%">
                    <select name="Type" id="Type{{key}}" class="form-control" ng-options="item as item.name for item in filterCostTypesByAdditionalCost(value.additionalCost.id) track by item.id " ng-change="value.currency = setDefaultCurrency(value.costType,key)" ng-model="value.costType"></select>
                </td>
                <td style="width:12%">
                    <input type="text"  decode-input-format name="costDescription" ng-required="true"   class="form-control" ng-model="value.costDescription">
                </td>
                <td style="width:12%">
                    
                    <div class="input-group">
                        <input name="Amount" id="Amount{{key}}" type="text" format='number:{{ tenantSetting.defaultValues.amountPrecision }}' ng-disabled="value.costType.name == 'Range' || value.costType.name == 'Total'" class="form-control" ng-change="setAmountValidation(key)" ng-model="value.amount" format="number">
	                    <span class="input-group-addon">
	                    	&nbsp;&nbsp;  
	                    	<i class="fa fa-pencil-square-o" ng-if="!EnableBargeCostDetails" style="cursor: not-allowed;"></i>
                            <i class="fa fa-pencil-square-o" ng-if="EnableBargeCostDetails" ng-click="openBargeCostDetails(key, 'BargeCostDetails', ''+key+'')"></i>
	                    	&nbsp;&nbsp;
	                    </span>				
					</div>
                </td>
                <td style="width:12%">
                    <select name="Price UOM" class="form-control" ng-options="item as item.name for item in CM.listsCache.Uom track by item.id " ng-model="value.priceUom"
					ng-disabled="value.costType.name != 'Unit' || value.costType.name == 'Range' || value.costType.name == 'Total'"
					ng-required="value.costType.name == 'Unit'"
                    ></select>
                </td>
                <td style="width:12%">
                    <input name="Extra"  type="number" format="number" class="form-control" ng-model="value.extrasPercentage">
                </td>
                <td style="width:12%">
					<select name="Currency" id="Currency{{key}}" ng-disabled="value.costType.name == 'Range' || value.costType.name == 'Total'" class="form-control" ng-options="item as item.name for item in CM.listsCache.Currency track by item.id " ng-change="setCurrencyValidation(key)" ng-model="value.currency"></select>
                </td>

            </tr>
        </tbody>
    </table>
</div>




<div aria-labelledby="mySmallModalLabel"
	     class="AdditionalCostDetailsModalConfirmation confirmModal1 fade bs-modal hide"
	      role="dialog"
	     style="transform: translateY(90px);" tabindex="-1">
	    <div class="modal-dialog modal-sm" style="width: 500px;" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span>
	                </button>
	                <h4 class="modal-title" id="gridSystemModalLabel">Confirm</h4>
	            </div>
	            <div class="modal-body">
	                {{confirmModalData.message}}
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-default" data-dismiss="modal" type="button">No</button>
	                <button class="btn btn-default  btn-outline orange confirmAction1" data-dismiss="modal" type="button">
	                    Yes
	                </button>
	            </div>
	        </div>
	    </div>
	</div>