<div class="custom-hardcoded-table ng-scope" ng-init="CM.getAdditionalCostsComponentTypes()">
    <table class="table-body" style="width:100%">
        <thead>
            <tr>
                <td style="width:2%"></td>
                <td style="width:2%">
                	<span class="insert" ng-click="formValues.additionalCosts ? formValues.additionalCosts.push({id:0}) : formValues.additionalCosts = [{id:0}]"></span>
                </td>
                <td style="width:12%">
                    <b>
                        Item Name
                    </b>
                </td>
                <td style="width:12%">
                    <b>
                        Type
                    </b>
                </td>
                <td style="width:12%">
                    <b>
                        Cost Description
                    </b>
                </td>
                <td style="width:12%">
                    <b>
                        Amount
                    </b>
                </td>
                <td style="width:12%">
                    <b>
                       Price UOM
                    </b>
                </td>
                <td style="width:12%">
                    <b>
                        Extra %
                    </b>
                </td>
                <td style="width:12%">
                    <b>
                        Currency
                    </b>
                </td>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key, value) in formValues.additionalCosts" ng-if="value.isDeleted != true" class="ng-scope">
                <td style="width:2%">
                    <span class="remove" ng-click="value.id == 0 ? formValues.additionalCosts.splice(key,1) : value.isDeleted = true"></span>
                </td>
                <td style="width:2%">
                    <span class="insert" ng-click="formValues.additionalCosts.push({id:0})"></span>

                </td>
                <td style="width:12%">
                    <select name="Item Name" class="form-control" ng-options="item as item.name for item in CM.listsCache.AdditionalCost track by item.id " ng-change="value.costType = setDefaultCostType(value.additionalCost)" ng-model="value.additionalCost"></select>
                </td>
                <td style="width:12%">
                    <select name="Type" class="form-control" ng-options="item as item.name for item in filterCostTypesByAdditionalCost(value.additionalCost.id) track by item.id " ng-change="value.currency = setDefaultCurrency(value.costType) && value.amount = SetEmptydata() " ng-model="value.costType"></select>
                </td>
                <td style="width:12%">
                    <input name="Description" type="text" class="form-control" ng-model="value.Description">
                </td>
                <td style="width:12%">
                    
                    <div class="input-group">
                        <input name="Amount" type="text" ng-disabled="value.costType.name == 'Range' || value.costType.name == 'Total'" class="form-control" ng-model="value.amount" format="number">
	                    <span class="input-group-addon">
	                    	&nbsp;&nbsp;  
	                    	<i class="fa fa-pencil-square-o" ng-if="!EnableBargeCostDetails" style="cursor: not-allowed;"></i>
                            <i class="fa fa-pencil-square-o" ng-if="EnableBargeCostDetails" ng-click="openBargeCostDetails(key, 'BargeCostDetails', ''+key+'')"></i>
	                    	&nbsp;&nbsp;
	                    </span>				
					</div>
                </td>
                <td style="width:12%">
                    <select name="Price UOM" class="form-control" ng-options="item as item.name for item in CM.listsCache.Uom track by item.id " ng-model="value.priceUom"
					ng-disabled="value.costType.name != 'Unit' || value.costType.name == 'Range' || value.costType.name == 'Total'"
					ng-required="value.costType.name == 'Unit'"
                    ></select>
                </td>
                <td style="width:12%">
                    <input name="Extra" ng-disabled="value.costType.name == 'Range' || value.costType.name == 'Total'" type="number" format="number" class="form-control" ng-model="value.extrasPercentage">
                </td>
                <td style="width:12%">
					<select name="Currency" ng-disabled="value.costType.name == 'Range' || value.costType.name == 'Total'" class="form-control" ng-options="item as item.name for item in CM.listsCache.Currency track by item.id " ng-model="value.currency"></select>
                </td>

            </tr>
        </tbody>
    </table>
</div>