<div class="row">
    <div class="portlet-body">
        <div class="tabbable-line">
            <ul class="nav nav-tabs ">
                <li class="active">
                    <a href="#tab_15_1" data-toggle="tab">
                        Procurement
                    </a>
                </li>
                <li>
                    <a href="#tab_15_2" data-toggle="tab">
                        Contracts
                    </a>
                </li>
                <li>
                    <a href="#tab_15_3" data-toggle="tab">
                        Delivery
                    </a>
                </li>
                <li>
                    <a href="#tab_15_4" data-toggle="tab">
                        Labs
                    </a>
                </li>
                <li>
                    <a href="#tab_15_5" data-toggle="tab">
                        Claims
                    </a>
                </li>
                <li>
                    <a href="#tab_15_6" data-toggle="tab">
                        Invoice
                    </a>
                </li>
                <li>
                    <a href="#tab_15_7" data-toggle="tab">
                        Admin
                    </a>
                </li>
                <li>
                    <a href="#tab_15_8" data-toggle="tab">
                        Masters
                    </a>
                </li>
                <li>
                    <a href="#tab_15_9" data-toggle="tab">
                        Reports
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_15_1">
                    <clc-table-list id="'admin_user_role_edit_permissions'" app="'admin'" screen="'user_role_edit_permissions'" controls="'[]'"></clc-table-list>
                </div>
                <div class="tab-pane" id="tab_15_2"></div>
                <div class="tab-pane" id="tab_15_3"></div>
                <div class="tab-pane" id="tab_15_4"></div>
                <div class="tab-pane" id="tab_15_5"></div>
                <div class="tab-pane" id="tab_15_6"></div>
                <div class="tab-pane" id="tab_15_7"></div>
                <div class="tab-pane" id="tab_15_8"></div>
                <div class="tab-pane" id="tab_15_9"></div>
            </div>
        </div>
    </div>
</div>
