<div ng-if="parents.name == 'QuantityReconciliation' && CM.app_id == 'recon'">
    <div class="pull-right">
        <div class="form-inline">
            <div class="form-group">
                <select class="bs-select form-control">
                    <option value="uom">
                        UOM
                    </option>
                </select>
            </div>
            <div class="form-group">
                <a class="btn btn-default default btn-outline" ng-click="recon_dispute()">
                    Dispute
                </a>
            </div>
        </div>
    </div>
</div>
