
<div ng-controller="Controller_Admin as CA">
    <ul class="nav nav-tabs" ng-init="getTabData()">
        <li class="" ng-repeat="(key, value) in entities" ng-class="$index == 0 ? 'active in ' : ''">
            <a href="#tab_{{ value.id }}" data-toggle="tab">
                {{ value.name }}
            </a>
        </li>
    </ul>
    <div class="tab-content" >
        <div class="tab-pane fade" ng-repeat="(key, value) in entities" id="tab_{{  value.id  }}" ng-class="$index == 0 ? 'active in ' : ''">
			<!-- {{tabData[value.id]}}
			{{formValues.id}} -->
            <hierarchy-search dataset="tabData[value.id]" datasrc="value.id"  datavalues="formValues" screenid="CA.entity_id" ng-if="(tabData[value.id] && formValues.id) || ( tabData[value.id] && CA.entity_id == '') "></hierarchy-search>
<!-- {{formValues}} -->
        </div>
    </div>
</div>
