<div ng-controller="Controller_Configurable_List_Control as CLC">

    <general-header actions="{
        primary: [
            {label: 'New Entity', type: 'goto', url: 'edit/'},
        ],
        secondary: [],
        search: true,
    }"></general-header>

    <clc-table-list id="'masters_screen'" app="'masters'" screen="'screen'" controls="'[entries, columns, info, pager]'"></clc-table-list>


    <general-header class="footer-general-header" actions="{
        primary: [
            {label: 'New Entity', type: 'goto', url: 'edit/'},
        ],
        secondary: [],
        search: false,
    }" color="'white'"></general-header>

</div>