<general-header actions="{
    primary: [],
    secondary: [
        {label: 'Edit', type: 'goto', url: 'edit/:entity_id'},
        {label: 'Documents', type: 'goto', url: 'documents/:entity_id'},
        {label: 'Audit Log', type: 'goto', url: 'audit-log/:entity_id'},
        {label: 'Email Log', active: true},
        {label: 'Configure UI',type: 'goto', url: 'structure'},
    ],
}"></general-header>

<!-- <entity-edit-form screenchild="'entity_emaillog'"></entity-edit-form> -->
<span ng-controller="Controller_Configurable_List_Control as CLC">
    <clc-table-list
        id="'masters_emaillogslist'"
        app="'masters'"
        screen="'emaillogslist'"
        controls="'[pager, info]'">
    </clc-table-list>
    <span ng-if="clc_loaded" ng-init="filterEmailLog()"></span>
</span>
