<general-header actions="{ primary: [ {label: 'Save Changes', special: 'true', url: '#', method: 'save_master_structure()', extern:true}, {label: 'Discard Changes',type:'goto', url: ''} ], secondary: [ {label: 'Add a Field', url: '#addFieldTab', id: 'addFieldTab_lnk'}, {label: 'Field Settings', url: '#fieldSettingTab', id: 'fieldSettingTab_lnk'},{label: 'Group Settings', url: '#groupSettingTab', id: 'groupSettingTab_lnk'}, ], search: false, }"></general-header>

<dinamic-layout-control structure='{}' elements='[{
    "requiredFields": [
        {
            "Unique_ID": "TemplatePropertyType",
            "Name": "TemplatePropertyType",
            "Type": "text",
            "Group": "Template Property",
            "Label": "Template Property Type",
            "Columns": [{
                "Value": "12",
                "Type": "dropdown",
                "PossibleValue": ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]
            }],
            "Description": "",
            "Required": true,
            "Hidden": false,
            "LastOnRow": false,
            "Added": false
        },
        {
            "Unique_ID": "TemplatePropertyName",
            "Name": "TemplatePropertyName",
            "Type": "text",
            "Group": "Template Property",
            "Label": "Template Property Name",
            "Columns": [{
                "Value": "12",
                "Type": "dropdown",
                "PossibleValue": ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]
            }],
            "Description": "",
            "Required": true,
            "Hidden": false,
            "LastOnRow": false,
            "Added": false
        },
        {
            "Unique_ID": "EmailSubject",
            "Name": "EmailSubject",
            "Type": "text",
            "Group": "Preset Property",
            "Label": "Email Subject",
            "Columns": [{
                "Value": "12",
                "Type": "dropdown",
                "PossibleValue": ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]
            }],
            "Description": "",
            "Required": true,
            "Hidden": false,
            "LastOnRow": false,
            "Added": false
        },
        {
            "Unique_ID": "To",
            "Name": "To",
            "Type": "text",
            "Group": "Preset Property",
            "Label": "To",
            "Columns": [{
                "Value": "12",
                "Type": "dropdown",
                "PossibleValue": ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]
            }],
            "Description": "",
            "Required": true,
            "Hidden": false,
            "LastOnRow": false,
            "Added": false
        },
        {
            "Unique_ID": "Cc",
            "Name": "Cc",
            "Type": "text",
            "Group": "Preset Property",
            "Label": "Cc",
            "Columns": [{
                "Value": "12",
                "Type": "dropdown",
                "PossibleValue": ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]
            }],
            "Description": "",
            "Required": true,
            "Hidden": false,
            "LastOnRow": false,
            "Added": false
        },
        {
            "Unique_ID": "Bcc",
            "Name": "Bcc",
            "Type": "text",
            "Group": "Preset Property",
            "Label": "Bcc",
            "Columns": [{
                "Value": "12",
                "Type": "dropdown",
                "PossibleValue": ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]
            }],
            "Description": "",
            "Required": true,
            "Hidden": false,
            "LastOnRow": false,
            "Added": false
        },
        {
            "Unique_ID": "Attachment",
            "Name": "Attachment",
            "Type": "text",
            "Group": "Preset Property",
            "Label": "Attachment",
            "Columns": [{
                "Value": "12",
                "Type": "dropdown",
                "PossibleValue": ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]
            }],
            "Description": "",
            "Required": true,
            "Hidden": false,
            "LastOnRow": false,
            "Added": false
        },
        {
            "Unique_ID": "EmailBody",
            "Name": "EmailBody",
            "Type": "textarea",
            "Group": "Preset Property",
            "Label": "Email Body",
            "Columns": [{
                "Value": "12",
                "Type": "dropdown",
                "PossibleValue": ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"]
            }],
            "Description": "",
            "Required": true,
            "Hidden": false,
            "LastOnRow": false,
            "Added": false,
            "Richtext": true
        },

    ]
}]'></dinamic-layout-control>

<general-header class="footer-general-header" color="'white'" actions="{ primary: [ {label: 'Save Changes', special: 'true', url: '#', method: 'save_master_structure()', extern:true}, {label: 'Discard Changes',type:'goto', url: ''} ], secondary: [], search: false, }"></general-header>