<general-header actions="{
    primary: [
        {label: 'Add Template', type: 'goto', url: 'edit/'},
        {label: 'Structure (dev)', type: 'goto', url: 'structure'},
    ],
    secondary: [
    ],
}"></general-header>

<clc-table-list id="'masters_template_properties'" app="'masters'" screen="'template_properties'" controls="'[entries, columns, info, pager]'"></clc-table-list>

<general-header color="'white'" actions="{
    primary: [
        {label: 'Add Template', type: 'goto', url: 'edit/'},
    ],
    secondary: [
    ],
}"></general-header>