<div class="col-md-3 fe_entity_">
    <div class="form-group  row" >
        <label  for="vessel" class="vessel_label">
            {{ CM.app_id + '.VESSEL' | translate }}

        </label>
        <div class="form_input form_input_vessel" >
            <input type="text"  class="form-control " name="vessel" id="vessel"  ng-model="thirdParty.vessel" ng-disabled="true">
        </div>
    </div>
</div>
<div class="col-md-3 fe_entity_">
    <div class="form-group  row" >
        <label  for="surveyor" class="surveyor_label">
            {{ CM.app_id + '.SURVEYOR' | translate }}

        </label>
        <div class="form_input form_input_surveyor" >
            <input type="text"  class="form-control " name="surveyor" id="surveyor"  ng-model="thirdParty.surveyor" ng-disabled="true">
        </div>
    </div>
</div>
<div class="col-md-3 fe_entity_">
    <div class="form-group  row" >
        <label  for="seller" class="seller_label">
            {{ CM.app_id + '.SELLER' | translate }}

        </label>
        <div class="form_input form_input_seller" >
            <input type="text"  class="form-control " name="seller" id="seller"  ng-model="thirdParty.seller" ng-disabled="true">
        </div>
    </div>
</div>
<div class="col-md-3 fe_entity_">
    <div class="form-group  row" >
        <label  for="barge" class="barge_label">
            {{ CM.app_id + '.BARGE' | translate }}

        </label>
        <div class="form_input form_input_barge" >
            <input type="text"  class="form-control " name="barge" id="barge"  ng-model="thirdParty.barge" ng-disabled="true">
        </div>
    </div>
</div>
<div class="col-md-3 fe_entity_">
    <div class="form-group  row" >
        <label  for="phisycal_supplier" class="phisycal_supplier_label">
            {{ CM.app_id + '.PHYSICAL_SUPPLIER' | translate }}

        </label>
        <div class="form_input form_input_phisycal_supplier" >
            <input type="text"  class="form-control " name="phisycal_supplier" id="phisycal_supplier"  ng-model="thirdParty.phisycal_supplier" ng-disabled="true">
        </div>
    </div>
</div>
<div class="col-md-3 fe_entity_">
    <div class="form-group  row" >
        <label  for="broker" class="broker_label">
            {{ CM.app_id + '.BROKER' | translate }}

        </label>
        <div class="form_input form_input_broker" >
            <input type="text"  class="form-control " name="broker" id="broker"  ng-model="thirdParty.broker" ng-disabled="true">
        </div>
    </div>
</div>
<div class="col-md-3 fe_entity_">
    <div class="form-group  row" >
        <label  for="labs" class="labs_label">
            {{ CM.app_id + '.LABS' | translate }}

        </label>
        <div class="form_input form_input_labs" >
            <input type="text"  class="form-control " name="labs" id="labs"  ng-model="thirdParty.labs" ng-disabled="true">
        </div>
    </div>
</div>
