<div class="form-group  row "  ng-init="CM.datepickers(field.masterSource + field.Name, field.DefaultToday && isCreate, field.PickerType)">

    <!-- mask initialization -->
    <span ng-init="CM.initMask(true)"></span>

    <!-- value initialization -->
    <span ng-init="CM.setValue({
        path: 'formValues.' + field.Unique_ID,
        root: '$scope',
        pickerId: 'dp_' + field.Unique_ID
    }, 1, field.PickerType == 'date' || field.Name.indexOf('Date') > -1)" ng-if="$eval('formValues.' + field.Unique_ID)"></span>


    <!-- label -->
    <label ng-if="field.Label && !field.isCustomField" for="{{ field.Name }}" class="{{ field.Name }}_label date-picker-label" >
        {{ CM.app_id + '.' + field.Label | translate }}  
        <span ng-if="$eval(field.Required) > 0 || field.Required == true ? true : false " class="orange-txt">
            *
        </span>
    </label>
    <label ng-if="field.isCustomField" for="{{ field.Name }}" class="{{ field.Name }}_label date-picker-label" >
        {{ field.Label }}
        <span ng-if="$eval(field.Required) > 0 || field.Required == true ? true : false " class="orange-txt">
            *
        </span>
    </label>
    <!-- end label -->

    <div class="form_input form_input_{{ field.Name }}" ng-class="!field.Label ? 'no-label' : ''">
        <div class="input-group input-group-date-control" ng-class="field.disabled == true || $eval(field.Disabled) == true ? 'disabled' : ''">

             <!-- manual input -->
             <input class="formatted-date-input" 
             ng-class="{
                'date-time': !(field.PickerType == 'date' || field.Name.indexOf('Date') > -1),
                'date-only': field.PickerType == 'date' || field.Name.indexOf('Date') > -1,
                'bg-grey': $eval(field.Disabled) || field.Disabled == true ? true : false ||  field.disabled == true ? true : false
             }"
             dynamic-model="'formatDates.formValues.' + field.Unique_ID "
             ng-change="CM.setValue({
                                   path: 'formValues.' + field.Unique_ID,
                                   root: '$scope',
                                   pickerId: 'dp_' + field.Unique_ID
                               }, 2, field.PickerType == 'date' || field.Name.indexOf('Date') > -1)" 
             ng-focus="inputFocus[field.Name] = true; $event.stopPropagation();" 
             ng-blur="inputFocus[field.Name] = false;" ng-invalid="{{ CM.invalidDate[field.Name] && !inputFocus[field.Name] }}" name="{{ field.Name }}"
             ng-disabled="$eval(field.Disabled) == true || field.Disabled == true ? true : false ||  field.disabled == true ? true : false">
             <!--  end manual input -->
     

            <!--  datepicker button -->
            <span class="input-group-btn date-picker date form_meridian_datetime w100" 
            ng-class="{
                'datetime-picker': !(field.PickerType == 'date' || field.Name.indexOf('Date') > -1)
            }"
            ng-hide="$eval(field.Disabled) == true || field.Disabled == true ? true : false " id="dp_{{ field.Unique_ID }}">
                
                <!-- datepicker input -->
                <input name="{{field.Name}}" class="form-control hidden-form-input" type="text" id="{{ field.masterSource }}{{ field.Name }}" dynamic-condition="{{ field.Conditional }}" dynamic-condition-type="{{ field.ConditionalType }}" dynamic-model="'formValues.' + field.Unique_ID " ng-required='$eval(field.Required) > 0 || field.Required == true ? true : false  && isVisible(field.masterSource + field.Name)' ng-disabled="$eval(field.Disabled) == true || field.Disabled == true ? true : false ||  field.disabled == true ? true : false" 
                ng-change="CM.setValue({
                    path: 'formValues.' + field.Unique_ID,
                    root: '$scope',
                    pickerId: 'dp_' + field.Unique_ID
                }, 1, field.PickerType == 'date' || field.Name.indexOf('Date') > -1);
                triggerChangeFields(field.Name, field.Unique_ID); CM.invalidDate[field.Name] = false;" visibility="hidden">
                <!-- end datepicker input -->
                
                
                <button class="btn default date-set" type="button" ng-hide="$eval(field.Disabled) == true || field.Disabled == true ? true : false || $eval(field.disabled) == true || field.disabled == true ? true : false ||  field.disabled == true ? true : false " dynamic-condition="{{field.Conditional}}" dynamic-condition-type="{{field.ConditionalType}}">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
             <!--  datepicker button -->


        </div>

        <span class="help-block">
            {{ field.Description }}
        </span>
    </div>
</div>



<!-- 

old value formatters:

<span ng-if="field.PickerType != 'date' || !field.Name.indexOf('Date') > -1" class="formatted-date" ng-class="field.Disabled == true ? 'bg-grey' : '' "  ng-bind="CM.formatDateTime(formValues.{{field.Unique_ID}}, '{{tenantSetting.tenantFormats.dateFormat.name}}', '{{field.Unique_ID}}')" >
</span>
<span ng-if="field.PickerType == 'date' || field.Name.indexOf('Date') > -1" class="formatted-date" ng-class="field.Disabled == true ? 'bg-grey' : '' "  ng-bind="CM.formatDate(formValues.{{field.Unique_ID}}, '{{tenantSetting.tenantFormats.dateFormat.name.split(' ')[0]}}')" >
</span>


"field.PickerType != 'date' || !field.Name.indexOf('Date') > -1"  => date-time

"field.PickerType == 'date' || field.Name.indexOf('Date') > -1" => date-only











 -->

