<div class="form-group row" ng-init="options[field.Name] ? return : CM.getOptions(field)" >
    <label class="control-label">
        {{ CM.app_id + '.' + field.Label | translate}}       
        <span ng-if="field.Required" class="orange-txt">
            *
        </span>
    </label>
    <div class="input-group pull-left form_input form_input_{{ field.Name }}" >
        <input decode-input-format ng-model="dummyModel" uib-typeahead="item as item.name for item in options[field.Name] | typeaheadCustomFilter:$viewValue:'name'"  class="form-control" typeahead-show-hint="true" typeahead-min-length="1" typeahead-append-to-body="true" typeahead-wait-ms="300" id="{{ field.Unique_ID }}" data-uniqueid="{{ field.Unique_ID }}" data-value="{{dummyModel.id}}" ng-init="CM.multiTags(field.Unique_ID,'false', field.Name)" autocomplete="off" dynamic-condition="{{ field.Conditional }}" dynamic-condition-type="{{ field.ConditionalType }}" ng-blur="showMultiLookupWarning(dummyModel)" ng-disabled="{{field.Disabled}}" unique-id="{{field.Unique_ID}}">

<!-- TESTING -->
        <span class="input-group-addon" ng-hide="{{field.Disabled}}" unique-id="{{field.Unique_ID}}">
            <a   class="object_tagsinput_add_{{ field.Unique_ID }} btn default" ng-click="addTagToMulti(field.Unique_ID, dummyModel)">
                <i class="fa fa-plus"></i>
            </a>
        </span>

    </div>
    <div class="multi_lookup_tags tagsFor{{ field.Name }}" multi-tags name="{{ field.Name }}" unique-id="{{field.Unique_ID}}">
        <input decode-input-format name="{{ field.Name }}" unique-id="{{field.Unique_ID}}" type="text"  class="input-as-label form-control typeahead object_tagsinput_{{ field.Unique_ID }}" dynamic-model="'formValues.' + field.Name +'.id'"   ng-required='{{field.Required}} && isVisible(field.Name)' ng-change="dummyModel = null"/>
    </div>
</div>
