<div class="form-group row">
    <label ng-if="field.Label && !field.isCustomField" for="{{ field.Name }}" class="{{ field.Name }}_label date-picker-label" >
		<span ng-if="CM.screen_id == 'invoice' && field.Name == 'DueDate' " >
			<i class="fa fa-warning font-yellow-lemon font-lg" tooltip data-original-title="Unless a value is manually set, Due Date and related data will be automatically computed after the Invoice is saved."></i>			
		</span>
        {{ CM.app_id + '.' + field.Label | translate }}
        <span ng-if="(CM.screen_id == 'claims' && field.Label == 'DEBUNKER_DATE') || (CM.screen_id == 'claims' && field.Label == 'SETTLEMENT_DATE') || $eval(field.Required) > 0 || field.Required == true ? true : false " class="orange-txt">
            *
        </span>
    </label>
    <label ng-if="field.isCustomField" for="{{ field.Name }}" class="{{ field.Name }}_label date-picker-label" >
        {{ field.Label }}
        <span ng-if="$eval(field.Required) > 0 || field.Required == true ? true : false " class="orange-txt">
            *
        </span>
    </label>

    <div class="form_input form_input_{{ field.Name }}" ng-class="!field.Label ? 'no-label' : ''">
        <div class="input-group form_meridian_datetime w100" ng-class="field.disabled == true || $eval(field.Disabled) == true ? 'disabled' : ''">

            <input
                class="form-control date-mask new-date-picker"
                type="text"
                id="{{ field.masterSource }}{{ field.Name }}"
                dynamic-condition="{{ field.Conditional }}"
                dynamic-condition-type="{{ field.ConditionalType }}"
                dynamic-model="'formValues.' + field.Unique_ID"
                ng-required='$eval(field.Required) > 0 || field.Required == true ? true : false  && isVisible(field.masterSource + field.Name)'
                ng-disabled="$eval(field.Disabled) == true || $eval(field.disabled) == true || field.Disabled == true || field.disabled == true ? true : false"
                ng-class="field.Disabled == true ? 'bg-grey' : '' "
                ng-change="triggerChangeFields(field.Name, field.Unique_ID)"
                default-today="{{field.DefaultToday}}"
                new-date-picker
                picker-type="{{ field.PickerType ? field.PickerType : 'date' }}">
        </div>
	
        <span class="help-block">
            {{ field.Description }}
        </span>
    </div>
</div>

