<div
    class="form-group row"
    style="display: flex; justify-content: center; align-items: center;">
    <div>
        <label style="width: 200px;"> Specific Energy Calculation </label>
    </div>
    <div class="form_input" style="width: 350px;">
        <select
            ng-model="formValues.energyFormulaSpecific"
            name="energyFormulaSpecific"
            id="energyFormulaSpecific"
            class="form-control"
            ng-options="item as (item.displayName ? item.displayName : item.name) disable when item.disabled for item in CM.listsCache.SpecificEnergyCalculation track by item.id"
            ng-disabled="!formValues.isEnergyCalculationRequired"
            ng-change="CM.productEnergyFormulaChanged('SpecificEnergyCalculation', formValues.energyFormulaSpecific.name)"></select>
    </div>
    <div>
        <label style="width: 140px; text-align: center;"> Formula Preview </label>
    </div>
    <div class="form_input">
        <input type="text" class="form-control" ng-model="formValues.energyFormulaDescriptionSpecific" name="formValues.energyFormulaDescriptionSpecific" id="formValues.energyFormulaDescriptionSpecific" disabled>
    </div>
</div>   

<div class="form-group row"
    style="display: flex; justify-content: center; align-items: center;">
    <div>
        <label style="width: 200px;"> CCAI </label>
    </div>
    <div class="form_input" style="width: 350px;">
        <select
            ng-model="formValues.energyFormulaCCAI"
            name="energyFormulaCCAI"
            id="energyFormulaCCAI"
            class="form-control"
            ng-options="item as (item.displayName ? item.displayName : item.name) disable when item.disabled for item in CM.listsCache.CCAI track by item.id"
            ng-disabled="!formValues.isEnergyCalculationRequired"
            ng-change="CM.productEnergyFormulaChanged('CCAI', formValues.energyFormulaCCAI.name)"></select>
    </div>
    <div>
        <label style="width: 140px; text-align: center;"> Formula Preview </label>
    </div>
    <div class="form_input">
        <input type="text" class="form-control" ng-model="formValues.energyFormulaDescriptionCCAI" name="formValues.energyFormulaDescriptionCCAI" id="formValues.energyFormulaDescriptionCCAI" disabled>
    </div>
</div>   
