<div>
    <span class="hidden" ng-if="!formValues.robs.keys" ng-init="initRobTable();"></span>
    <!--- show this for existing element-->
    <table>
        <tr>
            <th id="generatedThId5"></th>
            <th  id="generatedThId6" class="rob-standard-head">Min QTY</th>
            <th  id="generatedThId7" class="rob-standard-head">Max QTY</th>
            <th  id="generatedThId8" class="rob-standard-head">UOM</th>
        </tr>
        <tr  ng-repeat="(key,element) in formValues.robs">
            <td style="padding-right: 50px;">{{element.productType.name}}</td>
            <td>
                <div class="form-group row w100">
                    <div class="form_input no-label" class="w100">
                        <input ng-model="element.minQty" type="text" class="form-control " format="number:{{tenantSetting.defaultValues.quantityPrecision}}" name="hsfo_min" id="hsfo_min"  ng-change="triggerChangeFields(field.Name, field.Unique_ID)" >

                    </div>
                </div>                
            </td>
            <td>
                <div class="form-group row w100"> 
                    <div class="form_input no-label">
                        <input ng-model="element.maxQty" format="number:{{tenantSetting.defaultValues.quantityPrecision}}" type="text" class="form-control " name="hsfo_max" id="hsfo_max"  ng-change="triggerChangeFields(field.Name, field.Unique_ID)" >

                    </div>
                </div>         
            </td>
            <td>
                <div class="form-group row">
                    <select ng-model="element.uom.id" class="w100 form-control" ng-options="element.id as element.name for element in CM.listsCache.Uom">
                        <option value={{element.id}}>
                            {{element.name}}
                        </option>
                    </select>
                </div>
            </td>
        </tr>
    </table>

</div>