<div class="stars pull-left">
	<div class="empty">
		<i class="fa fa-star-o empty-star-seller-rating"></i>
		<i class="fa fa-star-o empty-star-seller-rating"></i>
		<i class="fa fa-star-o empty-star-seller-rating"></i>
		<i class="fa fa-star-o empty-star-seller-rating"></i>
		<i class="fa fa-star-o empty-star-seller-rating"></i>
	</div>
	<div class="filled">
		<i class="fa fa-star filled-star-seller-rating"></i>
		<i class="fa fa-star filled-star-seller-rating"></i>
		<i class="fa fa-star filled-star-seller-rating"></i>
		<i class="fa fa-star filled-star-seller-rating"></i>
		<i class="fa fa-star filled-star-seller-rating"></i>
	</div>
</div> 
