<div class="form-group  row" dynamic-condition="{{ field.Conditional }}" dynamic-condition-type="{{ field.ConditionalType }}">
    <label ng-if="field.Label && !field.isCustomField" for="{{ field.Name }}" class="{{ field.Name }}_label">     
        <span>
            <span style="font-size: 13px;"> {{ CM.app_id + '.'+ field.Label | translate }} </span> 
            <span ng-show="field.Label=='SUBJECT'" class="orange-txt">*</span>
        </span> 
        <span ng-if="$eval(field.Required)> 0 || field.Required == true ? true : false" class="orange-txt">
            *
        </span>
        <i ng-if="formValues.orderDetails.vesselToWatchFlag && CM.app_id == 'claims' && field.Name == 'Vessel'" class="fa fa-flag vesselToWatchFlag"></i>
    </label>
    <label ng-if="field.isCustomField" for="{{ field.Name }}" class="{{ field.Name }}_label">
        {{ field.Label }}
        <span ng-if="$eval(field.Required)> 0 || field.Required == true ? true : false" class="orange-txt">
            *
        </span>
        <i ng-if="formValues.orderDetails.vesselToWatchFlag && CM.app_id == 'claims' && field.Name == 'Vessel'" class="fa fa-flag vesselToWatchFlag"></i>
    </label>
    <div class="form_input form_input_{{ field.Name }}" ng-class="!field.Label ? 'no-label' : ''">
        <input type="text" ng-if="field.Name != 'Service2MEmail' && field.Name !='ReeferUtilization' && field.Name !='MaxLiftUpdate'" 
        decode-input-format
        compute-formula="$eval(field.Formula)" class="form-control " name="{{ field.Name }}" id="{{ field.Name }}"  dynamic-model="'formValues.' + field.Unique_ID " ng-required='$eval(field.Required) > 0 || field.Required == true ? true : false  && isVisible(field.masterSource + field.Name)' dynamic-condition="{{field.Conditional}}" dynamic-condition-type="{{field.ConditionalType}}" ng-class="CM.invalid_form ? 'ng-touched' : ''" ng-disabled="$eval(field.Disabled) == true || field.Disabled == true ? true : false"  dynamic-pattern="{{field.Pattern}}"  ng-change="triggerChangeFields(field.Name, field.Unique_ID)" format="{{field.Filter}}" unique-id="{{field.Unique_ID}}">

        <input type="text" ng-if="field.Name == 'Service2MEmail'"
        decode-input-format
        ng-blur="formValues.service2MEmail=validateEmailPattern(formValues.service2MEmail)"
        compute-formula="$eval(field.Formula)" class="form-control " name="{{ field.Name }}" id="{{ field.Name }}"  dynamic-model="'formValues.' + field.Unique_ID " ng-required='$eval(field.Required) > 0 || field.Required == true ? true : false  && isVisible(field.masterSource + field.Name)' dynamic-condition="{{field.Conditional}}" dynamic-condition-type="{{field.ConditionalType}}" ng-class="CM.invalid_form ? 'ng-touched' : ''" ng-disabled="$eval(field.Disabled) == true || field.Disabled == true ? true : false"  dynamic-pattern="{{field.Pattern}}"  ng-change="triggerChangeFields(field.Name, field.Unique_ID)" format="{{field.Filter}}" unique-id="{{field.Unique_ID}}">

        <input type="number" ng-if="field.Name == 'ReeferUtilization'"
        decode-input-format
        ng-value="{{field.DefaultValue || 30}}"
        compute-formula="$eval(field.Formula)" class="form-control " name="{{ field.Name }}" id="{{ field.Name }}"  dynamic-model="'formValues.' + field.Unique_ID " ng-required='$eval(field.Required) > 0 || field.Required == true ? true : false  && isVisible(field.masterSource + field.Name)' dynamic-condition="{{field.Conditional}}" dynamic-condition-type="{{field.ConditionalType}}" ng-class="CM.invalid_form ? 'ng-touched' : ''" ng-disabled="$eval(field.Disabled) == true || field.Disabled == true ? true : false"  dynamic-pattern="{{field.Pattern}}"  ng-change="triggerChangeFields(field.Name, field.Unique_ID)" format="{{field.Filter}}" unique-id="{{field.Unique_ID}}">
    
        <input type="number" ng-if="field.Name == 'MaxLiftUpdate'"
        decode-input-format
        compute-formula="$eval(field.Formula)" class="form-control " name="{{ field.Name }}" id="{{ field.Name }}"  dynamic-model="'formValues.' + field.Unique_ID " ng-required='$eval(field.Required) > 0 || field.Required == true ? true : false  && isVisible(field.masterSource + field.Name)' dynamic-condition="{{field.Conditional}}" dynamic-condition-type="{{field.ConditionalType}}" ng-class="CM.invalid_form ? 'ng-touched' : ''" ng-disabled="$eval(field.Disabled) == true || field.Disabled == true ? true : false"  dynamic-pattern="{{field.Pattern}}"  ng-change="triggerChangeFields(field.Name, field.Unique_ID)" format="{{field.Filter}}" unique-id="{{field.Unique_ID}}">
   
    </div>
</div>
