<div class="form-group  form-inline row {{ CM.screen_id }}_{{ CM.app_id }}_{{ field.Name }}" ng-class="field.TopLabel ? 'top-label' : ''">
    <label ng-if="field.Label" for="{{ field.Name }}" class="{{ field.Name }}_label" >
        {{ CM.app_id + '.' + field.Label | translate }}
        <span ng-if="field.Required" class="orange-txt">
            *
        </span>
    </label>
    <div class="form_input form_input_{{ field.Name }}" ng-class="!field.Label ? 'no-label' : ''">
        <span ng-if="field.Richtext && !field.htmlDisplay" ng-init="CM.initRichEditor(field.Name)" ng-class="field.ReadOnly ? 'read-only-richtext' : ''">
            <textarea rich-text-editor class="wysihtml5 form-control" rows="6" id="{{ field.Name }}" dynamic-model="'formValues.' + field.Unique_ID "  ng-required='field.Required' dynamic-condition="{{ field.Conditional }}" dynamic-condition-type="{{ field.ConditionalType }}"></textarea>
        </span>
         <span ng-if="!field.Richtext && !field.htmlDisplay" id="regular_textarea_wrapper">
            <textarea decode-input-format class="form-control" rows="2" id="{{ field.Name }}" dynamic-model="'formValues.' + field.Unique_ID "  ng-required='field.Required' ng-disabled="field.Disabled"></textarea>
        </span>
        <span ng-if="field.Richtext && field.htmlDisplay">
	        <span ng-bind-html="CM.trustAsHtmlField(field)" class="richTextHtmlDisplay"></span>
        </span>
    </div>
</div>

<span ng-if="field.AutoHeightIframe" ng-init="CM.richEditorHeightAutosize('.wysihtml5-sandbox')"></span>
