<!--
    <div class="form-group  form-inline ">
        <div  id="{{ field.Name }}" class="pull-left" style="position:relative; width: 100%">
            <input type='file' id="fileUpload" class="inputfile" ng-model='logo' ng-click="updateFileUploadControl(logo)" style="opacity: 0"/>
            <label for="fileUpload">
                <p class="col-sm-3">
                    Choose File
                </p>
                <span class="col-sm-9">
                    ...
                </span>
            </label>
        </div>
    </div>
-->
<div class="form-group  form-inline ">
    <div class="col-sm-6"  ng-click="clickUpload()">
        <div class="dropzone-file-area" id="{{ field.Name }}" imagedrop  on-image-drop="dropDocument(uploadedFile )">
            <h3 class="sbold">
                Drop files here or click to upload
            </h3>
        </div>
    </div>
    <div class="col-md-6">
        <input type='file' id="fileUpload" class="inputfile" ng-model='droppedDoc' style="opacity: 0"/>
        <label for="fileUpload">
            <!--        <p class="col-sm-3">
                       Choose File
                   </p> -->
            <div class="col-sm-9">
                <span></span>
                <span>
                    {{ droppedDoc.name }}
                </span>
            </div>
        </label>
    </div>
</div>

<div class="confirmModal1 fade bs-modal hide" tabindex="-1" role="dialog" style="transform: translateY(50%);" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridSystemModalLabel">Confirm</h4>
			</div>
			<div class="modal-body">
				Are you sure you want to delete the document ? 
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				<button type="button" class="btn btn-default  btn-outline orange confirmAction" data-dismiss="modal">Yes</button>
			</div>
		</div>
	</div>
</div>
