<div class="form-group  row">
    <label ng-if="field.Label" for="{{ field.Name }}" class="{{ field.Name }}_label">
        {{ CM.app_id + '.' + field.Label | translate}}
        <span ng-if="field.Required" class="orange-txt">
            *
        </span>
    </label>
    <div class="form_input form_input_{{ field.Name }}" ng-class="!field.Label ? 'no-label' : ''">
        <span class="variance font-red-thunderbird">
            {{ formValues[0][field.Name] }}MT
        </span>
    </div>
</div>
