<span ng-init="alertsGetActivationDetailsOptions(); formValues.deleteNotification == '' || !formValues.deleteNotification ? dummyDeleteNotification=1 : dummyDeleteNotification=2"></span>
<div class="row">
	<div class="col-sm-12">
		<p class="form-label-out">Set the alert reccurence, alert archiving details and rule activation details and save</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<b>Reccurence</b>
	</div>
	<div class="col-sm-12">
		<div class="row">
			<div class="col-md-2">
				<div class="form_input">
					<label class="mt-checkbox form-label-out top-no-padding">
						<input type="checkbox" name="isRecurrent" id="isRecurrent" ng-model="formValues.isRecurrent" />
						Remind Every
						<span></span>
					</label>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form_input">
					<input type="text" class="form-control" ng-model="formValues.recurrenceValue" style="width:50px;float: left;">
					<span ng-init="dummyRecurrenceId = {'id':formValues.recurrenceId}"></span>
					<select name="" id="" class="form-control" style="width: calc(100% - 60px);float: right;" ng-model="dummyRecurrenceId" ng-change="formValues.recurrenceId = dummyRecurrenceId.id" ng-options="item as item.name for item in options['AlertsRecurrences'] track by item.id">
					</select>

				</div>
			</div>
			<div class="col-md-5 col-md-push-1">
				<div class="form-group row dropdown-control">
				    <label class="control-label" style="float: left;">
				        {{ 'Until status' | translate }}
				    </label>
				    <div class="form_input">
					    <span>
							<span ng-init="dummyStatusId = {'id':formValues.statusId}"></span>
							<select name="" id="" class="form-control input-group" ng-model="dummyStatusId" ng-change="formValues.statusId = dummyStatusId.id"  ng-options="item as item.name for item in options['AlertsUntils'] track by item.id">
							</select>				    	
					    </span>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-12">
		<b>Delete Alert</b>
	</div>
	<br>
	<br>
	<div class="col-sm-2">
		<div class="form_input">
			<label class="mt-radio form-label-out top-no-padding">
				<input type="radio" name="deleteAlert" ng-model="dummyDeleteNotification" id="deleteAlertNever" ng-value="1" ng-change="dummyDeleteNotification == 1 ? formValues.deleteNotification = null : ''"/>
				Never
				<span></span>
			</label>
		</div>
	</div>
	<div class="col-sm-9">
		<div class="form_input">
			<label class="mt-radio form-label-out top-no-padding" style="width: 100px;float: left;">
				<input type="radio" ng-model="dummyDeleteNotification" name="deleteAlert" id="deleteAlertEvery" ng-value="2"  />
				Every
				<span></span>
			</label>
		</div>
		<div class="form-input" style="width: 400px;float: left;">
			<input type="number" class="form-control" ng-model="formValues.deleteNotification" ng-change="formValues.deleteNotification ? dummyDeleteNotification = 2 : dummyDeleteNotification = 1">
		</div>
	    <label class="control-label" style="margin-left: 15px" >
	    	<span class="form-label-out">{{ 'DAYS' | translate }}</span>
	    </label>
	</div>
</div>

<div class="row">
	<br>
	<div class="col-sm-12">
		<b>Set Rule As</b>
	</div>
	<br>
	<br>
	<div class="col-sm-12">
		<div class="row">
		<span ng-init="formValues.isActive = false" ng-if="!formValues.isActive"></span>
			<div class="col-md-5">
				<div class="form_input">
					<label class="mt-radio form-label-out top-no-padding">
						<input type="radio" name="isActive" id="isActive" ng-value="true" ng-model="formValues.isActive"/>
						Active
						<span></span>
					</label>
				</div>
			</div>
			<div class="col-md-5 col-md-push-2">
				<div class="form_input">
					<label class="mt-radio form-label-out top-no-padding">
						<input type="radio" name="isActive" id="isActive" ng-value="false" ng-model="formValues.isActive"/>
						Inactive
						<span></span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group row dropdown-control">
					<label class="control-label">
                        <label class="mt-checkbox form-label-out">
                            <span ng-init="formValues.activateOn ? formValues.temp.dummyActivateOn = true : formValues.temp.dummyActivateOn = false"></span>
                            <input type="checkbox" ng-model="formValues.temp.dummyActivateOn" name="dummyActivateOn" id="dummyActivateOn" ng-change="formValues.temp.dummyActivateOn == false ? formValues.activateOn = null : ''" />
                            Activate on
                            <span></span>
                        </label>
					</label>
					<div class="input-group col-sm-6" style="height: 30px;">
	                  <input
 		            	 ng-model="formValues.activateOn"
	                     name="activateOn"
	                     id="activateOn"
	                     new-date-picker
	                     picker-type="datetime"
		            	 ng-disabled="!formValues.temp.dummyActivateOn"
	                     class="form-control date-mask new-date-picker">
		        	</div>
	       		</div>
			</div>
			<div class="col-sm-4 pull-right">
				<div class="form-group row dropdown-control">
					<label class="control-label">
						<label class="mt-checkbox">
							<span ng-init="formValues.deactivateOn ? formValues.temp.deactivateOn = true : formValues.temp.deactivateOn = false"></span>
							<input type="checkbox" ng-model="formValues.temp.deactivateOn" name="dummyDeactivateOn" id="dummyDeactivateOn" ng-change="formValues.temp.deactivateOn == false ? formValues.deactivateOn = null : ''"/>
							Deactivate on
							<span></span>
						</label>
					</label>
					<div class="input-group col-sm-6">
		                  <input
	 		            	 ng-model="formValues.deactivateOn"
		                     name="deactivateOn"
		                     id="deactivateOn"
		                     new-date-picker
		                     picker-type="datetime"
			            	 ng-disabled="!formValues.temp.deactivateOn"
		                     class="form-control date-mask new-date-picker">
					</div>
				</div>
			</div>						
		</div>
	</div>
</div>
