<div class="col-md-12 portlet light seller_portal_instructions" ng-if="$ctrl.token">
    <div class="portlet-title">
        <div class="tools">
            <a data-toggle="collapse" href="#instructions" class="expand" data-original-title="" title="" aria-expanded="true"></a>
        </div>
        <div class="caption">
            <span class="caption-subject ">
                INSTRUCTIONS
            </span>
        </div>
    </div>
    <div class="portlet-body collapse" id="instructions" aria-expanded="true">
        <div class="row">
            <div class="col-xs-12">
               <p>Welcome to <strong>Shiptech Seller Portal</strong>! You can find below some useful steps on how to use this portal effectively. </p>
            </div>
            <div class="col-xs-12">
               <span class="instructions_heading">1. Know your portal</span>
               <p class="use_padding">Using this portal, you can quote a non-breakable package offer containing multiple products/vessels or flexible standalone quotes for individual products. There is a tab carrying the title “Package” where you can provide your package offer details. Individual quotes can be provided in the vessel-specific tabs that carry the respective Request IDs and Vessel Names. </p>
            </div>
            <div class="col-xs-12">
                <span class="instructions_heading">2. Follow the steps below to quote a package offer</span>
                <p>
                   <ul class="instructions_list">
                        <li>Go to package tab.</li>
                        <li>Select your physical supplier from the lookup and click on ‘Add Offer’ button to get the sections for providing offer details.<br>
                           NOTE: In case you do not find your physical supplier name in the lookup, please select “OTHER1”, “OTHER2” etc and mention the real name in the Comments panel. This will help Hapag Lloyd AG to create your physical supplier in the system for future use.
                       </li>
                       <li>Go to Step-4 below.</li>
                   </ul>
                </p>
            </div>
            <div class="col-xs-12">
                <span class="instructions_heading">3. Follow the steps below to quote standalone prices for the individual products</span>
               <p>
                   <ul class="instructions_list">
                        <li>Go to the respective vessel specific tabs with Request IDs.</li>
                        <li>Select your physical supplier from the lookup and click on ‘Add Physical Supplier’ button to get the sections for providing offer details.<br>NOTE: In case you do not find your physical supplier name in the lookup, please select “OTHER1”, “OTHER2” etc and mention the real name in the Comments panel. This will help Hapag Lloyd AG to create your physical supplier in the system for future use.
                       </li>
                       <li>Go to Step-4 below.</li>
                   </ul>
               </p>
            </div>
            <div class="col-xs-12">
               <span class="instructions_heading">4. Key in your offer details</span>
               <p>
                   <ul class="instructions_list">
                        <li>Enter price details, additional costs, energy content details and comments if any in the respective panels. These panels are quite self-explanatory. </li>
                        <li>You can also specify a date/time till when your offer is valid in the Validity field at the bottom of the page.</li>
                       <li>Review the details you have keyed in and once ready, click on ‘Send Offer’ button in header section of the page to submit your offer.</li>
                   </ul>
               </p>
               <p>Hope this was helpful! Good luck with your quotes!</p>
               <p>In case you still have queries or have some feedback, please get in touch with your Hapag Lloyd AG contact who has sent you this request for quotation. Thank you! </p>
            </div>
        </div>
    </div>
</div>
