<div ng-init="$ctrl.getFilterAdditionalCostList()"></div>
<div ng-repeat="(k,location) in $ctrl.individuals track by $index" class="row">
    <div class="col-md-12" ng-show="location.request.id == $ctrl.active_req">
        <!-- PRODUCT TABLE -->
        <div class="portlet light stretch-vertical grey_portlet">
            <div class="portlet-title">
                <span ng-if="!$ctrl.token">

                    <span class="hidden">{{incoterm = (!location.products[0].sellers[0].offers[0].incoterm ? location.products[0].sellers[0].defaultIncoterm : location.products[0].sellers[0].offers[0].incoterm) }}</span>
                    <select style="max-width: 200px;"  ng-options="defaultIncoterm as defaultIncoterm.name for defaultIncoterm in $ctrl.lists.Incoterm track by defaultIncoterm.id" class="select form-control pull-right" ng-model="incoterm" title="{{incoterm.incoterm.id}}" ng-change="$ctrl.updateIncoterm(incoterm, location, seller, location.request.id)" ng-disabled="incoterm.hasSellerOffer == 0"></select>
                    <b class="pull-right">Incoterm &nbsp;&nbsp;</b>
                </span>
                <div class="tools">
                    <a data-toggle="collapse" href="#location{{ $index }}" aria-expanded="true" class="collapse"></a>
                </div>
                <div class="caption">
                    <div class="seller_portal_input_portlet_title">
                        <span class="caption-subject">
                            {{ location.location.name | decodeReadOnly }}
                            <span class="phy_supplier_name">
                                |  {{ location.physicalSupplier.name  ? (location.physicalSupplier.name | decodeReadOnly) : 'PHYSICAL SUPPLIER'}}
                            </span>
                        </span>
                        <div class="seller_portal_input_portlet_title" ng-if="$ctrl.supplierPortalFlag">
                            <div class="input-group seller_portal_phy_supplier">
                                <input decode-input-format name="physical_supplier_{{k}}" id="physical_supplier_{{k}}" class="typeahead form-control" uib-typeahead="physicalSupplier as physicalSupplier.name for physicalSupplier in $ctrl.lists.Supplier | typeaheadCustomFilter:$viewValue:'name' "  ng-click="$ctrl.setSellerDialogType($ctrl.productColumns.PhysicalSupplier.name, location.physicalSupplier)" ng-model="location.physicalSupplier" typeahead-editable="false" ng-model-options="{ allowInvalid: false, debounce: 100 }" typeahead-wait-ms="100" typeahead-on-select="$ctrl.changeOfferSupplier(location.physicalSupplier,location);" ng-blur="$ctrl.changedPhSupplier(k,'individuals')" ng-disabled="$ctrl.disablePhysicalSupplierField"/>
                                <span class="input-group-addon" data-toggle="modal" href="#counterparties" ng-click="$ctrl.setSellerDialogType($ctrl.productColumns.PhysicalSupplier.name, location.physicalSupplier); $ctrl.supplierPlace = 'supplier'; $ctrl.editSupplierIdx_individuals = k;$ctrl.supplierUpdate = location;">
                                    <a   class=" btn default">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <form class="st-new-request-form form-horizontal" id="products" name="forms[{{$index}}].products" autocomplete="off" >
                <div class="row">
                    <div ng-if="$ctrl.productFormFields.eta.visible" class="col-md-3">
                        <div class="form-group row">
                            <label for="" class="price_label ng-binding"  >
                                {{ $ctrl.productFormFields.eta.caption | translate }}
                            </label>
                            <div class="input-group form_input date form_meridian_datetime" ng-if="$ctrl.token">
                                <input name="eta" id="eta" class="form-control date-mask new-date-picker" ng-disabled="true" new-date-picker ng-model="location.requestLocation.eta" screen-type="supplierPortal"/>
                            </div>
                            <div class="input-group form_input w100 clear" ng-if="!$ctrl.token">
                                <input name="eta" id="eta" class="form-control" disabled ng-model="location.requestLocation.eta" st-date-format/>
                                <span class="input-group-btn disabled" style="width: 1% !important; display: table-cell;position: relative;">
                                    <a   class=" btn default disabled">
                                        <i class="fa fa-calendar"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="$ctrl.productFormFields.etb.visible" class="col-md-3">
                        <div class="form-group row">
                            <label for="" class="price_label ng-binding"  >
                                {{ $ctrl.productFormFields.etb.caption | translate }}
                            </label>
                            <div class="input-group form_input date form_meridian_datetime" ng-if="$ctrl.token">
                                <input name="etb" id="etb" class="form-control date-mask new-date-picker" ng-disabled="true" new-date-picker ng-model="location.requestLocation.etb" screen-type="supplierPortal"/>
                            </div>
                            <div class="input-group form_input w100 clear" ng-if="!$ctrl.token">
                                <input name="etb" id="etb" class="form-control" disabled ng-model="location.requestLocation.etb" st-date-format/>
                                <span class="input-group-btn disabled" style="width: 1% !important; display: table-cell;position: relative;">
                                    <a   class=" btn default disabled">
                                        <i class="fa fa-calendar"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="$ctrl.productFormFields.etd.visible" class="col-md-3">
                        <div class="form-group row">
                            <label for="" class="price_label"  >
                                {{ $ctrl.productFormFields.etd.caption | translate }}
                            </label>
                            <div class="input-group form_input date form_meridian_datetime" ng-if="$ctrl.token">
                                <input name="etd" id="etd" class="form-control date-mask new-date-picker" ng-disabled="true" new-date-picker ng-model="location.requestLocation.etd" screen-type="supplierPortal"/>
                            </div>
                            <div class="input-group form_input w100 clear" ng-if="!$ctrl.token">
                                <input name="etd" id="etd" class="form-control" disabled ng-model="location.requestLocation.etd" st-date-format/>
                                <span class="input-group-btn disabled" style="width: 1% !important; display: table-cell;position: relative;">
                                    <a   class=" btn default disabled">
                                        <i class="fa fa-calendar"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="form-group row">
                            <label  class="mt-checkbox mt-checkbox-outline float-left">
                                No quote
                                <input type="checkbox" ng-model="$ctrl.productTableNoQuoteCheckAll[location.rand]" ng-change="$ctrl.productTableNoQuoteCheckAllChanged(location, $ctrl.productTableNoQuoteCheckAll[location.rand])"/>
                                <span></span>
                            </label>

                            <div class="input-group form_input ">
                                <div class="input-group">
                                    <select ng-options="reason as reason.name for reason in $ctrl.reasons track by reason.id" ng-model="$ctrl.noQuoteReason[location.rand]" class="form-control" ng-disabled="!$ctrl.productTableNoQuoteCheckAll[location.rand]" ng-change="$ctrl.mainReasonChanged($ctrl.noQuoteReason[location.rand], location)" ng-required="$ctrl.productTableNoQuoteCheckAll[location.rand]" name="Location no quote reason - {{location.location.name}}"><option value=""></option></select>
                                </div>
                       		</div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">

                            <div class="col-sm-4 mb" ng-repeat="(skey, svalue)  in location.products " >

                                <div class="small-card bg-grey-steel orange-border">
                                    <p>
                                        <b>
                                            {{ svalue.product.name | decodeReadOnly}}
                                        </b>
                                    </p>
                                    <p>
                                        Quantity: {{ svalue.maxQuantity | number:2 }}{{ svalue.uom.name | decodeReadOnly }}
                                    </p>
                                    <h4 ng-init="$ctrl.productPriceChanged(svalue, location)">
                                        <b ng-if="$ctrl.negotiationDisplayDecimal">
                                            {{ svalue.sellers[0].offers[0].currency.code | decodeReadOnly }} {{ svalue.totalAmount | number:3 }}
                                        </b>
                                        <b ng-if="!$ctrl.negotiationDisplayDecimal">
                                            {{ svalue.sellers[0].offers[0].currency.code | decodeReadOnly }} {{ $ctrl.stripDecimals(svalue.totalAmount) }}
                                        </b>
                                        <br>

                                    </h4>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 mb">
                        <div class="small-card bg-grey-steel">
                            <p>
                                <b>
                                    Total Amount
                                </b>
                            </p>
                            <p>
                                Including Addl. Cost {{ location.products[0].sellers[0].offers[0].currency.code | decodeReadOnly }} {{ $ctrl.additionalCostTotalAmountSums[location.rand] | number:2 }}
                            </p>
                            <h4>
                                <b ng-if="$ctrl.negotiationDisplayDecimal">
                                    {{ location.products[0].sellers[0].offers[0].currency.code | decodeReadOnly }} {{ $ctrl.getGrandTotal(location) | number:2 }}
                                </b>
                                <b ng-if="!$ctrl.negotiationDisplayDecimal">
                                    {{ location.products[0].sellers[0].offers[0].currency.code | decodeReadOnly }} {{ $ctrl.stripDecimals($ctrl.getGrandTotal(location)) }}
                                </b>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="portlet-body collapse in " aria-expanded="true"  id="location{{ $index }}">
                    <div class="portlet light stretch-vertical ">
                        <div class="portlet-title">
                            <div class="tools">
                            	<a data-toggle="collapse" href="#location_prod{{ $index }}" class="collapse" aria-expanded="true"></a>

                            </div>
                            <div class="caption">
                                <span class="caption-subject">
                                    PRICE INFORMATION
                                </span>
                            </div>
                        </div>
                        <div class="portlet-body overflowAuto" aria-expanded="true"  id="location_prod{{ $index }}">
                            <div class="">
                                <table class="table table-striped table-hover table-bordered table-condensed st-product-info-table extraSpacedTable" id="product_info_table_{{ $index + 1 }}">
                                    <thead>
                                        <tr>
                                            <th id="generatedThId257">
                                                No quote
                                            </th>
                                            <th id="generatedThId258" ng-repeat="column in $ctrl.productColumns">
                                                {{ column.caption | translate }}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="product in location.products">
                                            <td>

                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" ng-model="product.sellers[0].offers[0].hasNoQuote" ng-change="$ctrl.noQuoteChanged(location, product); $ctrl.productPriceChanged(product, location)" format="number:{{ $ctrl.numberPrecision.pricePrecision }}" />
                                                    <span></span>
                                                </label>
                                            </td>
                                            <td style="min-width: 150px">
                                                <input decode-input-format class="form-control" ng-model="product.product.name" disabled readonly/>
                                            </td>
                                            <td style="min-width: 150px">
                                                <span ng-init="$ctrl.setDialogType($ctrl.productColumns.QuotedProduct.name, product)"></span>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input decode-input-format name="{{ $ctrl.productColumns.QuotedProduct.name }}" id="id_{{ $ctrl.productColumns.QuotedProduct.name }}" class="typeahead form-control" uib-typeahead="quotedProduct as quotedProduct.name for quotedProduct in $ctrl.lists.Product | typeaheadCustomFilter:$viewValue:'name'" typeahead-append-to="'body'" typeahead-on-select="product.sellers[0].offers[0].quotedProduct = $ctrl.setTypeahedVal(product.sellers[0].offers[0].quotedProduct, $item, false);" ng-model="product.sellers[0].offers[0].quotedProduct.name" typeahead-editable="false" required ng-blur="!product.sellers[0].offers[0].quotedProduct.name ? product.sellers[0].offers[0].quotedProduct = null : ''" />
                                                        <span class="input-group-addon" data-toggle="modal" href="#lookupSeller" ng-click="$ctrl.setDialogType($ctrl.productColumns.QuotedProduct.name, product)">
                                                            <a   class=" btn default">
                                                                <i class="glyphicon glyphicon-search"></i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="min-width: 150px">
                                                <input decode-input-format type="text" disabled ng-model="product.specGroup.name" class="form-control pull-left" style="width: calc(100% - 35px);"/>
                                                <a ng-controller="Controller_Master" ng-click="modalSpecGroupEdit(product, null,  'supplier')" class="pull-left" style="line-height: 34px;margin-left: 5px;">
                                                    <a   class=" btn default">
                                                        <i class="fa fa-file-text font-grey-cascade"></i>
                                                    </a>
                                                </a>
                                            </td>

                                            <td style="min-width: 220px">
                                                <div class="input-group">
                                                    <input class="form-control" value="{{ product.minQuantity | number: $ctrl.numberPrecision.quantityPrecision }} - {{ product.maxQuantity | number: $ctrl.numberPrecision.quantityPrecision }}" readonly disabled/>
                                                    <div class="input-group-btn">

                                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                                                            {{ product.uom.name | decodeReadOnly }}
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right">
                                                            <li ng-repeat="uom in $ctrl.lists.Uom | decodeReadOnly" ng-click="$ctrl.updateModel(product.uom, uom)">
                                                                <a>
                                                                    {{ uom.name }}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>

                                            <td style="min-width: 220px" ng-if="!$ctrl.procurementSettings.fieldVisibility.isSupplyQuantityHidden">
                                                <div class="input-group">
                                                    <input class="form-control" name="product_{{$index}}_supplyQuantity" ng-model="product.sellers[0].offers[0].supplyQuantity" ng-required="$ctrl.procurementSettings.fieldVisibility.isSupplyQuantityMandatory"/>

                                                    <div class="input-group-btn">
                                                         <select name="" id="" class="form-control no-padding"
                                                         disabled="true"
                                                        ng-model="product.uom"
                                                        ng-options="uom as uom.name for uom in $ctrl.lists.Uom | decodeReadOnly track by uom.id"
                                                        style="min-width:60px"></select>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="min-width: 220px" ng-if="!$ctrl.procurementSettings.fieldVisibility.isSupplyDeliveryDateHidden">
	            	                            <div class="input-group form_input date form_meridian_datetime w100">
					                                <input name="product_{{$index}}_supplyDeliveryDate" id="product_{{$index}}_supplyDeliveryDate" screen-type="{{$ctrl.token ? 'supplierPortal' : '' }}" ng-required="$ctrl.procurementSettings.fieldVisibility.isSupplyDeliveryDateMandatory" class="form-control date-mask new-date-picker" picker-type="date" new-date-picker ng-model="product.sellers[0].offers[0].supplyDeliveryDate" />
					                            </div>
                                            </td>


                                            <td style="min-width: 220px">
                                                <div class="input-group">
                                                    <div class="input-group-btn">
                                                        <span ng-if="!$ctrl.token" ng-init="product.sellers[0].offers[0].currency = $ctrl.currency"></span>
                                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                                                            {{ product.sellers[0].offers[0].currency.name | decodeReadOnly}}
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right">
                                                            <li ng-repeat="currency in $ctrl.lists.Currency" ng-click="$ctrl.updateModel(product.sellers[0].offers[0].currency, currency)">
                                                                <a>
                                                                    {{ currency.code | decodeReadOnly}}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <input style="min-width: 80px" class="form-control" decode-input-format
                                                        type="text" ng-model="product.sellers[0].offers[0].price" ng-focus="oldPrice = product.sellers[0].offers[0].price" ng-blur="$ctrl.checkPrice(oldPrice, product.sellers[0].offers[0].price, product) !== false ? product.sellers[0].offers[0].price =  $ctrl.checkPrice(oldPrice, product.sellers[0].offers[0].price, product, true) : $ctrl.productPriceChanged(product, location)" ng-required="!product.sellers[0].offers[0].hasNoQuote && product.productStatus.name != 'Stemmed'" name="{{location.request.name}} - {{product.product.name}} - Price" ng-disabled=" $ctrl.tenantQuoteDisabled || product.sellers[0].offers[0].hasNoQuote || product.productStatus.name == 'Stemmed'" format="number:{{ $ctrl.numberPrecision.pricePrecision }}" />
                                                    <div class="input-group-btn">

                                                        <select name="" id="" class="form-control no-padding"
                                                        ng-model="product.sellers[0].offers[0].priceQuantityUom"
                                                        ng-options="uom as uom.name for uom in $ctrl.lists.Uom | decodeReadOnly track by uom.id"
                                                        ng-change="$ctrl.productUomChanged(product, location)"
                                                        ng-disabled="$ctrl.tenantQuoteDisabled || product.sellers[0].offers[0].hasNoQuote || product.productStatus.name == 'Stemmed'"
                                                        style="min-width:60px"></select>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="min-width: 150px">
                                              {{product.sellers[0].offers[0].physicalSupplierCounterparty.name | decodeReadOnly}}

                                            </td>
                                            <td>
                                                {{ product.totalAmount | number: $ctrl.numberPrecision.amountPrecision }}
                                            </td>
                                            <td style="min-width: 150px">
                                                <select ng-options="deliveryOption as deliveryOption.name for deliveryOption in $ctrl.lists.DeliveryOption | decodeReadOnly track by deliveryOption.id" ng-model="product.sellers[0].offers[0].deliveryOption" class="form-control"></select>
                                            </td>



                                            <td style="min-width: 150px">
                                                <select ng-options="pricingType as pricingType.name for pricingType in $ctrl.lists.PricingType | decodeReadOnly track by pricingType.id" ng-model="product.pricingType" class="form-control" readonly disabled></select>
                                            </td>

                                            <td style="min-width: 150px">

                                                              <select ng-options="reason as reason.name for reason in $ctrl.reasons | decodeReadOnly track by reason.id" ng-model="product.sellers[0].offers[0].noQuoteReason" class="form-control"  ng-required="product.sellers[0].offers[0].hasNoQuote" name="Product no quote reason - {{product.sellers[0].offers[0].quotedProduct.name}}" ng-change="$ctrl.productReasonChanged(product.sellers[0].offers[0].noQuoteReason,product, location)" ng-disabled="!product.sellers[0].offers[0].hasNoQuote"><option value=""></option></select>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="portlet light stretch-vertical ">
                    <div class="portlet-title">
                        <div class="tools">
                            <a data-toggle="collapse" href="#addCost{{ $index }}" class="collapse" aria-expanded="true"></a>
                        </div>
                        <div class="caption">
                            <span class="caption-subject">
                                ADDITIONAL COST
                            </span>
                        </div>
                    </div>
                    <div class="portlet-body overflowAuto" aria-expanded="true"  id="addCost{{ $index }}">
                        <form id="additionalCosts" name="forms[{{$index}}].additionalCosts">

							<span ng-init="$ctrl.getAdditionalCosts(location)"></span>
                            <table class="table table-striped table-hover table-bordered table-condensed st-product-info-table extraSpacedTable" id="product_add_cost_table_{{ $index + 1 }}">

                                <thead>
                                    <tr>
                                        <th id="generatedThId259">
                                            <span class="st-btn-icon" ng-click="$ctrl.addAdditionalCost(location)">
                                                <i class="fa fa-plus clickable"></i>
                                            </span>
                                        </th>
                                        <th id="generatedThId260"></th>
                                        <th id="generatedThId261" ng-repeat="column in $ctrl.additionalCostColumns">
                                            {{ column.caption | translate }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody >

                                    <tr ng-repeat="additionalCost in $ctrl.getAdditionalCosts(location)  track by $index" ng-if="!additionalCost.isDeleted">

                                        <td>
                                            <span class="st-btn-icon" ng-click="$ctrl.addAdditionalCost(location)">
                                                <i class="fa fa-plus clickable"></i>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="st-btn-icon" ng-click="$ctrl.deleteAdditionalCost(additionalCost, location)">
                                                <i class="fa fa-minus clickable"></i>
                                            </span>
                                        </td>

                                        <td style="min-width: 150px">
                                            <select class="form-control" ng-disabled="$ctrl.disableCostBasedOnApplicableProductStatus(additionalCost.parentProductId, location.products)" ng-options="addCost as addCost.name for addCost in $ctrl.FilterAdditionalCost | decodeReadOnly track by addCost.id" ng-model="additionalCost.additionalCost" ng-change="$ctrl.getDefaultUomForAdditionalCost(additionalCost, $ctrl.additionalCostApplicableFor[additionalCost.fakeId]); $ctrl.additionalCostNameChanged(additionalCost, location);" ng-required="additionalCost.price"></select>
                                        </td>
                                        <td style="min-width: 150px" >

                                            <select class=" form-control"
                                            ng-options="costType as costType.name | decodeReadOnly for costType in $ctrl.getAllowedCostTypes(additionalCost)  track by costType.id "
                                            ng-model="additionalCost.costType"
                                            name="{{ $ctrl.additionalCostColumns.type.name }}"
                                            ng-required="additionalCost.additionalCost"
                                            ng-disabled="$ctrl.disableCostBasedOnApplicableProductStatus(additionalCost.parentProductId, location.products)"
                                            ng-change="$ctrl.getDefaultUomForAdditionalCost(additionalCost, $ctrl.additionalCostApplicableFor[additionalCost.fakeId]);"
                                            style="min-width: 80px">
                                            </select>

                                        </td>
                                        <td style="min-width: 150px">

                                            <div class="input-group">
                                                <input class="form-control" value="{{ additionalCost.maxQuantity | number: $ctrl.numberPrecision.quantityPrecision }}" readonly disabled/>
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                                                        {{ $ctrl.getAdditionalCostParentProductUom(additionalCost).name  | decodeReadOnly }}
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li ng-repeat="uom in $ctrl.lists.Uom | decodeReadOnly"  ng-click="$ctrl.updateModel(additionalCost.uom, uom); $ctrl.additionalCostNameChanged(additionalCost, location, true)">
                                                            <a>
                                                                {{ uom.name }}
                                                            </a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </td>
                                        <td style="min-width: 150px">
                                        	<span ng-if="!($ctrl.tenantQuoteDisabled || !$ctrl.additionalCostPriceUomEnabled(additionalCost)) && additionalCost.costType && additionalCost.costType.name != 'Unit'" ng-init="!additionalCost.priceUom.id ? additionalCost.priceUom = $ctrl.tenantDefaultUom : '' "></span>
                                        	<span ng-if="$ctrl.tenantQuoteDisabled || !$ctrl.additionalCostPriceUomEnabled(additionalCost)" ng-init="additionalCost.priceUom = null"></span>
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <span ng-if="!$ctrl.token" ng-init="additionalCost.currency = $ctrl.currency"></span>
                                                    <select name="" id="" class="form-control no-padding"
                                                    ng-model="additionalCost.currency"
                                                    ng-options="currency as currency.code for currency in $ctrl.lists.Currency | decodeReadOnly track by currency.id"
                                                    ng-class="{'ng-invalid' : additionalCost.additionalCost && !additionalCost.currency.id}"
                                                    ng-disabled="{{ true || $ctrl.tenantQuoteDisabled }}"
                                                    style="min-width:60px"></select>
                                                </div>
                                                <input type="text" class="form-control" ng-focus="oldVal = additionalCost.price" ng-change="$ctrl.checkisNaN(oldVal, additionalCost.price) ? additionalCost.price = $ctrl.checkisNaN(oldVal, additionalCost.price) : return ; $ctrl.additionalCostNameChanged(additionalCost, location, true)" ng-model="additionalCost.price" format="number:{{ $ctrl.numberPrecision.pricePrecision }}" name="{{ $ctrl.additionalCostColumns.Price.name }}" ng-required="additionalCost.additionalCost" ng-disabled="{{ $ctrl.tenantQuoteDisabled }}" style="min-width:80px"/>
                                                <div class="input-group-btn">
                                                    <select name="" id="" class="form-control no-padding"
                                                    ng-model="additionalCost.priceUom"
                                                    ng-options="uom as uom.name for uom in $ctrl.lists.Uom | decodeReadOnly track by uom.id"
                                                    ng-change="$ctrl.addPriceUomChanged(additionalCost,location)"
                                                    ng-class="{'ng-invalid' : additionalCost.additionalCost && $ctrl.additionalCostPriceUomEnabled(additionalCost) && !additionalCost.priceUom.id}"
                                                    ng-disabled="$ctrl.tenantQuoteDisabled || !$ctrl.additionalCostPriceUomEnabled(additionalCost)"
                                                    style="min-width:60px"></select>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="min-width: 150px">

											<span ng-if="$ctrl.additionalCostApplicableFor[additionalCost.fakeId].productStatus.name == 'Stemmed' && additionalCost.id">
												<input class="form-control" disabled ng-model="$ctrl.additionalCostApplicableFor[additionalCost.fakeId].product.name"/>
											</span>

											<!-- | filterNoQuoteProducts -->
                                            <select ng-if="!($ctrl.additionalCostApplicableFor[additionalCost.fakeId].productStatus.name == 'Stemmed' && additionalCost.id)"
                                            ng-options="product as (product.product.name | decodeReadOnly) for product in location.products | filter: {productStatus:{name: '!Stemmed'}}"
                                            ng-model="$ctrl.additionalCostApplicableFor[additionalCost.fakeId]"
                                            ng-change="$ctrl.getDefaultUomForAdditionalCost(additionalCost, $ctrl.additionalCostApplicableFor[additionalCost.fakeId]); $ctrl.applicableForChange(additionalCost, $ctrl.additionalCostApplicableFor[additionalCost.fakeId], location); $ctrl.additionalCostNameChanged(additionalCost, location, true);"
                                            class="form-control"
                                            ng-disabled="$ctrl.disableCostBasedOnApplicableProductStatus(additionalCost.parentProductId, location.products) || !additionalCost.additionalCost || (additionalCost.isTaxComponent && additionalCost.costType.name == 'Percent') ">
                                                <option value="" >
                                                    All

                                                </option>
                                            </select>
                                        </td>
                                        <td style="min-width: 150px">
                                            <div class="input-group">
                                                <input class="form-control" ng-model="additionalCost.amount" format="number:{{ $ctrl.numberPrecision.amountPrecision }}" readonly disabled/>
                                                <div class="input-group-btn">
                                                        <select name="" id="" class="form-control no-padding"
                                                        ng-model="additionalCost.currency"
                                                        ng-options="currency as currency.code for currency in $ctrl.lists.Currency | decodeReadOnly track by currency.id"
                                                        ng-class="{'ng-invalid' : additionalCost.additionalCost && !additionalCost.currency.id}"
                                                        ng-disabled="true"
                                                        style="min-width:60px"></select>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="min-width: 150px">
                                            <input class="form-control" ng-focus="oldVal = additionalCost.extras" ng-change="$ctrl.checkisNaN(oldVal, additionalCost.extras) ? additionalCost.extras = $ctrl.checkisNaN(oldVal, additionalCost.extras) : '' ; $ctrl.additionalCostNameChanged(additionalCost, location, true)" type="text" max="100" ng-model="additionalCost.extras" format="number:{{ $ctrl.numberPrecision.pricePrecision }}"/>
                                        </td>
                                        <td style="min-width: 150px">
                                            <div class="input-group">
                                                <input type="text" class="form-control" ng-model="additionalCost.extrasAmount" format="number:{{ $ctrl.numberPrecision.amountPrecision }}" readonly disabled/>
                                                <div class="input-group-btn">
                                                        <select name="" id="" class="form-control no-padding"
                                                        ng-model="additionalCost.currency"
                                                        ng-options="currency as currency.code for currency in $ctrl.lists.Currency  | decodeReadOnly track by currency.id"
                                                        ng-class="{'ng-invalid' : additionalCost.additionalCost && !additionalCost.currency.id}"
                                                        ng-disabled="true"
                                                        style="min-width:60px"></select>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="min-width: 150px">
                                            <div class="input-group">
                                                <input type="text" class="form-control" ng-model="additionalCost.totalAmount" format="number:{{ $ctrl.numberPrecision.amountPrecision }}" readonly disabled/>
                                                <div class="input-group-btn">
                                                        <select name="" id="" class="form-control no-padding"
                                                        ng-model="additionalCost.currency"
                                                        ng-options="currency as currency.code for currency in $ctrl.lists.Currency | decodeReadOnly track by currency.id"
                                                        ng-class="{'ng-invalid' : additionalCost.additionalCost && !additionalCost.currency.id}"
                                                        ng-disabled="true"
                                                        style="min-width:60px"></select>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="min-width: 150px">
                                            <div class="input-group">
                                                <input class="form-control" ng-model="additionalCost.rate" format="number:{{ $ctrl.numberPrecision.pricePrecision }}" readonly disabled/>
                                                <div class="input-group-btn">
                                                        <select name="" id="" class="form-control no-padding"
                                                        ng-model="additionalCost.currency"
                                                        ng-options="currency as currency.code for currency in $ctrl.lists.Currency | decodeReadOnly track by currency.id"
                                                        ng-class="{'ng-invalid' : additionalCost.additionalCost && !additionalCost.currency.id}"
                                                        ng-disabled="true"
                                                        style="min-width:60px"></select>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="min-width: 150px" class="restrict-width-20">
                                            <input decode-input-format class="form-control" ng-model="additionalCost.comment"/>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="portlet light stretch-vertical " ng-if="$ctrl.token && $ctrl.checkEnergyProduct(location.products) && $ctrl.procurementSettings.energyConfiguration.isEnergyCalculationRequired" >
                    <div class="portlet-title">
                        <div class="tools">
                            <a data-toggle="collapse" aria-expanded="true"  href="#energy{{ $index }}" class="collapse "></a>
                        </div>
                        <div class="caption">
                            <span class="caption-subject">
                                Energy Content
                            </span>
                        </div>
                    </div>
                    <div class="portlet-body collapse in " aria-expanded="true"  id="energy{{ $index }}">
                        <table class="table table-hover table-bordered table-stripped"  >
                            <thead>
                                <tr style="background-color: #eef1f5;">
                                    <th id="generatedThId262" style="border: 3px solid #b3b7bb;"></th>
                                    <th id="generatedThId263" colspan="4"  style="text-align: center;border: 3px solid #b3b7bb;" ng-repeat="product in location.products" ng-if="product.isEnergyCalculationRequired">
                                        {{ product.product.name | decodeReadOnly }}
                                    </th>
                                </tr>
                                <tr>
                                    <th id="generatedThId264"></th>
                                    <th id="generatedThId265" ng-repeat-start="product in location.products | filter:{isEnergyCalculationRequired:true}" ng-if="product.isEnergyCalculationRequired" >
                                        Min
                                    </th>
                                    <th id="generatedThId266">
                                        Max
                                    </th>
                                    <th id="generatedThId267">
                                        Offer
                                    </th>
                                    <th id="generatedThId268" ng-repeat-end>
                                        UOM
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="(specKey, spec) in location.specParameters">
                                    <td>
                                        {{ spec.name | decodeReadOnly }}
                                    </td>
                                    <td class="hidden" ng-repeat-start="(kp,product) in location.products | filter:{isEnergyCalculationRequired:true}" ng-init=" productSpecParams = $ctrl.mapSpecParamKeyById(product)"></td>
                                    <td>

                                        <span ng-repeat="(specKey2, spec2) in product.specParameters" ng-if="spec2.specParameter.id == spec.id">
                                                   {{ spec2.min }}
                                        </span>
                                    </td>
                                    <td><span ng-repeat="(specKey2, spec2) in product.specParameters" ng-if="spec2.specParameter.id == spec.id">
                                        {{ spec2.max }}
                                    </span></td>
                                    <td><span ng-repeat="(specKey2, spec2) in product.specParameters" ng-if="spec2.specParameter.id == spec.id">
                                        <div class="form_input form_input_name" >
                                            <input type="text"  ng-model="product.sellers[0].offers[0].energyParameterValues[productSpecParams[spec.id]].specValue" class="form-control  " ng-disabled="product.productStatus.name == 'Stemmed'" name="offer{{ specKey }}" id="offer{{ specKey }}" format="number:{{$ctrl.numberPrecision.quantityPrecision}}" ng-if="$ctrl.returnParamIndex(spec2.specParameter, specKey)"/>

                                        </div>
                                       </span>
                                        <!-- {{product.specParameters}} -->
                                    </td>
                                    <td><span ng-repeat="(specKey2, spec2) in product.specParameters" ng-if="spec2.specParameter.id == spec.id">
                                        {{ spec2.uom | decodeReadOnly }}</span>
                                    </td>
                                    <td class="hidden" ng-repeat-end></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="portlet light stretch-vertical ">
                    <div class="portlet-title">
                        <div class="tools">
                            <a data-toggle="collapse" href="#comments{{ $index }}" class="expand collapsed"></a>
                        </div>
                        <div class="caption">
                            <span class="caption-subject">
                                Comments
                            </span>
                        </div>
                    </div>
                    <div class="portlet-body collapse " aria-expanded="false"  id="comments{{ $index }}">
                        <textarea decode-input-format class="form-control " rows="3" ng-model="location.offer.sellerComments"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
