<div class="" ng-if="$ctrl.token">
    <div class="st-main-content-menu st-displaceable-menu tabbable-line">
        <div class="pull-left">
        <div class="pull-left">
                                <p class="navbar-text ng-binding new-s" style="text-transform: uppercase; font-weight: 700; color: #364150; font-size: 16px; margin: 0 15px;">
                  {{$ctrl.buyerDetails.company.name}} BUNKER REQUESTS - <span style="font-weight: 400;" ng-repeat="request in $ctrl.requests track by $index">{{$index != 0 ? ', ' : ''}} {{ request.name }}</span>

                  </p>
                             </div>

        </div>
        <form class="form-inline pull-right">

            <div class="">
                <div class="form-group-sm">

                    <button class="btn btn-sm btn-outline orange" ng-click="$ctrl.sendOffer()" ng-class="{'disabled': $ctrl.buttonsDisabled}">
                        Send Offer
                    </button>

                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
