<div class="row">
    <div class="st-main-content-menu tabbable-line">

        <div class="pull-right">
            <form class="form-inline">
                <div class="filters-box">
                    <filters-widget></fitlers-widget>
                </div>
                <div ng-controller="Controller_General_Header as GH" class="form-group">
                    <div  class="form-group st-content-action-icons" ng-init="params.app = 'procurement';params.screen = 'orderlist';">
                        <div class="st-content-action-icons">
                            <a ng-click="GH.export({action:'save_layout'}, params)" class="btn" id="btn_save_layout">
                                <span class="icon fa fa-save"></span>
                            </a>
                            <a ng-click="GH.export({action:'delete_layout'}, params)" class="btn delete_layout" id="btn_delete_layout">
                                <span class="icon fa fa-trash"></span>
                            </a>                              
                            <a ng-click="GH.export({action:'export_xls'}, params)" class="btn" id="btn_export_xls">
                                <span class="icon export-xls"></span>
                            </a>
                            <a ng-click="GH.export({action:'export_csv'}, params)" class="btn" id="btn_export_cvs">
                                <span class="icon export-csv"></span>
                            </a>
                            <a ng-click="GH.export({action:'export_pdf'}, params)" class="btn" id="btn_export_pdf">
                                <span class="icon export-pdf"></span>
                            </a>
                            <a ng-click="GH.export({action:'print'}, params)" class="btn" id="btn_print">
                                <span class="icon print"></span>
                            </a>
                        </div>
                    </div>
                    <div class="input-group st-content-search-box ">
                        <input type="search" class="form-control" ng-model="GH.general_search_terms" placeholder="Search" aria-controls="schedule_dashboard_table" ng-keydown="$event.keyCode === 13 &amp;&amp; GH.general_search(GH.general_search_terms)"/>
                        <span class="input-group-addon" ng-click="GH.general_search(GH.general_search_terms)">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                    <a ng-if="GH.searched" class="btn btn-default btn-outline"  ng-click="GH.general_search_terms = '';GH.general_search(GH.general_search_terms)">
                            Clear
                    </a>
                </div>
                <span ng-controller="Controller_Master as CM" class="verifyButton">
                        <a ng-disabled="value.disabled" class="btn btn-default btn-outline orange" data-group="extern" ng-click="createOrderFromOrderList()">
                            Verify
                        </a>
                </span>

            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<div class="row">
    <div class="portlet light" style="padding-bottom: 0">
        <div class="portlet-body">


            <clc-table-list id="'procurement_orderlist'" app="'procurement'" screen="'orderlist'" controls="'[entries, columns, info, pager]'"></clc-table-list>
        </div>
    </div>
</div>
