<div class="layout-topbar">

  <a routerLink="/" class="layout-topbar-logo">
    <img id="topbar-logo" src="http://mail.24software.ro:8160/img/logo.png">
  </a>

  <a href="#" class="layout-menu-button layout-topbar-icon" (click)="app.onMenuButtonClick($event)">
    <i class="pi pi-bars pi-circle-off"></i>
  </a>

  <span class="navbar-text">
    PAGE TITLE
  </span>

  <div style="float:right;padding: 5px;">
    <span>{{authService.userInfo.userName}}</span>
    <button pButton *ngIf="authService.userInfo.authenticated" (click)="authService.logOut()" type="button" class="ui-button-danger" label="Log out"></button>
  </div>

</div>
