<div class="layout-topbar">

  <a href="#" class="layout-topbar-logo">
    <img id="topbar-logo" src="http://mail.24software.ro:8160/img/logo.png">
  </a>

  <!--<a class="layout-right-panel-button layout-topbar-icon" (click)="app.onRightMenuClick($event)" href="#">-->
    <!--<i class="pi pi-ellipsis-v"></i>-->
  <!--</a>-->

  <a href="#" class="layout-menu-button layout-topbar-icon" (click)="app.onMenuButtonClick($event)">
    <i class="pi pi-bars pi-circle-off"></i>
  </a>

  <span class="navbar-text">
    PAGE TITLE
  </span>

  <div  fxLayout="row" fxLayoutAlign="end center" >
    <img src="assets/layout/images/avatar.png" alt="roma-layout" style="width:20px"/>
    <img src="assets/layout/images/avatar.png" alt="roma-layout" style="width:20px"/>
    <img src="assets/layout/images/avatar.png" alt="roma-layout" style="width:20px"/>
    <img src="assets/layout/images/avatar.png" alt="roma-layout" style="width:20px"/>
    <img src="assets/layout/images/avatar.png" alt="roma-layout" style="width:20px"/>

  </div>

  <!--<ul class="topbar-menu">-->
    <!--<li class="user-profile" [ngClass]="{'active-topmenuitem fadeInDown': app.topbarUserMenuActive}">-->
      <!--<a href="#" (click)="app.onTopbarUserMenuButtonClick($event)" *ngIf="!app.inlineUser">-->
        <!--<img src="assets/layout/images/avatar.png" alt="roma-layout" style="width:20px"/>-->
        <!--<div class="layout-profile-userinfo">-->
          <!--<span class="layout-profile-name">SuperUser@twentyfoursoftwareoutlook.onmicrosoft.com | 24S SuperUser </span>-->
        <!--</div>-->
      <!--</a>-->
      <!--<ul class="fadeInDown">-->
        <!--<li>-->
          <!--<a href="#">-->
            <!--<i class="pi pi-fw pi-user"></i>-->
            <!--<span>Profile</span>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="#">-->
            <!--<i class="pi pi-fw pi-cog"></i>-->
            <!--<span>Settings</span>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="#">-->
            <!--<i class="pi pi-fw pi-envelope"></i>-->
            <!--<span>Messages</span>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="#">-->
            <!--<i class="pi pi-fw pi-bell"></i>-->
            <!--<span>Notifications</span>-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->
    <!--<li [ngClass]="{'active-topmenuitem fadeInDown': app.topbarNotificationMenuActive}">-->
      <!--<a href="#" class="layout-topbar-icon" (click)="app.onTopbarNotificationMenuButtonClick($event)">-->
        <!--<i class="topbar-icon pi pi-fw pi-bell" style="font-size: 24px"></i>-->
      <!--</a>-->
      <!--<ul class="fadeInDown">-->
        <!--<li role="menuitem">-->
          <!--<a href="#"><img src="assets/layout/images/avatar-1.png" alt="">-->
            <!--<div class="topbar-menu-info">-->
              <!--<span class="topbar-menu-name">Bithika Abhedananda</span>-->
              <!--<span class="topbar-menu-role">User interface review is done.</span>-->
            <!--</div>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li role="menuitem">-->
          <!--<a href="#"><img src="assets/layout/images/avatar-2.png" alt="">-->
            <!--<div class="topbar-menu-info">-->
              <!--<span class="topbar-menu-name">Dai Jiang</span>-->
              <!--<span class="topbar-menu-role">Uh, we have sort of a problem here.</span>-->
            <!--</div>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li role="menuitem">-->
          <!--<a href="#"><img src="assets/layout/images/avatar-3.png" alt="">-->
            <!--<div class="topbar-menu-info">-->
              <!--<span class="topbar-menu-name">Karlien Nijhuis</span>-->
              <!--<span class="topbar-menu-role">You apparently didn’t put the thing</span>-->
            <!--</div>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li role="menuitem">-->
          <!--<a href="#"><img src="assets/layout/images/avatar-4.png" alt="">-->
            <!--<div class="topbar-menu-info">-->
              <!--<span class="topbar-menu-name">Tom Chun</span>-->
              <!--<span class="topbar-menu-role">Please check the files</span>-->
            <!--</div>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li role="menuitem">-->
          <!--<a href="#"><img src="assets/layout/images/avatar-5.png" alt="">-->
            <!--<div class="topbar-menu-info">-->
              <!--<span class="topbar-menu-name">Maria Trofimova</span>-->
              <!--<span class="topbar-menu-role">Meeting reports attached.</span>-->
            <!--</div>-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->
  <!--</ul>-->
</div>
