<div class="layout-wrapper" [ngClass]="{'layout-horizontal': menuMode === 'horizontal',
    'layout-overlay': menuMode === 'overlay',
    'layout-static': menuMode === 'static',
    'layout-slim': menuMode === 'slim',
    'layout-menu-light': lightMenu === false,
    'layout-menu-dark': lightMenu === true,
    'layout-overlay-active': overlayMenuActive,
    'layout-mobile-active': staticMenuMobileActive,
    'layout-static-inactive': staticMenuDesktopInactive,
    'layout-rtl': isRTL}" [class]="topbarColor" (click)="onLayoutClick()">

    <shiptech-topbar></shiptech-topbar>

    <shiptech-sidebar [reset]="resetMenu"></shiptech-sidebar>

    <div class="layout-main">
        <div class="layout-content">
          <h1>CONTENT IS HERE</h1>
            <router-outlet></router-outlet>
        </div>
    </div>


    <div class="layout-content-mask"></div>


</div>
